<!DOCTYPE html>
<html lang="en">
<head>
  <title>Label</title>
  <style>
    {% include "orders/documents/label_style.css" %}
  </style>
</head>

<body>
{% for order in orders %}
  <div class="page">
    <table class="header">
      <tr>
        <td class="text-capitalize">{{ order.recipient_name }}</td>
        <td class="text-big">{{ order.order_number }}{% if order.total_qty > 1 %} X{{ order.total_qty }}{% endif %}</td>
      </tr>
      <tr>
        <td class="text-lh-normal">{{ order.address }}, <br>
          {{ order.postcode }}</td>
        <td>
          {% if order.is_subscription %}
            <div class="border-around text-center">SUB</div>{% endif %}
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="border-around bx-0">
          {% for item in order.line_items %}
            {{ item }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          {% for item in order.item_list %}
            {{ item }}{% if not forloop.last %},{% endif %}
          {% endfor %}</td>
      </tr>
    </table>
  </div>
{% endfor %}
</body>
