@page {
  size: 100mm 62mm;
  margin: 0 3mm;
}

* {
  font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

table {
  width: 100%;
}

td {
  line-height: 2.5rem;
}

.page {
  margin: 3mm 0 0;
  page-break-before: always;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-center {
  text-align: center;
}

.text-big {
  font-size: 1.3rem;
}

.text-lh-normal {
  line-height: 1.5rem;
}

.border-around {
  border: 2px solid black;
}

.bx-0 {
  border-left: 0;
  border-right: 0;
}
