<!-- Modal Shopping Cart -->
<div class="modal right fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="modalCart">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-shopping-bag text-gray f-20 mt-1"></i> <span class="ml-3 pt-2 text-gray text-uppercase">Your Shopping Bag</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled modal-carts">

        </ul>
        <div class="mt-2 clearfix vouchers">

        </div>
        <div class="mt-2 clearfix cart-filled">
          <div class="row no-gutter">
            <div class="col-12">
              Sub Total:<br/>
              <span class="text-danger fw-900 f-16 total">[TOTAL]</span>
            </div>
          </div>
        </div>

        <div class="mt-3 cart-filled">
          <a class="btn btn-block btn-theme mt-4 py-2 text-uppercase" href="{% url 'basket:summary' %}"><i
            class="fas fa-shopping-cart text-white"></i> Shopping Bag</a>
        </div>

        <h6 class="text-danger text-center cart-empty">Your cart is empty.</h6>

      </div>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
