<!-- Modal Login -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="loginForm">
          <form id="form-signin" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <h1 class="p-0 m-0">Please sign in</h1>
            <div class="my-2">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" name="login" class="form-control" placeholder="Email address"
                     required autofocus>
            </div>
            <div class="my-2">
              <label for="inputPassword" class="sr-only">Password</label>
              <input
                type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                required>
            </div>
            {% if next %}
              <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <div class="my3">
              Don't Have an Account?
              <a href="javascript:" onclick="showRegisterFrom();"><u>Register here</u></a>
            </div>
            <div class="form-group my3">
              Forgot password?
              <a href="javascript:" onclick="showPasswordResetForm();"><u>Reset here</u></a>
            </div>
            <button class="btn btn-lg btn-theme btn-block mt-2" type="button" onclick="submitLoginForm()">Log in</button>
          </form>
        </div>
        <div id="registerForm" class="hidden">
          <form id="form-signup" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <h1 class="p-0 m-0">Sign up</h1>
            <div class="my-2">
              <label for="inputEmailSignup" class="sr-only">Email address</label>
              <input type="email" id="inputEmailSignup" name="email"
                     class="form-control" placeholder="Email address"
                     required autofocus>
            </div>
            <div class="my-2">
              <label for="inputPassword1" class="sr-only">Password</label>
              <input
                type="password" id="inputPassword1"
                class="form-control" placeholder="Password" name="password1"
                required>
            </div>
            <div class="my-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input
                type="password" id="inputPassword2"
                class="form-control" placeholder="Confirm Password" name="password2"
                required>
            </div>
            <div class="form-group my3">
              Already have account?
              <a href="javascript:" onclick="showLoginForm()"><u>Login here</u></a>
            </div>
            {% if next %}
              <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <button class="btn btn-lg btn-theme btn-block mt-2" type="button" onclick="submitSignupForm()">Sign Up</button>
          </form>
        </div>

        <!-- PASSWORD RESET FORM -->
        <div id="resetForm" class="hidden">
          <form id="form-password-reset" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <h1 class="p-0 m-0">Forgot Password</h1>
            <div class="my-2">
              <label for="inputEmailPasswordReset" class="sr-only">Email address</label>
              <input type="email" id="inputEmailPasswordReset" name="email"
                     class="form-control" placeholder="Email address"
                     required autofocus>
            </div>
            <div class="form-group my3">
              Remember password?
              <a href="javascript:" onclick="showLoginForm()"><u>Login here</u></a>
            </div>
            <button class="btn btn-lg btn-theme btn-block mt-2" type="button" onclick="submitForgotPassword()">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
