<!-- Modal Login -->
<div class="modal fade" id="modalPasswordReset" tabindex="-1" role="dialog" aria-labelledby="modalPasswordReset" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="form-password-reset" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <h1 class="p-0 m-0">Forgot Password</h1>
          <div class="my-2">
            <label for="inputEmailPasswordReset" class="sr-only">Email address</label>
            <input type="email" id="inputEmailPasswordReset" name="email"
                   class="form-control" placeholder="Email address"
                   required autofocus>
          </div>
          <div class="form-group my3">
            Remember password?
            <a href="#" data-toggle="modal" data-target="#modalLogin"><u>Login here</u></a>
          </div>
          <button class="btn btn-lg btn-theme btn-block mt-2" type="button" onclick="submitForgotPassword()">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
