<!-- Search Form -->
<div id="search">
  <span class="close"><i class="fas fa-times"></i></span>
  <form role="search" id="searchform" action="{% url 'search:search' %}" method="get">
    <input value="" name="q" type="search" maxlength="20" placeholder="type & enter to search"/>
  </form>
</div>
