<!-- Modal Login -->
<div class="modal fade" id="modalSignup" tabindex="-1" role="dialog" aria-labelledby="modalSignup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="form-signup" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <h1 class="p-0 m-0">Sign up</h1>
          <div class="my-2">
            <label for="inputEmailSignup" class="sr-only">Email address</label>
            <input type="email" id="inputEmailSignup" name="email"
                   class="form-control" placeholder="Email address"
                   required autofocus>
          </div>
          <div class="my-2">
            <label for="inputPassword1" class="sr-only">Password</label>
            <input
              type="password" id="inputPassword1"
              class="form-control" placeholder="Password" name="password1"
              required>
          </div>
          <div class="my-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input
              type="password" id="inputPassword2"
              class="form-control" placeholder="Confirm Password" name="password2"
              required>
          </div>
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
          {% endif %}
          <button class="btn btn-lg btn-theme btn-block mt-2" type="button" onclick="submitSignupForm()">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
