.mobile-only {
  @include desktop-up {
    display: none !important;
  }
}

.desktop-only {
  display: none;

  @include desktop-up {
    display: block;
  }
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: $background-black;

}

.body__wrapper {
  margin-top: 70px;

  @include desktop-up {
    margin-top: 0;
  }
}

.d-grid {
  display: grid;
}

.align-items-start {
  align-items: flex-start;
}

a:hover {
  text-decoration: none !important;
  color: $white;
}

.grid-row-gap-1 {
  grid-row-gap: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.p-boot-desktop {
  @include desktop-up {
    padding-left: 8.5rem;
    padding-right: 8.5rem;
  }
}

.m-boot-mobile-3 {
  margin: 0 1rem 3rem;
}

.m-boot-mobile-6 {
  margin: 0 1rem 6rem;
}

@include desktop-up {
  .mb-0-desktop {
    margin-bottom: 0 !important;
  }
  .ml-8-desktop {
    margin-left: 8.5rem;
  }
  .mr-8-desktop {
    margin-right: 8.5rem;
  }
  .pl-8-desktop {
    padding-left: 8.5rem;
  }
  .pr-8-desktop {
    padding-right: 8.5rem;
  }
  .m-boot-desktop-6 {
    margin: 0 2rem 6rem;
  }
  .m-boot-desktop-3 {
    margin: 0 2rem 3rem;
  }
}

@include monitor-up {
  .m-boot-desktop-6 {
    margin: 0 8.5rem 6rem;
  }
  .m-boot-desktop-3 {
    margin: 0 8.5rem 3rem;
  }
}
.h-700 {
  height: 700px;
}

.h-400-mobile {
  height: 400px;
}

.h-450-mobile {
  height: 450px;
}

.h-550-mobile {
  height: 550px;
}

.h-700-desktop {
  @include desktop-up {
    height: 700px;
  }
}

.w-max-content {
  width: max-content;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.h-70 {
  height: 70%;
}

.cursor-pointer {
  cursor:pointer;
}

.custom-text__style {
  display: flex;
  align-items: center;
}
.custom-text__style hr {
  border-top: 1px solid #9F8561;
}
@media (min-width: 1024px) {
  .custom-text__style h4 {
    white-space: nowrap;
  }
}

.text-black {
  color: $background-black;
}

.bg-white {
  background: $white;
}