input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
textarea,
select {
    margin: auto;
    width: 100%;

    padding: 13px 20px;
    border: 1px solid $white;
    background-color: $background-black;

  color: $white;
  font-weight: bold;

    &::placeholder {
    font-weight: 300;
    }

}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
select {
    height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
    padding: 1em 0;
    margin: auto;
    width: 100%;

    line-height: unset;
    color: $white;
}

input.button {
    margin-top: 1em;
}

option {
    background-color: $background-black;
    font: normal 1em Lato, sans-serif;
}

select {
    appearance: none;
}

fieldset {
    position: relative;

  select {
    position: relative;
    z-index: 2;

    background-color: transparent;

    cursor: pointer;
  }

  &> svg {
    position: absolute;
    right: 3%;
    z-index: 1;

    top: 50%;
    transform: translateY(-50%);
  }
}

.select__group {
  position: relative;
}

.select__arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-cvv {
  input[type=number] {
    -webkit-text-security: disc;
  }
}