h1,
h2,
h3
  {
  color: $white;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.33rem;
  color: $white;
}

p,
a,
button, .body-1 {
  color: $white;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;

  margin: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-size: 3.125rem; //50px
  line-height: 133%;
  font-weight: bold;
}

h2 {
  font-size: 2.375rem; //38px
  font-weight: bold;
  line-height: 125%;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem; //32px
  line-height: 133%;

}

h4 {
  font-size: 1.75rem; //28px
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  text-transform: uppercase;
  color: $white;
}

h5 {
  font-size: 1.5rem; //24px
  font-style: normal;
  font-weight: bold;
  line-height: 133%;
  text-transform: uppercase;
  color: $white;
}

.title {
  font-size: 1.25rem; //20px
  line-height: 1.5rem;
  color:$white;
}

.body-semibold{
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.125rem; //18px
  line-height: 150%;
}

.body-default{
  font-family: Poppins;
  font-size: 1.125rem; //18px
  line-height: 150%;
}

.body-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem; //18px
  line-height: 150%;
}

.input-filled{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem; //14px
  line-height: 171%;
}

.input-title{
  color: $grey-1;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 143%;
}

.input-default{
  font-family: Poppins;
  font-style: normal;

  font-size: 0.875rem;
  line-height: 171%;
}

.label-default {
  color: $white;
  font-size: 0.875rem;
  line-height: 150%;
}

.label-small {
  color: $grey-1;
  font-size: 0.625rem;
  line-height: 160%;
}

.label-bold {
  font-weight:bold;
  font-size: 0.875rem; //14px
  line-height: 150%;
}

.label-semibold {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: #bdbdbd;
}

.text-helper {
  color: $white;
  font-size: 0.75rem;
  line-height: 150%;
}

.text {
  &--white {
    color: $white;
    &:hover {
      color: $white;
    }
  }

  &--dark {
    color: $black-2;
    &:hover {
      color: $black-2;
    }
  }

  &--bold {
    font-weight: 500;
  }

  &--italic {
    font-style: italic;
  }
}

.font-primary {
  font-family: Poppins;
  color: $white;
}

.font-gold {
  font-family: Poppins;
  color: $gold;
}

.heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 40px;
  text-transform: uppercase;

  @include desktop-up {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 40px;
  }
}
.hero__title {
  font-size: 2.5rem;

  @include desktop-up {
    font-size: 5rem;
  }
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-end {
  text-align: end;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 600;
}

.font-secondary {
  font-family: Poppins;
  color: $gold-2;
}

.font-italic {
  font-family: Poppins;
  font-style: italic;
  color: $white;
}

hr {
  border-top: 1px solid $white;
  margin: 1.5rem auto;
}

.discounted-price {
  text-decoration: line-through;

  opacity: 80%;
}

.text-decoration-underline {
  text-decoration: underline !important;
}
