body {
  background-color: white;
}

.address-box {
  border: 1px solid #eaeaea !important;
  padding: 20px !important;
  margin-bottom: 10px;
}

.border-less-remove {
  color: #f41e48 !important;
  background: white;
  border: none;
  padding: 0 !important;
}

#messages .alert .close {
    font-size: 18px;
    padding: 0px !important;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    999999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.on-loading .loading-modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.on-loading .loading-modal {
    display: block;
}
