@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Poppins, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3 {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.33rem;
  color: #ffffff;
}

p,
a,
button, .body-1 {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  margin: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-size: 3.125rem;
  line-height: 133%;
  font-weight: bold;
}

h2 {
  font-size: 2.375rem;
  font-weight: bold;
  line-height: 125%;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  line-height: 133%;
}

h4 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  text-transform: uppercase;
  color: #ffffff;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 133%;
  text-transform: uppercase;
  color: #ffffff;
}

.title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.body-semibold {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 150%;
}

.body-default {
  font-family: Poppins;
  font-size: 1.125rem;
  line-height: 150%;
}

.body-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 150%;
}

.input-filled {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 171%;
}

.input-title {
  color: #bdbdbd;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 143%;
}

.input-default {
  font-family: Poppins;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 171%;
}

.label-default {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 150%;
}

.label-small {
  color: #bdbdbd;
  font-size: 0.625rem;
  line-height: 160%;
}

.label-bold {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 150%;
}

.label-semibold {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: #bdbdbd;
}

.text-helper {
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 150%;
}

.text--white {
  color: #ffffff;
}
.text--white:hover {
  color: #ffffff;
}
.text--dark {
  color: #212121;
}
.text--dark:hover {
  color: #212121;
}
.text--bold {
  font-weight: 500;
}
.text--italic {
  font-style: italic;
}

.font-primary {
  font-family: Poppins;
  color: #ffffff;
}

.font-gold {
  font-family: Poppins;
  color: #9F8561;
}

.heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 40px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .heading {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 40px;
  }
}

.hero__title {
  font-size: 2.5rem;
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 5rem;
  }
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-end {
  text-align: end;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 600;
}

.font-secondary {
  font-family: Poppins;
  color: #d9b996;
}

.font-italic {
  font-family: Poppins;
  font-style: italic;
  color: #ffffff;
}

hr {
  border-top: 1px solid #ffffff;
  margin: 1.5rem auto;
}

.discounted-price {
  text-decoration: line-through;
  opacity: 80%;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}

.desktop-only {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: #111111;
}

.body__wrapper {
  margin-top: 70px;
}
@media (min-width: 1024px) {
  .body__wrapper {
    margin-top: 0;
  }
}

.d-grid {
  display: grid;
}

.align-items-start {
  align-items: flex-start;
}

a:hover {
  text-decoration: none !important;
  color: #ffffff;
}

.grid-row-gap-1 {
  grid-row-gap: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

@media (min-width: 1024px) {
  .p-boot-desktop {
    padding-left: 8.5rem;
    padding-right: 8.5rem;
  }
}

.m-boot-mobile-3 {
  margin: 0 1rem 3rem;
}

.m-boot-mobile-6 {
  margin: 0 1rem 6rem;
}

@media (min-width: 1024px) {
  .mb-0-desktop {
    margin-bottom: 0 !important;
  }

  .ml-8-desktop {
    margin-left: 8.5rem;
  }

  .mr-8-desktop {
    margin-right: 8.5rem;
  }

  .pl-8-desktop {
    padding-left: 8.5rem;
  }

  .pr-8-desktop {
    padding-right: 8.5rem;
  }

  .m-boot-desktop-6 {
    margin: 0 2rem 6rem;
  }

  .m-boot-desktop-3 {
    margin: 0 2rem 3rem;
  }
}
@media (min-width: 1440px) {
  .m-boot-desktop-6 {
    margin: 0 8.5rem 6rem;
  }

  .m-boot-desktop-3 {
    margin: 0 8.5rem 3rem;
  }
}
.h-700 {
  height: 700px;
}

.h-400-mobile {
  height: 400px;
}

.h-450-mobile {
  height: 450px;
}

.h-550-mobile {
  height: 550px;
}

@media (min-width: 1024px) {
  .h-700-desktop {
    height: 700px;
  }
}

.w-max-content {
  width: max-content;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.h-70 {
  height: 70%;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-text__style {
  display: flex;
  align-items: center;
}

.custom-text__style hr {
  border-top: 1px solid #9F8561;
}

@media (min-width: 1024px) {
  .custom-text__style h4 {
    white-space: nowrap;
  }
}
.text-black {
  color: #111111;
}

.bg-white {
  background: #ffffff;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
textarea,
select {
  margin: auto;
  width: 100%;
  padding: 13px 20px;
  border: 1px solid #ffffff;
  background-color: #111111;
  color: #ffffff;
  font-weight: bold;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder,
select::placeholder {
  font-weight: 300;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
select {
  height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  padding: 1em 0;
  margin: auto;
  width: 100%;
  line-height: unset;
  color: #ffffff;
}

input.button {
  margin-top: 1em;
}

option {
  background-color: #111111;
  font: normal 1em Lato, sans-serif;
}

select {
  appearance: none;
}

fieldset {
  position: relative;
}
fieldset select {
  position: relative;
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
}
fieldset > svg {
  position: absolute;
  right: 3%;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.select__group {
  position: relative;
}

.select__arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-cvv input[type=number] {
  -webkit-text-security: disc;
}

.mobile-nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  background-color: #000000;
}
.mobile-nav__left img {
  width: 100px;
}
.mobile-nav__right {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem;
  justify-content: end;
  align-items: center;
}

.cart-icon__wrapper {
  position: relative;
}

.cart-counter {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  background-color: #9F8561;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
}
@media (min-width: 1024px) {
  .cart-counter {
    left: 1.75rem;
  }
}

@media (min-width: 1024px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 100%;
    min-height: 80px;
  }

  .desktop-nav {
    position: relative;
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
    padding: 0 10%;
    background-color: #000000;
  }
  .desktop-nav__left img {
    width: 50%;
  }
  .desktop-nav__center a {
    text-decoration: none;
  }
  .desktop-nav__center a :hover {
    color: #ffffff;
  }
  .desktop-nav__right a:nth-child(2) {
    padding-left: 1rem;
  }
  .desktop-nav__right a:hover {
    color: #ffffff;
  }
  .desktop-nav .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;
    text-align: center;
  }
  .desktop-nav .nav-links li {
    list-style: none;
    padding: 0.5rem 0;
  }
  .desktop-nav .nav-links li a:hover {
    color: #ffffff;
  }
  .desktop-nav .nav-links .drop-menu {
    position: absolute;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    visibility: hidden;
    background-color: #000000;
    padding: 0;
    width: 10rem;
  }
  .desktop-nav .nav-links li:hover .drop-menu, .desktop-nav .nav-links li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
  }
  .desktop-nav .drop-menu li a {
    width: 100%;
    display: block;
  }
  .desktop-nav .mega-menu {
    width: 100%;
    max-width: 100vw;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
  }
  .desktop-nav .fancy-link {
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(#9F8561, #9F8561);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 2px;
  }
  .desktop-nav .content {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: #000000;
    justify-content: space-between;
    padding: 2rem;
  }
}
.mega-menu__mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 5%;
  align-items: flex-start;
}

.menu__link {
  display: grid;
  row-gap: 1.5rem;
}

.user-nav {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 6.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow-x: auto;
  background-color: #26231E;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.user-nav .nav__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
.user-nav .nav__link img {
  width: 40%;
}
.user-nav a:active {
  background-color: #9F8561;
}

footer {
  display: grid;
  grid-gap: 3rem;
  background-color: #000000;
  padding: 0 1rem 3rem;
  text-align: center;
}
@media (min-width: 1024px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-template-rows: unset;
    text-align: left;
    padding: 3rem 2rem;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 3rem 8.5rem;
  }
}
footer a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
footer .copyrights {
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  footer .copyrights {
    grid-column: 1/4;
  }
}

footer .text-besides-icon {
  justify-content: center;
}

@media (min-width: 1024px) {
  footer .text-besides-icon {
    justify-content: left;
  }
}
.text-besides-icon {
  display: flex;
  align-items: baseline;
}
.text-besides-icon p, .text-besides-icon h4 {
  padding-left: 1rem;
}
@media (min-width: 1024px) {
  .text-besides-icon {
    justify-content: left;
  }
}

.icon-besides-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-besides-text p {
  padding-right: 1rem;
}

.footer-social-account__wrapper {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .footer-social-account__wrapper {
    justify-content: flex-start;
  }
}

.footer-payment__wrapper img {
  height: 15px;
}

.breadcrumbs {
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
  border-width: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.button--primary {
  background-color: #9F8561;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none !important;
  transition: all 0.1s ease-in;
}
.button--primary:hover {
  background: #645641;
}
.button--primary___styled {
  padding: 0;
  min-width: max-content;
  position: relative;
}
.button--primary___styled::before, .button--primary___styled::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0.5px;
  width: 20px;
  transform: skewX(-15deg);
  background-color: inherit;
}
.button--primary___styled::before {
  left: -6px;
}
.button--primary___styled::after {
  right: -6px;
}
.button--secondary {
  min-width: 120px;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.button--tertiary {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.button--tertiary:hover {
  border: none;
}
.button--disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
  color: #ffffff;
}
.button--disabled:hover {
  background-color: #bdbdbd;
}
.button--disabled__styled {
  min-width: max-content;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  padding: 0;
}
@media (min-width: 1024px) {
  .button--disabled__styled {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  }
}
.button--ghost {
  background-color: #ffffff;
  border: 1px solid #C4C4C4;
  color: #ffffff;
}
.button--ghost:hover {
  background-color: #ffffff;
  color: #ffffff;
}
.button--ghost-menu {
  color: #212121;
  font-weight: normal;
}
.button--ghost-menu:hover {
  color: #212121;
}
.button--menu {
  font-size: 0.95em;
  font-weight: normal;
}
.button--green {
  background-color: #2A6043;
  color: #ffffff;
  width: max-content;
}
.button--red {
  background-color: #FF0000;
  color: #ffffff;
  width: max-content;
}
.button--paused {
  background-color: #B47A3C;
  color: #ffffff;
  width: max-content;
}
.button--dynamic {
  width: 100%;
}
@media (min-width: 1024px) {
  .button--dynamic {
    width: max-content;
  }
}

.btn-counter {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 32px;
  min-width: 32px;
  border: 1px solid #9F8561;
  cursor: pointer;
}
.btn-counter:focus {
  outline: 1px solid transparent !important;
}
.btn-counter:hover {
  background: #645641;
  border: 1px solid #645641;
}
.btn-counter--increment, .btn-counter--decrement {
  background: #9F8561;
}
.btn-counter--increment:active, .btn-counter--decrement:active {
  background: #645641;
  border: 1px solid #645641;
}

.product-card {
  display: grid;
  grid-row-gap: 0.5rem;
}
.product-card .product-image__wrapper {
  display: grid;
  align-content: center;
  min-height: 200px;
}
.product-card .product-image__wrapper img {
  width: 100%;
}
.product-card .product-image__wrapper--mobile {
  min-height: auto;
}
.product-card .with-caption {
  display: grid;
  grid-template-columns: auto 150px;
}
.product-card .product-image__bg {
  background-image: url("../images/coffee-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.product-card hr {
  grid-column: 1/4;
}
.product-card .product-pack__container {
  justify-content: stretch;
  min-height: 3rem;
  color: #ffffff;
}
.product-card .product-pack__choose {
  display: flex;
  column-gap: 1rem;
}
.product-card .product-pack__choose.product-pack__choose--bundle {
  grid-template-columns: 100%;
}
.product-card .product-pack__choose label {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 41px;
  min-width: 41px;
  padding: 1rem 0;
  margin: 0;
  border: 1px solid #454545;
  text-align: center;
  cursor: pointer;
}
.product-card .product-pack__choose input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.product-card .product-pack__choose input[type=radio]:checked + label {
  border-color: #ffffff;
}
.product-card .product-quantity__container {
  display: grid;
  color: #ffffff;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .product-card .product-quantity__container {
    margin: auto;
    width: 100%;
    font-size: 14px;
  }
}
.product-card .product-title-and-subtitle {
  padding: 1rem 0;
}
@media (min-width: 1024px) {
  .product-card .product-title-and-subtitle {
    padding: 0 0 1rem 0;
    min-height: 5.5rem;
  }
}
.product-card .product-title-and-price {
  padding-top: 0.5rem;
}
@media (min-width: 1024px) {
  .product-card .product-title-and-price {
    min-height: 90px;
  }
}
.product-card .product-title-and-price__title {
  min-height: 2.5rem;
  line-height: 1.3rem;
  text-transform: uppercase;
}
.product-card .product-title-and-price--description {
  min-height: 80px;
}
@media (min-width: 1024px) {
  .product-card .product-title-and-price--description {
    min-height: unset;
    margin-bottom: 1rem;
  }
}

.testimonials__container .testimonials__title {
  margin-bottom: 3rem;
}
.testimonials__container .testimonials__content {
  position: relative;
  background-color: #454545;
  width: 90%;
  min-height: 21rem;
  box-sizing: border-box;
  margin: 5rem 0.5rem !important;
  padding: 1rem;
  transition: 0.5s;
}
@media (min-width: 1024px) {
  .testimonials__container .testimonials__content {
    width: 30%;
    min-height: 17.5rem;
    transform: scale(0.85);
  }
}
@media (min-width: 1440px) {
  .testimonials__container .testimonials__content {
    transform: scale(1);
    background-color: #454545;
    min-height: 14.5rem;
    margin: 5rem 1.5rem !important;
  }
}
.testimonials__container .testimonials__content .client__profile {
  padding-bottom: 1.5rem;
}
.testimonials__container .testimonials__content .client__profile .client__image {
  position: absolute;
  top: -3.5rem;
  left: -0.5rem;
}
.testimonials__container .testimonials__content .client__profile .client__image img {
  border-radius: 50%;
  width: 55%;
}
.testimonials__container .testimonials__content .client__profile .client__short-bio {
  width: 55%;
  margin-left: auto;
}
@media (min-width: 1024px) {
  .testimonials__container .testimonials__content .client__profile .client__short-bio {
    width: 75%;
  }
}
.testimonials__container .testimonials__content .client__profile .client__name {
  border-bottom: 1px solid #ffffff;
}
.testimonials__container .testimonials__content .client__testimonial {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 0.5rem;
}
.testimonials__container .testimonials__content .client__testimonial .quote__open img, .testimonials__container .testimonials__content .client__testimonial .quote__close img {
  width: 15px;
}
@media (min-width: 1024px) {
  .testimonials__container .testimonials__content .client__testimonial .quote__open img, .testimonials__container .testimonials__content .client__testimonial .quote__close img {
    width: 100%;
  }
}
.testimonials__container .testimonials__next {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-around;
  margin-bottom: 6rem;
}
.testimonials__container .testimonials__next img {
  width: 30%;
}
.testimonials__container .testimonials__next img:first-child {
  justify-self: flex-end;
}
@media (min-width: 1024px) {
  .testimonials__container .testimonials__next img {
    width: 10%;
  }
}
.testimonials__container .slick-slide.slick-center {
  background-color: #9F8561;
}
@media (min-width: 1024px) {
  .testimonials__container .slick-slide.slick-center {
    transform: scale(1.1);
  }
}

.slick-dots li {
  margin: 0 !important;
}

.slick-dots li button:before {
  color: #ffffff !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  font-size: 10px;
}

.our-clients__icons {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-row-gap: 3rem;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}
.our-clients__icons img {
  width: 80%;
}
@media (min-width: 1024px) {
  .our-clients__icons {
    grid-template-columns: repeat(6, 1fr);
  }
}

.registration__logo {
  margin-bottom: 3rem;
}
.registration__logo img {
  width: 30%;
}
.registration__wrapper {
  background-color: #26231E;
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.registration__wrapper input {
  border: none;
}
.registration__wrapper .button {
  margin-bottom: 3rem;
}
.registration__heading {
  margin-bottom: 3rem;
}
.registration__social-media {
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.registration__social-media .social-media {
  display: flex;
  justify-content: inherit;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 0.5rem;
}
.registration__social-media .social-media > .google {
  width: 45%;
}
.registration__background {
  background-image: var(--background-img);
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .registration__logo {
    margin-bottom: 2rem;
  }
  .registration__logo img {
    width: 7%;
  }
  .registration__wrapper {
    position: relative;
    max-width: 500px;
    margin: auto;
    padding: 2rem;
  }
  .registration__social-media {
    grid-template-columns: repeat(2, 20%);
  }
  .registration__social-media .social-media {
    padding: 0.5rem 0;
  }
  .registration__social-media .social-media > .google {
    width: 30%;
  }
  .registration__social-media .social-media > .facebook {
    width: 20%;
  }
}

.password__container {
  display: grid;
  align-content: center;
  min-height: calc(100vh - 489px);
}

.lines-besides-title {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.lines {
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.eye {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

a.text-underline-gold {
  text-decoration: underline;
  color: #9F8561;
}

a:hover.text-underline-gold {
  color: #9F8561;
}

.modal__container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(17, 17, 17, 0.8);
}
.modal__container h4 {
  font-weight: 500;
}

.modal__cart, .modal__filter {
  background-color: #000000;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  min-height: 100%;
}
@media (min-width: 1024px) {
  .modal__cart, .modal__filter {
    width: 45%;
  }
}
@media (min-width: 1440px) {
  .modal__cart, .modal__filter {
    width: 35%;
  }
}
.modal__cart .truck__wrapper, .modal__filter .truck__wrapper {
  background-color: #bdbdbd;
}
.modal__cart .truck__wrapper img, .modal__filter .truck__wrapper img {
  width: 20%;
}

.modal__filter {
  left: 0;
}

@media (min-width: 1024px) {
  .modal-stockists__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;
  }
}

.modal__content {
  background-color: #26231E;
  position: absolute;
  padding: 1rem 2% 3rem;
  width: 90%;
}
.modal__content--green {
  background-color: #2A6043;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .modal__content {
    width: 500px;
  }
  .modal__content.modal-w-30 {
    width: 30%;
  }
  .modal__content.modal-w-45 {
    width: 45%;
    padding: 2rem;
  }
  .modal__content.modal-w-75 {
    width: 75%;
  }
}
.modal__content-w100 {
  width: 100%;
}
.modal__content-50 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95%;
  overflow: auto;
}
.modal__content-l-50 {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.modal__content h4 {
  text-transform: capitalize;
}
.modal__content input, .modal__content select, .modal__content option {
  background-color: #ffffff;
  color: #000000;
}
.modal__content input.input-black, .modal__content select.input-black {
  background-color: #111111;
  color: #ffffff;
}
.modal__content .confirm-change-layout__wrapper {
  display: grid;
  row-gap: 2rem;
  grid-column-gap: 1rem;
}
@media (min-width: 1024px) {
  .modal__content .confirm-change-layout__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
.modal__content .confirm-frequency-change__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
.modal__content .reschedule-layout__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
.modal__content .modal-button__wrapper {
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .modal__content .modal-button__wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
  }
}

.confirmation__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 5%;
}
.confirmation__wrapper label {
  padding: 0;
  line-height: 150%;
}
@media (min-width: 1024px) {
  .confirmation__wrapper {
    column-gap: 3%;
  }
}
.confirmation__wrapper a, .confirmation__wrapper a:hover {
  text-decoration: none;
  color: #ffffff;
}

.regular-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9F8561;
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  background-color: transparent !important;
}
.regular-checkbox:checked {
  border: 1px solid #9F8561;
  background-color: transparent !important;
}
.regular-checkbox:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9F8561;
  content: "✔";
  font-size: 10px;
}

.datetimepicker-input:disabled, #selectDeliveryTime:disabled #selectDeliveryTimePause:disabled {
  background-color: #7a7a7a !important;
  color: #ffffff;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.order-sm-2-lg-1 {
  order: 2;
}
@media (min-width: 1024px) {
  .order-sm-2-lg-1 {
    order: 1;
  }
}

.order-sm-1-lg-2 {
  order: 1;
}
@media (min-width: 1024px) {
  .order-sm-1-lg-2 {
    order: 2;
  }
}

.accordion a:hover {
  text-decoration: none;
  color: #ffffff;
}
.accordion__container {
  width: 90%;
  margin: 0 auto 6rem;
}
.accordion__container .panel {
  margin-bottom: 1rem;
  max-height: 0;
  overflow: hidden;
  text-align: justify;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1024px) {
  .accordion__container .panel {
    margin: 1rem 0;
  }
}
.accordion__title {
  margin-bottom: 3rem;
}
.accordion__icon {
  display: grid;
  grid-template-columns: 15% auto;
  align-items: center;
  border: 2px solid #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.accordion__icon img {
  width: 70%;
}
.accordion__content {
  overflow: hidden;
  transition: all 0.2s;
  padding: 0 1rem;
}
.accordion__content--nav {
  max-height: 0;
}
.accordion__table {
  display: grid;
  grid-template-areas: "ingredients ingredients" "nutrition nutrition" "calories calories-info" "fat fat-info" "total total-info" "carbohydrate carbohydrate-info" "sugars sugars-info" "protein protein-info";
}
.accordion__table .ingredients {
  grid-area: ingredients;
}
.accordion__table .nutrition {
  grid-area: nutrition;
}
.accordion__table .calories {
  grid-area: calories;
}
.accordion__table .calories-info {
  grid-area: calories-info;
}
.accordion__table .fat {
  grid-area: fat;
}
.accordion__table .fat-info {
  grid-area: fat-info;
}
.accordion__table .total {
  grid-area: total;
}
.accordion__table .total-info {
  grid-area: total-info;
}
.accordion__table .carbohydrate {
  grid-area: carbohydrate;
}
.accordion__table .carbohydrate-info {
  grid-area: carbohydrate-info;
}
.accordion__table .sugars {
  grid-area: sugars;
}
.accordion__table .sugars-info {
  grid-area: sugars-info;
}
.accordion__table .protein {
  grid-area: protein;
}
.accordion__table .protein-info {
  grid-area: protein-info;
}
@media (min-width: 1024px) {
  .accordion__title {
    grid-column: 1/3;
  }
  .accordion__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }
  .accordion__icon {
    display: grid;
    grid-template-columns: 10% auto;
    margin: 0;
  }
}

.form-check {
  padding-top: 1em;
}

.form-check > label {
  padding: 0;
}

.input-field {
  display: grid;
  min-height: 1em;
  margin: 0.1em 0 0.3em;
  color: #ffffff;
}
.input-field__top {
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.input-field__left {
  text-align: left;
}
.input-field__right {
  text-align: right;
  padding: 1rem 0;
}

.input__layout {
  display: grid;
  margin-bottom: 1.5em;
}
.input__layout select {
  margin-bottom: 0.5rem;
}

.input__login {
  display: grid;
  row-gap: 9px;
  margin-bottom: 1.5rem;
}

.input-img-icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000000;
  border: solid 1px #DDD;
  box-sizing: border-box;
  margin: 0;
  padding: 0.75rem 2rem;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
  flex: 0 0 50%;
}
.toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.toggle input:hover + label {
  border-color: #000000;
}
.toggle input:checked + label {
  background-color: #9F8561;
  color: #FFF;
  box-shadow: #FFF;
  border-color: #9F8561;
  z-index: 1;
}

.background-image {
  background-repeat: no-repeat;
  background-image: var(--background-img);
}
.background-image__jumpstart {
  height: 500px;
  background-size: 250%;
}
@media (min-width: 1024px) {
  .background-image__jumpstart {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .background-image__feel-great {
    height: 275px;
  }
}
@media (min-width: 1024px) {
  .background-image__blogs-detail {
    height: 300px;
  }
}
@media (min-width: 1024px) {
  .background-image__fb-banner {
    background-image: var(--background-img-desktop);
    height: 350px;
  }
}

.bg-position-center {
  background-position: center;
}

.bg-position-top {
  background-position: top;
}

.bg-position-bottom {
  background-position: bottom;
}

.bg-size-cover {
  background-size: cover;
}

.bg-position-bottom-center {
  background-position: bottom center;
}

.bg-size-contain {
  background-size: contain;
}

.bg-size-password {
  background-size: 45rem;
}

.error__container {
  padding-top: 5rem;
}
.error__container img {
  width: 100%;
  order: 2;
}
@media (min-width: 1024px) {
  .error__container img {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .error__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.error__content h1, .error__content h2 {
  text-transform: initial;
  text-align: center;
}
@media (min-width: 1024px) {
  .error__content h1, .error__content h2 {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .error__content h1 {
    font-size: 4.375rem;
  }
}
.error-buttons__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .error-buttons__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    column-gap: 1rem;
  }
}

.concentrate__wrapper {
  background: #000000;
}
.concentrate__wrapper .concentrate-banner__section {
  position: relative;
  z-index: 1;
  padding: 3.75rem 1rem;
  height: 550px;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .concentrate-banner__section {
    margin-top: 90px;
    padding: 3.75rem 2rem 3rem;
    height: 750px;
  }
}
@media (min-width: 1440px) {
  .concentrate__wrapper .concentrate-banner__section {
    height: 875px;
  }
}
@media (min-width: 1024px) {
  .concentrate__wrapper .concentrate-banner__section .banner-content__wrapper {
    display: grid;
    height: 100%;
  }
}
.concentrate__wrapper .concentrate-banner__section .banner__caption {
  margin-bottom: 3rem;
}
.concentrate__wrapper .concentrate-banner__section .banner__cta {
  display: block;
  text-align: center;
  text-decoration: underline;
  font-size: 1.25rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .concentrate-banner__section .banner__cta {
    font-size: 1.5rem;
  }
}
.concentrate__wrapper .video-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 100px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.concentrate__wrapper .video-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.concentrate__wrapper .video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.concentrate__wrapper .single-shot__section {
  padding: 6rem 1rem 3rem;
  margin-top: -70px;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  min-height: 60vh;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .single-shot__section {
    padding: 15% 2rem;
    margin-top: -100px;
  }
}
.concentrate__wrapper .single-shot__section .wave-single-shot {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.concentrate__wrapper .single-shot__section .single-shot__caption {
  display: grid;
  row-gap: 1.25rem;
  z-index: 1;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .single-shot__section .single-shot__caption {
    row-gap: 1.875rem;
  }
}
@media (min-width: 1024px) {
  .concentrate__wrapper .single-shot__section .single-shot__description {
    width: 75%;
    margin: auto;
  }
}
.concentrate__wrapper .product__section {
  display: grid;
  background-color: #FEFBF1;
  padding: 3rem 5%;
}
.concentrate__wrapper .product__header {
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .product__header {
    padding-bottom: 4.25rem;
  }
}
.concentrate__wrapper .product__wrapper {
  display: grid;
  row-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .product__wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
  }
}
.concentrate__wrapper .product__wrapper .product__item {
  display: grid;
  align-content: space-between;
  border-radius: 20px;
  padding: 1rem 5%;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .product__wrapper .product__item {
    border-radius: 40px;
    padding: 2.5rem 5%;
  }
}
.concentrate__wrapper .product__wrapper .product__item--1 {
  background-color: #EFE4C8;
}
.concentrate__wrapper .product__wrapper .product__item--2 {
  background-color: #443D3A;
}
.concentrate__wrapper .product__wrapper .product__item--3 {
  background-color: #EFE4C8;
}
.concentrate__wrapper .product__wrapper .product__item--3 img {
  width: 75%;
  margin: auto;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .product__wrapper .product__item--3 {
    background-color: #ffffff;
  }
  .concentrate__wrapper .product__wrapper .product__item--3 img {
    width: 40%;
  }
}
.concentrate__wrapper .product__wrapper .product__description {
  display: grid;
  align-items: center;
  row-gap: 1.5rem;
  align-items: end;
  text-align: center;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .product__wrapper .product__description {
    grid-template-columns: 0.75fr 0.35fr;
    justify-content: space-between;
    column-gap: 5%;
    text-align: left;
  }
}
.concentrate__wrapper .product__wrapper .product__description .button {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .product__wrapper .product__description .button {
    width: 100%;
  }
}
.concentrate__wrapper .product__wrapper .promo-button {
  display: flex;
  align-items: center;
  background: #F1B940;
  border-radius: 8px;
  height: 40px;
  width: max-content;
  padding: 5px 3%;
  font-size: 0.9375rem;
}
.concentrate__wrapper .client-review__image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 1rem;
  justify-items: center;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .client-review__image {
    grid-template-columns: repeat(4, 1fr);
  }
}
.concentrate__wrapper .client-review__image label {
  cursor: pointer;
  opacity: 0.2;
  text-align: center;
  transition: 0.1s;
  transition-delay: 0.2s;
}
.concentrate__wrapper .client-review__content {
  height: 160px;
  overflow: hidden;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .client-review__content {
    height: 120px;
  }
}
.concentrate__wrapper .client-review__item {
  display: none;
}
.concentrate__wrapper .client-review__section {
  position: relative;
  background: #FEFBF1;
  padding: 0 1rem 6rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .client-review__section {
    padding: 2rem 2rem 6rem;
  }
  .concentrate__wrapper .client-review__section p {
    width: 75%;
    margin: auto;
  }
}
.concentrate__wrapper .client-review__section input[type=radio] {
  display: none;
}
.concentrate__wrapper .client-review__section #google-review:checked ~ .client-review__image .google-review,
.concentrate__wrapper .client-review__section #bloomberg-review:checked ~ .client-review__image .bloomberg-review,
.concentrate__wrapper .client-review__section #dbs-review:checked ~ .client-review__image .dbs-review,
.concentrate__wrapper .client-review__section #f45-review:checked ~ .client-review__image .f45-review {
  opacity: 1;
}
.concentrate__wrapper .client-review__section #google-review:checked ~ .client-review__content .content-1,
.concentrate__wrapper .client-review__section #bloomberg-review:checked ~ .client-review__content .content-2,
.concentrate__wrapper .client-review__section #dbs-review:checked ~ .client-review__content .content-3,
.concentrate__wrapper .client-review__section #f45-review:checked ~ .client-review__content .content-4 {
  display: block;
  animation: animation-two 1s;
  transition-delay: 0.2s;
}
@keyframes animation-two {
  0% {
    margin-top: 160px;
  }
  100% {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  @keyframes animation-two {
    0% {
      margin-top: 120px;
    }
    100% {
      margin-top: 0;
    }
  }
}
.concentrate__wrapper .client-review__quote {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.concentrate__wrapper .blog-snippet__wrapper {
  background: #EFE4C8;
  padding: 3rem 1rem 3rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .blog-snippet__wrapper {
    padding: 3rem 5% 6rem;
  }
}
.concentrate__wrapper .blog-snippet__caption {
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .blog-snippet__caption {
    padding: 3rem 2rem 0;
  }
}
.concentrate__wrapper .blog-snippet-item__wrapper .slick-slide {
  margin: 0 0.5rem !important;
}
.concentrate__wrapper .blog-snippet-item__wrapper .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000000 !important;
}
.concentrate__wrapper .blog-snippet-item__wrapper .slick-dots li button:before {
  color: #000000 !important;
}
.concentrate__wrapper .blog-snippet-item__wrapper .blog-snippet__item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.concentrate__wrapper .blog-snippet-item__wrapper .blog-snippet__item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0;
  transition: 0.5s ease;
}
.concentrate__wrapper .blog-snippet-item__wrapper .blog-snippet__item:hover .overlay {
  opacity: 1;
}
.concentrate__wrapper .text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.concentrate__wrapper .offers__container {
  position: relative;
}
.concentrate__wrapper .offers__container .wave-recipe {
  position: absolute;
  z-index: 1;
}
.concentrate__wrapper .offers__container .wave-newsletter {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.concentrate__wrapper .offers__section {
  padding: 4.75rem 1rem 5.625rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image) no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .offers__section {
    padding: 15% 2rem 20%;
  }
}
.concentrate__wrapper .offers__wrapper {
  display: grid;
  row-gap: 2.5rem;
}
.concentrate__wrapper .offers__wrapper .button {
  width: 100%;
}
.concentrate__wrapper .offers__caption {
  display: grid;
  row-gap: 2.5rem;
}
.concentrate__wrapper .offers__header {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .offers__header {
    width: 75%;
    margin: auto;
  }
}
.concentrate__wrapper .subscribe__section {
  display: grid;
}
.concentrate__wrapper .subscribe__wrapper {
  background: #212121;
  padding: 6.25rem 1rem;
}
.concentrate__wrapper .subscribe__wrapper .button {
  margin: auto;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .subscribe__wrapper {
    padding: 0 2rem 6.25rem;
  }
}
.concentrate__wrapper .copyrights {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 2rem 1rem;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .copyrights {
    padding: 2rem;
  }
}
.concentrate__wrapper .text-center {
  text-align: center;
}
.concentrate__wrapper .text--white {
  color: #ffffff;
}
.concentrate__wrapper .text--white:hover {
  color: #ffffff;
}
.concentrate__wrapper .product-price {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 57px;
}
.concentrate__wrapper .animated-text {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 150%;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .animated-text {
    font-size: 2.375rem;
  }
}
.concentrate__wrapper .heading-1 {
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
  line-height: 57px;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .heading-1 {
    font-size: 3.75rem;
    line-height: 120%;
  }
}
.concentrate__wrapper .heading-2 {
  font-size: 1.75rem;
  line-height: 33px;
  font-weight: 800;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .heading-2 {
    font-size: 3rem;
    line-height: 82px;
  }
}
.concentrate__wrapper .heading-3 {
  font-size: 1.5rem;
  line-height: 28px;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .heading-3 {
    font-size: 1.75rem;
    line-height: 59px;
  }
}
.concentrate__wrapper .heading-4 {
  font-size: 1.75rem;
  line-height: 33px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .heading-4 {
    font-size: 2.5rem;
    line-height: 47px;
  }
}
.concentrate__wrapper .heading-5 {
  font-size: 1.5rem;
  line-height: 28px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .heading-5 {
    font-size: 2.5rem;
    line-height: 47px;
  }
}
.concentrate__wrapper .heading-6 {
  font-size: 1.25rem;
  line-height: 23px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .heading-6 {
    font-size: 2.5rem;
    line-height: 47px;
  }
}
.concentrate__wrapper .title-1 {
  font-size: 3rem;
  line-height: 56px;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .title-1 {
    font-size: 5.3125rem;
    line-height: 100px;
  }
}
.concentrate__wrapper .title-2 {
  font-size: 1.75rem;
  line-height: 28px;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .title-2 {
    font-size: 3.125rem;
    line-height: 59px;
  }
}
.concentrate__wrapper .title-3 {
  font-size: 2.5rem;
  line-height: 47px;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .title-3 {
    font-size: 2.5rem;
    line-height: 47px;
  }
}
.concentrate__wrapper .title-4 {
  font-size: 2.5rem;
  line-height: 47px;
  font-weight: 600;
}
.concentrate__wrapper .title-5 {
  font-size: 1.5rem;
  line-height: 28px;
  font-weight: 600;
}
.concentrate__wrapper .title-6 {
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 600;
}
.concentrate__wrapper .body-1 {
  font-size: 1rem;
  line-height: 150%;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .body-1 {
    font-size: 1.5rem;
    line-height: 36px;
  }
}
.concentrate__wrapper .body-2 {
  font-size: 1.25rem;
  line-height: 23px;
}
.concentrate__wrapper .body-3 {
  font-size: 1rem;
  line-height: 19px;
}
.concentrate__wrapper .text-bold {
  font-weight: 700;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .text-bold {
    font-weight: 600;
  }
}
.concentrate__wrapper p {
  color: #000000;
}
.concentrate__wrapper .text-yellow {
  color: #F1B940;
}
.concentrate__wrapper .text-shadow {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.concentrate__wrapper .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 31px;
  padding: 12px 24px;
  width: max-content;
  color: #ffffff;
  text-decoration: none !important;
  font-weight: 700;
  cursor: pointer;
}
.concentrate__wrapper .button--medium {
  height: 64px;
  border-radius: 30px;
}
.concentrate__wrapper .button--small {
  height: 50px;
  border-radius: 30px;
}
.concentrate__wrapper .button--yellow {
  border: 3px solid #F1B940;
  color: #FFFFFF;
  font-weight: 700;
}
.concentrate__wrapper .button--primary {
  border: 3px solid #F1B940;
  background: #F1B940;
  color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.concentrate__wrapper .button--primary:hover {
  color: #000000;
}
.concentrate__wrapper .button--secondary {
  border: 3px solid #F1B940;
  color: #F1B940;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.concentrate__wrapper .button--secondary:hover {
  color: #F1B940;
}
.concentrate__wrapper .button--black {
  background: transparent;
  border: 3px solid #000000;
  color: #000000;
  min-width: 120px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.concentrate__wrapper .button--black:hover {
  color: #000000;
}
.concentrate__wrapper .button--white {
  border: 3px solid #ffffff;
  color: #ffffff;
}
.concentrate__wrapper .button--white:hover {
  color: #ffffff;
}
.concentrate__wrapper .button .button--dynamic {
  width: 100%;
}
@media (min-width: 1024px) {
  .concentrate__wrapper .button .button--dynamic {
    width: max-content;
  }
}
.concentrate__wrapper .send-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.announcement {
  padding: 1rem;
  background: #ffffff;
  color: #000000;
  text-align: center;
}
@media (min-width: 1024px) {
  .announcement {
    padding: 1rem 2rem;
  }
}
.announcement a {
  color: #000000;
}
.announcement a:hover {
  text-decoration: underline !important;
}

.hero__wrapper .slick-slide {
  margin: 0 0.5rem !important;
}

.home__hero-section {
  position: relative;
  height: 550px !important;
}
.home__hero-section .description__home-title {
  position: absolute;
  top: 15%;
  right: 0;
  padding-right: 5%;
}
.home__hero-section .description__home-title p {
  font-weight: 500;
}
.home__hero-section .description__home-title .button {
  width: 50%;
  margin-left: auto;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .home__hero-section .description__home-title {
    top: 50%;
    transform: translateY(-50%);
    padding-right: 8.5rem;
  }
}
.home__hero-section .bg-image {
  background-repeat: no-repeat;
  height: 100%;
}

.background-overlay__container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .background-overlay__container {
    padding: 2rem;
  }
}
.background-overlay__container .description {
  box-sizing: border-box;
}
.background-overlay__container .description__center {
  border: 3px solid #9F8561;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  .background-overlay__container .description__center {
    padding: 3rem;
  }
}

.best-sellers__container {
  display: grid;
  grid-template-columns: repeat(4, 70%);
  column-gap: 1rem;
  justify-content: space-between;
  overflow-y: auto;
}
@media (min-width: 1024px) {
  .best-sellers__container {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.25rem;
    overflow-y: initial;
  }
}

.mix-pack__home-container {
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .mix-pack__home-container {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 5%;
  }
}
.mix-pack__home-container .button {
  width: 50%;
}
@media (min-width: 1024px) {
  .mix-pack__home-image {
    height: 70%;
    overflow: hidden;
  }
}

.button-group {
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .button-group {
    grid-template-columns: repeat(2, 25%);
    justify-content: center;
    column-gap: 2rem;
  }
}

.search-icon__wrapper {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.cart-input__wrapper {
  display: grid;
  grid-template-columns: 1fr 15%;
}
.cart-input__wrapper img {
  width: 50%;
}
.cart-input__wrapper .select-time-date__wrapper {
  border: 1px solid #ffffff;
  background-color: #bdbdbd;
  height: 50px;
  padding: 10px 0;
}
.cart-input__wrapper select {
  height: 50px;
}

.tnc__wrapper {
  display: grid;
  row-gap: 2rem;
}

.tnc-title__wrapper {
  display: grid;
  row-gap: 1rem;
}

.ordered-list__title {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
}

.ordered-list__subtitle {
  display: grid;
  grid-template-columns: 10% 1fr;
  column-gap: 0.5rem;
}
@media (min-width: 1024px) {
  .ordered-list__subtitle {
    grid-template-columns: 3% 1fr;
  }
}

.faq__wrapper {
  margin-bottom: 3rem;
}

.search__wrapper {
  height: 200px;
}
@media (min-width: 1024px) {
  .search__wrapper {
    height: 50vh;
  }
}

.search__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

a.button--primary:hover {
  color: #ffffff;
}

.about-us__section-wrapper {
  position: relative;
}
.about-us .description {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  padding: 2rem;
}
.about-us .description__left, .about-us .description__right {
  top: 0;
}
@media (min-width: 1024px) {
  .about-us .description {
    width: 40%;
    padding: 2rem;
    height: max-content;
  }
  .about-us .description__left {
    top: 2rem;
    left: 8.5rem;
  }
  .about-us .description__right {
    top: 2rem;
    right: 8.5rem;
  }
}

.title-number {
  border-bottom: 2px solid #ffffff;
  width: 15%;
  margin: 0 auto 3rem;
}
@media (min-width: 1024px) {
  .title-number {
    width: 5%;
  }
}

.subscription--container {
  padding: 0 1rem;
}
@media (min-width: 1024px) {
  .subscription--container {
    padding: 0 4rem;
  }
}
.subscription--container p.mb-5 {
  margin-left: 2rem;
}
.subscription--description {
  margin: 1rem auto;
}
@media (min-width: 1024px) {
  .subscription--description {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .choose-product__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
.choose-product__wrapper {
  position: relative;
  margin-bottom: 3rem;
}
.choose-product__wrapper img {
  max-height: 150px;
  max-width: 100%;
  text-align: center;
}

.choose input[type=radio] {
  opacity: 0;
}
.choose label {
  cursor: pointer;
}
.choose label .radio-heading, .choose label img {
  opacity: 0.5;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.choose input[type=radio]:checked + label img,
.choose input[type=radio]:checked + label .radio-heading {
  opacity: 1;
}
.choose input[type=radio]:checked + label {
  border: 1px solid #ffffff;
}
.choose-frequency__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
.choose-frequency__container .frequency__title {
  grid-column: 1/3;
}
@media (min-width: 1024px) {
  .choose-frequency__container {
    justify-content: space-between;
    grid-template-columns: repeat(4, 25%);
  }
  .choose-frequency__container h4 {
    grid-column: 1/4;
  }
  .choose-frequency__container .frequency__title {
    grid-column: 1/5;
  }
}
.choose-frequency__wrapper {
  justify-content: space-between;
  grid-template-columns: repeat(2, 45%);
}
.choose-frequency__wrapper img {
  width: 100%;
}
@media (min-width: 1024px) {
  .choose-frequency__wrapper img {
    width: 75%;
  }
}
.choose-day__wrapper {
  height: 70%;
}
.choose-day__wrapper input {
  opacity: 0;
}
.choose-day__wrapper label {
  height: 100%;
}
.choose-time__wrapper {
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
}

.product-type {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  margin: 3rem 0;
}

.button-cart__container {
  display: grid;
  grid-template-columns: 32px auto 32px;
  align-items: center;
  width: 100%;
}

.customize-pack__wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 3rem 0;
}
@media (min-width: 1024px) {
  .customize-pack__wrapper {
    padding: 0;
  }
}
.customize-pack__radio {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}

.product-final-price {
  display: grid;
  grid-template-rows: 1.5rem auto auto;
  padding: 1rem;
  border: 1px solid #ffffff;
}

.choose-coffee__summary-dot {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
}

.show-pack__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  align-items: center;
  grid-row-gap: 2rem;
}
@media (min-width: 1024px) {
  .show-pack__wrapper img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .choose-pack__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5%;
    align-items: start;
    padding: 2rem 0;
  }
}

.choose-pack__wrapper .product-card__container {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .choose-pack__wrapper .product-card__container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
  }
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 0;
  background: #9F8561;
}
.progress-bar__wrapper {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 3%;
  margin-bottom: 2rem;
}
.progress-bar__item {
  position: relative;
  height: 20px;
  width: 100%;
  background: #bdbdbd;
}

.subscription-day__container, .subscription-time__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  padding-top: 3rem;
}
.subscription-day__container > p, .subscription-time__container > p {
  grid-column: 1/3;
}
.subscription-day__container .custom-calendar, .subscription-time__container .custom-calendar {
  position: relative;
  top: -4.5rem;
}

@media (min-width: 1024px) {
  .subscription-day__container {
    grid-template-columns: repeat(3, 25%);
    justify-content: space-between;
  }
  .subscription-day__container > p {
    grid-column: 1/4;
  }
  .subscription-day__container .custom-calendar {
    position: relative;
    top: -5rem;
  }
}
@media (min-width: 1440px) {
  .subscription-day__container {
    grid-template-columns: repeat(3, 15%);
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .subscription-time__container {
    grid-template-columns: repeat(3, 15%);
    justify-content: center;
  }
  .subscription-time__container > p {
    grid-column: 1/4;
  }
}

.upselling__container {
  display: grid;
  grid-row-gap: 2rem;
}
@media (min-width: 1024px) {
  .upselling__container {
    grid-template-columns: repeat(3, 25%);
    justify-content: space-around;
  }
}

.fieldset-custom__wrapper {
  position: relative;
  border: 1px solid #fff;
  padding: 2rem 1rem;
}
@media (min-width: 1024px) {
  .fieldset-custom__wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
  .fieldset-custom__wrapper h3 {
    font-size: 1.25rem;
  }
}

.fieldset-custom__content {
  position: absolute;
  top: 0;
  background-color: #111;
  margin: -0.875rem 0 0;
  line-height: 1;
  white-space: nowrap;
}

.most-popular {
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}

.biggest-savings {
  right: 1.75rem;
}
@media (min-width: 1440px) {
  .biggest-savings {
    right: 3.5rem;
  }
}

.st-header__wrapper {
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
}
.st-header__wrapper label {
  padding: 0;
}
@media (min-width: 1024px) {
  .st-header__wrapper {
    align-items: center;
    grid-template-columns: 80% 20%;
    grid-column-gap: 0;
    padding: 1rem 2rem;
  }
}

.st-content__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  background-color: #26231E;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .st-content__wrapper {
    grid-template-columns: 30% 30%;
    grid-column-gap: 6rem;
    padding: 1rem 2rem;
  }
}

.st-detail-content__container {
  background-color: #26231E;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .st-detail-content__container {
    padding: 0 2rem 1rem;
  }
}

.st-detail-content__wrapper {
  display: grid;
  row-gap: 1rem;
  align-items: center;
}

.st-detail-content__item {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  row-gap: 1rem;
  column-gap: 5%;
  align-items: center;
}
@media (min-width: 1024px) {
  .st-detail-content__item {
    grid-template-columns: 70px 1fr;
    column-gap: 3%;
  }
}

.st-description {
  grid-column: 1/3;
}

@media (min-width: 1024px) {
  .st-image-name {
    grid-template-columns: 10% auto;
    grid-template-rows: unset;
    grid-column-gap: 1rem;
    align-items: center;
  }
}

.subscription-order-quantity > p {
  margin-left: 1rem;
}

@media (min-width: 1024px) {
  .edit-product-subs__container {
    display: grid;
    grid-template-columns: 65% 32%;
    justify-content: space-between;
    align-items: start;
  }
  .edit-product-subs__container .product-card__container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
}
.edit-product-subs__container .text-besides-icon {
  grid-column: 1/3;
  margin-bottom: 3rem;
}

.cancel__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.cancel__wrapper label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  margin: revert;
  border: 1.5px solid #ffffff;
  text-align: left;
  line-height: initial;
}
.cancel__wrapper input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.cancel__wrapper input[type=radio]:checked + label {
  box-shadow: 0px 0px 0px 2px #ffffff;
}

.prepaid__container {
  display: grid;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .prepaid__container {
    grid-template-columns: 22% auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }
}

.prepaid__wrapper {
  box-sizing: border-box;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .prepaid__wrapper {
    margin-bottom: 0;
  }
}
.prepaid__wrapper label {
  display: grid;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .prepaid__wrapper label .button {
    width: 70%;
    margin: auto;
  }
}
.prepaid__wrapper input[type=radio] {
  position: fixed;
  width: 0;
}
.prepaid__wrapper input[type=radio]:checked + label {
  box-shadow: 0px 0px 0px 3px #ffffff;
}
.prepaid__wrapper .label-default {
  text-decoration: line-through;
  color: #bdbdbd;
}
.prepaid__wrapper h1 {
  font-weight: 600;
}
.prepaid__wrapper .prepaid__content {
  position: relative;
  overflow: hidden;
  padding: 2rem 1rem;
}
.prepaid__wrapper .prepaid__discount {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #264571;
  transform: rotate(-45deg);
  position: absolute;
  top: 0.5rem;
  left: -7.5rem;
}
@media (min-width: 1024px) {
  .prepaid__wrapper .prepaid__discount {
    top: 0.5rem;
    left: -4.5rem;
  }
}
@media (min-width: 1440px) {
  .prepaid__wrapper .prepaid__discount {
    top: 0.5rem;
    left: -6.5rem;
  }
}

.edit-address__wrapper {
  display: grid;
  grid-row-gap: 1rem;
}
@media (min-width: 1024px) {
  .edit-address__wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .edit-address__wrapper {
    column-gap: 3rem;
    row-gap: 3rem;
  }
}
.edit-address__wrapper .address__wrapper {
  display: grid;
  align-items: center;
  padding: 2rem 1rem;
  border: 1px solid #ffffff;
}
.edit-address__wrapper .address-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.subscribe-benefits__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: space-evenly;
  justify-items: center;
  grid-row-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .subscribe-benefits__wrapper {
    grid-template-columns: repeat(4, 20%);
  }
}

.subscribe-advantage__wrapper {
  justify-items: center;
  grid-row-gap: 1rem;
}
@media (min-width: 1024px) {
  .subscribe-advantage__wrapper {
    grid-template-columns: repeat(3, 30%);
  }
}

.subscribe-icons {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  background-color: #000000;
  padding: 1rem;
  width: 100%;
}
.subscribe-icons img {
  width: 50%;
}
@media (min-width: 1024px) {
  .subscribe-icons {
    column-gap: 1rem;
  }
  .subscribe-icons img {
    width: 30%;
  }
}

.subscribe-type__wrapper {
  position: relative;
  margin-bottom: 6rem;
}
.subscribe-type__wrapper .description {
  position: absolute;
  width: 80%;
  background-color: rgba(69, 69, 69, 0.5);
}
@media (min-width: 1440px) {
  .subscribe-type__wrapper .description {
    width: 55%;
  }
}
.subscribe-type__wrapper .description a:hover {
  text-decoration: none;
  color: #ffffff;
}
.subscribe-type__wrapper .description__prepaid, .subscribe-type__wrapper .description__pay-as-you-go {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
@media (min-width: 1024px) {
  .subscribe-type__wrapper .description__prepaid {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .subscribe-type__wrapper .description__pay-as-you-go {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .subscribe-type__container {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .button-view-plans {
    width: 50%;
  }
  .button-view-plans--left {
    margin: 0 auto 0 0;
  }
  .button-view-plans--right {
    margin: 0 0 0 auto;
  }
}

.subscription-perks__wrapper {
  display: grid;
  row-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .subscription-perks__wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
  }
}
.subscription-perks__item {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  column-gap: 5%;
}
.subscription-perks__item img {
  width: 100%;
}
@media (min-width: 1024px) {
  .subscription-perks__item {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    justify-items: center;
    align-content: baseline;
  }
  .subscription-perks__item p {
    text-align: center;
  }
  .subscription-perks__item img {
    width: 75%;
    margin: auto;
  }
}

.fb-banner__wrapper {
  padding: 1rem;
}
@media (min-width: 1024px) {
  .fb-banner__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 8.5rem;
  }
}

.fb-banner__caption {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.fb-banner__caption .button {
  margin: auto;
}
@media (min-width: 1024px) {
  .fb-banner__caption {
    text-align: left;
    justify-content: center;
  }
  .fb-banner__caption .button {
    margin: 0;
  }
}

.fb-banner__header {
  display: grid;
  row-gap: 0.5rem;
}
.fb-banner__header .button {
  margin: auto;
}
@media (min-width: 1024px) {
  .fb-banner__header {
    margin-bottom: 2rem;
  }
  .fb-banner__header .button {
    margin: 0;
  }
}

.our-beverages__wrapper .slick-slide {
  margin: 0 20px;
}
.our-beverages__wrapper img {
  margin-bottom: 1rem;
}
.our-beverages__wrapper .slick-prev::before, .our-beverages__wrapper .slick-next::before {
  content: none;
}
.our-beverages__wrapper .slick-prev {
  width: 40px;
  height: 40px;
  left: 0;
  z-index: 1;
}
.our-beverages__wrapper .slick-next {
  width: 40px;
  height: 40px;
  right: 0;
  z-index: 1;
}

@media (min-width: 1024px) {
  .collection__container {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 20% 80%;
  }
}

.filter-featured__container {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  margin: 0 1rem 3rem;
}
@media (min-width: 1024px) {
  .filter-featured__container {
    grid-template-columns: 1fr 30%;
    align-items: baseline;
    margin: 0 0 1.5rem;
  }
}
.filter-featured__container .text-besides-icon {
  justify-content: center;
}
.filter-featured__container .filter__container, .filter-featured__container .featured__container {
  border: 1px solid #ffffff;
}

.filter__wrapper {
  display: grid;
  grid-template-columns: 25px max-content;
  align-items: center;
  justify-content: center;
  column-gap: 3%;
  border: 1px solid #ffffff;
  padding: 0.5rem 0;
}

.collection-product__container {
  margin: 0 1rem 3rem;
}
@media (min-width: 1024px) {
  .collection-product__container {
    margin: 0 0 3rem;
  }
}
.collection-product__quantity {
  text-align: center;
  margin-bottom: 1em;
}
@media (min-width: 1024px) {
  .collection-product__quantity {
    text-align: left;
  }
}
.collection-product__wrapper .product-card {
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .collection-product__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
  }
}

@media (min-width: 1024px) {
  .product-detail__container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 3rem;
  }
}
@media (min-width: 1440px) {
  .product-detail__container {
    margin: 0 8.5rem;
  }
}
.product-detail__carousel {
  margin-bottom: 6rem;
}
.product-detail__carousel img {
  width: 100%;
  margin-right: 1rem;
}
@media (min-width: 1024px) {
  .product-detail__left {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-column-gap: 2rem;
    height: max-content;
    position: sticky;
    top: 0;
  }
}
.product-detail__name-price {
  text-align: center;
}
@media (min-width: 1024px) {
  .product-detail__name-price {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .product-detail__description {
    margin: 0 0 3rem;
  }
}
.product-detail__choose-quantity--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  row-gap: 1rem;
}
.product-detail__choose-quantity--wrapper label {
  display: grid;
  grid-row-gap: 3rem;
  padding: 2rem 0;
  border: 1.5px solid #ffffff;
}
.product-detail__choose-quantity--wrapper input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.product-detail__choose-quantity--wrapper input[type=radio]:checked + label {
  box-shadow: 0px 0px 0px 3px #ffffff;
}
.product-detail__benefits--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 0 3rem;
}
.product-detail__benefits--container .benefits__wrapper {
  display: grid;
  grid-template-rows: 2fr 1.5fr;
  justify-items: center;
  box-shadow: 0px 0px 0px 1px #ffffff;
}
.product-detail__benefits--container .benefits__wrapper img {
  width: 70%;
}
.product-detail__benefits--container .benefits__wrapper .image-border {
  box-shadow: 0px 0px 0px 1px #ffffff;
}
.product-detail__additional-product {
  display: grid;
  grid-template-columns: repeat(4, 70%);
  overflow-y: auto;
  grid-column-gap: 1rem;
}
@media (min-width: 1024px) {
  .product-detail__additional-product {
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
    grid-column-gap: 1rem;
  }
}
.product-detail__share {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  justify-items: center;
}

.product-description__wrapper p span {
  color: #ffffff !important;
}

.gallery-cell {
  box-sizing: border-box;
  margin-right: 10px;
}

@media (min-width: 1024px) {
  .thumbnail-small__wrapper {
    display: grid;
    align-content: start;
    row-gap: 1rem;
    width: 3.85rem;
  }
  .thumbnail-small__wrapper label {
    position: relative;
    padding: 0;
  }
  .thumbnail-small__wrapper input {
    position: absolute;
    opacity: 0;
  }
  .thumbnail-small__wrapper input:checked + img {
    outline: 3px solid #ffffff;
  }

  .thumbnail-big__wrapper {
    margin-right: 2rem;
  }
}
@media (min-width: 1440px) {
  .thumbnail-small__wrapper {
    width: 5rem;
  }
}
.stockists-search__wrapper input {
  margin-bottom: 1rem;
}
.stockists-search__wrapper .button {
  width: 100%;
  margin: auto;
}
@media (min-width: 1024px) {
  .stockists-search__wrapper {
    display: flex;
  }
  .stockists-search__wrapper input {
    margin: 0;
  }
  .stockists-search__wrapper .button {
    width: revert;
    margin: auto;
  }
}
.stockists__wrapper {
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .stockists__wrapper {
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
  }
}
.stockists__map {
  order: 1;
  width: 100%;
  height: 500px;
}
@media (min-width: 1024px) {
  .stockists__map {
    order: 2;
    height: 100%;
  }
}
.stockists-list__wrapper {
  order: 2;
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .stockists-list__wrapper {
    order: 1;
    max-height: 38.5vw;
    overflow-y: scroll;
  }
}
@media (min-width: 1440px) {
  .stockists-list__wrapper {
    max-height: 42.5vw;
    overflow-y: scroll;
  }
}
.stockists-card {
  border: 1px solid #ffffff;
  padding: 2rem;
  margin-bottom: 1rem;
}

.blogs__wrapper {
  display: grid;
  row-gap: 2rem;
}
@media (min-width: 1024px) {
  .blogs__wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.blogs-card__wrapper {
  display: grid;
  row-gap: 1rem;
}

.blogs-card__title {
  font-weight: 500;
}
@media (min-width: 1024px) {
  .blogs-card__title {
    min-height: 8rem;
  }
}
@media (min-width: 1440px) {
  .blogs-card__title {
    min-height: 4rem;
  }
}

.blogs-card__category:hover {
  text-decoration: underline;
}

.blogs-sosmed-share__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}
@media (min-width: 1024px) {
  .blogs-sosmed-share__wrapper {
    grid-template-columns: repeat(3, max-content);
  }
}

.blogs-detail-content__wrapper {
  display: grid;
  row-gap: 1rem;
  padding: 3rem 0 4rem;
}

@media (min-width: 1024px) {
  .blogs-detail__button {
    width: 50%;
    margin: auto;
  }
}
@media (min-width: 1440px) {
  .blogs-detail__button {
    width: 35%;
  }
}

.refer-a-friend__wrapper {
  margin: 0 -5%;
  padding: 50px 5%;
}
@media (min-width: 1024px) {
  .refer-a-friend__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    align-content: center;
    background-image: var(--background-image);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 640px;
  }
}

.refer-a-friend__content {
  display: grid;
  row-gap: 1rem;
}

.referral-steps__wrapper {
  display: grid;
  row-gap: 2rem;
}
.referral-steps__wrapper p {
  text-align: center;
}
@media (min-width: 1024px) {
  .referral-steps__wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    align-items: flex-start;
  }
}

.referral-content__wrapper {
  display: grid;
  row-gap: 1rem;
}

.referral-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #ffffff;
  font-size: 2rem;
}

.referral-steps__wrapper, .referral-tnc__wrapper {
  margin-bottom: 4rem;
}

@media (min-width: 1024px) {
  .referral-button {
    width: 50%;
  }
}

.checkout__container {
  display: grid;
}
.checkout__wrapper {
  order: 2;
}
.checkout__title {
  padding: 3rem 0 2rem;
}
.checkout-steps__header {
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr min-content;
  column-gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.checkout-steps__header hr {
  width: 100%;
  border: 1px solid #ffffff;
}
@media (min-width: 1024px) {
  .checkout__container {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 72% 25%;
    justify-content: space-between;
  }
  .checkout__wrapper {
    order: 1;
  }
  .checkout-steps__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    padding-top: 1rem;
    padding-bottom: 0;
    border-bottom: 1px solid #ffffff;
  }
  .checkout__title {
    display: flex;
    justify-content: space-between;
  }
}
.checkout-address__container {
  display: grid;
}
.checkout-address__container .address__wrapper {
  display: grid;
  align-items: center;
  padding: 2rem 1rem;
  border: 1px solid #ffffff;
}
.checkout-address__container .address-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.checkout-address__wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px, 1fr);
  overflow-x: auto;
}
@media (min-width: 1024px) {
  .checkout-address__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-columns: minmax(300px, 1fr);
  }
}

.order-summary__container {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  order: 1;
}
@media (min-width: 1024px) {
  .order-summary__container {
    order: 2;
  }
}

.order-summary__wrapper {
  background-color: #26231E;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .order-summary__wrapper {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .order-summary__header {
    padding-bottom: 0.5rem;
    align-items: center;
  }
  .order-summary__header p {
    font-size: 1rem;
  }
}
.order-summary__header-mobile {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}
.order-summary__steps {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.75rem;
  font-weight: 500;
  background-color: #9F8561;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .order-summary__steps {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
  }
}
.order-summary__steps-mobile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  font-size: 0.75rem;
  background-color: #9F8561;
}
.order-summary__steps-mobile:nth-child(2) {
  font-size: 0.75rem;
}

.steps-current {
  position: relative;
}
.steps-current::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #ffffff;
  bottom: -1px;
}

.steps-ghost {
  background-color: #bdbdbd;
}

.summary__voucher {
  border-bottom: 1px solid #ffffff;
  padding: 1rem 0rem;
  border-top: 1px solid #ffffff;
}
.summary__subtotal {
  padding: 1rem 0rem;
}
.summary__trust {
  grid-template-columns: repeat(3, 30%);
}

.grid-button__wrapper {
  display: grid;
}
@media (min-width: 1024px) {
  .grid-button__wrapper {
    grid-template-columns: repeat(2, minmax(30%, 50%));
    grid-column-gap: 2rem;
    justify-content: space-between;
  }
}

.checkout-content__wrapper {
  padding: 2rem 1rem 0;
}
.checkout-content__wrapper input, .checkout-content__wrapper select, .checkout-content__wrapper option {
  background-color: #ffffff;
  color: #000000;
}

.checkout-button__wrapper {
  display: grid;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .checkout-button__wrapper {
    grid-template-columns: max-content max-content;
    column-gap: 3%;
  }
}

.shipping-type__container {
  display: grid;
  grid-row-gap: 1rem;
}
@media (min-width: 1024px) {
  .shipping-type__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    grid-column-gap: 2rem;
  }
}
.shipping-type__wrapper {
  box-sizing: border-box;
  padding: 2rem 1rem;
  border: 1px solid #ffffff;
}
.shipping-type__wrapper .custom-radio__wrapper {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 3rem;
}
.shipping-type__wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #111111;
  border: 3px solid #9F8561;
}
.shipping-type__wrapper input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.shipping-type__wrapper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.shipping-type__wrapper .custom-radio__wrapper input:checked ~ .checkmark:after {
  display: block;
}
.shipping-type__wrapper .custom-radio__wrapper .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #9F8561;
}

.checkout-payment__wrapper {
  grid-template-columns: 30% 30% 30%;
}
.checkout-payment__wrapper label {
  padding: 1.5rem 0;
  border: 1.5px solid #ffffff;
  text-align: center;
}
.checkout-payment__wrapper input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.checkout-payment__wrapper input[type=radio]:checked + label {
  box-shadow: 0px 0px 0px 3px #ffffff;
}

.name__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  align-items: baseline;
}

@media (min-width: 1024px) {
  .credit-card {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.half-name__wrapper {
  grid-template-columns: repeat(2, 45%);
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .half-name__wrapper {
    grid-template-columns: repeat(2, 21.5%);
    grid-column-gap: 2rem;
    justify-content: revert;
  }
}
@media (min-width: 1440px) {
  .half-name__wrapper {
    grid-template-columns: repeat(2, 22.5%);
  }
}

.shipping-subscribe__wrapper {
  grid-row-gap: 1rem;
}
@media (min-width: 1024px) {
  .shipping-subscribe__wrapper {
    grid-template-columns: repeat(3, 30%);
  }
}
.shipping-subscribe__wrapper .d-grid {
  grid-template-columns: 1fr 3fr;
  align-items: center;
  grid-gap: 1rem;
  border: 1px solid #ffffff;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .input-password-width {
    width: 30% !important;
    margin: 0 !important;
  }
}

.js-accordion-title {
  display: block;
  /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8295099/ */
  pointer-events: none;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.js-accordion-panel[hidden] {
  display: none;
}

@media (min-width: 1024px) {
  .nav-multi-col {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .nav-multi-col__column {
    flex: 1;
  }
}
.nav-multi-col__trigger {
  background: none;
  border: 0;
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  cursor: pointer;
}

.nav-multi-col__trigger:focus-visible {
  outline: 1px solid transparent !important;
}

.nav-multi-col__heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-multi-col__heading::after {
  content: "";
  background: var(--accordion-image) no-repeat;
  background-size: 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .input-sm-2-lg-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: baseline;
  }
}

.user-dashboard {
  min-height: 100vh;
}
.user-dashboard__container {
  margin-top: 3rem;
}
@media (min-width: 1024px) {
  .user-dashboard__container {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-column-gap: 1rem;
    margin: 3rem 2rem 0;
  }
}
.user-dashboard__left {
  min-height: 100vh;
}
.user-dashboard__left .consumer-header__wrapper .consumer-email {
  background-color: #9F8561;
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 3rem;
  word-break: break-word;
}
@media (min-width: 1024px) {
  .user-dashboard__left .consumer-header__wrapper .consumer-email {
    font-size: 0.875rem;
  }
}
@media (min-width: 1440px) {
  .user-dashboard__left .consumer-header__wrapper .consumer-email {
    font-size: initial;
  }
}
.user-dashboard__left .consumer-header__nickname, .user-dashboard__left .consumer-header .edit-profile__nickname {
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
  line-height: 100px;
  background-color: #2A6043;
  border-radius: 50%;
}
.user-dashboard__left .consumer-sidenav__wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1rem;
  padding: 0 1rem;
}
.user-dashboard__right {
  margin: 0 1rem;
}
@media (min-width: 1024px) {
  .user-dashboard__right {
    margin: 0;
  }
}

.my-account__item {
  display: grid;
  grid-template-columns: 48px 1fr max-content;
  column-gap: 5%;
  align-items: flex-start;
  background: #000000;
  padding: 1rem 5%;
}
@media (min-width: 1024px) {
  .my-account__item {
    column-gap: 3%;
    padding: 1rem 3%;
  }
}

.payment-status__wrapper {
  height: 75vh;
  width: 80%;
}
.payment-status__wrapper a:hover {
  color: #ffffff;
}
@media (min-width: 1024px) {
  .payment-status__wrapper {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  .payment-status__wrapper {
    width: 25%;
  }
}

.transaction-history__container {
  display: grid;
}
@media (min-width: 1024px) {
  .transaction-history__container {
    grid-template-columns: 70% 28%;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    min-height: 100vh;
  }
  .transaction-history__container .dashboard__title {
    margin-bottom: 3rem;
  }
}

.transaction-history__body {
  order: 2;
}
@media (min-width: 1024px) {
  .transaction-history__body {
    order: 1;
  }
}

.transaction-history__wrapper {
  margin-bottom: 3rem;
  overflow-x: scroll;
}
@media (min-width: 1024px) {
  .transaction-history__wrapper {
    overflow-x: hidden;
  }
}
.transaction-history__wrapper label {
  position: relative;
}
.transaction-history__wrapper input[type=radio] {
  position: absolute;
  opacity: 0;
}
.transaction-history__wrapper input[type=radio]:checked + label p {
  background: #26231E;
}
.transaction-history__wrapper .long-font__item {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.transaction-history__content {
  display: grid;
  grid-template-columns: repeat(5, 30%);
  padding: 0;
}
.transaction-history__content P {
  padding: 1rem 5%;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 1024px) {
  .transaction-history__content {
    grid-template-columns: repeat(5, 1fr);
  }
}

.transaction-history__pagination {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  align-items: center;
}
.transaction-history__pagination .pagination-number {
  display: flex;
  justify-content: center;
}
.transaction-history__pagination .pagination-number p {
  padding: 0.5rem 1rem;
}
.transaction-history__pagination .pagination-number p:active {
  background-color: #9F8561;
}

.transaction-history__item-detail {
  background-color: #26231E;
  box-sizing: border-box;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .transaction-history__item-detail {
    order: 2;
  }
}

.history-time-and-date {
  margin-bottom: 3rem;
}

.history-subscription-detail__wrapper .item-list {
  display: grid;
  grid-template-columns: 5% auto;
  grid-column-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.product-summary__wrapper {
  display: grid;
  grid-template-columns: 20% auto;
  grid-column-gap: 1rem;
  margin-bottom: 2rem;
}
.product-summary__wrapper .product-summary__image img {
  width: 100%;
}
.product-summary__wrapper .product-summary__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-summary__wrapper .product-summary__description > .label-default:first-child {
  margin-bottom: 0.5rem;
}
.product-summary__wrapper .product-summary__qty-and-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.transaction-calendar-and-search__wrapper {
  box-sizing: border-box;
  order: 1;
}
@media (min-width: 1024px) {
  .transaction-calendar-and-search__wrapper {
    order: 2;
  }
}

.history-search__wrapper {
  display: grid;
  grid-template-columns: 1fr 15%;
}
.history-search__wrapper img {
  width: 50%;
}
.history-search__wrapper input {
  margin: 0;
}

.history-filter__wrapper {
  background-color: #26231E;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
}

.history-filter__container {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  min-height: 100vh;
}
.history-filter__container p {
  grid-column: 1/3;
}
@media (min-width: 1024px) {
  .history-filter__container {
    display: block;
  }
}

#datetimepicker13 .datepicker {
  background-color: #111111;
  color: #bdbdbd;
  border: 1px solid #ffffff;
  padding: 1rem;
}
@media (min-width: 1024px) {
  #datetimepicker13 .datepicker {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  #datetimepicker13 .datepicker {
    padding: 1rem;
  }
}
#datetimepicker13 .datepicker .today {
  background: #9F8561;
  border-radius: 0;
  color: #ffffff;
}
#datetimepicker13 .datepicker .today::before {
  display: none !important;
}
#datetimepicker13 .datepicker .table {
  color: #bdbdbd;
}
#datetimepicker13 .datepicker .table thead th {
  border-bottom: none;
}
#datetimepicker13 .datepicker .table thead tr:first-child th {
  padding-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
#datetimepicker13 .datepicker .table td, #datetimepicker13 .datepicker .table th {
  border-top: none;
}
#datetimepicker13 .datepicker .table td.day:hover:not(.today) {
  background: transparent !important;
  cursor: pointer;
}
#datetimepicker13 .datepicker table thead tr:first-child th:hover {
  background: #26231E !important;
  border-radius: none;
}
#datetimepicker13 .datepicker table thead tr:first-child th:first-child span::after {
  content: "<";
}
#datetimepicker13 .datepicker table thead tr:first-child th:nth-child(3) span::after {
  content: ">";
}
#datetimepicker13 .datepicker table thead tr:nth-child(2) th {
  padding-top: 1rem;
}
#datetimepicker13 .datepicker table td span:hover {
  background: #26231E !important;
  border-radius: none;
}
#datetimepicker13 .datepicker table th, #datetimepicker13 .datepicker table td.day {
  height: 30px;
  line-height: 30px;
  width: 30px;
}

table td.day {
  padding: 5px;
}

/*# sourceMappingURL=main.css.map */
