#preloader {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #006b80;z-index: 999999;}
#status {width: 200px;height: 200px;position: absolute;left: 50%;top: 50%; background-repeat: no-repeat;background-position: center;margin: -100px 0 0 -100px;}
.font-robo {font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;}
:root {
	--color-theme: #006b80;
	--color-theme-2: #288192;
	--color-light: #F8F8F8;
}
.text-theme{ color: var(--color-theme) !important;}
.btn-sm{ font-size: 12px !important; padding: 4px 10px 2px 10px; }
.badge-sm { min-width: 1.8em; padding: .25em !important; margin-left: .1em; margin-right: .1em;}

.wrapper{ min-height:100vh; }
header{ background: #F8F8F8; color: var(--color-theme); text-align: center; padding: 14px 6px; box-shadow: 2px 2px 9px 0px rgba(32, 48, 51, 0.17);}
header a i{ font-size: 16px; padding-top: 7px;}

.navbar{ padding: 0;}
.navbar a{ border: 0px solid yellow; margin: 0;}
.navbar-toggler{ padding: 0;}
.navbar .cart-count[data-count]:after{ content: attr(data-count); position: absolute; background: var(--color-theme-2); color: #fff; padding: 1px 1px 0px 0px; min-width: 24px; min-height: 24px; text-align: center; font-size: 12px; border-radius: 20%; right: 12px; top: -5px; border: 2px solid #fff;}
.navbar .cart-count-d[data-count]:after{ content: attr(data-count); position: absolute; background: var(--color-theme-2); color: #fff; padding: 1px 1px 0px 0px; min-width: 24px; min-height: 24px; text-align: center; font-size: 12px; border-radius: 20%; right: -4px; top: -5px; border: 2px solid #fff;}

a.btn-expand-cart{ background: #fff; padding: 10px 20px; border: 1px solid #acacac; border-radius: 3px; }
a.btn-expand-cart:hover{ background: #ebebeb; border: 1px solid #acacac;}

footer{ background: var(--color-theme) !important; color: var(--color-light); text-align: center; padding: 14px 6px;}
footer li{ margin: 6px 0 6px 35px;}
footer li a{ color: var(--color-light); }
footer li a:hover{ color: var(--color-light); }
footer h6 {border-bottom: 1px dashed var(--color-theme-2) !important;}
footer h6 a[data-toggle="collapse"] i.fas:before { content: "\f107"; }
footer h6 a[data-toggle="collapse"].collapsed i.fas:before { content: "\f106"; }

img.lazy{ width: 100%; display: block;
	background-repeat: no-repeat; background-position: 50% 50%; }

.navbar{ color: var(--color-theme); }
.navbar a{ color: var(--color-theme); }
.dropdown-menu { border: 0; margin: 0; background: #F8F8F8 !important; text-align: center;}
.dropdown-menu .dropdown-item { padding: 10px 15px; line-height: 14px; font-size: 12px;}
a[aria-expanded=true] .fa-plus {display: none; }
a[aria-expanded=false] .fa-times {display: none; }

/* Search Style */
#search { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;
    background-color: rgba(255, 255, 255);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	     -moz-transform: translate(0px, -100%) scale(0, 0);
	      -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
	          transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    display: none;
}
#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
    	  -ms-transform: translate(0px, 0px) scale(1, 1);
	       -o-transform: translate(0px, 0px) scale(1, 1);
	           transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 106;
    display: block;
}
#search input[type="search"] { position: absolute; top: 50%; left: 0; margin-top: -51px; width: 60%; margin-left: 20%; color: var(--color-theme); background: transparent; border-top: 0px solid rgba(255, 255, 255); border-bottom: 1px solid var(--color-theme); border-left: 0px solid transparent; border-right: 0px solid transparent; font-size: 20px; font-weight: 300; text-align: center; outline: none; padding: 10px;}
#search .close{position: fixed; top: 70px; right: 25px; opacity: 1; font-size: 22px; color: var(--color-theme);}

.search-box{ display: flex; }
.search-box input{ width: 100%; padding: 20px 14px; border: 0; font-size: 18px; font-weight: 400px; color: var(--color-theme); flex-grow: 1;}

@media only screen and (min-width: 767px) {
	.nav-item { border: 0px solid red;}
	.nav-item a{ padding: 0;}
	.nav-item .nav-link{ border: 0px solid green; margin: 0 6px;}

	.maxWidth { max-width:1110px; }
	.text-sm-lg{ font-size: 22px; }

	.btn-banner{ background:var(--color-theme); color: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 10px 12px 8px 12px; width: 240px; text-align: center; position: absolute; bottom: 20px; margin: auto; left: 0; right: 0;}
	.btn-banner a{ margin: 0; padding: 0; color: #fff;}

	.counter .minus, .counter .plus{ width:60px; height:40px; background:#f2f2f2; border-radius: 8px; padding: 8px; border:0px solid #ddd; vertical-align: middle; text-align: center; cursor: pointer;}
	.counter .basket-minus, .counter .basket-plus{ width:60px; height:40px; background:#f2f2f2; border-radius: 8px; padding: 8px; border:0px solid #ddd; vertical-align: middle; text-align: center; cursor: pointer;}
	.counter input{ height:30px; width: 40px; text-align: center; border:1px solid #ddd; border-radius:4px; display: inline-block;vertical-align: middle; background: #fff;}

	.product_summary:hover{ border: 1px solid #e7e7e7; }

	.search-box{ margin-top: 40px; }
}
@media only screen and (max-width: 767px) {
	.nav-item { border-bottom: 0px solid #e7e7e7; padding: 5px 0;}
	.navbar-collapse{ margin-top: 20px;}

	.btn-banner{ background:var(--color-theme); color: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 10px 12px 8px 12px; width: 130px; text-align: center; position: absolute; bottom: 10px; margin: auto; left: 0; right: 0;}
	.btn-banner a{ margin: 0; padding: 0; color: #fff;}

	.center-sm{ text-align: center; }
	.counter .minus, .counter .plus{ width:60px; height:40px; background:#f2f2f2; border-radius: 8px; padding: 12px 20px; border:0px solid #ddd; vertical-align: middle; text-align: center; cursor: pointer;}
	.counter .basket-minus, .counter .basket-plus{ width:60px; height:40px; background:#f2f2f2; border-radius: 8px; padding: 12px 20px; border:0px solid #ddd; vertical-align: middle; text-align: center; cursor: pointer;}
	.counter input{ height:38px; width: 80px; text-align: center; border:1px solid #ddd; border-radius:4px; display: inline-block;vertical-align: middle; background: #fff;}
}

.home-banner:hover .btn-banner{ background:var(--color-theme-2) !important; }
.home-banner:hover img{ -webkit-filter: contrast(160%); }

.product_summary{ background: #F8F8F8; }
.product_summary .heart{ cursor: pointer; color: #b5edf8;}
.product_summary .heart.red{ color: red; }
.product_summary .heart-contain{ padding: 7px 0px 0px 0px; width: 30px; height: 30px; background: #ffffff; text-align: center; border-radius: 30px; margin-top: -5px; font-size: 14px;}
.product_summary .heart-contain-sm{ padding: 7px 0px 0px 0px; width: 30px; height: 30px; background: #ffffff; text-align: center; border-radius: 30px; margin-top: -5px; font-size: 14px; position: absolute; right: 25px; top: 14px;}

.product_summary .summary-action{ text-align: center; position: absolute; top: 200px; margin: auto; left: 0; right: 0;}
.product_summary .btn-quick-add{ background:var(--color-theme); color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 10px 12px 8px 12px; width: 180px; text-align: center; }

.product_summary .pick-color .radio{ background-color:#e7e7e7; display:inline-block; width: 16px; height: 16px; cursor:pointer; border-radius: 50%;}
.product_summary .pick-color input[type=radio]{ display:none }
.product_summary .pick-color input[type=radio]:checked + .radio{ border: 2px solid #e1e1e1; }

.breadcrumb {background: transparent !important;}
.breadcrumb .active { color: #959595;}
.breadcrumb li a { text-decoration: underline; }

.detail-item .pick-size .radio{ display:inline-block; cursor:pointer; padding: 8px 12px 4px 12px; font-weight: 600; border: 2px solid var(--color-theme); border-radius: 5px;}
.detail-item .pick-size input[type=radio]{ display:none }
.detail-item .pick-size input[type=radio]:checked + .radio{ background-color:#006b80; color: #fff;}

.detail-item .pick-a-color{ font-size: 16px; padding: 10px 20px; display: block; border: 2px solid var(--color-theme); text-align: center; margin: 5px 0; color: var(--color-theme); border-radius: 5px;}
.detail-item .pick-color .radio{ background-color:#e7e7e7; display:inline-block; width: 25px; height: 25px; cursor:pointer; border-radius: 50%;}
.detail-item .pick-color input[type=radio]{ display:none }
.detail-item .pick-color input[type=radio]:checked + .radio{ border: 2px solid #e1e1e1; }

.detail-item .btn-heart .red{ color: red;}

.pick-color-big .radio{ background-color:#e7e7e7; display:inline-block; width: 60px; height: 60px; cursor:pointer; border-radius: 50%;  box-shadow: -1px 1px 6px 2px rgba(168,152,152,0.75); -webkit-box-shadow: -1px 1px 6px 2px rgba(168,152,152,0.75); -moz-box-shadow: -1px 1px 6px 2px rgba(168,152,152,0.75);}
.pick-color-big input[type=radio]{ display:none }
.pick-color-big input[type=radio]:checked + .radio{ border: 3px solid #fff; }

.modal-carts li{ transition: all 0.3s ease; }
.modal-carts li:hover{ padding-left: 4px; }

/* thumbs */
.thumbs img{ cursor: pointer; border: 1px solid #808080;}
.zoom{ cursor: crosshair; }

.modal-content{ border: 3px solid #fff;}

/* modal color variant sm */
.modal.full .modal-dialog { position: fixed; margin: auto; width: 100%; max-width: 100%; height: 100%; background: #fff; }
.modal.full .modal-content .modal-header {border: none;}
.modal.full .modal-content { height: 100%; overflow-y: auto; }
.modal.full .close-modal { position: fixed; top: 0; right: 3rem; color: var(--color-theme);}

/* modal cart */
.modal.left .modal-dialog, .modal.right .modal-dialog { position: fixed; margin: auto; width: 320px; height: 100%; -webkit-transform: translate3d(0%, 0, 0); -ms-transform: translate3d(0%, 0, 0); -o-transform: translate3d(0%, 0, 0); transform: translate3d(0%, 0, 0);}
.modal.left .modal-content, .modal.right .modal-content { height: 100%;overflow-y: auto;}
.modal.left .modal-body, .modal.right .modal-body { padding: 15px 15px 80px;}
.modal-backdrop{ background-color: #000; }
.modal-backdrop.in {filter: alpha(opacity=10); opacity: .1;}

/*Left*/
.modal.left.fade .modal-dialog{ left: 0px; -webkit-transition: opacity 0.3s linear, left 0.3s ease-out; -moz-transition: opacity 0.3s linear, left 0.3s ease-out; -o-transition: opacity 0.3s linear, left 0.3s ease-out; transition: opacity 0.3s linear, left 0.3s ease-out; }
.modal.left.fade.in .modal-dialog{ left: 0;}
/*Right*/
.modal.right.fade .modal-dialog { right: 0px; -webkit-transition: opacity 0.3s linear, right 0.3s ease-out; -moz-transition: opacity 0.3s linear, right 0.3s ease-out; -o-transition: opacity 0.3s linear, right 0.3s ease-out; transition: opacity 0.3s linear, right 0.3s ease-out;}
.modal.right.fade.in .modal-dialog { right: 0; }
.modal.left .modal-content, .modal.right .modal-content{ border-radius: 0;border: none; }
.modal.left .modal-header, .modal.right .modal-header {border-bottom-color: #EEEEEE; background-color: #FAFAFA;}

/* forms */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
/* Firefox */
input[type=number] { -moz-appearance: textfield;}

/*  custom pills */
.nav-pills.custom-pills { border-bottom: 1px solid #f1f1f1; }
.nav-pills.custom-pills .nav-link { border-radius: 0; opacity: .7; font-size: 14px; padding: 12px 12px; }
.nav-pills.custom-pills .nav-link.active { color: #ed6723; opacity: 1; background-color: transparent; border-bottom: 2px solid #ed6723; }
.nav-pills.custom-pills .badge{ font-size: 10px; padding: 4px; float: right; margin-left: 4px; margin-top: -4px;}

.tab-content .tab-pane {padding: 10px 0px; border: 0px solid red; margin: 8px 0px;}
.tab-content .tab-pane {padding: 10px 0px; border: 0px solid red; margin: 8px 0px;}

/* Courier selction */
.courier-selection { display : block; }
.courier-selection > input{ visibility: hidden; position: absolute;}
.courier-selection > input + div{ cursor:pointer; background-color: #fafaff; padding: 10px 20px;  border-radius: 6px;}
.courier-selection > input + div:hover{ cursor:pointer; }
.courier-selection > input:checked + div{ background-color: transparent !important; border: 1px solid var(--color-theme-2);}

/* truncate long text */
.dot{ width: 180px; padding: 0; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;}
.dot:hover{ overflow: visible; white-space: normal; }

/* timeline */
ul.timeline { list-style-type: none; position: relative;}
ul.timeline:before { content: ' '; background: #d4d9df; display: inline-block; position: absolute; left: 29px; width: 2px; height: 100%; z-index: 400; }
ul.timeline > li { margin: 20px 0; padding-left: 20px; }
ul.timeline > li:before { content: ' '; background: white; display: inline-block; position: absolute; border-radius: 50%; border: 3px solid #888; left: 20px; width: 20px; height: 20px; z-index: 400; }
ul.timeline > li.success:before { border: 3px solid #888; background: var(--color-theme) !important;}
ul.timeline > li.start:before { border: 3px solid #888; background: var(--color-theme) !important;}
ul.timeline > li.otw:before { border: 3px solid #888; background: var(--color-light) !important;}
