{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="{% block html_class %}no-js{% endblock %}">
    <head>
        <title>{% block title %}{{ shop_name }}{% if shop_tagline %} - {{ shop_tagline }}{% endif %}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

        <meta name="theme-color" content="#ffffff" />
        <link rel="apple-touch-icon" href="{% static 'images/favicon/logo192.png' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon/logo192.png' %}" type="image/png"/>
        <meta property="og:title" itemprop="image" content="Bootstrap Beverages">
        <meta property="og:url" itemprop="image" content="https://bootstrapbeverages.com">
        <meta property="og:image" itemprop="image" content="{% static 'images/favicon/logo192.png' %}">
        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "oscar/partials/google_analytics.html" %}
        {% endblock %}

        {% block favicon %}
        <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}" />
        {% endblock %}

        {# Block where global CSS will go. #}
        {% block styles %}{% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>

    <div id="WAButton" style="z-index: 999"></div>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
        {#  Google Tag Manager noscript  #}
        {% include "oscar/partials/google_analytics_body.html" %}
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock %}

        {# Local scripts #}
        <script type="text/javascript" src="{% static 'js/layout.js' %}"></script>

        {% block scripts %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}{% endblock %}

        {# Block for body onload functions #}
        <script>
            $(function() {
                {% block onbodyload %}{% endblock %}
            });
        </script>
        {# Page meta-data - this is populated by the 'metadata' template context processor #}
        <div class="loading-modal"><!-- Place at bottom of page --></div>
    </body>
</html>
