{% extends "oscar/base.html" %}
{% load static %}

{% block styles %}
    {% if use_less %}
        <!--link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" /-->
    {% else %}
        <!--link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" /-->
    {% endif %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="{% static 'css/fontawesome.min.css' %}" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="{% static 'css/floating-wpp.min.css' %}" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha512-iQQV+nXtBlmS3XiDrtmL+9/Z+ibux+YuowJjI4rcpO7NYgTzfTOiFNm09kWtfZzEB9fQ6TwOVc8lFVWooFuD/w=="
          crossorigin="anonymous" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
          integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ=="
          crossorigin="anonymous" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.3/pretty-checkbox.min.css"
          integrity="sha512-kz4Ae66pquz4nVE5ytJyKfPDkQyHSggaDtT1v8oLfOd8bB+ZgZXNLaxex99MNu4fdCsWmi58mhLtfGk5RgfcOw=="
          crossorigin="anonymous" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
          integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
          crossorigin="anonymous" />

    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="{% static 'css/basic.min.css' %}" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="{% static 'css/jquery.dialog.min.css' %}" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="{% static 'css/layout.min.css' %}" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="{% static 'css/slick.min.css' %}" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="{% static 'css/style.min.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" as="style" onload="this.rel='stylesheet'" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap">
  <style>
    #status {
      background-image: url({% static "images/logo-alowalo-light.png" %});
    }

    img.lazy {
      background-image: url({% static "images/img-load.png" %});
    }
  </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw=="
            crossorigin="anonymous"></script>

    <script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}

    <div id="preloader"><div id="status">&nbsp;</div></div>
    {% include "oscar/partials/nav_accounts.html" %}
    {% include "oscar/partials/modal/cart.html" %}
    {% include "oscar/partials/modal/search.html" %}
    {% include 'oscar/partials/modal/login.html' with next=request.get_full_path %}
    {% include 'oscar/partials/modal/signup.html' with next=request.get_full_path %}
    {% include 'oscar/partials/modal/password_reset.html' with next=request.get_full_path %}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}

      <div class="wrapper flex-grow-1">
        <div class="container-fluid p-0 maxWidth">
          <div class="page_inner">
            {% block breadcrumbs %}{% endblock %}
            {% block header %}
              <div class="page-header action">
                <h1>{% block headertext %}{% endblock %}</h1>
              </div>
            {% endblock %}
            {% include "oscar/partials/alert_messages.html" %}
            {% block subnavigation %}{% endblock %}
            <div class="content">
              {% block subheader %}{% endblock subheader %}

              {# Div exists for AJAX updates to entire content section #}
              <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% include "oscar/partials/footer.html" %}
{% endblock %}

{% block cdn_scripts %}

  <script rel="preload"
          src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
          integrity="sha512-U85Jq47KunKegjv6gVMAnQwtQjovdXz/DQOvQoxrD6j3aGfDDbp5AAJuOdnQx1sefM90D9KBKSQkZGR5hrLbtg=="
          crossorigin="anonymous"></script>
  <script rel="preload"
          type="text/javascript" src="{% static 'js/jquery.dialog.min.js' %}"></script>
  <script rel="preload"
          src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
          integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
          crossorigin="anonymous"></script>
  <script rel="preload"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
          integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
          crossorigin="anonymous"></script>

  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
  {{ block.super }}
  <!-- Twitter Bootstrap -->
  <script rel="preload" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
  <script rel="preload" src="{% static "js/floating-wpp.min.js" %}"></script>
  <!-- Oscar -->
  <script rel="preload" src="{% static "oscar/js/oscar/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}
  <script rel="preload" type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
  <script rel="preload" src="{% static 'js/jquery.lazy.min.js' %}"></script>
  <script rel="preload" type="text/javascript" src="{% static 'js/loader.min.js' %}"></script>
  <script rel="preload" type="text/javascript" src="{% static 'js/jquery.zoom.min.js' %}"></script>
  <script rel="preload" src="{% static 'js/extra-script.min.js' %}"></script>
  <script src="{% static 'js/footer.js' %}"></script>
  <script>
      //WA button
    $('#WAButton').floatingWhatsApp({
        phone: '6287804103410', //WhatsApp Business phone number International format-
        headerTitle: 'Chat with us on WhatsApp!', //Popup Title
        popupMessage: 'Welcome to Alowalo, how can we help you?', //Popup Message
        showPopup: true, //Enables popup display
        position: "right",
        backgroundColor: 'white',
    });
</script>
  {{ block.super }}
{% endblock %}

{% block onbodyload %}
  {{ block.super }}

  oscar.init();
{% endblock %}
