{% load static %}
{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}
{% load custom_tags %}

<div class="order-summary__wrapper">
  {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
  <div class="mobile-only">
    <div class="accordion">
      <div class="accordion-header d-flex justify-content-between align-items-center cursor-pointer mb-2 active">
        <div class="d-flex">
          <p>ORDER SUMMARY</p>
          <img src="{% static 'images/boot/icons/down.svg' %}" alt="down" class="ml-2"/>
        </div>
        <p>{{ order_total.excl_tax|currency:basket.currency }}</p>
      </div>
      <div class="accordion__content accordion__content--nav font-primary px-0">
        {% for line in basket.lines.all %}
          <div class="product-summary__wrapper"
            {% if line.is_subscription %}style="display: block;"{% endif %}>
            {% if line.is_subscription %}
              <div class="product-summary__image">
                <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" alt="strong-cold-brew-1"/>
              </div>
            {% else %}
              <div class="product-summary__image">
                <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" alt="strong-cold-brew-1"/>
              </div>
            {% endif %}
            <div class="product-summary__description">
              {% if line.is_subscription %}
                <h3 class="text-semibold">Subscription</h3>
              {% else %}
                <p><a href="#" class="text-semibold">
                  {% if line.product.is_child %}{{ line.product.parent.get_title }} ({{ line.product.get_title }}){% else %}{{ line.product.get_title }}{% endif %}</a></p>
              {% endif %}
              <p class="label-default">{{ line.product.description|safe }}</p>
              <div class="product-summary__qty-and-price">
                <p class="label-default">Qty: {{ line.quantity }}</p>
                <p
                  class="label-default text-end text-bold">{{ line.line_price_excl_tax|currency:basket.currency }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        <hr class="border-bottom-1 border-white">
        <div class="mb-3">
          <p class="label-bold mb-3">Have a Promo Voucher?</p>
          <div class="d-flex">
            <input type="text" placeholder="enter promo" id="mvoucher" name="code">
            <button class="button button--primary" onclick="submitmobileVoucher()">
              APPLY
            </button>
          </div>
        </div>
        <hr class="border-bottom-1 border-white">

        <div class="summary__subtotal">
          <div class="d-flex justify-content-between">
            <p>Sub-total</p>
            <p class="body-semibold text-end">
              {% if offer_discounts or voucher_discounts %}
                {% if basket.is_tax_known and not show_tax_separately %}
                  {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                {% else %}
                  {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                {% endif %}
              {% else %}
                {% if not show_tax_separately and basket.is_tax_known %}
                  {{ basket.total_incl_tax|currency:basket.currency }}
                {% else %}
                  {{ basket.total_excl_tax|currency:basket.currency }}
                {% endif %}
              {% endif %}
            </p>
          </div>
          {% comment %}Coupons{% endcomment %}
          {% if offer_discounts %}
            {% for discount in offer_discounts %}
              <div class="d-flex justify-content-between">
                <p>{{ discount.name }}</p>
                <p class="body-semibold text-end">-{{ discount.discount|currency:basket.currency }}</p>
              </div>
            {% endfor %}
          {% endif %}

          {% if voucher_discounts %}
            {% for discount in voucher_discounts %}
              <div class="d-flex justify-content-between">
                <p>
                  {{ discount.voucher.name }} ({{ discount.voucher.code }})
                  <form action="javascript:" method="POST">
                    {% csrf_token %}
                    <button onclick="removeVoucher('{{ discount.voucher.id }}')" class="btn btn-sm btn-danger">{% trans 'Remove' %}</button>
                  </form>
                </p>
                <p class="body-semibold text-end">-{{ discount.discount|currency:basket.currency }}</p>
              </div>
            {% endfor %}
          {% endif %}

          {% comment %}this is for shipping discount{% endcomment %}
          {% if not shipping_method.is_discounted %}
            <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
              <p>{{ shipping_method.name }}</p>
              <p class="body-semibold text-end">
                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                  {{ shipping_charge.incl_tax|currency:basket.currency }}
                {% else %}
                  {{ shipping_charge.excl_tax|currency:basket.currency }}
                {% endif %}
              </p>
            </div>
          {% else %}
            {% shipping_charge_discount shipping_method basket as shipping_discount %}
            {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}

            <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
              <p>{{ shipping_method.name }}</p>
              <p class="body-semibold text-end">
                {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                    {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
                {% else %}
                    {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
                {% endif %}
              </p>
            </div>

            <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
              {% with shipping_method.discount_name|get_voucher as voucher %}
              <p>{{ shipping_method.discount_name }}
                {% if voucher %}
                  <form id="removeVoucher" action="javascript:" method="POST">
                    {% csrf_token %}
                    <button onclick="removeVoucher('{{ voucher.id }}')" class="btn btn-sm btn-danger">{% trans 'Remove' %}</button>
                  </form>
                {% endif %}
              </p>
              <p class="body-semibold text-end">
                -{{ shipping_discount|currency:basket.currency }}
              </p>
              {% endwith %}
            </div>

            <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
              <p>{% trans "Shipping total (after discounts)" %}</p>
              <p class="body-semibold text-end">
                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                    {{ shipping_charge.incl_tax|currency:basket.currency }}
                {% else %}
                    {{ shipping_charge.excl_tax|currency:basket.currency }}
                {% endif %}
              </p>
            </div>
          {% endif %}
        </div>
        <div class="d-flex justify-content-between pb-2 mb-5">
          <p>Total</p>
          <p class="body-semibold text-end">
            {% if order_total.is_tax_known %}
              {{ order_total.incl_tax|currency:basket.currency }}
            {% else %}
              {{ order_total.excl_tax|currency:basket.currency }}
            {% endif %}
          </p>
        </div>
        <div class="summary__trust d-grid justify-content-between">
          <div class="d-flex flex-column text-center">
            <div><img src="{% static 'images/boot/icons/fast-delivery.svg' %}" alt="fast-delivery"
                      class="img-height-70"/></div>
            <p class="label-semibold">Fast <br/> Delivery</p>
          </div>
          <div class="d-flex flex-column text-center">
            <div><img src="{% static 'images/boot/icons/secure-payment.svg' %}" alt="secure-payment"
                      class="img-height-70"/></div>
            <p class="label-semibold">Secure Payment</p>
          </div>
          <div class="d-flex flex-column text-center">
            <div><img src="{% static 'images/boot/icons/support.svg' %}" alt="support-icon" class="img-height-70"/>
            </div>
            <p class="label-semibold">24 x 7 <br/> Support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-only">
    <div class="order-summary__header d-flex justify-content-between">
      <p> ORDER SUMMARY </p>
      <p class="order-summary__steps text-center">{{ basket.lines.count }}</p>
    </div>
    {% for line in basket.lines.all %}
      <div class="product-summary__wrapper"
        {% if line.is_subscription %}style="display: block;"{% endif %}>
        {% if line.is_subscription %}
        {% else %}
          <div class="product-summary__image">
            <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" alt="strong-cold-brew-1"/>
          </div>
        {% endif %}
        <div class="product-summary__description">
          {% if line.is_subscription %}
            <h3 class="text-semibold">Subscription</h3>
          {% else %}
            <p><a href="#" class="text-semibold">
              {% if line.product.is_child %}{{ line.product.parent.get_title }} ({{ line.product.get_title }}){% else %}{{ line.product.get_title }}{% endif %}</a></p>
          {% endif %}
          <p class="label-default">{{ line.product.description|safe }}</p>
          <div class="product-summary__qty-and-price">
            <p class="label-default">Qty: {{ line.quantity }}</p>
            <p
              class="label-default text-end text-bold">{{ line.line_price_excl_tax|currency:basket.currency }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    <hr class="border-bottom-1 border-white">
    <div class="mb-3">
      <p class="label-bold mb-3">Have a Promo Voucher?</p>
      <div class="d-flex">
        <input type="text" placeholder="enter promo" id="voucher" name="code">
        <button class="button button--primary" onclick="submitVoucher()">
          APPLY
        </button>
      </div>
    </div>
    <hr class="border-bottom-1 border-white">

    <div class="summary__subtotal">
      <div class="d-flex justify-content-between">
        <p>Sub-total</p>
        <p class="body-semibold text-end">
          {% if offer_discounts or voucher_discounts %}
            {% if basket.is_tax_known and not show_tax_separately %}
              {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
            {% else %}
              {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
            {% endif %}
          {% else %}
            {% if not show_tax_separately and basket.is_tax_known %}
              {{ basket.total_incl_tax|currency:basket.currency }}
            {% else %}
              {{ basket.total_excl_tax|currency:basket.currency }}
            {% endif %}
          {% endif %}
        </p>
      </div>
      {% comment %}Coupons{% endcomment %}
      {% if offer_discounts %}
        {% for discount in offer_discounts %}
          <div class="d-flex justify-content-between">
            <p>{{ discount.name }}</p>
            <p class="body-semibold text-end">-{{ discount.discount|currency:basket.currency }}</p>
          </div>
        {% endfor %}
      {% endif %}

      {% if voucher_discounts %}
        {% for discount in voucher_discounts %}
          <div class="d-flex justify-content-between">
            <p>
              {{ discount.voucher.name }} ({{ discount.voucher.code }})
              <form action="javascript:" method="POST">
                {% csrf_token %}
                <button onclick="removeVoucher('{{ discount.voucher.id }}')" class="btn btn-sm btn-danger">{% trans 'Remove' %}</button>
              </form>
            </p>
            <p class="body-semibold text-end">-{{ discount.discount|currency:basket.currency }}</p>
          </div>
        {% endfor %}
      {% endif %}

      {% comment %}this is for shipping discount{% endcomment %}
      {% if not shipping_method.is_discounted %}
        <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
          <p>{{ shipping_method.name }}</p>
          <p class="body-semibold text-end">
            {% if not show_tax_separately and shipping_charge.is_tax_known %}
              {{ shipping_charge.incl_tax|currency:basket.currency }}
            {% else %}
              {{ shipping_charge.excl_tax|currency:basket.currency }}
            {% endif %}
          </p>
        </div>
      {% else %}
        {% shipping_charge_discount shipping_method basket as shipping_discount %}
        {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}

        <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
          <p>{{ shipping_method.name }}</p>
          <p class="body-semibold text-end">
            {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
            {% else %}
                {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
            {% endif %}
          </p>
        </div>

        <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
          {% with shipping_method.discount_name|get_voucher as voucher %}
          <p>{{ shipping_method.discount_name }}
            {% if voucher %}
              <form id="removeVoucher" action="javascript:" method="POST">
                {% csrf_token %}
                <button onclick="removeVoucher('{{ voucher.id }}')" class="btn btn-sm btn-danger">{% trans 'Remove' %}</button>
              </form>
            {% endif %}
          </p>
          <p class="body-semibold text-end">
            -{{ shipping_discount|currency:basket.currency }}
          </p>
          {% endwith %}
        </div>

        <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
          <p>{% trans "Shipping total (after discounts)" %}</p>
          <p class="body-semibold text-end">
            {% if not show_tax_separately and shipping_charge.is_tax_known %}
                {{ shipping_charge.incl_tax|currency:basket.currency }}
            {% else %}
                {{ shipping_charge.excl_tax|currency:basket.currency }}
            {% endif %}
          </p>
        </div>
      {% endif %}
    </div>
    <div class="d-flex justify-content-between pb-2 mb-5">
      <p>Total</p>
      <p class="body-semibold text-end">
        {% if order_total.is_tax_known %}
          {{ order_total.incl_tax|currency:basket.currency }}
        {% else %}
          {{ order_total.excl_tax|currency:basket.currency }}
        {% endif %}
      </p>
    </div>
    <div class="summary__trust d-grid justify-content-between">
      <div class="d-flex flex-column text-center">
        <div><img src="{% static 'images/boot/icons/fast-delivery.svg' %}" alt="fast-delivery"
                  class="img-height-70"/></div>
        <p class="label-semibold">Fast <br/> Delivery</p>
      </div>
      <div class="d-flex flex-column text-center">
        <div><img src="{% static 'images/boot/icons/secure-payment.svg' %}" alt="secure-payment"
                  class="img-height-70"/></div>
        <p class="label-semibold">Secure Payment</p>
      </div>
      <div class="d-flex flex-column text-center">
        <div><img src="{% static 'images/boot/icons/support.svg' %}" alt="support-icon" class="img-height-70"/>
        </div>
        <p class="label-semibold">24 x 7 <br/> Support</p>
      </div>
    </div>
  </div>
  {% endwith %}
</div>

{% block extra_js %}
  <script>
    function submitVoucher() {
      const code = $("#voucher").val();
      process_add_voucher(code);
    }

    function submitmobileVoucher() {
      const code = $("#mvoucher").val();
      process_add_voucher(code);
    }

    function process_add_voucher(code) {
      $.ajax({
        type: "POST",
        headers: {
          'X-CSRFTOKEN': '{{ csrf_token }}'
        },
        url: "{% url 'basket:vouchers-add' %}",
        data: {
          "code": code
        },
        success: function (data) {
          if (data['success']) {
            location.reload();
          } else {
            alert(data['message']);
          }
        },
        error: function (error) {
          alert("Sorry, this coupon is not applicable on Coffee Concentrate or Subscription products.");
        }
      });
    }

    function removeVoucher(voucher_id) {
      const csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
      $.ajax({
        type: "POST",
        url: "/basket/vouchers/"+ voucher_id +"/remove/",
        data: {csrfmiddlewaretoken},
        success: function (data) {
          location.reload();
        },
        error: function (error) {
          alert("Failed to remove voucher: " + error.responseText);
        }
      });
    }
    var acc = document.getElementsByClassName('accordion-header');
    var i;
    var len = acc.length;
    for (i = 0; i < len; i++) {
      {# Make sure the default is open #}
      acc[i].nextElementSibling.style.maxHeight = acc[i].nextElementSibling.scrollHeight + "px";

      acc[i].addEventListener('click', function () {
        this.classList.toggle('active');

        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 'px'
        }
      })
    }
  </script>
{% endblock %}
