{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load static %}
{% load custom_tags %}
{% load purchase_info_tags currency_filters %}

{% for transaction in transaction_histories %}
  <div class="transaction-history__item-detail none" id="history-summary-{{ transaction.id }}">
    <div class="text-end mb-3">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" class="cursor-pointer" onclick="showOrderSummary('close', '{{ transaction.id }}')"/>
    </div>
    <div class="history-title label-default text-center" style="line-break: anywhere;">{{ transaction.number }}</div>
    <br/>
    <h4 class="history-price text-center">${{ transaction.total_excl_tax }}</h4>
    <div class="history-time-and-date label-default text-center">{{ transaction.date_placed|time:"g:i A" }} - <span>{{ transaction.date_placed|date:"F d, Y" }}</span></div>

    {% if transaction.description %} <!-- Subscription -->
      {% for line in transaction.lines.first %}
        <div class="product-summary__wrapper">
          {% if line.product %}
            {% with image=line.product.primary_image %}
              {% oscar_thumbnail image.original "138x138" upscale=False as thumb %}
              <div class="product-summary__image">
                <img src="{{ thumb.url }}" alt="{{ line.product.get_title }}"/>
              </div>
            {% endwith %}
          {% endif %}

          <div class="product-summary__description">
            <p class="label-default">
              {% if not line.product.is_parent %}
                {{ line.product.description|text_split:","|join_arr:"<br>"|safe }} <br/><span>{% if line.pack_size %}({{ line.pack_size }} pack){% endif %}</span>
              {% endif %}
            </p>
            <div class="product-summary__qty-and-price">
              <p class="label-default">Qty: {{ line.quantity }}</p>
              <p class="label-default text-end">${{ line.line_price_incl_tax }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% for line in transaction.lines.all %}
        <div class="product-summary__wrapper">
          {% if line.product %}
            {% with image=line.product.primary_image %}
              {% oscar_thumbnail image.original "138x138" upscale=False as thumb %}
              <div class="product-summary__image">
              {% if "subscription" in line.product.get_title %}
                <img src="{% static 'images/boot/prepaid.jpg' %}" alt="{{ line.product.get_title }}"/>
                {% else %}
                <img src="{{ thumb.url }}" alt="{{ line.product.get_title }}"/>
              {% endif %}
              </div>
            {% endwith %}
          {% endif %}

          <div class="product-summary__description">
            <p class="label-default">
              {% if line.product.is_child %}
                {{ line.product.parent.get_title }}<br/><span>({{ line.product.get_title }} pack)</span>
              {% elif "subscription" in line.product.get_title %}
                Subscription
              {% else %}
                {{ line.product.get_title }}
              {% endif %}
            </p>
            <div class="product-summary__qty-and-price">
              <p class="label-default">Qty: {{ line.quantity }}</p>
              <p class="label-default text-end">${{ line.line_price_incl_tax }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <div class= "mb-2">
      <div class= "text-helper">Delivery Date:</div>
      <div class= "label-default text-semibold">{{ transaction.delivery_date|date:"F d, Y" }}</div>
    </div>
    <div class= "mb-2">
      <div class= "text-helper">Delivery Time:</div>
      <div class= "label-default text-semibold">{{ transaction.delivery_time }}</div>
    </div>

    <div class= "mb-2">
      <div class= "text-helper">Address:</div>
      <div class= "label-default text-semibold">{{ transaction.shipping_address }}</div>
    </div>
  </div>
{% endfor %}
