{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
        <a href="{% url 'dashboard:delivery-frequencies-list' %}">{% trans "Delivery Frequency" %}</a>
    </li>
    <li class="active">{% trans "Delete delivery frequency?" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete delivery frequency?" %}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete delivery frequency" %}</h2>
    </div>
    <form method="post" class="well">
        {% csrf_token %}
        {{ form }}
        {% blocktrans with name=object.name %}
            <p>are you sure?</p>
        {% endblocktrans %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
        {% trans "or" %} <a href="{% url 'dashboard:delivery-frequencies-list' %}">{% trans "cancel" %}</a>
    </div>
</form>
{% endblock %}
