{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}About Us{% endblock %}
{% block description %}Specialty cold brew coffee producer in Singapore and Bali. 100% Arabica beans, direct from farms in Bali Kintamani.{% endblock %}

{% block content %}
<section class="about-us pt-5">
    <div class="breadcrumbs">
        <p class="label-default">Home/ about-us</p>
    </div>

    <div class="about-us__section-wrapper mb-6">
        <h2 class="text-center mb-5">MORE ABOUT US</h2>
        <img src="{% static 'images/boot/about-us/about-us-hero.jpg' %}" alt="about-us" class="w-100"/>
    </div>

    <div class="about-us__section-wrapper mb-6">
        <div class="background-image h-450-mobile bg-size-cover bg-position-center" style="--background-img:url({% static 'images/boot/about-us/who-we-are.jpg' %})">
        </div>
        <div class="description description__left">
            <h2>Who We Are</h2>
            <br/>
            <p>We are a specialty cold brew coffee producer in Singapore and in Bali, brewing change to our coffee farmers in Bali and our partners. Made out of 100% Arabica beans straight from our family-run farms in Bali Kintamani. High quality cold brew coffee, sourced and produced sustainably. We cold brew and bottle our coffee in our AVA-licensed brewery right here in Singapore.</p>
        </div>
    </div>
    <div class="about-us__section-wrapper mb-6">
        <div class="background-image h-450-mobile bg-size-cover bg-position-center" style="--background-img:url({% static 'images/boot/about-us/our-difference.jpg' %})">
        </div>
        <div class="description description__right">
            <h2>Our Difference</h2>
            <br/>
            <p>Bootstrap places high value in using all natural ingredients and in providing a healthy beverage to Singaporeans. All our products use all-natural ingredients and our cold brew process results in a less acidic coffee which is a lot better for the teeth and the gut.</p>
            <p>Because of the lower acidity of the coffee, the coffee is also naturally sweet without a need to add any additional sweeteners.</p>
        </div>
    </div>
    <div class="about-us__section-wrapper mb-6">
        <div class="background-image h-450-mobile bg-size-cover bg-position-center" style="--background-img:url({% static 'images/boot/about-us/our-impact.jpg' %})">
        </div>
        <div class="description description__left">
            <h2>Our Impact</h2>
            <br/>
            <p>Here at Bootstrap, we asked ourselves a daring question - what if we could take our great tasting fresh coffee and use it to do so much more?</p>
            <p>Our mission is to develop long-term economic, environmental, and social sustainability through compassionate leadership throughout the coffee supply chain.</p>
            <p>We believe with every bottle Bootstrap Cold Brew Coffee, we are making a difference and we want your help!</p>
        </div>
    </div>
</section>

{% endblock %}
