{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}BLOGS{% endblock %}

{% block content %}
    <section class=" m-boot-mobile-6 m-boot-desktop-6 pt-5">
        <div class="breadcrumbs m-boot-mobile-3">
            <p class="label-default">Home / Bootstrap Launchpad</p>
        </div>
        <h2 class="text-center margin-bottom-3">BOOTSTRAP LAUNCHPAD</h2>
        <div class="blogs__wrapper">
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/an-intimate-interview-with-laine.jpg' %}" alt="an-intimate-interview-with-laine" class="blog-card__image w-100"/>
                <a href="" class="blogs-card__category">Bootstrap Launchpad</a>
                <h5 class="blogs-card__title">💕 An Intimate Interview with Laine 💕</h5>
                <div class="blogs-card__snippet text-white">Having a deep love for the world of culinary has brought our newest Bootstrapper all over the world, in...</div>
                <p>21/09/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/a-sit-down-session-with-joan.jpg' %}" alt="a-sit-down-session-with-joan" class="blog-card__image w-100"/>
                <a href="" class="blogs-card__category">Bootstrap Launchpad</a>
                <h5 class="blogs-card__title">A sit-down session with Joan, founder of The Plain Wheat Bakery</h5>
                <div class="blogs-card__snippet text-white"> We sat down with Joan – founder, chief baker and lady boss of The Plain Wheat Bakery. We got to hear a little more...</div>
                <p>23/10/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/an-honest-chat-with-daniel-from-interstellar-goods.png' %}" alt="an-honest-chat-with-daniel-from-interstellar-goods" class="blog-card__image w-100"/>
                <a href="" class="blogs-card__category">Bootstrap Launchpad</a>
                <h5 class="blogs-card__title">An honest chat with Daniel from Interstellar Goods</h5>
                <div class="blogs-card__snippet text-white">We speak to Daniel from Interstellar Goods and he shares with us a little more about his day to day...</div>
                <p>23/10/2020</p>
            </div>  
        </div>
    </section>
{% endblock content %}
