{% extends "base.html" %}

{% load static %}

{% block title %}BLOGS DETAIL{% endblock %}

{% block content %}
	<section class="pt-5">
		<div class="breadcrumbs m-boot-mobile-3">
			<p class="label-default">Home / Cold Brew 101 / What Exactly is Bootstrap Cold Brew?</p>
		</div>
		<div class="background-image background-image__blogs-detail h-400-mobile bg-size-cover bg-position-center" style="--background-img:url({% static 'images/boot/blogs/what-exactly-is-bootstrap-cold-brew.jpg' %})">
		</div>
		<div class="m-boot-mobile-6 m-boot-desktop-6 ">
			<div class="blogs-detail__header">
				<a href="" class="blogs-card__category">Cold Brew 101</a>
				<h2 class="">WHAT EXACTLY IS BOOTSTRAP COLD BREW?</h2>
				<p>21 September, 2020</p>
			</div>
			<hr>
			<div class="blogs-sosmed-share__wrapper">
				<div class="text-besides-icon align-items-center">
					<div class="icon">
					<img src="{% static 'images/boot/icons/facebook-icon.svg' %}" alt="facebook-icon" class="w-100"/>
					</div>
					<p class="label-default"> Share
					</p>
				</div>
				<div class="text-besides-icon align-items-center">
					<div class="icon">
					<img src="{% static 'images/boot/icons/twitter-icon.svg' %}" alt="twitter-icon" class="w-100"/>
					</div>
					<p class="label-default"> Tweet
					</p>
				</div>
				<div class="text-besides-icon align-items-center">
					<div class="icon">
					<img src="{% static 'images/boot/icons/pinterest-icon.svg' %}" alt="pinterest-icon" class="w-100"/>
					</div>
					<p class="label-default"> Pin it
					</p>
				</div>
			</div>
			<div class="blogs-detail-content__wrapper">
				<p>No doubt about it, cold brew coffee is here to stay, and its hotter than ever. What was once a small curiosity has expanded throughout the country and worldwide, and we see cold brew from the likes of homebrewers, independent hipster cafes, to mega commercial coffee chains. It’s got mass appeal,  an indie credibility, and shows no signs of stopping.
				</p>
				<p>So, what is cold brew exactly? It all boils down to its preparation. Instead of using hot water to draw out the flavour and caffeine from coffee beans like a regular cup of coffee, cold brew is unhurried. You steep coffee grounds in room temperature or cold water for 12 to 24 hours, to make a concentrate that can be diluted with water and served over ice.
				</p>
				<p>But its more than just a slowed-down version of hot coffee, its a different product altogether. Though hot water brings out the acids in coffee, cold water does not, and instead is able to capture the beans’ full range of flavours that is mellow and full-bodied. That means you’ll be able to get the subtle nuances of the coffee beans’ flavour, where undertones of chocolate, fruit, and nuts are able to jump to the forefront. There’s no wonder coffee enthusiasts are so enamoured by cold brew coffee!
				</p>
				<p>Hot coffee causes coffee grounds to release oils that are full of acidic compounds that give coffee its famous bitter bite. When hot coffee cools, even more acids are formed, which makes them unpleasantly harsh to the taste.
				</p>
				<p>On the other hand, cold brew coffee is relatively stable, and does not change in flavour at different temperatures, so the flavours are locked in. Its also 67 percent less acidic than hot-brewed, which makes it healthier on your stomach and teeth. You get all the notes of coffee, without any of that acidity.
				</p>
				<p>At Bootstrap Beverages, we brew and bottle each of our cold brews in small batches using the finest quality Arabica beans sourced from small family farms in Bali Kintamani. We only use all-natural ingredients with zero preservatives added to our brew. This ensures high value, healthy beverages readily accessible to anyone, anywhere.
				</p>
			</div>
			<div class="button button--primary button--primary__styled mb-5 blogs-detail__button">
				<div class="text-besides-icon">
					<div class="icon">
						<img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
					</div>
					<p> Back to<span> Cold Brew 101</span></p>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
