{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}BLOGS{% endblock %}

{% block content %}
    <section class=" m-boot-mobile-6 m-boot-desktop-6 pt-5">
        <div class="breadcrumbs m-boot-mobile-3">
            <p class="label-default">Home / Blogs</p>
        </div>
        <h2 class="text-center mb-3">BLOG</h2>
        <div class="text-center font-primary m-boot-mobile-3">At Bootstrap, we make good coffee that’s for every dreamer and go-getter.</div>
        <div class="blogs__wrapper">
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/what-exactly-is-bootstrap-cold-brew.jpg' %}" alt="what-exactly-is-bootstrap-cold-brew" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Cold Brew 101</a>
                <h5 class="blogs-card__title">What Exactly is Bootstrap Cold Brew?</h5>
                <div class="blogs-card__snippet text-white">No doubt about it, cold brew coffee is here to stay, and its hotter than ever. What was once a small curiosity has ... </div>
                <p>29/05/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/reasons-to-drink-bootstrap-cold-brew-pre-workout.jpg' %}" alt="reasons-to-drink-bootstrap-cold-brew-pre-workout" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Fitness & Wellness</a>
                <h5 class="blogs-card__title">3 Reasons to Drink Bootstrap Cold Brew Pre-workout</h5>
                <div class="blogs-card__snippet text-white">It is no secret that Bootstrap Cold Brew provides energy and flavour with each sip, but some cold-brew drinkers may...</div>
                <p>29/05/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/bootstrap-cold-brew-brownies.png' %}" alt="bootstrap-cold-brew-brownies" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Recipes</a>
                <h5 class="blogs-card__title">Bootstrap Cold Brew Brownies</h5>
                <div class="blogs-card__snippet text-white">Coarsely chop the chocolate and melt it together with the butter in a saucepan over medium heat while stirring const...</div>
                <p>29/05/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/the-best-practices-of-an-honest-cold-brew-brand.png' %}" alt="the-best-practices-of-an-honest-cold-brew-brand" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">About Us</a>
                <h5 class="blogs-card__title">The Best Practices Of An Honest Cold Brew Brand</h5>
                <div class="blogs-card__snippet text-white">Coffee-making has evolved a lot more than what it was. It’s a good thing. As the coffee industry becomes more...</div>
                <p>02/06/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/bootstrap-cold-brew-coffee-overnight-oats.png' %}" alt="bootstrap-cold-brew-coffee-overnight-oats" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Recipes</a>
                <h5 class="blogs-card__title">Bootstrap Cold Brew Coffee Overnight Oats</h5>
                <div class="blogs-card__snippet text-white">Combine instant oats with chia seeds, Bootstrap Cold Brew Coffee and skimmed milk in a jar or container and...</div>
                <p>02/06/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/an-intimate-interview-with-laine.jpg' %}" alt="an-intimate-interview-with-laine" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Bootstrap Launchpad</a>
                <h5 class="blogs-card__title">💕 An Intimate Interview with Laine 💕</h5>
                <div class="blogs-card__snippet text-white">Having a deep love for the world of culinary has brought our newest Bootstrapper all over the world, in...</div>
                <p>21/09/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/a-sit-down-session-with-joan.jpg' %}" alt="a-sit-down-session-with-joan" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Bootstrap Launchpad</a>
                <h5 class="blogs-card__title">A sit-down session with Joan, founder of The Plain Wheat Bakery</h5>
                <div class="blogs-card__snippet text-white"> We sat down with Joan – founder, chief baker and lady boss of The Plain Wheat Bakery. We got to hear a little more...</div>
                <p>23/10/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/an-honest-chat-with-daniel-from-interstellar-goods.png' %}" alt="an-honest-chat-with-daniel-from-interstellar-goods" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Bootstrap Launchpad</a>
                <h5 class="blogs-card__title">An honest chat with Daniel from Interstellar Goods</h5>
                <div class="blogs-card__snippet text-white">We speak to Daniel from Interstellar Goods and he shares with us a little more about his day to day...</div>
                <p>23/10/2020</p>
            </div>
            <div class="blogs-card__wrapper">
                <img src="{% static 'images/boot/blogs/recycling-at-bootstrap.jpg' %}" alt="recycling-at-bootstrap" class="blog-card__image w-100"/>
                <a href="{% url 'blogs-category' %}" class="blogs-card__category">Sustainability</a>
                <h5 class="blogs-card__title">Recycling at Bootstrap</h5>
                <div class="blogs-card__snippet text-white">We chose to use glass bottles to serve up our cold brews because they are recyclable and are great for sealing...</div>
                <p>10/09/2020</p>
            </div>
            
        </div>

    </section>
{% endblock content %}
