{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {% if "collections/fuel-up/no-refined-sugars/" in request.path %}
    No Refined Sugar Cold Brew Coffee
  {% elif "collections/fuel-up/no-sugars/" in request.path %}
    No Sugar Cold Brew Coffee & Tea
  {% elif "collections/fuel-up/zero-calories/" in request.path %}
    Zero Calories Cold Brew Coffee & Tea
  {% elif "collections/fuel-up/gift-cards/" in request.path %}
    Gift Cards For Coffee
  {% elif "collections/fuel-up/gifts/" in request.path %}
    Cold Brew Coffee Gifts
  {% elif "collections/fuel-up/premium-teas/" in request.path %}
    Premium Cold Brew Teas
  {% elif "collections/fuel-up/vegan-friendly/" in request.path %}
    Vegan Friendly Cold Brew Coffee & Tea
  {% elif "collections/fuel-up/gift-packs/" in request.path %}
    Cold Brew Coffee Gift Packs
  {% else %}
    Cold Brew Coffee, Tea & Gifts
  {% endif %}
{% endblock %}

{% block description %}
  {% if "collections/fuel-up/no-refined-sugars/" in request.path %}
    Perfect with meals or as a quencher. Bootstrap cold brew coffee and tea - No sugar. No sweetener. Only natural
    flavours.
  {% elif "collections/fuel-up/no-sugars/" in request.path %}
    Perfect with meals or as a quencher. Bootstrap cold brew coffee and tea - No refined sugar. No sweetener. Only
    natural flavours.
  {% elif "collections/fuel-up/zero-calories/" in request.path %}
    Zero calories and no refined sugars. Bootstrap cold brew coffee and tea - 0 calories. Only natural flavours.
  {% elif "collections/fuel-up/gift-cards/" in request.path %}
    All in one Bootstrap eGift Card. You choose the amount, recipients choose their favourite coffee! Let the Recipients
    Choose Where to Spend their Gift.
  {% elif "collections/fuel-up/gifts/" in request.path %}
    For Everyone, Every Occasion & Every Price. Personalised Gifts. Coffee Gift Sets for co-workers and staff.
  {% elif "collections/fuel-up/premium-teas/" in request.path %}
    Premium teas made in Singapore. The finest teas of the world. Brewed fresh daily.
  {% elif "collections/fuel-up/vegan-friendly/" in request.path %}
    Vegan Friendly. Dairy-free. Organic coffee. Premium Teas. Perfect with meals or as a quencher.
  {% elif "collections/fuel-up/gift-packs/" in request.path %}
    For Everyone, Every Occasion & Every Price. Personalised Gifts. Coffee Gift Sets for co-workers and staff.Cold Brew
    Coffee Gift Packs
  {% elif "collections/" in request.path %}
    Discover the best coffees, tea and gift sets. Choose from our wide variety of products. Free shipping to your home
    or office.
  {% else %}
    Bootstrap Collection
  {% endif %}
{% endblock %}

{% block content %}
  <section class="collection__container m-boot-desktop-6">
    <div class="desktop-only">
      {% if tags_selected %}
        <a href="{% url 'collections' %}" class="button button--primary button--primary__styled w-75">
          {{ tags_selected|title }}&nbsp;&nbsp;<span aria-hidden="true">&times;</span>
        </a>
      {% endif %}
      <p class="text-bold">SHOP BY PRODUCT
      <p>
      <div class="filter__list">
        {% for attribute in attribute_options %}
          <a href="{% url 'collections-tags' attribute.option|slugify %}"><p>{{ attribute.option }}</p></a>
        {% endfor %}
      </div>
    </div>
    <div>
      <div
        class="background-overlay__container mb-3 background-image h-450-mobile h-700-desktop bg-size-cover bg-position-center background-image__feel-great"
        style="--background-img: url({% static 'images/boot/mix-pack/mix-pack-2.png' %})">
        <div class="description description__center">
          <p class="text-center">FOR A LIMITED TIME ONLY</p>
          <h2 class="text-center"> ENJOY FREE ISLANDWIDE SHIPPING</h2>
          <br/>
          <p class="text-center">APPLY CHEERUP UPON CHECKOUT.</p>
        </div>
      </div>
      <div class="m-boot-mobile-3 m-boot-desktop-3">
        <p class="text-center">Save Big!</p>
        <p class="text-center">Enjoy 15% OFF when you buy 2 six-packs or more.</p>
        <p class="text-center">Apply GETMORE upon checkout.</p>
        <p class="text-center text--bold text--italic">*Promo codes do not apply for Bootstrap concentrate products</p>
      </div>
      <p class="collection-product__quantity font-primary desktop-only">{{ products.count }} Products</p>
      <div class="mobile-only">
        <div class="filter__wrapper m-boot-mobile-3" onclick="showFilterNav('open')">
          <img src="{% static 'images/boot/icons/filter.svg' %}" alt="menu" class="w-100"/>
          <p class=""> Filter</p>
        </div>
        <div class="collection-product__quantity font-primary desktop-only">{{ products.count }} Products</div>
        {% comment %}
				<div class="select__group">
					<select name="subscription-action" id="subscription-action">
						<option value="" selected="">Featured</option>
						<option value="edit-product">Best Selling</option>
						<option value="edit-delivery">Alphabetically, A-Z</option>
						<option value="edit-delivery">Alphabetically, Z-A</option>
						<option value="edit-delivery">Price, low to high</option>
						<option value="edit-delivery">Price, high to low</option>
						<option value="edit-delivery">Date, old to new</option>
						<option value="edit-delivery">Date, new to old</option>
					</select>
					<div class="select__arrow">
						<img src="{% static 'images/boot/icons/down.svg' %}" alt="down">
					</div>
				</div>
				{% endcomment %}
      </div>
      <div class="collection-product__container">
        <div class="collection-product__quantity font-primary mobile-only">{{ products.count }} Products</div>
        <div class="collection-product__wrapper ">
          {% for product in products %}
            {% custom_render_product product category forloop.counter0 %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <div class="modal__container mobile-filter__wrapper none">
    <div class="modal__filter px-3 py-3">
      <div class="text-end mb-2 d-flex align-center justify-content-between">
        <h2>Filter</h2>
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" class="button-close"
             onclick="showFilterNav('close')"/>
      </div>
      <hr>
      <br>
      <div class="filter__list">
        {% for attribute in attribute_options %}
          <a href="{% url 'collections-tags' attribute.option|slugify %}"><p>{{ attribute.option }}</p></a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">

    showFilterNav = (str) => {
      if (str === 'open') {
        $('.mobile-filter__wrapper').removeClass('none')
      } else {
        $('.mobile-filter__wrapper').addClass('none')
      }
    }

  </script>
{% endblock extra_js %}
