{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Concentrate{% endblock %}
{% block description %}Bootstrap Coffee Concentrate makes all your favorite coffee drinks -
  Espresso, Americano, Iced Latte, Espresso Martini, and much more. Free Delivery.{% endblock %}

{% block extra_css %}
  <style>
    .desktop-nav {
      position: absolute;
      top: 0;
      z-index: 2;
      height: 90px;
    }

    .mobile-nav {
      position: absolute;
      top: 0;
      z-index: 2;
    }

    .bg-concentrate-img {
      background-image: url('{% static "images/boot/concentrate/banner-concentrate-m.webp" %}');
    }
    @media (min-width: 1024px) {
			.bg-concentrate-img {
        background-image: url('{% static "images/boot/concentrate/banner-concentrate-d.webp" %}');
			}
		}
     /* @media (min-width: 1024px) {
			.bg-concentrate-img {
        background-image: none;
			}
		} */
    .bg-single-shot-img {
      background-image: url('{% static "images/boot/concentrate/banner-single-shot-mobile.png" %}');
    }
    @media (min-width: 1024px) {
			.bg-single-shot-img {
        background-image: url('{% static "images/boot/concentrate/banner-single-shot-desktop.png" %}');
			}
		}
  </style>
{% endblock %}

{% block content %}

  <section class="concentrate__wrapper">
    <div class="concentrate-banner__section bg-concentrate-img background-image bg-position-bottom bg-size-cover position-relative">
      <div class="banner-content__wrapper">
        <div class="banner__caption mb-4">
          <p class="heading-1 text-shadow text-center">Do it your way.</p>
          <p class="heading-3 text-shadow text-center">You call the shots.</p>
        </div>
        <a href="/catalogue/coffee-concentrate_222/" class="button button--primary banner__cta text-bold m-auto">Order Now</a>
      </div>
    </div>

    <div class="single-shot__section video-hero">
      <div class="video-overlay"></div>
      <div class="single-shot__caption">
        <div>
          <p class="heading-2 text-center text--white">A single shot can change everything.</p>
          <p class="heading-2 text-center text--white">Start your day in an entirely new way.</p>
        </div>
        <p class="single-shot__description body-1 text-semi-bold text-center text--white">
          Creating Barista-quality coffee just got easier. Get the smoothest coffee concentrate brewed fresh in Singapore with 100% Arabica beans. With Bootstrap Concentrate, you can make espresso, americano, latte, coffee tonic or anything else you can imagine.
        </p>
      </div>
      <img src="{%static 'video/single-shot-video.gif'%}" alt="" class="video-bg">
      <img src="{%static 'images/boot/concentrate/wave-single-shot.svg'%}" alt="icon" class="w-100 wave-single-shot desktop-only">
      <img src="{%static 'images/boot/concentrate/wave-single-shot-mobile.svg'%}" alt="icon" class="w-100 wave-single-shot mobile-only">
    </div>
    <div class="product__section">
      <p class="product__header heading-1 text-center">One Bottle. Infinite Possibilities.</p>
      <div class="product__wrapper">
        <div class="product__item product__item--1">
          <div class="text-center mb-4">
            <img src="{%static 'images/boot/concentrate/do-a-double.webp'%}" alt="do-a-double-image" class="w-75">
          </div>
          <div class="product__description">
            <div>
              <p class="product-price text-bold">$24</p>
              <p class="title-5 mb-2">Do A Double</p>
              <p class="text-semibold">Two bottle is all it takes.</p>
              <p class="text-semibold"> Makes up to 10 cups.</p>
            </div>
            <a href="/catalogue/coffee-concentrate_222/" class="button button--black">Try It</a>
          </div>
        </div>
        <div class="product__item product__item--2">
          <div class="text-center mb-4">
            <img src="{%static 'images/boot/concentrate/go-all-out.webp'%}" alt="go-all-out-image" class="w-75">
          </div>
          <div class="product__description">
            <div class="px-3">
              <p class="product-price text-bold text-yellow">$60</p>
              <p class="title-5 mb-2 text-yellow">Go All Out</p>
              <p class="text-yellow">You're all set for the month! Make your regular cup of coffee your own way. You call the shots.</p>
              <p class="text-yellow"> Makes up to 30 cups.</p>
            </div>
            <a href="/catalogue/coffee-concentrate-6-pack_224/" class="button button--secondary">Try It</a>
          </div>
          {% comment %}
          <div class="product__item product__item--3">
            <div class="text-center mb-4">
              <img src="{%static 'images/boot/concentrate/starter-pack.png'%}" alt="stater-pack-image">
            </div>
            <div class="product__description">
              <div>
                <p class="title-5 mb-2">The Starter Pack</p>
                <p class="body-3 text-bold">All you need to get started. Makes up to 15 cups.</p>
              </div>
              <button class="button button--small button--secondary">Try It</button>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="client-review__section pt-4">
      <img src="{% static 'images/boot/concentrate/quote.svg' %}" alt="google" class="client-review__quote"/>

      <input type="radio" name="cr-slider" id="google-review" checked>
      <input type="radio" name="cr-slider" id="bloomberg-review">
      <input type="radio" name="cr-slider" id="dbs-review">
      <input type="radio" name="cr-slider" id="f45-review">

      <div class="client-review__content">
        <p class="client-review__item animated-text content-1 text-center mb-5"> It's the best coffee I've ever had.</p>
        <p class="client-review__item animated-text content-2 text-center mb-5"> It's like having an Americano without the mess or cleaning up.</p>
        <p class="client-review__item animated-text content-3 text-center mb-5"> I love that I can customize my daily coffee any way I want.</p>
        <p class="client-review__item animated-text content-4 text-center mb-5"> Super convenient and accessible. A perfect place to start any workout.</p>
      </div>

      <div class="client-review__image">
        <label for="google-review" class="google-review">
          <img src="{% static 'images/boot/concentrate/google-black.png' %}" alt="google"/>
        </label>
        <label for="bloomberg-review" class="bloomberg-review">
          <img src="{% static 'images/boot/concentrate/bloomberg-black.png' %}" alt="bloomberg"/>
        </label>
        <label for="dbs-review" class="dbs-review">
          <img src="{% static 'images/boot/concentrate/dbs-black.png' %}" alt="dbs"/>
        </label>
        <label for="f45-review" class="f45-review">
          <img src="{% static 'images/boot/concentrate/f45-black.png' %}" alt="f45"/>
        </label>
      </div>
    </div>
    <div class="blog-snippet__section">
      <div class="blog-snippet__wrapper">
        <div class="blog-snippet__caption">
          <p class="heading-1 text-center">All Your Favourite Coffee Drinks</p>
          <p class="heading-1 text-center">In One Bottle.</p>
          <p class="title-6 text-center">Try Our Bootstrap Coffee Concentrate Recipes</p>
        </div>
        <div class="blog-snippet-item__wrapper mb-5">
          <a href="https://bootstrapbeverages.com/blog/espresso-tonic/" target="_blank" class="blog-snippet__item">
            <img src="{%static 'images/boot/concentrate/coffee-tonic.webp'%}" alt="coffee-tonic-img" class="w-100">
            <div class="overlay">
              <p class="text heading-3">Espresso Tonic</p>
            </div>
          </a>
          <a href="https://bootstrapbeverages.com/blog/ice-latte/" class="blog-snippet__item">
            <img src="{%static 'images/boot/concentrate/ice-latte.webp'%}" alt="ice-latte-img" class="w-100">
            <div class="overlay">
              <p class="text heading-3">Iced Latte</p>
            </div>
          </a>
          <a href="https://bootstrapbeverages.com/blog/iced-americano/" class="blog-snippet__item">
            <img src="{%static 'images/boot/concentrate/americano.webp'%}" alt="americano-img" class="w-100">
            <div class="overlay">
              <p class="text heading-3">Americano</p>
            </div>
          </a>
        </div>
        <a href="https://bootstrapbeverages.com/blog/category/recipes/" target="_blank" class="button button--black button--dynamic m-auto">VIEW OUR RECIPES</a>
      </div>
    </div>
    <div class="offers__container">
      <img src="{%static 'images/boot/concentrate/wave-recipe.svg'%}" alt="icon" class="w-100 wave-recipe desktop-only">
      <img src="{%static 'images/boot/concentrate/wave-recipe-mobile.svg'%}" alt="icon" class="w-100 wave-recipe mobile-only">
      <div class="offers__section" style="--bg-image:url({% static 'images/boot/concentrate/banner-subscribe.png' %})">
        <div class="offers__caption mb-5">
          <p class="text-yellow heading-5 text-bold text-center">NEVER RUN OUT OF COFFEE </p>
          <div>
            <p class="offers__header heading-2 text-bold text--white text-center">Subscribe to get 20% off all orders with free shipping.</p>
            <p class="body-2 text--white text-center">Get regular coffee deliveries with Bootstrap - Never miss a cup.</p>
          </div>
          <a href="{% url 'sub-and-save' %}" class="button button--medium button--dynamic button--yellow m-auto">SUBSCRIBE & SAVE</a>
        </div>
        <div class="offers__wrapper">
          <div class="offers__item">
            <div class="text-center">
              <img src="{%static 'images/boot/concentrate/concentrate-subscribe-icon.svg'%}" alt="image" class="m-auto">
            </div>
            <p class="title-5 text-center text--white">Save 20%</p>
            <p class="title-6 text-center text--white">Of All Orders</p>
          </div>
          <div class="offers__item">
            <div class="text-center">
              <img src="{%static 'images/boot/concentrate/concentrate-subscribe-icon.svg'%}" alt="image" class="m-auto">
            </div>
            <p class="title-5 text-center text--white">Manage Orders</p>
            <p class="title-6 text-center text--white">Via Your Dedicated Portal</p>
          </div>
          <div class="offers__item">
            <div class="text-center">
              <img src="{%static 'images/boot/concentrate/concentrate-subscribe-icon.svg'%}" alt="image" class="m-auto">
            </div>
            <p class="title-5 text-center text--white">Free Shipping</p>
            <p class="title-6 text-center text--white">Zero Shipping Fees</p>
          </div>
        </div>
      </div>
      <img src="{%static 'images/boot/concentrate/wave-newsletter.svg'%}" alt="icon" class="w-100 wave-newsletter desktop-only">
      <img src="{%static 'images/boot/concentrate/wave-newsletter-mobile.svg'%}" alt="icon" class="w-100 wave-newsletter mobile-only">
    </div>
    <div class="subscribe__section">
      <div class="subscribe__wrapper">
        <p class="title-2 text-bold text-center text--white">Don't miss a drop</p>
        <p class="body-2 text-center text--white mb-4">Subscribe to our newsletter</p>
        <div class="position-relative mb-4 w-max-content mx-auto">
          <input type="text" class="button button--big button--dynamic" placeholder="Enter your email"/>
          <a href="javascript:">
            <img src="{%static 'images/boot/concentrate/send-white.svg'%}" alt="icon" class="send-icon">
          </a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="https://instagram.com/bootstrapcoldbrewsg" target="_blank" class="cursor-pointer d-flex">
            <img src="{% static 'images/boot/icons/instagram-icon.svg' %}" alt="instagram-icon"/>
          </a>
          <a href="https://www.facebook.com/BootstrapColdBrewSG " target="_blank" class="cursor-pointer d-flex">
            <img src="{% static 'images/boot/icons/facebook-icon.svg' %}" alt="facebook-icon" class="ml-2"/>
          </a>
        </div>
      </div>
    </div>
    <p class="copyrights label-default">© {% now "Y" %} Bootstrap Beverages All Rights Reserved. Bootstrap is registered trademark of Bootstrap Beverages Pte Ltd</p>
  </section>

{% endblock content %}

{% block extra_js %}
<script>
	$(document).ready(function(){
		$(".blog-snippet-item__wrapper").slick({
			dots:false,
			slidesToShow: 3,
			arrows: false,
			responsive: [
				{
					breakpoint: 1440,
					settings: {
						slidesToShow: 3,
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 3,
					}
				},
				{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1,
			      dots:true,

					}
				}
			]
		});
    $(".offers__wrapper").slick({
			dots:false,
			slidesToShow: 3,
			arrows: false,
			responsive: [
				{
					breakpoint: 1440,
					settings: {
						slidesToShow: 3,
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 3,
					}
				},
				{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1,
			      dots:true,

					}
				}
			]
		});
	})
</script>
{% endblock extra_js %}
