{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<section class="registration__container">
	<div class="registration__logo text-center">
		<img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
	</div>
	<div class="registration__background bg-position-center" style="--background-img:url({% static 'images/boot/bg-registration.png' %})">
		<div class="registration__wrapper">
			<h3 class="registration__heading text-center mb-2">CONTACT US</h3>
			<p class="font-white text-center mb-5">For any enquiries, please fill up the contact form or email info@bootstrapbeverages.com</p>
			<form id="loginForm" action="." method="post">{% csrf_token %}
				<div class="input__layout">
					<div class="input-field input-field__top">
						<label class="input-field__left font-primary">Name</label>
						<div class="input-field__right"></div>
					</div>
					{{ form.name }}
				</div>
				<div class="input__layout">
					<div class="input-field input-field__top">
						<label class="input-field__left font-primary">Email</label>
						<div class="input-field__right"></div>
					</div>
					{{ form.email }}
				</div>
				<div class="input__layout">
					<div class="input-field input-field__top">
						<label for ="message" class="input-field__left font-primary">Message</label>
						<div class="input-field__right"></div>
					</div>
					{{ form.message }}
				</div>
				<br/>
				<button type="submit" class="button button--primary button--primary_styled font-primary w-100">SEND</button>
			</form>
		</div>
		<br/>
		<br/>
		<br/>
		<p class="font-primary text-center m-boot-mobile-3">
			This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
		</p>
	</div>
</section>
{% endblock content%}
