{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}FAQS{% endblock %}
{% block description %}Frequently Asked Questions About Bootstrap Cold Brew Coffee. General FAQs and Subscription FAQs{% endblock %}

{% block content %}
    <section class=" m-boot-mobile-6 m-boot-desktop-6 pt-5">
        <div class="breadcrumbs m-boot-mobile-3">
            <p class="label-default">Home / FAQs</p>
        </div>
        <div class="accordion__container">
            <div class="faq__wrapper">
                <h2 class="text-center mb-3">GENERAL FAQS</h2>

                <div class="text-center font-primary m-boot-mobile-3">Here's a list of some of the most commonly asked questions:</div>
                <div class="accordion__wrapper">
                    <div class="accordion-left">
                        <div class="accordion">
                            <div class="accordion__icon ai-1">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>Are you still delivering during the outgoing pandemic?</p>
                            </div>
                            <div class="panel font-primary">
                                <p>
                                    Yes! The world may look a little different but it's our hope that you guys continue to stay safe and feel AWESOME during this uncertain times. Social distancing or keeping indoors can be rough, but we can get through this together. We're offering FREE SHIPPING to your doorstep to help you get through your work-from-home, study-from-home or chill at home days with straight up great cold brews! Simply apply CHEERUP at checkout. Remember, we're here for you!
                                </p>
                                <br/>
                                <p>
                                    Bootstrap remains fully operating even with the newest measures announced on 14 May 2021.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-1">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>Do I get a box for my delivery?</p>
                            </div>
                            <div class="panel font-primary">
                                <p>
                                    If you purchased our Bootstrap Mix Pack or Classic Pack, YES! These packs comes with our iconic gift box as well as six unique cold brew flavors. Perfect as a gift for any occasion. You can even include a note for your delivery under the <span>Special Instructions for Seller</span> prior to checking out and we will do our best to include the note in the delivery for you!
                                </p>
                                <br/>
                                <p>
                                    If you order any of our other products available online, you can input a request for a box under <Special Instructions for Seller> prior to checking out. However, due to the popularity of our gift boxes, this may not guarantee that your order will be packaged in a box. We seek your kind understanding on this matter.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-1">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>Can I mix-and-match my cold brews?</p>
                            </div>
                            <div class="panel font-primary">
                                <p>
                                    Presently, the mix-and-match option is available exclusively only to our subscribers.
                                </p>
                                <br/>
                                <p>
                                    If you are looking to make a subscription purchase or to mix and match your subsequent deliveries, feel free to reach out to via our live chat or email: info@bootstrapbeverages.com. We will be glad to assist you.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-1">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>What is cold brew?</p>
                            </div>
                            <p class="panel font-primary">
                                Cold brew is coffee that has been steeped and infused with cold water over a long duration of time (usually more than 12 hours). Unlike hot coffee that is then chilled or served over ice, cold brew is fresh coffee and filtered water that is brewed slowly without heat. This process produces a coffee that has a much smoother flavour without that usual bitterness or sourness that you usually get in black coffee.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-1">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>How long does your cold brews last?</p>
                            </div>
                            <p class="panel font-primary">
                                Our cold brews have a fridge-life of 14-30 days depending on the flavour. Each bottle has an expiry date marked out on the label. Every batch is made fresh only when your order is placed. That's our promise.
                            </p>
                        </div>

                    </div>
                    <div class="accordion-right">
                        <div class="accordion">
                            <div class="accordion__icon ai-2">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>Does the cold brews need to be refrigerated?</p>
                            </div>
                            <p class="panel font-primary">
                                Yes, please refrigerate them upon arrival! Bootstrap cold brews are made fresh, contains zero preservatives and are unpasteurised (that's the literal definition of cold brew :P). For optimal storage, please refrigerate between 3 - 5 degrees celsius.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-2">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>Do you recycle your bottles?</p>
                            </div>
                            <p class="panel font-primary">
                                You bet! Simply pass the empty bottles to our delivery agents on your next delivery ♻️ . If you are one of our subscription customers, you may place the empty bottles into the cooler bags and hand them to our delivery agents. Alternatively, you can also drop off the bottles at the recycling point located outside our microbrewery at 5 Mandai Link, Singapore 728654 at your convenience.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-2">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>Where does your coffee come from?</p>
                            </div>
                            <p class="panel font-primary">
                                We use the highest quality single-origin arabica coffee that we source from small family growers in Kintamani Bali.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-2">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>How long will it take for me to receive my order?</p>
                            </div>
                            <p class="panel font-primary">
                                Once your payment has been verified, your order will be shipped out on the date that was selected at checkout.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon ai-2">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>What are the shipping rates?</p>
                            </div>
                            <p class="panel font-primary">
                                We charge a flat fee of $5 for delivery islandwide. If you don't wish to pay for shipping, join us on a subscription plan. All subscription customers enjoy free shipping always!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion__container">
            <div class="faq__wrapper">
                <h2 class="text-center mb-3">SUBSCRIPTION FAQS</h2>

                <div class="text-center font-primary m-boot-mobile-3">Here's what you may want to know about our subscription programs:</div>
                <div class="accordion__wrapper">
                    <div class="accordion-left">
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>HOW DOES SUBSCRIPTIONS WORK?</p>
                            </div>
                            <p class="panel font-primary">
                                We absolutely look forward to waking up or going to the office knowing that there’s always a fridge fuelled up with Bootstrap cold brews. Perfect for the office or home, so that you and your family or colleagues can have the smoothest cold brew always on hand. Simply choose your favorite flavour, quantity and frequency and we will handle the rest. Never run out of the smoothest cold brew again. Go to our subscriptions and enjoy 20% off + free delivery now!
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>CAN I CHANGE MY FLAVOUR SELECTION OR MIX-AND-MATCH?</p>
                            </div>
                            <p class="panel font-primary">
                                YES YOU CAN! You may swap your preferred cold brew selection at any time in between shipments. Simply login to your account and select Manage Subscription. In the subscriptions menu, you will see an option to "Swap Product" where you'll be able to swap your flavour.
                                Our subscription customers are also given the exclusive feature to mix-and-match their 6/12/24 packs. If you would like to customize your packs, simply reach out to us via our website's live chat and our team members will be glad to assist you. We're also working on a feature which will allow you to mix-and-match your own flavours via the portal in a few months time!
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>WHEN WILL MY COLD BREWS BE DELIVERED?</p>
                            </div>
                            <p class="panel font-primary">
                                Your first batch of cold brews will be delivered to you on the date and time-slot that you have selected during checkout. The delivery schedule (day of the week and time window) of subsequent subscription orders will follow your original or most updated preference with us. Should you like to make adjustments to your delivery preferences, please feel free to reach out to us on our website's live chat and we'll be most delighted to assist you.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>CAN I ADJUST MY DELIVERY DATE AND TIME?</p>
                            </div>
                            <p class="panel font-primary">
                                Yes, most certainly! You can request for a change in the delivery day and time slot by sending an email to our Customer Support Team at info@bootstrapbeverages.com or by reaching out to us on our live chat at the bottom right corner of the page. We're also working on a feature which will allow you to select the delivery date on your own, which will be launched in a few months!
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>CAN I SKIP A DELIVERY OR PAUSE MY SUBSCRIPTION?</p>
                            </div>
                            <p class="panel font-primary">
                                You can pause, skip or reschedule your subscription at any time by logging into your account here. From there, simply click on Manage Subscriptions under your name and you would be able to manage your subscription there. If you face any difficulties, feel free to reach out to us via our website's live chat.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>CAN I RETURN MY BOTTLES FOR RECYCLING?</p>
                            </div>
                            <p class="panel font-primary">
                                YES, you most certainly can! Simply hand them back to our delivery driver the next time you receive your fresh set of brews from us!
                            </p>
                        </div>
                    </div>
                    <div class="accordion-right">
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>HOW DO I MANAGE MY SUBSCRIPTIONS?</p>
                            </div>
                            <p class="panel font-primary">
                                It’s really easy. Simply log in to the account that you’ve created when you place a subscription order with us. You can register your account on our homepage or click here. Once you’ve logged into your account, click “Manage Subscriptions” on the left of the account portal which will allow you to do a number of things: You can swap flavours or products, pause or change the frequency of your orders, you can also skip an order if you happen to be travelling or trigger an easy cancellation if it’s just too much for you. Your subscription details will be saved so if you want to re-activate your subscription at any time it only takes one click! Make changes to your billing or shipping information in the account portal too. If you have any other questions, email us on info@bootstrapbeverages.com and we will get back to you shortly!
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>WHEN WILL I BE BILLED FOR MY SUBSCRIPTION?</p>
                            </div>
                            <p class="panel font-primary">
                                After your first shipment, billing takes place on a Sunday afternoon preceding the week that your cold brews will be delivered. For example, if you are to receive your cold brews on a Tuesday, your order will be processed and a charge initiated to your card automatically on Sunday afternoon.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>WHY IS MY BILLING DATE DIFFERENT FROM MY DELIVERY DATE?</p>
                            </div>
                            <p class="panel font-primary">
                                The Billing Date refers to the date where your order will be processed and charged to your card. This typically takes place on the Sunday afternoon preceding the week that your cold brews will be delivered. If you need to change your delivery date and time or update your delivery preferences, please reach out to us on our live chat and we will be happy to assist you.
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>WHAT ARE THE SHIPPING RATE FOR SUBSCRIPTION ORDERS?</p>
                            </div>
                            <p class="panel font-primary">
                                We offer free shipping islandwide within Singapore for subscribers, always!
                            </p>
                        </div>
                        <div class="accordion">
                            <div class="accordion__icon">
                                <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
                                <p>CAN I CANCEL MY SUBSCRIPTION?</p>
                            </div>
                            <div class="panel font-primary">

                                <p>Yes, most certainly! You can request for a change in the delivery day and time slot by sending an email to our Customer Support Team at info@bootstrapbeverages.com or by reaching out to us on our live chat at the bottom right corner of the page. We're also working on a feature which will allow you to select the delivery date on your own, which will be launched in a few months!
                                </p>
                                <p>
                                Do note that for all standard subscriptions, cancellation is only possible after your second shipment. Any request to cancel your subscription after the 1st shipment will be regarded as a one-off purchase and will incur an early termination fee that amounts to the difference between the subscription price and the one-off price. If you are joining us on a subscription with a promotion applied, do note that there may be longer minimum commitment periods. Kindly look at the T&Cs under each promotion for clarification.
                                </p>
                                <p>
                                For semi-annual and annual subscriptions, please kindly note that there will be an early cancellation fee amounting to 13 shipments that is chargeable.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    var acc= document.getElementsByClassName('accordion__icon');
    var i;
    var len = acc.length;
    for(i = 0; i < len; i++) {
        acc[i].addEventListener('click', function() {
            this.classList.toggle('active');

            var panel = this.nextElementSibling;
            if(panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 'px'
            }
        })
    }
</script>
{% endblock extra_js %}
