{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
  <style>
    .bg-image-desktop-1 {
      background-image: url('{% static "images/boot/hero-image-desktop-1.png" %}');
    }
		.bg-image-desktop-2 {
			background-image: url('{% static "images/boot/hero-image-mobile-2.png" %}');
    }
		@media (min-width: 1024px) {
			.bg-image-desktop-2 {
				background-image: url('{% static "images/boot/hero-image-desktop-2.png" %}');
			}
		}
		.bg-image-desktop-3 {
      background-image: url('{% static "images/boot/hero-image-mobile-3.png" %}');
    }
		@media (min-width: 1024px) {
			.bg-image-desktop-3 {
				background-image: url('{% static "images/boot/hero-image-desktop-3.png" %}');
			}
		}
  </style>
{% endblock %}

{% block content %}
<section class="home__container">
	<div class="hero__wrapper mb-5">
		<div class="home__hero-section background-overlay__container bg-image-desktop-1 bg-size-cover bg-position-center">
			<div class="description description__home-title">
				<h1 class="hero__title text-end">MORNINGS <br> REDEFINED</h1>
				<p class="text-end">Singapore's Best Cold Brew Coffee</p>
				<br/>
				<a href="{% url 'collections' %}" class="button button--primary button--primary__styled text-end">ORDER NOW</a>
			</div>
		</div>
		<div class="home__hero-section background-overlay__container bg-image-desktop-2 bg-size-cover bg-position-center">
			<div class="description description__home-title">
				<p class="text-end">SINGAPORE'S BEST COLD BREW SUBSCRIPTION</p>
				<h1 class="hero__title text-end">EVERYDAY <br> REDEFINED</h1>
				<br/>
				<a href="{% url 'collections' %}" class="button button--primary button--primary__styled text-end">LEARN MORE</a>
			</div>
		</div>
		<div class="home__hero-section background-overlay__container bg-image-desktop-3 bg-size-cover bg-position-center">
			<div class="description description__home-title">
				<p class="text-end">BOOTSTRAP CORPORATE PLANS</p>
				<h1 class="text-end hero__title">CHART AHEAD <br> EVERY DAY</h1>
				<p class="text-end">Unlock Your Team's Potential</p>
				<br/>
				<a href="{% url 'collections' %}" class="button button--primary button--primary__styled text-end">LEARN MORE</a>
			</div>
		</div>
	</div>

	<div class="background-overlay__container mb-5 background-image h-550-mobile h-700-desktop bg-size-cover bg-position-center background-image__feel-great" style="--background-img: url({% static 'images/boot/home-jumpstart.png' %})">
		<div class="description description__center">
			<h2 class="text-center"> JUMPSTART YOUR DAY </h2>
			<br/>
			<p class="text-center mb-4">
				We make the best cold brews and deliver them to your door so you never need to lose a moment to focus on your goals.
			</p>
			<div class="button-group">
				<a href="{% url 'collections' %}" class="button button--primary button--primary__styled text-end">ORDER NOW</a>
				<a href="/collections/fuel-up/gift-packs/" class="button button--primary button--primary__styled">GIFT PACKS</a>
			</div>
		</div>
	</div>

	<div class="m-boot-mobile-3 m-boot-desktop-3">
		<div class="custom-text__style mb-5">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">OUR CLIENTS</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<div class="our-clients__icons">
			<img src="{% static 'images/boot/icons/the-straits-times.svg' %}" alt="the straits times"/>
			<img src="{% static 'images/boot/icons/google.svg' %}" alt="google"/>
			<img src="{% static 'images/boot/icons/dbs.svg' %}" alt="dbs"/>
			<img src="{% static 'images/boot/icons/bloomberg.svg' %}" alt="bloomberg"/>
			<img src="{% static 'images/boot/icons/f45.svg' %}" alt="f45"  style="width: 60%"/>
			<img src="{% static 'images/boot/icons/louis-vuitton.svg' %}" alt="louis vuitton" style="width: 40%"/>
		</div>
	</div>
	{% if products %}
	<div class="product-card__container m-boot-mobile-6 m-boot-desktop-6">
		<div class="custom-text__style mb-5">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">BEST SELLERS</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<div class="best-sellers__container">
			{% for product in products|slice:4 %}
				{% custom_render_product product category forloop.counter0 %}
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="mix-pack__home-container m-boot-mobile-6 m-boot-desktop-6">
		<div class="">
			<img src="{% static 'images/boot/concentrate/home-concentrate-desktop.png' %}"  alt="home-concentrate image" class="w-100 desktop-only"/>
			<img src="{% static 'images/boot/concentrate/home-concentrate-mobile.png' %}"  alt="home-concentrate image" class="w-100 mobile-only"/>
		</div>
		<div class="">
			<h2>TRY OUR COFFEE CONCENTRATE</h2>
			<br/>
			<br/>
			<p>
				Creating Barista-quality coffee just got easier. Get the smoothest coffee concentrate brewed fresh in Singapore with 100% Arabica beans. With Bootstrap Concentrate, you can make espresso, americano, latte, coffee tonic or anything else you can imagine.
			</p>
			<br/>
			<br/>
			<a href="{% url 'coffee-concentrate' %}" class="button button--primary button--primary__styled">LEARN MORE</a>
		</div>
	</div>

	<div class="mix-pack__home-container m-boot-mobile-6 m-boot-desktop-6 mb-0-desktop">
		<div class="mix-pack__home-image order-sm-1-lg-2">
			<img src="{% static 'images/boot/mix-pack/mix-pack-1.png' %}"  alt="mix pack-1" class="w-100"/>
		</div>
		<div class="order-sm-2-lg-1">
			<p>SPOILT FOR CHOICE?</p>
			<h2>TRY OUR MIX PACK</h2>
			<br/>
			<br/>
			<p>Decisions can be tough. Not to worry, we've got you covered. Grab a Bootstrap Mix Pack and try one of each of flavour. Before deciding on your favourite.</p>
			<br/>
			<br/>
			<a href="{{ product_mix_pack.get_absolute_url }}" class="button button--primary button--primary__styled">BUY NOW</a>
		</div>
	</div>

	<div class="testimonials__container m-boot-mobile-6 m-boot-desktop-6">
		<div class="custom-text__style mb-5">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">TESTIMONIALS</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<div class="testimonials__wrapper">
			<div class="testimonials__content">
				<div class="client__profile">
					<div class="client__image">
						<img src="{% static 'images/boot/martin.png' %}" alt="martin"/>
					</div>
					<div class="client__short-bio">
						<p class="body-title client__name">MARTIN</p>
						<p>Auditor</p>
					</div>
				</div>

				<div class="client__testimonial">
					<div class="quote__open">
						<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
					</div>
					<p class="quote__content">Not a black coffee drinker but this is good stuff from Bootstrap Cold Brew SG
					</p>
					<div class="quote__close">
						<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
					</div>
				</div>
			</div>
				<div class="testimonials__content">
					<div class="client__profile">
						<div class="client__image">
							<img src="{% static 'images/boot/charlene.png' %}" alt="charlene"/>
						</div>
						<div class="client__short-bio">
							<p class="body-title client__name">CHARLENE</p>
							<p>Financial Executive</p>
						</div>
					</div>

					<div class="client__testimonial">
						<div class="quote__open">
							<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
						</div>
						<p class="quote__content">Really appreciate the no delivery charge for subscriptions as I can't do without coffee. I love the Oat Milk.
						</p>
						<div class="quote__close">
							<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
						</div>
					</div>
				</div>
				<div class="testimonials__content">
					<div class="client__profile">
						<div class="client__image">
							<img src="{% static 'images/boot/michael.png' %}" alt="michael"/>
						</div>
						<div class="client__short-bio">
							<p class="body-title client__name">MICHAEL</p>
							<p>Analyst</p>
						</div>
					</div>

					<div class="client__testimonial">
						<div class="quote__open">
							<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
						</div>
						<p class="quote__content">Love the flavour profile of their cold brew; plus, it's good and strong, perfect to get me going in the morning.
						</p>
						<div class="quote__close">
							<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
						</div>
					</div>
				</div>
				<div class="testimonials__content">
					<div class="client__profile">
						<div class="client__image">
							<img src="{% static 'images/boot/eugene.png' %}" alt="eugene"/>
						</div>
						<div class="client__short-bio">
							<p class="body-title client__name">EUGENE</p>
							<p>Software Engineer</p>
						</div>
					</div>

					<div class="client__testimonial">
						<div class="quote__open">
							<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
						</div>
						<p class="quote__content">Really liked the Manuka Honey cold brew. Would definitely recommend it to EVERYONE!
						</p>
						<div class="quote__close">
							<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
						</div>
					</div>
				</div>
		</div>
		<div class="testimonials__next">
			<img src="{% static 'images/boot/icons/circle-left.svg' %}" alt="circle-left" class="prev-arrow cursor-pointer"/>
			<img src="{% static 'images/boot/icons/circle-right.svg' %}" alt="circle-right" class="next-arrow cursor-pointer"/>
		</div>
	</div>

	<div class="accordion__container m-boot-mobile-3 m-boot-desktop-6">
		<div class="custom-text__style mb-5">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">FAQ</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<div class="accordion__wrapper">
			<div class="accordion-left">
				<div class="accordion">
					<div class="accordion__icon ai-1">
						<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
						<p>What is cold brew?</p>
					</div>
					<p class="panel font-primary">
						Cold brew is coffee that has been steeped and infused with cold water over a long duration of time (usually more than 12 hours). Unlike hot coffee that is then chilled or served over ice, cold brew is fresh coffee and filtered water that is brewed slowly without heat. This process produces a coffee that has a much smoother flavour without that usual bitterness or sourness that you usually get in black coffee.
					</p>
				</div>
				<div class="accordion">
						<div class="accordion__icon ai-1">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>Is it possible to self-collect today?</p>
						</div>
						<p class="panel font-primary">
							Yes. Limited quantities for self-collection is available from Mondays to Fridays. Do speak with us via our web chat and we will do our best to give you our hidden stash. Our self-collection is at our microbrewery located at Mandai.
						</p>
				</div>
				<div class="accordion">
						<div class="accordion__icon ai-1">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>How is Bootstrap able to achieve such superior fridge-life?</p>
						</div>
						<p class="panel font-primary">
							We are able to do this because of our dedicated microbrewery and brewing process that we've refined over the years. We have also taken strides to ensure that our cold chain process is rigorous to withstand the journey from our brewery to your fridge. Bootstrap cold brews are unpasteurised and do not contain any preservatives. You can be sure that you'll always get the real deal with us.
						</p>
				</div>
			</div>
			<div class="accordion-right">
				<div class="accordion">
					<div class="accordion__icon ai-2">
						<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
						<p>When do you deliver?</p>
					</div>
					<p class="panel font-primary">
						You may select the delivery date and time when you are checking out. Enjoy next-day delivery when you place your order before 2pm every business day.
					</p>
				</div>
				<div class="accordion">
					<div class="accordion__icon ai-2">
						<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
						<p>How long does your cold brews last?</p>
					</div>
					<p class="panel font-primary">
						Our cold brews have a fridge-life of 14-30 days depending on the flavour. Each bottle has an expiry date marked out on the label. Every batch is made fresh only when your order is placed. That's our promise.
					</p>
				</div>
				<div class="accordion">
					<div class="accordion__icon ai-2">
						<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
						<p>Must the cold brews be refrigerated?</p>
					</div>
					<p class="panel font-primary">
						Yes! Our cold brews are made cold, delivered cold and needs to be stored cold. If you're ordering it it as a gift, do remember to remind your recipient to refrigerate it ASAP.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

	$(document).ready(function(){
		$(".testimonials__wrapper").slick({
			dots:false,
			slidesToShow: 3,
			arrows: true,
			prevArrow: $('.prev-arrow'),
			nextArrow: $('.next-arrow'),
			centerMode: true,
			centerPadding: '40px',
			responsive: [
				{
					breakpoint: 1440,
					settings: {
						slidesToShow: 3,
						centerMode: true,
						centerPadding: '40px',
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 2,
						centerMode: true,
						centerPadding: '40px',
					}
				},
				{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});
	})

	$(document).ready(function(){
		$(".hero__wrapper").slick({
			dots:false,
			slidesToShow: 1,
			slidesToScroll: 1,

			arrows: false,
			prevArrow: $('.prev-arrow'),
			nextArrow: $('.next-arrow'),
			autoplay: true,
  		autoplaySpeed: 4000,
		});
	})

	var acc= document.getElementsByClassName('accordion__icon');
	var i;
	var len = acc.length;
	for(i = 0; i < len; i++) {
		acc[i].addEventListener('click', function() {
			this.classList.toggle('active');

			var panel = this.nextElementSibling;
			if(panel.style.maxHeight) {
				panel.style.maxHeight = null;
			} else {
				panel.style.maxHeight = panel.scrollHeight + 'px'
			}
		})
	}
</script>
{% endblock extra_js %}
