{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_tags %}
{% load purchase_info_tags currency_filters %}

{% block title %}Product Detail{% endblock %}

{% block content %}
{% is_on_wishlist request product as wishlist_info %}
{% purchase_info_for_product request product as session %}
  <section>
    <div
      class="product-detail__carousel mobile-only js-flickity"
      data-flickity-options='{ "wrapAround": true, "cellAlign": "left" }'
    >
      <div class="gallery-cell">
        <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" alt="strong cold brew-1" class="w-100"/>
      </div>
      <div class="gallery-cell">
        <img src="{% static 'images/boot/strong/strong-cold-brew-2.png' %}" alt="strong cold brew-2" class="w-100"/>
      </div>
      <div class="gallery-cell">
        <img src="{% static 'images/boot/strong/strong-cold-brew-3.png' %}" alt="strong cold brew-3" class="w-100"/>
      </div>
      <div class="gallery-cell">
        <img src="{% static 'images/boot/strong/strong-cold-brew-4.png' %}" alt="strong cold brew-4" class="w-100"/>
      </div>
      <div class="gallery-cell">
        <img src="{% static 'images/boot/strong/strong-cold-brew-5.png' %}" alt="strong cold brew-5" class="w-100"/>
      </div>
      <div class="gallery-cell">
        <img src="{% static 'images/boot/strong/strong-cold-brew-6.png' %}" alt="strong cold brew-6" class="w-100"/>
      </div>
    </div>
    <div class="product-detail__container pt-5">
      <div class="product-detail__left desktop-only mb-6">
        <div class="thumbnail-small__wrapper">
          <label for="image-1" class="gallery">
            <input type="radio" name="switcher" id="image-1">
            <img
              src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}"
              data-switcher="{% static 'images/boot/strong/strong-cold-brew-1.png' %}"
              alt="strong cold brew-1"
              class="w-100 cursor-pointer"
            />
          </label>
          <label for="image-2" class="gallery">
            <input type="radio" name="switcher" id="image-2">
            <img
              src="{% static 'images/boot/strong/strong-cold-brew-2.png' %}"
              data-switcher="{% static 'images/boot/strong/strong-cold-brew-2.png' %}"
              alt="strong cold brew-1"
              class="w-100 cursor-pointer"
            />
          </label>
          <label for="image-3" class="gallery">
            <input type="radio" name="switcher" id="image-3">
            <img
              src="{% static 'images/boot/strong/strong-cold-brew-3.png' %}"
              data-switcher="{% static 'images/boot/strong/strong-cold-brew-3.png' %}"
              alt="strong cold brew-1"
              class="w-100 cursor-pointer"
            />
          </label>
          <label for="image-4" class="gallery">
            <input type="radio" name="switcher" id="image-4">
            <img
              src="{% static 'images/boot/strong/strong-cold-brew-4.png' %}"
              data-switcher="{% static 'images/boot/strong/strong-cold-brew-4.png' %}"
              alt="strong cold brew-1"
              class="w-100 cursor-pointer"
            />
          </label>
          <label for="image-5" class="gallery">
            <input type="radio" name="switcher" id="image-5">
            <img
              src="{% static 'images/boot/strong/strong-cold-brew-5.png' %}"
              data-switcher="{% static 'images/boot/strong/strong-cold-brew-5.png' %}"
              alt="strong cold brew-1"
              class="w-100 cursor-pointer"
            />
          </label>
          <label for="image-6" class="gallery">
            <input type="radio" name="switcher" id="image-6">
            <img
              src="{% static 'images/boot/strong/strong-cold-brew-6.png' %}"
              data-switcher="{% static 'images/boot/strong/strong-cold-brew-6.png' %}"
              alt="strong cold brew-1"
              class="w-100 cursor-pointer"
            />
          </label>
        </div>
        <div class="thumbnail-big__wrapper gallery">
          <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" id="switcher" alt="strong cold brew-1" class="w-100"/>
        </div>
      </div>

      <div class="product-detail__right m-boot-mobile-6">
        <div class="product-detail__name-price">
          <h1>{{ product.get_title }}</h1>
          {% block product_stock_record %}
            {% if product.is_parent %}
              <div class="font-secondary input-default">from {{ product.sorted_size_pack_price_from|currency:session.price.currency }}</div>
            {% endif %}
          {% endblock %}
          <br/>
          <p class="label-semibold">Tax included. Shipping calculated at checkout.</p>
          <br/>
        </div>
        <hr class="border border-1"/>
        <div class="product-detail__choose-quantity--container ">
          <div class="font-primary">Size</div>
          <br/>
          <div class="product-detail__choose-quantity--wrapper mb-4 ">
            {% for variant in product.sorted_size_pack %}
            <input
                type = "radio"
                id = "variant_{{ variant.id }}"
                name = "pack_{{ counter }}"
                value = "{{ variant.id }}"
                onclick="changeUrl('{{ counter }}', '{{ variant.id }}')"
                {% if forloop.counter0 == 0 %}checked="checked"{% endif %}
            />
            <label for="variant_{{ variant.id }}" class="font-primary text-center cursor-pointer">{{ variant.get_title }}</label>
            {% endfor %}
          </div>
          {% block product_basket_form %}
            {% include "oscar/catalogue/partials/add_to_basket_form.html" with counter=counter btnCss='button--primary__styled' %}
          {% endblock %}
        </div>
        <div class="py-4">
          <p>
            A favourite amongst the fitness community and go-getters in our midst, our strong black coffee is brewed
            with double the strength to give you an extra boost to achieve your goals. All natural, full-bodied with a
            dark chocolate finish, pour over ice for extra pleasure.
          </p>
          <br/>
          <p>
            Each 250ml bottle gives the equivalent of 4 full cups of coffee.
          </p>
          <br/>
          <p>
            30 days fridge life
          </p>
          <br/>
          <p class="font-italic">
            Please kindly note that for bulk orders of 100 bottles and above, we would need at least 2 working days
            notice to process, brew and bottle the orders.
          </p>
        </div>
        <div class="product-detail__benefits--container">
          <div class="benefits__wrapper text-center">
            <div class="image-border">
              <img src="{% static 'images/boot/icons/dairy-free.png' %}" alt="dairy-free"/>
            </div>
            <p class="d-flex align-items-center m-auto">Dairy-free</p>
          </div>
          <div class="benefits__wrapper text-center">
            <div class="image-border">
              <img src="{% static 'images/boot/icons/vegan-friendly.png' %}" alt="vegan-friendly"/>
            </div>
            <p class="d-flex align-items-center m-auto">Vegan-friendly</p>
          </div>
          <div class="benefits__wrapper text-center">
            <div class="image-border">
              <img src="{% static 'images/boot/icons/no-sugar.png' %}" alt="no-sugar"/>
            </div>
            <p class="d-flex align-items-center m-auto">No sugar</p>
          </div>
          <div class="benefits__wrapper text-center">
            <div class="image-border">
              <img src="{% static 'images/boot/icons/zero-calories.png' %}" alt="zero-calories"/>
            </div>
            <p class="d-flex align-items-center m-auto">Zero calories</p>
          </div>
        </div>
        <p class="text-bold py-4">
          Dark Chocolate malt & Double Strength
        </p>
        <div class="accordion mb-4">
          <div class="p-3 border accordion-header d-flex justify-content-between align-items-center cursor-pointer">
            <p>NUTRITIONAL INFORMATION</p>
            <img src="{% static 'images/boot/icons/down.svg' %}" alt="down"/>
          </div>
          <div class="accordion__content font-primary">
            <div class="accordion__table">
              <div class="ingredients py-3">
                <p class="text-bold">Ingredients</p>
                <p>Just pure water and fresh organic roasted coffee, nothing else</p>
              </div>
              <div class="nutrition text-bold py-3">Nutritional Facts (per 250ml)</div>
              <p class="calories text-bold p-3 border">Calories</p>
              <p class="calories-info text-bold text-end p-3 border">0</p>
              <p class="fat p-3 border">Total Fat</p>
              <p class="fat-info text-bold text-end p-3 border">0gr</p>
              <p class="total p-3 border">Total</p>
              <p class="total-info text-bold text-end p-3 border">0gr</p>
              <p class="carbohydrate p-3 border">Carbohydrate</p>
              <p class="carbohydrate-info text-end p-3 border">0gr</p>
              <p class="protein p-3 border">Total Protein</p>
              <p class="protein-info text-end p-3 border">0gr</p>
            </div>
          </div>
        </div>
        <div class="accordion mb-4">
          <div class="p-3 border accordion-header d-flex justify-content-between align-items-center cursor-pointer">
            <p class="pt-2">SHIPPING INFORMATION</p>
            <img src="{% static 'images/boot/icons/down.svg' %}" alt="down"/>
          </div>
          <p class="accordion__content font-primary">
              You may select the delivery date and time at checkout. Next day delivery is available for orders placed before 2:30pm on Monday - Friday except public holidays. <br/><br/>
              For deliveries on weekdays (excluding PH): Select from 2 time slots: (1) 12:30 PM to 18:30 PM or (2) 19:00 PM to 22:00 PM. Deliveries on Saturday is available from 10:00 AM to 16:00 PM.<br/><br/>
              For self-collection, you may drop by our Bootstrap HQ on weekdays (excluding PH) between 11am to 5pm. Please kindly note that for orders above 2 cartons, 2 working days is required to brew and process your order.<br/><br/>
              For same day self-collection, reach out to our customer service representative via our live website chat. Subjected to availability.
          </p>
        </div>
        <div class="product-detail__share">
          <div class="text-besides-icon">
            <div class="icon">
              <img src="{% static 'images/boot/icons/facebook-icon.svg' %}" alt="facebook-icon" class="w-100"/>
            </div>
            <p class="label-default"> Share
            </p>
          </div>
          <div class="text-besides-icon">
            <div class="icon">
              <img src="{% static 'images/boot/icons/twitter-icon.svg' %}" alt="twitter-icon" class="w-100"/>
            </div>
            <p class="label-default"> Tweet
            </p>
          </div>
          <div class="text-besides-icon">
            <div class="icon">
              <img src="{% static 'images/boot/icons/pinterest-icon.svg' %}" alt="pinterest-icon" class="w-100"/>
            </div>
            <p class="label-default"> Pin it
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="product-detail__card--container m-boot-mobile-6 m-boot-desktop-6">
      <div class="custom-text__style mb-6">
        <hr class="w-100">
        <img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
        <h4 class="text-center px-2">YOU MAY ALSO LIKE</h4>
        <img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
        <hr class="w-100">
      </div>
      <div class="product-detail__additional-product">
      <!-- TODO: Fix the height of the cards. It is not aligned. Maybe just change the recommendation to just 4 products?-->
        <div class="product-card">
            <a href="{% url 'product-detail' %}" class="product-image__wrapper">
                <img src="{% static 'images/boot/black/black-cold-brew-1.jpg' %}" alt="black cold brew-1"/>
            </a>
            <div class="product-title-and-price">
                <p class="text-semibold text-center">BLACK COLD BREW COFFEE</p>
                <div class="font-secondary input-default text-center">from $36.00</div>
            </div>
            <div class="product-quantity__container">
                <div>Qty:</div>
                <div class="button-cart__container font-primary">
                    <button class="btn-counter btn-counter--decrement" onclick="subst(1)">-</button>
                    <div id="noOfRoom_1" class="text-center">0</div>
                    <button class="btn-counter btn-counter--increment" onclick="add(1)">+</button>
                </div>
            </div>
            <div class="product-pack__container">
                <div>Size/pack:</div>
                <div class="product-pack__choose font-primary">
                    <input
                            type = "radio"
                            id = "black-six"
                            name = "black-choose-pack"
                            value = "six"
                            checked="checked"
                        />
                    <label for="black-six">6</label>

                    <input
                        type = "radio"
                        id = "black-twelve"
                        name = "black-choose-pack"
                        value = "twelve"
                    />
                    <label for="black-twelve">12</label>

                    <input
                        type ="radio"
                        id = "black-twenty-four"
                        name ="black-choose-pack"
                        value ="twenty-four"
                    />
                    <label for="black-twenty-four">24</label>
                </div>
            </div>
            <br/>
            <div class="button button--primary">ADD TO CART</div>
            <br/>
        </div>
        <div class="product-card">
          <a href="{% url 'product-detail' %}" class="product-image__wrapper">
            <img src="{% static 'images/boot/milk-manuka-honey/milk-manuka-honey-1.png' %}" alt="milk-manuka honey-1"/>
          </a>
          <div class="product-title-and-subtitle">
            <p class="text-semibold text-center">MILK & MANUKA HONEY COLD BREW COFFEE</p>
            <p class="text-center input-default">Creamy & Floral</p>
          </div>
          <div class="font-secondary input-default text-center input-default mb-3">from $36.00</div>
          <div class="product-quantity__container">
            <div>Qty:</div>
            <div class="button-cart__container font-primary">
              <button class="btn-counter btn-counter--decrement" onclick="subst(2)">-</button>
              <div id="noOfRoom_2" class="text-center">0</div>
              <button class="btn-counter btn-counter--increment" onclick="add(2)">+</button>
            </div>
          </div>
          <div class="product-pack__container">
            <div>Size/pack:</div>
            <div class="product-pack__choose font-primary">
              <input
                type = "radio"
                id = "milk-six"
                name = "milk-choose-pack"
                value = "six"
                checked="checked"
              />
              <label for="milk-six">6</label>

              <input
                type = "radio"
                id = "milk-twelve"
                name = "milk-choose-pack"
                value = "twelve"
              />
              <label for="milk-twelve">12</label>

              <inpuet
                type = "radio"
                id = "milk-twenty-four"
                name = "milk-choose-pack"
                value = "twenty-four"
              />
              <label for="milk-twenty-four">24</label>
            </div>
          </div>
          <br/>
          <div class="button button--primary">ADD TO CART</div>
        </div>
        <div class="product-card">
          <a href="{% url 'product-detail' %}" class="product-image__wrapper">
            <img src="{% static 'images/boot/oat-milk/oat-milk-cold-brew-1.png' %}" alt="oat milk cold brew-1/">
          </a>
          <div class="product-title-and-subtitle">
            <p class="text-semibold text-center">OAT MILK COLD BREW COFFEE</p>
            <p class="text-center input-default">Earthy and Light</p>
          </div>
          <div class="font-secondary input-default text-center input-default mb-3">from $36.00</div>
          <div class="product-quantity__container">
            <div>Qty:</div>
            <div class="button-cart__container font-primary">
              <button class="btn-counter btn-counter--decrement" onclick="subst(3)">-</button>
              <div id="noOfRoom_3" class="text-center">0</div>
              <button class="btn-counter btn-counter--increment" onclick="add(3)">+</button>
            </div>
          </div>
          <div class="product-pack__container">
            <div>Size/pack:</div>
            <div class="product-pack__choose font-primary">
              <input
                type = "radio"
                id = "oat-six"
                name = "oat-choose-pack"
                value = "six"
                checked="checked"
              />
              <label for="oat-six">6</label>

              <input
                type = "radio"
                id = "oat-twelve"
                name = "oat-choose-pack"
                value = "twelve"
              />
              <label for="oat-twelve">12</label>

              <input
                type = "radio"
                id = "oat-twenty-four"
                name = "oat-choose-pack"
                value = "twenty-four"
              />
              <label for="oat-twenty-four">24</label>
            </div>
          </div>
          <br/>
          <div class="button button--primary">ADD TO CART</div>
        </div>
        <div class="product-card">
          <a href="{% url 'product-detail' %}" class="product-image__wrapper">
            <img src="{% static 'images/boot/mocha/mocha-cold-brew-1.png' %}" alt="mocha cold brew-1"/>
          </a>
          <div class="product-title-and-subtitle">
            <p class="text-semibold text-center">MOCHA COLD BREW COFFEE</p>
          </div>
          <div class="font-secondary input-default text-center input-default mb-3">from $36.00</div>
          <div class="product-quantity__container">
            <div>Qty:</div>
            <div class="button-cart__container font-primary">
              <button class="btn-counter btn-counter--decrement" onclick="subst(4)">-</button>
              <div id="noOfRoom_4" class="text-center">0</div>
              <button class="btn-counter btn-counter--increment" onclick="add(4)">+</button>
            </div>
          </div>
            <div class="product-pack__container">
              <div>Size/pack:</div>
              <div class="product-pack__choose font-primary">
                <input
                  type = "radio"
                  id = "mocha-six"
                  name = "mocha-choose-pack"
                  value = "six"
                  checked="checked"
                />
                <label for="mocha-six">6</label>

                <input
                    type = "radio"
                    id = "mocha-twelve"
                    name = "mocha-choose-pack"
                    value = "twelve"
                />
                <label for="mocha-twelve">12</label>

                <input
                    type = "radio"
                    id = "mocha-twenty-four"
                    name = "mocha-choose-pack"
                    value = "twenty-four"
                />
                <label for="mocha-twenty-four">24</label>
              </div>
            </div>
            <br/>
          <div class="button button--primary">ADD TO CART</div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block extra_js %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type="text/javascript">
// Counter
    function add(number) {
    var $rooms = $("#noOfRoom_" + number);
    var a = parseInt($rooms.text(), 10);
    a++;
    $("#subs").prop("disabled", !a);
    $rooms.text(a);
}

  function subst(number) {
      var $rooms = $("#noOfRoom_" + number);
      var b = parseInt($rooms.text(), 10);
      if (b >= 1) {
          b--;
          $rooms.text(b);
      }
      else {
          $("#subs").prop("disabled", true);
      }
  }

    // Thumbnail
    $(function() {
      $("img").click(function() {
        var $input = $(this);
        $("#switcher").attr("src", $input.attr("data-switcher"));
      });
    });

  // Accordion
  var acc= document.getElementsByClassName('accordion-header');
  var i;
  var len = acc.length;
  for(i = 0; i < len; i++) {
    acc[i].addEventListener('click', function() {
        this.classList.toggle('active');

        var panel = this.nextElementSibling;
        if(panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + 'px'
        }
    })
  }
</script>
{% endblock extra_js %}
