{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Refer a Friend{% endblock %}

{% block content %}
<section>
  <div class="refer-a-friend__wrapper margin-bottom-3" style="--background-image: url({% static 'images/boot/refer-a-friend-hero.jpg' %})">
    <div class="refer-a-friend__content">
      <h3 class="bold text-black">Refer A Friend And Get $10 Off</h3>
      <p class="body-default text-black">Know a friend who'd love Bootstrap?</p>
      <p class="body-default text-black"> Share your referral link with a friend and get $10 off when they make a purchas</p>
      <p class="referral-button button button--primary">Get a Referral Link</p>
    </div>
  </div>
    
  <div class="m-boot-mobile-3 m-boot-desktop-6">
    <h3 class="text-center margin-bottom-3">How It Works</h3>
    <div class="referral-steps__wrapper">
      <div class="referral-content__wrapper">
        <p class="referral-number">1</p>
        <p>Sign up for our referral program</p>
      </div>
      <div class="referral-content__wrapper">
        <p class="referral-number">2</p>
        <p>Share your unique referral link with a friend</p>
      </div>
      <div class="referral-content__wrapper">
        <p class="referral-number">3</p>
        <p>Redeem the offer by applying the unique code at checkout</p>
      </div>
      <div class="referral-content__wrapper">
        <p class="referral-number">4</p>
        <p>Once they use your code to checkout, a unique code for $10 off will be sent to your email</p>
      </div>
    </div>
    <div class="referral-tnc__wrapper margin-bottom-3">
      <p class="text-bold mb-2">Terms and Condition</p>
      <ol class="pl-3" style="list-style: decimal;">
        <li class="body-1 text-white mb-2">Bootstrap reserves the rights to reverse any reward redemption if it is found to be a fraud.
        </li>
        <li class="body-1 text-white mb-2"> The referral discount code will only be applicable to one-time purchases and not applicable to subscription products and bulk orders
        </li>
        <li class="body-1 text-white mb-2">$10 off unique promo code will only be sent to your email if applied at checkout by the referred individual.
        </li>
        <li class="body-1 text-white mb-2">For early cancellations, Bootstrap reserves the rights to charge any shortfall payment amounting to the price of the free 6-pack and the subsequent amounts deducted from the discounts.
        </li>
      </ol>
    </div>
    <div class="referral-cta__wrapper">
      <p class="body-default text-bold text-center mb-3">Not a Bootstrap Member Yet?</p>
      <a href="{% url 'signup' %}" class="referral-button mx-auto button button--primary button--primary__styled text-end">SIGN UP NOW</a>
    </div>
  </div>

</section>
{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    var acc= document.getElementsByClassName('accordion__icon');
    var i;
    var len = acc.length;
    for(i = 0; i < len; i++) {
      acc[i].addEventListener('click', function() {
        this.classList.toggle('active');

        var panel = this.nextElementSibling;
        if(panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + 'px'
        }
      })
    }
</script>
{% endblock extra_js %}
