{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}SEARCH{% endblock %}

{% block content %}
    <section class=" m-boot-mobile-6 m-boot-desktop-6 pt-5">
        <div class="breadcrumbs m-boot-mobile-3">
            <p class="label-default">Home / Search</p>
        </div>
        <div class="position-relative search__wrapper">
          <div class="search__content">
            <h2 class="text-center margin-bottom-2 text-semibold">SEARCH</h2>
            <div class="d-flex">
              <input type="text" placeholder="Search our store">
              </input>
              <button class="button button--primary">
                  SEARCH
              </button>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}
