{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Stockists{% endblock %}
{% block description %}We made this map to help you find all the cafes, gyms, and shops near you offering Bootstrap Cold Brew Coffee.{% endblock %}

{% block content %}
    <section class="m-boot-desktop-6 pt-5">
        <div class="breadcrumbs">
            <p class="label-default">Home / Stockists</p>
        </div>

        <h2 class="text-center mb-3">STOCKISTS</h2>

        <div class="text-center font-primary m-boot-mobile-3">BOOTSTRAP COLD BREWS CAN BE ORDERED ONLINE AND DELIVERED TO YOUR DOOR. WE ARE ALSO STOCKED AT SOME OF OUR FAVOURITE LOCATIONS ISLANDWIDE.</div>
        <div class="stockists-search__wrapper m-boot-mobile-3">
            <input type="text" placeholder="Enter your address, zip code or city">
            </input>
            <button class="button button--primary">
                SEARCH STOCKISTS
            </button>
        </div>
        <div class="stockists__wrapper">
            <div class="stockists__map">
                <img src="{% static 'images/boot/map-example.png' %}" alt="map-example" class="w-100"/>
            </div>
            <div class="stockists-list__wrapper">
                <div class="stockists-card">
                    <div class="d-flex justify-content-between font-primary">
                        <div> BAKE N' BREW </div>
                        <div> 0.25km </div>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="18" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                        </p>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">Tue-Sun: 9am - 8pm
                        </p>
                    </div>
                </div>
                <div class="stockists-card">
                    <div class="d-flex justify-content-between font-primary">
                        <div> BAKE N' BREW </div>
                        <div> 0.25km </div>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="18" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                        </p>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">Tue-Sun: 9am - 8pm
                        </p>
                    </div>
                </div>
                <div class="stockists-card">
                    <div class="d-flex justify-content-between font-primary">
                        <div> BAKE N' BREW </div>
                        <div> 0.25km </div>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="18" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                        </p>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">Tue-Sun: 9am - 8pm
                        </p>
                    </div>
                </div>
                <div class="stockists-card">
                    <div class="d-flex justify-content-between font-primary">
                        <div> BAKE N' BREW </div>
                        <div> 0.25km </div>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="18" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                        </p>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">Tue-Sun: 9am - 8pm
                        </p>
                    </div>
                </div>
                <div class="stockists-card">
                    <div class="d-flex justify-content-between font-primary">
                        <div> BAKE N' BREW </div>
                        <div> 0.25km </div>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="18" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                        </p>
                    </div>
                    <br/>
                    <div class="text-besides-icon">
                        <div class="icon">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p class="label-default">Tue-Sun: 9am - 8pm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
