{% extends "base.html" %}

{% load static %}

{% block title %}Subscribe and Save Facebook Ads{% endblock %}
{% block description %}Build your own coffee experience with your Bootstrap Coffee Subscription Plan. The best coffee subscription services in Singapore{% endblock %}

{% block content %}

<section>
	<div class="fb-banner__section bg-size-cover bg-position-center position-relative mb-5">
		<div class="fb-banner__wrapper background-image background-image__fb-banner h-700 bg-size-cover bg-position-center" style="--background-img:url({% static 'images/boot/fb-banner-mobile.png' %}); --background-img-desktop:url({% static 'images/boot/fb-banner-desktop.png' %})">
			<div class="fb-banner__caption">
				<div class="fb-banner__header">
					<h3 class="text--dark">Get a 6-pack on the house when you Subscribe</h3>
					<p class="text--dark text-bold">You don't have to hit the gym to get this 6-pack!</p>
					<a href="#startYourPlans" class="button button--primary button--primary__styled w-max-content">View Plans</a>
				</div>
				<div>
					<a href="#tnc" class="text--dark text-helper tnc-fb" style="text-decoration: underline;">Terms and Conditions Apply</a>
					<p class="text--dark text-helper">Free 6-pack valid only for New Subscribers</p>
				</div>
			</div>
		</div>
	</div>
	<div class="m-boot-mobile-3 m-boot-desktop-3">
		<div class="custom-text__style mb-5">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">SUBSCRIPTION PERKS</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<div class="subscription-perks__wrapper">
			<div class="subscription-perks__item">
				<img src="{% static 'images/boot/exclusive-savings.png' %}" alt="exclusive savings">
					<div>
						<p class="title text-bold mb-2">EXCLUSIVE SAVINGS</p>
						<p class="input-default">Get 20% off and free shipping always on all deliveries</p>
					</div>
			</div>
			<div class="subscription-perks__item">
				<img src="{% static 'images/boot/personalised.png' %}" alt="personalised">
				<div>
					<p class="title text-bold mb-2">PERSONALISED</p>
					<p class="input-default">Change the flavours to your liking and preference at anytime</p>
				</div>
			</div>
			<div class="subscription-perks__item">
				<img src="{% static 'images/boot/brewed-to-order.png' %}" alt="brewed-to-order">
					<div>
						<p class="title text-bold mb-2">BREWED TO ORDER</p>
						<p class="input-default">Freshly-brewed for you daily in our microbrewery in Singapore</p>
					</div>
			</div>
			<div class="subscription-perks__item">
				<img src="{% static 'images/boot/shipped-to-your-door.png' %}" alt="shipped-to-your-door">
				<div>
					<p class="title text-bold mb-2">SHIPPED TO YOUR DOOR</p>
					<p class="input-default">Bottles delivered to you fresh and on-time, always</p>
				</div>
			</div>
		</div>
	</div>
	<div class="m-boot-mobile-3 m-boot-desktop-3">
		<div class="custom-text__style mb-5">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">OUR BEVERAGES</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<div class="our-beverages__wrapper">
			<div class="our-beverages__item">
				<img src="{% static 'images/boot/black.png' %}" alt="black-cold-brew-coffee" class="w-100">
				<p class="text-center">BLACK COLD BREW COFFEE</p>
			</div>
			<div class="our-beverages__item">
				<img src="{% static 'images/boot/strong.png' %}" alt="strong-cold-brew-coffee" class="w-100">
				<p class="text-center">STRONG COLD BREW COFFEE</p>
			</div>
			<div class="our-beverages__item">
				<img src="{% static 'images/boot/manuka.png' %}" alt="milk-and-manuka-honey-cold-brew-coffee" class="w-100">
				<p class="text-center">MILK & MANUKA HONEY COLD BREW COFFEE</p>
			</div>
			<div class="our-beverages__item">
				<img src="{% static 'images/boot/oat-milk.png' %}" alt="oat-milk-cold-brew-coffee" class="w-100">
				<p class="text-center">OAT MILK COLD BREW COFFEE</p>
			</div>
			<div class="our-beverages__item">
				<img src="{% static 'images/boot/rooibos-orange-tea.png' %}" alt="rooibos-orange-cold-brew-tea" class="w-100">
				<p class="text-center">ROOIBOS ORANGE COLD BREW TEA</p>
			</div>
			<div class="our-beverages__item">
				<img src="{% static 'images/boot/hojicha.png' %}" alt="hojicha-cold-brew-tea" class="w-100">
				<p class="text-center">HOJICHA COLD BREW TEA</p>
			</div>
			<div class="our-beverages__item">
				<img src="{% static 'images/boot/mocha.png' %}" alt="mocha-cold-brew-coffee" class="w-100">
				<p class="text-center">MOCHA COLD BREW COFFEE</p>
			</div>
		</div>

	</div>
	<div class="m-boot-mobile-3 m-boot-desktop-3" id="startYourPlans">
		<div class="custom-text__style mb-2">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">START YOUR PLANS</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<p class="text-center mb-4">Sign up first and start your subscription plan</p>
		<div class="subscribe-type__container">
			<div class="subscribe-type__wrapper">
				<div class="background-image h-450-mobile h-700-desktop bg-size-cover" style="--background-img: url({% static 'images/boot/prepaid.jpg' %})"></div>
				<div class="description description__prepaid">
					<h2 class=""> Prepaid </h2>
					<br/>
					<p class="">We all need caffeine. Enjoy the full suite and save up to $500 when you hop on a prepaid subscription with us.</p>
					<br/>
					<a href="{% url 'subscription' %}" class="button button--secondary button-view-plans button-view-plans--left">VIEW PLANS</a>
				</div>
			</div>
			<div class="subscribe-type__wrapper">
				<div class="background-image h-450-mobile h-700-desktop bg-size-cover" style="--background-img: url({% static 'images/boot/pay-as-you-go.png' %})"></div>
				<div class="description description__pay-as-you-go">
					<h2 class=""> Pay-as-you-go </h2>
					<br/>
					<p class="">Not ready to commit? Continue to enjoy the benefits on a pay-as-you-go basis. 20% off Always.</p>
					<br/>
					<a href="{% url 'subscription' %}" class="button button--secondary button-view-plans button-view-plans--right">VIEW PLANS</a>
				</div>
			</div>
		</div>
	</div>
	{% include 'components/subscription-faq.html' %}

	{% include 'components/enjoyed-by.html' %}

	<div class="testimonials__container m-boot-mobile-6 m-boot-desktop-6">
		<div class="custom-text__style mb-5">
			<hr class="w-100">
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
			<h4 class="text-center px-2">SUBSCRIBER'S TESTIMONIALS</h4>
			<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
			<hr class="w-100">
		</div>
		<div class="testimonials__wrapper subscribers-testimonials__wrapper">
			<div class="testimonials__content">
				<div class="client__profile">
					<div class="client__image">
						<img src="{% static 'images/boot/martin.png' %}" alt="martin"/>
					</div>
					<div class="client__short-bio">
						<p class="body-title client__name">MARTIN</p>
						<p>Auditor</p>
					</div>
				</div>

				<div class="client__testimonial">
					<div class="quote__open">
						<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
					</div>
					<p class="quote__content">Not a black coffee drinker but this is good stuff from Bootstrap Cold Brew SG
					</p>
					<div class="quote__close">
						<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
					</div>
				</div>
			</div>
				<div class="testimonials__content">
					<div class="client__profile">
						<div class="client__image">
							<img src="{% static 'images/boot/charlene.png' %}" alt="charlene"/>
						</div>
						<div class="client__short-bio">
							<p class="body-title client__name">CHARLENE</p>
							<p>Financial Executive</p>
						</div>
					</div>

					<div class="client__testimonial">
						<div class="quote__open">
							<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
						</div>
						<p class="quote__content">Really appreciate the no delivery charge for subscriptions as I can't do without coffee. I love the Oat Milk.
						</p>
						<div class="quote__close">
							<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
						</div>
					</div>
				</div>
				<div class="testimonials__content">
					<div class="client__profile">
						<div class="client__image">
							<img src="{% static 'images/boot/michael.png' %}" alt="michael"/>
						</div>
						<div class="client__short-bio">
							<p class="body-title client__name">MICHAEL</p>
							<p>Analyst</p>
						</div>
					</div>

					<div class="client__testimonial">
						<div class="quote__open">
							<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
						</div>
						<p class="quote__content">Love the flavour profile of their cold brew; plus, it's good and strong, perfect to get me going in the morning.
						</p>
						<div class="quote__close">
							<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
						</div>
					</div>
				</div>
				<div class="testimonials__content">
					<div class="client__profile">
						<div class="client__image">
							<img src="{% static 'images/boot/eugene.png' %}" alt="eugene"/>
						</div>
						<div class="client__short-bio">
							<p class="body-title client__name">EUGENE</p>
							<p>Software Engineer</p>
						</div>
					</div>

					<div class="client__testimonial">
						<div class="quote__open">
							<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
						</div>
						<p class="quote__content">Really liked the Manuka Honey cold brew. Would definitely recommend it to EVERYONE!
						</p>
						<div class="quote__close">
							<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
						</div>
					</div>
				</div>
		</div>
		<div class="testimonials__next">
			<img src="{% static 'images/boot/icons/circle-left.svg' %}" alt="circle-left" class="prev-arrow cursor-pointer"/>
			<img src="{% static 'images/boot/icons/circle-right.svg' %}" alt="circle-right" class="next-arrow cursor-pointer"/>
		</div>
	</div>

	<div class="m-boot-mobile-3 m-boot-desktop-3" id="tnc">
		<div class="referral-tnc__wrapper margin-bottom-3">
			<p class="text-bold mb-2">Terms and Condition</p>
			<ol class="pl-3" style="list-style: decimal;">
				<li class="body-1 text-white mb-2">The discount code will entitle you to a free 6-pack when you start a subscription with us. There will be a minimum subscription commitment of 4 paid cycles to enjoy this promotion.
				</li>
				<li class="body-1 text-white mb-2"> The referral discount code will only be applicable to one-time purchases and not applicable to subscription products and bulk orders
				</li>
				<li class="body-1 text-white mb-2">$10 off unique promo code will only be sent to your email if applied at checkout by the referred individual.
				</li>
			</ol>
		</div>
	</div>
</section>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
	var acc= document.getElementsByClassName('accordion__icon');
	var i;
	var len = acc.length;
	for(i = 0; i < len; i++) {
		acc[i].addEventListener('click', function() {
			this.classList.toggle('active');

			var panel = this.nextElementSibling;
			if(panel.style.maxHeight) {
				panel.style.maxHeight = null;
			} else {
				panel.style.maxHeight = panel.scrollHeight + 'px'
			}
		})
	}

	$(document).ready(function(){
		$(".subscribers-testimonials__wrapper").slick({
			dots:false,
			slidesToShow: 3,
			arrows: true,
			prevArrow: $('.prev-arrow'),
			nextArrow: $('.next-arrow'),
			centerMode: true,
			centerPadding: '40px',
			responsive: [
				{
					breakpoint: 1440,
					settings: {
						slidesToShow: 3,
						centerMode: true,
						centerPadding: '40px',
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 2,
						centerMode: true,
						centerPadding: '40px',
					}
				},
				{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});
	})

	$(document).ready(function(){
		$(".our-beverages__wrapper").slick({
			dots:false,
			slidesToShow: 3,
			// arrows: true,
			autoplay: true,
  		autoplaySpeed: 3000,
			prevArrow:`<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;"><img src=${chevronLeft} alt='chevron-left'></button>`,
      nextArrow:`<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;"><img src=${chevronRight} alt='chevron-right' /></button>`,

			responsive: [
				{
					breakpoint: 1440,
					settings: {
						slidesToShow: 3,
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 3,
					}
				},
				{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});
	})

	$(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top - 75
    }, 500);
});
</script>

{% endblock %}
