{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Subscribe and Save{% endblock %}

{% block content %}
	<section class="subscribe-static__container pt-5">
		<div class="breadcrumbs">
			<p class="label-default">Home / Subscribe & Save</p>
		</div>

		<div class="m-boot-mobile-3">
			<h2 class="text-center">SUBSCRIBE & SAVE</h2>
		</div>
		<div class="subscribe-benefits__wrapper mb-6 m-boot-desktop-3">
			<div class="subscribe-icons">
				<img src="{% static 'images/boot/icons/free-shipping.svg' %}" alt="free-shipping"/>
				<p class="text-center">Free Shipping Always</p>
			</div>
			<div class="subscribe-icons">
				<img src="{% static 'images/boot/icons/flexible-schedule.svg' %}" alt="flexible-schedule"/>
				<p class="text-center">Flexible Schedule</p>
			</div>
			<div class="subscribe-icons">
				<img src="{% static 'images/boot/icons/customized-for-you.svg' %}" alt="customized"/>
				<p class="text-center">Customized for You</p>
			</div>
			<div class="subscribe-icons">
				<img src="{% static 'images/boot/icons/recurring-subscription.svg' %}" alt="Unbeatable-Savings"/>
				<p class="text-center">Unbeatable Savings</p>
			</div>
		</div>
		<div class="background-overlay__container mb-6 background-image h-450-mobile h-700-desktop bg-size-cover bg-position-center background-image__feel-great" style="--background-img: url({% static 'images/boot/mix-pack/mix-pack-2.png' %})">
			<div class="description description__center">
				<h2 class="text-center"> Feel Great Everyday </h2>
				<br/>
				<p class="text-center">
					We make it easier for you to have the best cold brew coffee in Singapore. Conveniently receive our cold brews weekly to your home or office.
				</p>
			</div>
		</div>

		<div class="subscribe-type__container">
			<div class="subscribe-type__wrapper">
				<div class="background-image h-450-mobile h-700-desktop bg-size-cover" style="--background-img: url({% static 'images/boot/prepaid.jpg' %})"></div>
				<div class="description description__prepaid">
					<h2 class=""> Prepaid </h2>
					<br/>
					<p class="">We all need caffeine. Enjoy the full suite and save up to $500 when you hop on a prepaid subscription with us.</p>
					<br/>
					<a href="{% url 'subscription' %}" class="button button--secondary button-view-plans button-view-plans--left">VIEW PLANS</a>
				</div>
			</div>
			<div class="subscribe-type__wrapper">
				<div class="background-image h-450-mobile h-700-desktop bg-size-cover" style="--background-img: url({% static 'images/boot/pay-as-you-go.png' %})"></div>
				<div class="description description__pay-as-you-go">
					<h2 class=""> Pay-as-you-go </h2>
					<br/>
					<p class="">Not ready to commit? Continue to enjoy the benefits on a pay-as-you-go basis. 20% off Always.</p>
					<br/>
					<a href="{% url 'subscription' %}" class="button button--secondary button-view-plans button-view-plans--right">VIEW PLANS</a>
				</div>
			</div>
		</div>

		<div class="subscribe-advantage__wrapper d-grid justify-content-around m-boot-mobile-6 m-boot-desktop-6">
			<div class="subscribe-icons">
				<img src="{% static 'images/boot/icons/green-initiative.png' %}" alt="green-initiative"/>
				<p class="text-center text--bold">Green Initiative</p>
				<p class="text-center">Combat food wastage, single use plastics, and carbon emission when you subscribe.</p>
			</div>
			<div class="subscribe-icons">
				<img src="{% static 'images/boot/icons/brewed-fresh.png' %}" alt="brewed-fresh"/>
				<p class="text-center text--bold">Brewed Fresh</p>
				<p class="text-center">Proudly made in Singapore. Your coffee is brewed fresh for 15 hours before every delivery.</p>
			</div>
			<div class="subscribe-icons">
				<img src="{% static 'images/boot/icons/change-delivery-schedule.png' %}" alt="change-delivery"/>
				<p class="text-center text--bold">Change Delivery Schedule</p>
				<p class="text-center">We all have busy schedule. We get that. Schedule your brews to fit your schedule.</p>
			</div>
		</div>
		<div class="background-image h-450-mobile h-700-desktop bg-size-cover bg-position-center mb-6" style="--background-img: url({% static 'images/boot/subscribe-big-section.jpg' %})">
		</div>
		<div class="m-boot-mobile-6 m-boot-desktop-6">
			<div class="custom-text__style mb-4">
				<hr class="w-100">
				<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
				<h4 class="text-center px-2">ENJOYED BY</h4>
				<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
				<hr class="w-100">
			</div>
			<div class="our-clients__icons">
				<img src="{% static 'images/boot/icons/the-straits-times.svg' %}" alt="the straits times"/>
				<img src="{% static 'images/boot/icons/google.svg' %}" alt="google"/>
				<img src="{% static 'images/boot/icons/dbs.svg' %}" alt="dbs"/>
				<img src="{% static 'images/boot/icons/bloomberg.svg' %}" alt="bloomberg"/>
				<img src="{% static 'images/boot/icons/f45.svg' %}" alt="f45"  style="width: 60%"/>
				<img src="{% static 'images/boot/icons/louis-vuitton.svg' %}" alt="louis vuitton" style="width: 40%"/>
			</div>
		</div>

		<div class="testimonials__container m-boot-mobile-6 m-boot-desktop-6">
			<div class="custom-text__style mb-5">
				<hr class="w-100">
				<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
				<h4 class="text-center px-2">TESTIMONIALS</h4>
				<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
				<hr class="w-100">
			</div>
			<div class="testimonials__wrapper">
				<div class="testimonials__content">
					<div class="client__profile">
						<div class="client__image">
							<img src="{% static 'images/boot/martin.png' %}" alt="martin"/>
						</div>
						<div class="client__short-bio">
							<p class="body-title client__name">MARTIN</p>
							<p>Auditor</p>
						</div>
					</div>
	
						<div class="client__testimonial">
							<div class="quote__open">
								<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
							</div>
							<p class="quote__content">Not a black coffee drinker but this is good stuff from Bootstrap Cold Brew SG
							</p>
							<div class="quote__close">
								<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
							</div>
						</div>
				</div>
					<div class="testimonials__content">
						<div class="client__profile">
							<div class="client__image">
								<img src="{% static 'images/boot/charlene.png' %}" alt="charlene"/>
							</div>
							<div class="client__short-bio">
								<p class="body-title client__name">CHARLENE</p>
								<p>Financial Executive</p>
							</div>
						</div>
	
						<div class="client__testimonial">
							<div class="quote__open">
								<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
							</div>
							<p class="quote__content">Really appreciate the no delivery charge for subscriptions as I can't do without coffee. I love the Oat Milk.
							</p>
							<div class="quote__close">
								<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
							</div>
						</div>
					</div>
					<div class="testimonials__content">
						<div class="client__profile">
							<div class="client__image">
								<img src="{% static 'images/boot/michael.png' %}" alt="michael"/>
							</div>
							<div class="client__short-bio">
								<p class="body-title client__name">MICHAEL</p>
								<p>Analyst</p>
							</div>
						</div>
	
						<div class="client__testimonial">
							<div class="quote__open">
								<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
							</div>
							<p class="quote__content">Love the flavour profile of their cold brew; plus, it's good and strong, perfect to get me going in the morning.
							</p>
							<div class="quote__close">
								<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
							</div>
						</div>
					</div>
					<div class="testimonials__content">
						<div class="client__profile">
							<div class="client__image">
								<img src="{% static 'images/boot/eugene.png' %}" alt="eugene"/>
							</div>
							<div class="client__short-bio">
								<p class="body-title client__name">EUGENE</p>
								<p>Software Engineer</p>
							</div>
						</div>
	
						<div class="client__testimonial">
							<div class="quote__open">
								<img src="{% static 'images/boot/icons/quote-open.svg' %}" alt="quote-open"/>
							</div>
							<p class="quote__content">Really liked the Manuka Honey cold brew. Would definitely recommend it to EVERYONE!
							</p>
							<div class="quote__close">
								<img src="{% static 'images/boot/icons/quote-close.svg' %}" alt="quote-close"/>
							</div>
						</div>
					</div>
			</div>
			<div class="testimonials__next">
				<img src="{% static 'images/boot/icons/circle-left.svg' %}" alt="circle-left" class="prev-arrow cursor-pointer"/>
				<img src="{% static 'images/boot/icons/circle-right.svg' %}" alt="circle-right" class="next-arrow cursor-pointer"/>
			</div>
		</div>

		<div class="accordion__container m-boot-mobile-3 m-boot-desktop-6">
			<div class="custom-text__style mb-6">
				<hr class="w-100">
				<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
				<h4 class="text-center px-2">FAQS</h4>
				<img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
				<hr class="w-100">
			</div>
			<div class="accordion__wrapper">
				<div class="accordion-left">
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>HOW DOES SUBSCRIPTIONS WORK?</p>
						</div>
						<p class="panel font-primary">
							We absolutely look forward to waking up or going to the office knowing that there's always a fridge fuelled up with Bootstrap cold brews. Perfect for the office or home, so that you and your family or colleagues can have the smoothest cold brew always on hand. Simply choose your favorite flavour, quantity and frequency and we will handle the rest. Never run out of the smoothest cold brew again. Go to our subscriptions and enjoy 20% off + free delivery now!
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>CAN I CHANGE MY FLAVOUR SELECTION OR MIX-AND-MATCH?</p>
						</div>
						<p class="panel font-primary">
							YES YOU CAN! You may swap your preferred cold brew selection at any time in between shipments. Simply login to your account and select Manage Subscription. In the subscriptions menu, you will see an option to "Swap Product" where you'll be able to swap your flavour.
							Our subscription customers are also given the exclusive feature to mix-and-match their 6/12/24 packs. If you would like to customize your packs, simply reach out to us via our website's live chat and our team members will be glad to assist you. We're also working on a feature which will allow you to mix-and-match your own flavours via the portal in a few months time!
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>WHEN WILL MY COLD BREWS BE DELIVERED?</p>
						</div>
						<p class="panel font-primary">
							Your first batch of cold brews will be delivered to you on the date and time-slot that you have selected during checkout. The delivery schedule (day of the week and time window) of subsequent subscription orders will follow your original or most updated preference with us. Should you like to make adjustments to your delivery preferences, please feel free to reach out to us on our website's live chat and we'll be most delighted to assist you.
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>CAN I ADJUST MY DELIVERY DATE AND TIME?</p>
						</div>
						<p class="panel font-primary">
							Yes, most certainly! You can request for a change in the delivery day and time slot by sending an email to our Customer Support Team at info@bootstrapbeverages.com or by reaching out to us on our live chat at the bottom right corner of the page. We're also working on a feature which will allow you to select the delivery date on your own, which will be launched in a few months!
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>CAN I SKIP A DELIVERY OR PAUSE MY SUBSCRIPTION?</p>
						</div>
						<p class="panel font-primary">
							You can pause, skip or reschedule your subscription at any time by logging into your account here. From there, simply click on Manage Subscriptions under your name and you would be able to manage your subscription there. If you face any difficulties, feel free to reach out to us via our website's live chat.
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>CAN I RETURN MY BOTTLES FOR RECYCLING?</p>
						</div>
						<p class="panel font-primary">
							YES, you most certainly can! Simply hand them back to our delivery driver the next time you receive your fresh set of brews from us!
						</p>
					</div>
				</div>
				<div class="accordion-right">
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>HOW DO I MANAGE MY SUBSCRIPTIONS?</p>
						</div>
						<p class="panel font-primary">
							It’s really easy. Simply log in to the account that you’ve created when you place a subscription order with us. You can register your account on our homepage or click here. Once you’ve logged into your account, click “Manage Subscriptions” on the left of the account portal which will allow you to do a number of things: You can swap flavours or products, pause or change the frequency of your orders, you can also skip an order if you happen to be travelling or trigger an easy cancellation if it’s just too much for you. Your subscription details will be saved so if you want to re-activate your subscription at any time it only takes one click! Make changes to your billing or shipping information in the account portal too. If you have any other questions, email us on info@bootstrapbeverages.com and we will get back to you shortly!
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>WHEN WILL I BE BILLED FOR MY SUBSCRIPTION?</p>
						</div>
						<p class="panel font-primary">
							After your first shipment, billing takes place on a Sunday afternoon preceding the week that your cold brews will be delivered. For example, if you are to receive your cold brews on a Tuesday, your order will be processed and a charge initiated to your card automatically on Sunday afternoon.
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>WHY IS MY BILLING DATE DIFFERENT FROM MY DELIVERY DATE?</p>
						</div>
						<p class="panel font-primary">
							The Billing Date refers to the date where your order will be processed and charged to your card. This typically takes place on the Sunday afternoon preceding the week that your cold brews will be delivered. If you need to change your delivery date and time or update your delivery preferences, please reach out to us on our live chat and we will be happy to assist you.
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>WHAT ARE THE SHIPPING RATE FOR SUBSCRIPTION ORDERS?</p>
						</div>
						<p class="panel font-primary">
							We offer free shipping islandwide within Singapore for subscribers, always!
						</p>
					</div>
					<div class="accordion">
						<div class="accordion__icon">
							<img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
							<p>CAN I CANCEL MY SUBSCRIPTION?</p>
						</div>
							<div class="panel font-primary">
								<p>Yes, most certainly! You can request for a change in the delivery day and time slot by sending an email to our Customer Support Team at info@bootstrapbeverages.com or by reaching out to us on our live chat at the bottom right corner of the page. We're also working on a feature which will allow you to select the delivery date on your own, which will be launched in a few months!
								</p>
								<p>
								Do note that for all standard subscriptions, cancellation is only possible after your second shipment. Any request to cancel your subscription after the 1st shipment will be regarded as a one-off purchase and will incur an early termination fee that amounts to the difference between the subscription price and the one-off price. If you are joining us on a subscription with a promotion applied, do note that there may be longer minimum commitment periods. Kindly look at the T&Cs under each promotion for clarification.
								</p>
								<p>
								For semi-annual and annual subscriptions, please kindly note that there will be an early cancellation fee amounting to 13 shipments that is chargeable.
								</p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".testimonials__wrapper").slick({
			dots:false,
			slidesToShow: 3,
			arrows: true,
			prevArrow: $('.prev-arrow'),
			nextArrow: $('.next-arrow'),
			centerMode: true,
			centerPadding: '40px',
			responsive: [
				{
					breakpoint: 1440,
					settings: {
						slidesToShow: 3,
						// slidesToScroll: 1,
						centerMode: true,
						centerPadding: '40px',
					}
				},
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 2,
						centerMode: true,
						centerPadding: '40px',
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
			]
		});
	})

	var acc= document.getElementsByClassName('accordion__icon');
	var i;
	var len = acc.length;
	for(i = 0; i < len; i++) {
		acc[i].addEventListener('click', function() {
			this.classList.toggle('active');

			var panel = this.nextElementSibling;
			if(panel.style.maxHeight) {
				panel.style.maxHeight = null;
			} else {
				panel.style.maxHeight = panel.scrollHeight + 'px'
			}
		})
	}
</script>
{% endblock extra_js %}
