{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
    <section class=" m-boot-mobile-6 m-boot-desktop-6 pt-5">
        <div class="breadcrumbs">
            <p class="label-default">Home / Terms of Service</p>
        </div>
        <div>
            <h2 class="text-center mb-3">BOOTSTRAP BEVERAGES TERMS OF SERVICE</h2>
            <div class="text-center font-primary m-boot-mobile-3">Effective Date : October 1, 2020</div>
        </div>
        <div class="tnc__wrapper">
            <p class="">Thank you for shopping at bootstrapbeverages.com. We invite you to explore our product offerings and related materials presented on our website (which we collectively call “product” and/or “service”), but please note that your invitation is subject to your agreement with these Terms and Conditions, so please review these carefully. 
            </p>
            
            <div class="tnc-title__wrapper">
                <p class="title text-bold">AGREEMENT TO TERMS</p>
                <p class="">These provisions, including the mandatory arbitration provisions, and Bootstrap Privacy Policy, Commercial Terms, as well as other terms or conditions that may be presented by us and accepted by you from time to time in connection with specific product offerings or promotions (all of which we collectively refer to as the “Terms”), are a contract between our Customer and Bootstrap Beverages Pte Ltd, d/b/a Bootstrap, the provider of the product (which we refer to in these Terms as “Bootstrap,” “we” or “us”). Bootstrap’s “Customer” is either (i) the individual user of the product or (ii) a business or organization, where an individual initiates an account on behalf of that business or organization, providing an email address using the domain of such business or organization. When we refer to “you” in these Terms, we are referring to the Customer. If you are creating an account for a business or organization, you are representing and warranting to us, on behalf of the Customer, that you have the authority to bind the Customer to these Terms. By purchasing the product, you acknowledge that you have read and understand, and agree to be bound by, these Terms and our Privacy Policy. If you do not agree to be legally bound by these Terms and our Privacy Policy, do not purchase the product.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">MODIFICATION OF THESE TERMS</p>
                <p class="">We may change, add or delete portions of these Terms at any time, at our sole discretion, as new features, technology, or legal requirements arise, so please check back from time to time. You may always determine if the Terms have changed by checking the Effective Date at the top of these Terms, and it is your responsibility to do so before purchasing the product. We will use reasonable efforts to notify you of any material changes by posting notice of the changes on the Service website, and/or, in our sole discretion, by email or other means. If we update these Terms, you are free to decide whether to accept the updated terms or to stop purchasing the product; your continued purchase of the product after the effectiveness of that update will be deemed to represent your agreement with, and consent to be bound by, the new Terms. See Termination of Account for instructions on how to terminate your account. Except for changes made by us as described here, no other amendment or modification of these Terms shall be effective unless set forth in a written agreement expressly amending these Terms and bearing a written signature by you and us. For clarity, email or other communications will not constitute an effective written agreement for this purpose.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">USE OF THE PRODUCT & SERVICE</p>
                <p class="">You may purchase the product only in accordance with and subject to these Terms if you are at least 18 years old. In order to order any products from us, you must provide certain information to complete a purchase and/or establish an account. It is your obligation to ensure that all of the information, data and other materials you provide us in connection with the product is true, accurate, current and complete. You are responsible for maintaining the confidentiality of your account and password. You are responsible for all activities that occur under your account or password, whether or not you know about or authorize them. You agree to immediately notify us in the event of any unauthorized use of your account or other breach of security. Use of the product is void where prohibited by law.
                </p>
                <p class="">Bootstrap utilizes various skilled third-parties (“ Service Providers”) to provide technical or other services relating to all or part of our fulfillment of the product, and you hereby agree that such involvement by these Service Providers is acceptable. Please see our Privacy Policy to understand the extent to which any third-party may have access to Customer Information.
                </p>
                <div class="ordered-list__title">
                    <p class="text-bold">a)</p>
                    <p class="text-bold"> Bootstrap’s Shipping Program </p>
                </div>
                <p> All Bootstrap’s products consist of a shipping fee which is chargeable to you based on the geographical distance from our microbrewery to the final destination (except subscription customers). Additional special shipping charges may apply to orders on a case by case basis. Any special shipping charges will be noted during checkout or via email after the purchase has been completed.
                </p>
                <p>
                    Bootstrap reserves the right to forfeit the order in the event that the order is unable to be shipped successfully due to any of the following reasons:
                </p>
                <div class="ordered-list__title">
                    <p>1. </p>
                    <p>The shipping address provided in the order is incorrect</p>
                </div>
                <div class="ordered-list__title">
                    <p>2. </p>
                    <p>The recipient is not present at the shipping address during the specified delivery period</p>
                </div>
                <div class="ordered-list__title"> 
                    <p>3. </p>
                    <p>Failure to notify Bootstrap of the need to change the delivery date and/or time at least 24 hours in advance from the original delivery period specified on the order confirmation
                    </p>
                </div>
                <p class="">Due to the perishable nature of our cold brews, should you be not at home to receive them when we deliver during your preferred delivery date and time slot, please inform us at least 24 hours in advance so that we can make the necessary arrangements. If the time period has elapsed, you may be liable for any re-delivery shipping charges of SGD8.00. You may also receive the brews with a shorter fridge shelf life as we may have already brewed and bottled your order.
                </p>
                <p class="">Bootstrap may also extend a promotion to customers whereby the shipping fee is waived for the promotional period. You may keep a lookout for such promotions on our website.
                </p>
                <p class="">Bootstrap does not cover return shipping for refunds, unless reviewed on a case-to-case basis. Bootstrap’s terms, eligibility, and timing are subject to change without notice.
                </p>
                <div class="ordered-list__title">
                    <p class="text-bold">b)</p>
                    <p class="text-bold">Product Descriptions</p>
                </div>
                <p>Bootstrap uses reasonable efforts to display the products listed for sale via the website as accurately as possible. However, Bootstrap does not warrant that product descriptions or other content are accurate, complete, reliable, current or error-free, as we rely upon our suppliers and partners to provide information regarding their products. If a product offered by Bootstrap is not as described, please contact us at your earliest opportunity at INFO@BOOTSTRAPBEVERAGES.COM and we will endeavor to find an acceptable solution. However, your sole remedy if we cannot find a solution is to return the product in accordance with our Commercial Terms.
                </p>
                <div class="ordered-list__title">
                    <p class="text-bold">c)</p>
                    <p class="text-bold"> Product Availability</p>
                </div>
                <p>All offered products on the Bootstrap website are subject to availability. Bootstrap reserves the right to change the items offered via the website at any time and without notice. The website may contain information about the availability of products at the time of ordering, but the quantity of inventory actually available can change significantly and without notice. If a product is not available for shipping promptly after you place your order, you will be notified, and you may choose to order a different item that is then-currently available, to wait until the product is available (if it will be available again in a timely manner) or to cancel your order. Bootstrap is not liable if products are not in stock or otherwise not available.
                </p>
    
                <div class="ordered-list__title">
                    <p class="text-bold">d)</p>
                    <p class="text-bold"> Third Party Product Warranties</p>
                </div>
                <p>Certain products offered on the website may include a warranty from the manufacturer of such product, in which event you may be entitled to receive protection against any defect or other covered issue with such product, from such manufacturer. You may contact us at INFO@BOOTSTRAPBEVERAGES.COM for information regarding the third-party manufacturer, and Bootstrap will use reasonable efforts to assist you; however, Bootstrap has no liability with respect to any product warranty provided by a third party, and you must seek any recovery or other benefit covered by such a third party warranty directly from such third party.
                </p>
    
                <div class="ordered-list__title">
                    <p class="text-bold">e)</p>
                    <p class="text-bold">Quality and Exchange Policys</p>
                </div>
                <p>We do not accept returns on our cold brews due to the perishable nature of our range of products. However, we are quite willing to resolve problems as they arise. If there is an error in your order that was delivered (i.e. wrong quantity, wrong flavor), please contact us at INFO@BOOTSTRAPBEVERAGES.COM or on our website’s live chat within 24 hours of receiving your order. If the time period of 24 hours has elapsed, on a case-by-case basis, Bootstrap reserves the right to refuse any exchange requests.
                </p>
                <p>If you have any issues with your coffee in terms of compromised product quality, please contact us at INFO@BOOTSTRAPBEVERAGES.COM or on our website’s live chat within the delivered cold brew’s best before date. We will do our best to ensure that you are satisfied.
                </p>
                <p>For any exchange requests or redelivery of our cold brews, please allow for a lead time of at least two working days for us to brew and bottle your order as well as dispatch it for delivery.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">f)</p>
                    <p class="text-bold">Cancellation Policy</p>
                </div>
                <p>Should you wish to cancel your order, (For Subscription, please refer to the terms below), you may submit a request to us at INFO@BOOTSTRAPBEVERAGES.COM or via our website’s live chat. If the order is due to be delivered within 48 hours of the submitted cancellation request, Bootstrap reserves the right to refuse the cancellation request and proceed with the order delivery as we may have processed the order.
                </p>
                <p>Should the cancellation request be approved, we will refund 100% of the order minus the delivery fee back to you. You should receive a refund notification email and the refund will be credited back to your account or reflected on your statement within 7 working days. Contact us if that is not the case.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">g)</p>
                    <p class="text-bold"> Gift Cards and Promotions</p>
                </div>
                <p>Bootstrap may from time to time offer certain Gift Cards or promotional events or opportunities which are subject to our Commercial Terms and may also be subject to specific rules or terms relating to the particular Gift Card or promotion. Orders placed that include any promotional items are not transferable or refundable. Gift cards and discounts cannot be used in conjunction with other promotions.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">h)</p>
                    <p class="text-bold">Feedback</p>
                </div>
                <p>We welcome feedback, comments and suggestions for improvements to the product and service (“Feedback”). You can submit Feedback by emailing us at INFO@BOOTSTRAPBEVERAGES.COM. You acknowledge and agree:
                </p>
                <div class="ordered-list__subtitle">
                    <p>(i) </p>
                    <p>Feedback does not contain confidential or proprietary information;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(ii) </p>
                    <p>Bootstrap is not under any obligation of confidentiality, express or implied, with respect to any Feedback;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(iii) </p>
                    <p>Bootstrap shall be entitled to use or disclose (or choose not to use or disclose) such Feedback for any purpose, in any way, including without limitation any and all reviews, suggestions, designs, concepts, photographs, testimonials and other items or materials (except for your personal information which is handled in accordance with our Privacy Policy);</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(iv) </p>
                    <p>Bootstrap may already have under consideration or in development ideas similar to or the same as such Feedback; </p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(v) </p>
                    <p>Your Feedback automatically becomes Bootstrap’s property without any obligation to you; and</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(vi) </p>
                    <p>You are not entitled to any accounting, compensation or reimbursement of any kind from Bootstrap under any circumstances. To be clear, Bootstrap shall be entitled to utilize all Feedback in any way without restriction or obligation to you including, without limitation, in for advertising, promotional, product development or other commercial purposes. Without limiting these rights, you hereby grant Bootstrap a non-exclusive, worldwide, perpetual, irrevocable, fully-paid, royalty-free, sublicensable and transferable license under any and all intellectual property rights that you own or control to use, copy, modify, create derivative works based upon and otherwise exploit the Feedback for any purpose. You agree that Bootstrap is under no obligation to review or use any Feedback (including any messages) posted on or sent through the Service by you or any third party and assumes no responsibility or liability relating to any such Feedback. Bootstrap, in its sole discretion, may monitor, not post or remove any Feedback.</p>
                </div>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">TERMS RELATING TO BOOTSTRAP SUBSCRIPTION PROGRAM</p>
                <p class="">The following terms and conditions apply to certain features of the Bootstrap Subscription Program:
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">a)</p>
                    <p class="text-bold">Auto-Renewal</p>
                </div>
                <p> Some of the Paid Services, such as Normal Subscription Order or Mix-and-Match Subscription order, (The “Subscription”) may consist of an initial period for which there is a one-time charge for the first product order, followed by recurring period charges as agreed by you.
                </p>
                <p> By ordering a Subscription, you agree to pay the applicable price and any other recurring charges upon each auto-renewal date, until you terminate your Subscription in accordance with our cancellation policy. Bootstrap’s cold brew subscription plan comes with a minimum commitment of two subscription cycles as of this moment until further notice. From time to time, there may be promotional campaigns for new subscriptions with different minimum commitment periods. Any early cancellation of a subscription with a promotional discount in force will incur an early cancellation penalty amounting to the full price of the first free shipment and subsequent discounts offered. The auto-renewal date (“Billing Date” or “Charge Date”) will happen automatically on the Sunday prior to the week that you receive your delivery.
                </p>
                <p> Subscriptions may not be cancelled or modified after an upcoming shipment has been processed and charged, in accordance with our brewing, bottling and shipping schedules, up to 48 hours prior to the customer delivery time slot.
                </p>
                <p>Subscription cancellations and modifications to the delivery date and frequency will only be applied to the next date for which a customer’s order has not already been processed.
                </p>
                <p>If you wish to cancel or modify automatic renewal, or otherwise modify your subscription, you can do so by emailing us at INFO@BOOTSTRAPBEVERAGES.COM or contacting us on our website’s live chat during normal business hours. Some subscription modifications such as rescheduling your charge date and cancellation, may be available by accessing your customer’s portal and clicking on Manage Subscription.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">b)</p>
                    <p class="text-bold">Subscription Promotional Discounts</p>
                </div>
                <p> With effect from 1st October 2020, any existing discount codes applied to your subscription account such as "SUBNOW" will be permanently disabled and removed from your account in line with our revamped subscription program.
                </p> 
                <p>Bootstrap may give out promotional discounts from time to time for a promotional period. Once the promotional period or discount code expires (whichever is first), your Subscription will renew at the full price. Any early cancellation of a subscription with a promotional discount in force will incur an early cancellation penalty amounting to the full price of the first free shipment and subsequent discounts offered. In subscriptions where a discount code is not applied, please note that if the subscription is terminated before the second shipment, the order will be classified as a one-time purchase and the full discount value of the 1st shipment will be charged, with or without prior notice. Bootstrap reserves the right to remove the discount code without prior notice.
                </p> 
                <p>Existing Subscribers may not be entitled to any benefits from the discount codes given. However, they may opt to hop on our referral program where they will be entitled to separate subscription benefits as part of the program.
                </p> 

                <div class="ordered-list__title">
                    <p class="text-bold">c)</p>
                    <p class="text-bold"> Product Selection</p>
                </div>
                <p>Based on the Paid Services you select, you may receive recurring shipments of a single flavour of cold brew (Normal Subscription) or you may receive a mix-and-match of flavors (Mix-and-Match Subscription) from among the current and future range of Bootstrap’s cold brew catalog (Cold Brew Coffee or Cold Brew Tea). You will be asked to specify one or more Subscriptions when placing your order and may reference your order receipt or personalised homepage for a list of currently active Subscriptions.
                </p> 
                <p>From time to time, cold brew flavours may become temporarily or permanently removed from Bootstrap's cold brew catalog based on seasonality or other factors. In the event a cold brew flavour you have selected as part of a Subscription becomes unavailable, Bootstrap may at its sole and exclusive option elect to send you a substitute coffee, the price of which will not exceed the price of the originally specified flavour by more than $5. In all instances (unless otherwise stated), Bootstrap reserves the right to charge the price of the cold brew delivered as listed on Bootstrap’s website at the time the cold brew is shipped.
                </p> 

                <div class="ordered-list__title">
                    <p class="text-bold">d)</p>
                    <p class="text-bold">Shipping Variability</p>
                </div>
                <p>Bootstrap will use reasonable efforts to brew and bottle your Subscription orders at the interval you specify when placing your order. Based on our brewing and bottling schedules, shipping carrier selections and delays, and other factors beyond Bootstrap’s control, actual delivery intervals for Subscription orders may vary by up to 2 working days.
                </p> 

                <div class="ordered-list__title">
                    <p class="text-bold">e)</p>
                    <p class="text-bold">Pricing and Billing</p>
                </div>
                <p>Please note that if your Subscription includes a discounted price for a promotional period, once the promotional period or discount code expires (whichever is first), your Subscription will renew at the full price.
                </p>
                <p>As such, if you purchase a Subscription, until such time as you terminate your Subscription in accordance with the directions on this Application, you hereby authorise, agree and assent to Bootstrap automatically billing your credit card submitted as part of the order process for such amounts that are due. Your non-termination of a Subscription reaffirms that we are authorised to charge your Payment Method for that Subscription. We may submit those charges for payment and you will be responsible for such charges. This does not waive our right to seek payment directly from you. Your charges may be payable in advance, in arrears, per usage, or as otherwise described when you initially selected to sign up for the Subscription. As part of this recurring Subscription, you will be charged the price listed on Bootstrap’s website, for each coffee in your order, at the time each coffee is shipped.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">f)</p>
                    <p class="text-bold"> Cancellation Policy</p>
                </div>
                <p>Bootstrap’s cold brew subscription plan comes with a minimum commitment of two subscription cycles as of this moment until further notice. From time to time, there may be promotional campaigns for new subscriptions with different minimum commitment periods. However, if you decide to cancel your subscription after one billing cycle, Bootstrap reserves the right to classify the purchase as a one-off purchase instead. You may be liable to foot the shortfall payment amounting to the difference between the subscription price (after discount) and our one-off purchase price on our website.
                </p>
                <p>As per our auto-renewal terms, subscriptions may not be cancelled or modified after an upcoming shipment has been processed and charged, in accordance with our brewing, bottling and shipping schedules, up to 48 hours prior to the customer delivery time slot.
                </p> 
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">OWNERSHIP OF THE SERVICE</p>
                <p class="">The following terms and conditions apply to the Ownership of the Service (and website):
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">a)</p>
                    <p class="text-bold">Ownership</p>
                </div>
                <p> The website and all content available or presented through the website (including all intellectual property of any nature, whether registered or unregistered, including all text, design, graphics, logos, icons, images, audio clips, downloads, interfaces, code and software, as well as the selection and arrangement thereof) are the exclusive property of and owned by Bootstrap and its respective vendors, licensors or content providers, and is protected by copyright, trademark and other applicable Singapore and foreign laws. You may not reproduce by any means or process (except as expressly provided herein), in whole or in part, distribute, publish, transmit, create derivative works based on, modify or sell any material contained within the Service. The “Bootstrap Beverages” trademark and all other Bootstrap related marks and logos, and third party trademarks and logos, whether registered or not registered, displayed via the Service, as well as the domain name "bootstrapbeverages.com," are and will remain the exclusive property of Bootstrap or such third party, as applicable. Any reproduction, distribution, transmission, modification or use of any such trademarks or logos by you for any purpose is prohibited. You may not remove any copyright, trademark or other proprietary notice contained in the website or any content contained therein.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">b)</p>
                    <p class="text-bold">Limited License</p>
                </div>
                <p> Subject to these Terms, we hereby grant you a limited, revocable, non-transferable and non-exclusive license to access and use the Service by displaying the content provided therein via your internet browser or device only for the purpose of shopping for personal items sold via the Service and not for any commercial use or use on behalf of any third party, except as explicitly permitted by us in writing in advance. Any breach of these Terms shall immediately revoke the license granted in this paragraph without notice to you.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">c)</p>
                    <p class="text-bold">Use Restrictions</p>
                </div>
                <p>You may not use the Service for any purpose that is unlawful or prohibited by these Terms, or to solicit the performance of any illegal activity or other activity which infringes the rights of Bootstrap or others. Notwithstanding any other rights or restrictions in these Terms, you may not use the Service to:
                </p>
                <div class="ordered-list__subtitle">
                    <p>(i) </p>
                    <p>transmit via or through the Service any information, data, text, images, files, links or software except in connection with your authorized use of the Service or otherwise in response to specific requests for information by us;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(ii) </p>
                    <p>introduce to our Site or any connected system or equipment any computer or website virus, worm, Trojan horse and / or harmful code;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(iii) </p>
                    <p>obtain unauthorized access to any computer system;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(iv) </p>
                    <p>impersonate any other person, including but not limited to, a registered user of the Service or an employee of Bootstrap;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(v) </p>
                    <p>invade the privacy or violate any personal or proprietary right (including intellectual property rights) of any person or entity;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(vi) </p>
                    <p>misrepresent the identity of a user or use a false email address or mobile phone number;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(vii) </p>
                    <p>tamper with or obtain access to our websites or connected system, or any component of any of them;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(viii) </p>
                    <p>conduct fraudulent activities;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(ix) </p>
                    <p>collect or harvest information regarding another user of the Service for any reason whatsoever, including, without limitation, for sending such user unsolicited commercial email;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(x) </p>
                    <p>avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Bootstrap or any of Bootstrap’s providers or any other third party (including another user) to protect the Service or Customer Information;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(xi) </p>
                    <p>attempt to access or search the Service or Customer Information or download Customer Information from the Service through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like);</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(xii) </p>
                    <p>send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation; or</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(xiii) </p>
                    <p>attempt to probe, scan or test the vulnerability of any Bootstrap system or network or breach any security or authentication measures.
                    </p>
                </div>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">CUSTOMER INFORMATION</p>
                <p class="">The following terms and conditions apply to the usage of Customer Information:
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">a)</p>
                    <p class="text-bold">Ownership</p>
                </div>
                <p> You permit Bootstrap to access, process and use a variety of data when you use the Service. In order to purchase any product, you must provide us certain personal information, including your name, physical and or email addresses, financial information, and you may elect to provide us with your mobile telephone number (collectively, the “Customer Information ”). As between Customer and Bootstrap, Customer shall be deemed the owner of the Customer Information, subject only to the Operations License expressly granted by you to us in these Terms. For more information about the Customer Information we obtain and how we use it, please see our Privacy Policy.
                </p>
                <p>You are solely responsible for all your Customer Information. You represent and warrant that you own all your Customer Information, or you have all rights that are necessary to grant us the Operations License under these Terms. You also represent and warrant that neither your Customer Information, nor your use and provision of your Customer Information through the Service, nor any use of your Customer Information by Bootstrap on or through the Service will infringe, misappropriate or violate a third party’s intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">b)</p>
                    <p class="text-bold">Grant of Operations License</p>
                </div>
                <p>In order for us to legally process Customer Information in the manner necessary to provide the Service, you must grant Bootstrap certain rights with respect to Customer Information so that technical actions we take in operating the Service are not considered legal violations. For example, we need to be able to collect, process, transmit, store, copy and publish Customer Information in order to process your orders and enable our Service Providers to fulfill your orders, and to store, process and publish Customer Information you may provide us as part of product reviews and the like. Accordingly, you hereby grant Bootstrap a non-exclusive, transferable, sublicensable, worldwide, royalty-free license to use, copy, modify, create derivative works based upon, distribute, publicly display, publicly perform and distribute your Customer Information in connection with operating and providing the Service to you, only for the purpose of providing the Service, and for no other purpose (the “Operations License ”). You agree that the Operations License granted to us may be extended by us to our Service Providers to the degree necessary in order for the Service to be provided to you.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">c)</p>
                    <p class="text-bold">Protecting Customer Information</p>
                </div>
                <p>The protection of Customer Information is a top priority for us, so we have implemented and will maintain administrative, physical, and technical safeguards designed to prevent unauthorized access, use, modification, deletion and disclosure of Customer Information by our personnel. We will endeavor to only share Customer Information, in accordance with our Privacy Policy, only with third-parties that contractually agree to reasonable data practices for maintaining the confidentiality and security of Customer Information and preventing unauthorized access. However, Customer acknowledges and agrees that Customer and not Bootstrap bears sole responsibility for adequate security, protection and backup of Customer Information in the possession or control of Customer, or when Customer chooses to use unencrypted gateways to connect to the Service.
                </p>

                <div class="ordered-list__title">
                    <p class="text-bold">d)</p>
                    <p class="text-bold">Provision of Customer Information to NTUC Income Insurance Co-operative Limited</p>
                </div>
                <p>In collaboration with NTUC Income Insurance Co-operative Limited ("NTUC Income"), Bootstrap may disclose select customer information to third party providers for the purpose of complimentary insurance coverage provided to the customer under the SNACK Application. Only customers with a SNACK account and have applied the discount code "BOOTSTRAP21" upon checkout will be affected. By completing the purchase, you agree to disclose your personal information to NTUC Income Insurance Co-operative Limited for the purpose of complimentary insurance coverage provided to you under the SNACK Application.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">TERMINATION OF ACCOUNT</p>
                <p class="">You may elect to terminate your account with the Service at any time by contacting INFO@BOOTSTRAPBEVERAGES.COM. If we believe that you have violated these Terms, we reserve the right to terminate your account with or without prior notice.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">UNAVAILABILITY OF SERVICES; TERMINATION; FRAUD</p>
                <p class="">We may alter, suspend or discontinue the Service in whole or in part, at any time and for any reason, without notice. In addition, the Service may be temporarily unavailable from time to time for maintenance or other reasons. We may, in our sole discretion, terminate or suspend your use or access to all or part of the Service or your account, for any reason, including without limitation, breach of these Terms. If at any time, we notify you that your access to and/or use of the Service or your account is terminated, you must cease and desist from all such access and/or use immediately. We reserve the right to cancel, delay, refuse to ship or recall from the shipper any order if fraud is suspected.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">LINKS</p>
                <p class="">The Service may contain links to other websites on the Internet that are owned and operated by third parties. Such links should not be interpreted as an express or implied endorsement of such third party websites or any products or services that may be offered thereon. You acknowledge that we have no liability or responsibility for the content or availability of such websites, the products or services available thereon or otherwise in connection with such third party websites, products or services. Please review the terms and conditions that may be imposed by such websites, as they may be different from these Terms.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">INTERNATIONAL ACCESS</p>
                <p class="">The Service may be accessed from countries outside of Singapore, but Bootstrap does not currently ship any products outside of Singapore and Indonesia, until further notice.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">DISCLAIMER; LIMITATION OF LIABILITY</p>
                <p class="">We love coffee and assume that if you’re shopping for cold brew coffee or tea at Bootstrap you love it, too. Although many studies have indicated that consuming coffee or tea may be beneficial to your health, we are aware that coffee may cause allergic or other medical problems for some people, and that scientific studies may yet uncover other characteristics that are undesirable, at least for some people. Bootstrap encourages you to make your own determination about whether consuming coffee is appropriate for you, and we encourage you to consume our products in a way that will not cause you any harm. Your decisions are your own responsibility, and Bootstrap disclaims any responsibility or liability with respect to any adverse consequences you, or anyone with whom you may share your cold brew and/or experiences.
                </p>
                <p class="">EXCEPT AS OTHERWISE EXPRESSLY PROVIDED IN THESE TERMS, IN A SEPARATE EXPRESS WRITING, OR REQUIRED BY APPLICABLE LAW, BOOTSTRAP MAKES NO REPRESENTATIONS, COVENANTS OR WARRANTIES AND OFFERS NO OTHER CONDITIONS, EXPRESS OR IMPLIED, REGARDING ANY MATTER, INCLUDING, WITHOUT LIMITATION, THE MERCHANTABILITY, SUITABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE OR NON-INFRINGEMENT OF THE SERVICE, ANY CONTENT ON THE SERVICE OR ANY PRODUCT OR SERVICE PURCHASED THROUGH THE SERVICE, AS WELL AS WARRANTIES IMPLIED FROM A COURSE OF PERFORMANCE OR COURSE OF DEALING. YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. BOOTSTRAP DISCLAIMS ANY WARRANTIES THAT ACCESS TO THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE; THAT THE SERVICE WILL BE SECURE; THAT THE SERVICE OR ANY SERVER THAT MAKES THE SERVICE AVAILABLE WILL BE VIRUS-FREE; OR THAT INFORMATION ON THE SERVICE WILL BE CORRECT, ACCURATE, ADEQUATE, USEFUL, TIMELY, RELIABLE OR OTHERWISE COMPLETE. IF YOU DOWNLOAD ANY CONTENT FROM THE SERVICE, YOU DO SO AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH CONTENT. NO ADVICE OR INFORMATION OBTAINED BY YOU FROM THE SERVICE SHALL CREATE ANY WARRANTY OF ANY KIND.
                </p>
                <p class="">IN NO EVENT SHALL BOOTSTRAP OR ITS PARENT, SUBSIDIARIES, DIVISIONS OR AFFILIATES, OR ITS OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUCCESSORS, SUBSIDIARIES, DIVISIONS, DISTRIBUTORS, SUPPLIERS, AFFILIATES, OR THIRD PARTIES PROVIDING INFORMATION OR PRODUCTS ON OR IN CONNECTION WITH THE SERVICE (COLLECTIVELY, THE “RELEASEES ”) BE LIABLE TO YOU, ANY USER OF THE SERVICE OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, CONSEQUENTIAL OR EXEMPLARY DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA OR LOSS OF USE) ARISING OUT OF THE USE OR INABILITY TO USE OR ACCESS THE SERVICE, ANY CONTENT OR INFORMATION CONTAINED THEREON OR STORED OR MAINTAINED BY BOOTSTRAP, OR ANY PRODUCT OR SERVICE PURCHASED THROUGH THE SERVICE, WHETHER BASED UPON WARRANTY, CONTRACT, TORT, OR OTHERWISE, EVEN IF ANY RELEASEE HAS BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES OR LOSSES. IN NO EVENT SHALL THE TOTAL LIABILITY OF THE RELEASEES TO YOU FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION RESULTING FROM YOUR USE OF THE SERVICES, WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE) OR OTHERWISE, EXCEED THE AMOUNT YOU PAID TO BOOTSTRAP IN CONNECTION WITH THE APPLICABLE PURCHASE GIVING RISE TO SUCH LIABILITY. WITHOUT LIMITING THE FOREGOING, IN NO EVENT SHALL THE RELEASEES HAVE ANY LIABILITY FOR ANY DAMAGES OR LOSSES ARISING OUT OF OR OTHERWISE INCURRED IN CONNECTION WITH THE LOSS OF ANY DATA OR INFORMATION CONTAINED IN YOUR ACCOUNT OR OTHERWISE STORED BY OR ON BEHALF OF BOOTSTRAP.
                </p>
                <p class="">IF, NOTWITHSTANDING THE PROVISIONS OF THESE TERMS OF USE, ANY RELEASEE IS FOUND TO BE LIABLE TO YOU FOR ANY DAMAGE OR LOSS WHICH ARISES OUT OF OR IS IN ANY WAY CONNECTED WITH YOUR USE OF THE SERVICE, ANY CONTENT ON THE SERVICE OR ANY PRODUCT OR SERVICE PURCHASED THROUGH THE SERVICE, SUCH RELEASEE’S LIABILITY SHALL IN NO EVENT EXCEED US$100.00, UNLESS SUCH RELEASEE HAS OTHERWISE EXPRESSLY AGREED IN WRITING.
                </p>
                <p class="">Because some jurisdictions do not allow limitations on implied warranties or the exclusion or limitation of certain damages, in such jurisdictions some or all of the above disclaimers or exclusions may not apply, and liability will be limited to the fullest extent permitted by applicable law.
                </p>
            </div>
            <div class="tnc-title__wrapper">
                <p class="title text-bold">INDEMNIFICATION</p>
                <p class="">By using the Service, you agree to indemnify, hold harmless and defend the Releasees from any claims, damages, losses, liabilities and all costs and expenses of defense, including but not limited to, attorneys' fees, resulting directly or indirectly from a claim (including without limitation, claims made by third parties for infringement of intellectual property rights) by a third party that arises in connection with
                </p>
                <div class="ordered-list__subtitle">
                    <p>(i) </p>
                    <p>your use or misuse of the Service;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(ii) </p>
                    <p>your breach of the Terms;</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(iii) </p>
                    <p>your violation of any law or the rights of a third party; or</p>
                </div>
                <div class="ordered-list__subtitle">
                    <p>(iv) </p>
                    <p>your Feedback.</p>
                </div>
                <p class="">You agree to cooperate as fully as reasonably required in the defense of any claim. Bootstrap or the applicable Releasee reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you for which you will remain responsible for indemnifying and holding harmless the Releasees.
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
