{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Thank You{% endblock %}
{% block content %}
<section class="payment-status__wrapper m-auto d-flex flex-column justify-content-center">
    <!--Payment Status Failed-->
    <!-- <div class="payment-status__image text-center mb-4">
        <img src="{% static 'images/boot/payment-failed.png' %}" alt="payment-failed"/>
    </div>
    <div class="payment-status-failed__wrapper text-center">
        <h3 class="mb-4">Payment Failed</h3>
        <p class="mb-4">Your credit card has not been charged. <br>Please try again or contact our customer service.</p>


        <a href="#" class="button button--primary button--primary__styled mb-4"> Try Again</a>
        <a href="{% url 'home' %}" class="font-primary">Back to Home</a>
    </div> -->
    <!--Payment Status Success-->
      <div class="payment-status__image text-center mb-4">
        <img src="{% static 'images/boot/payment-success.png' %}" alt="payment-success"/>
      </div>
      <div class="payment-status-success__wrapper text-center">
        <h3 class="mb-4">Payment Success</h3>
        <p>Transaction ID: #3467gw3</p>
        <p class="mb-4">Order Amount: $39.00</p>
        <p class="mb-4">Please wait until Bootstrap arrive at your door.</p>
        
        <a href="{% url 'transaction-history' %}" class="button button--primary button--primary__styled mb-4"> See Transaction History</a>
        <a href="{% url 'home' %}" class=" font-primary">Back to Home</a>
    </div>
</section>
{% endblock content %}
