{% extends "base.html" %}
{% load static %}

{% block content %}
  <style>
  .print-production__layout {
    width: 95%;
    max-width: 1080px;
    margin: auto;
  }
  </style>
  <form action="{% url 'print_customer_list' %}" class="wrapper" method="get">
    <div class="print-production__layout">
      <h2 class="heading-2">Print Customer List</h2>
      <label for="month_selection">Month</label>
      <select name="month" id="month_selection">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <label for="end_date">Year</label>
      <input type="text" name="year" id="end_date" placeholder="Input Year">
      <input type="submit" value="Download" class="button">
    </div>
  </form>
{% endblock %}
