{% extends "base.html" %}
{% load static %}

{% block content %}
  <style>
    .print-production__layout {
      width: 95%;
      max-width: 1080px;
      margin: auto;
    }
  </style>
  <div class="mb-5">
    <form action="{% url 'print_production_list_2' %}" class="wrapper" method="get">
      <div class="print-production__layout position-relative">
        <h2 class="heading-2">Production Estimate</h2>
        <label for="start_date">Start Date</label>
        <input type="text" placeholder="Choose a date" autocomplete="off"
               class="datetimepicker-input date-delivery" name="start_date" id="start_date"/>
        <label for="end_date">End Date</label>
        <input type="text" class="datetimepicker-input" placeholder="Choose an end date"
               name="end_date" autocomplete="off" id="end_date"/>
        <input type="submit" value="Download" class="button">
      </div>
    </form>
  </div>
  <div class="mb-5">
    <form action="{% url 'print_label' %}" class="wrapper" method="get">
      <div class="print-production__layout position-relative">
        <h2 class="heading-2">Print Label</h2>
        <label for="date">Delivery Date</label>
        <input type="text" placeholder="Choose a date" autocomplete="off"
               class="datetimepicker-input date-delivery" name="date" id="date"/>
        <input type="submit" value="Download" class="button">
      </div>
    </form>
  </div>
  <div class="mb-5">
    <form action="{% url 'print_label' %}" class="wrapper" method="get">
      <div class="print-production__layout position-relative">
        <h2 class="heading-2">Print Label by Driver</h2>
        <label for="driver">Driver Name</label>
        <input type="text" placeholder="Insert driver name" name="driver" id="driver"/>
        <label for="orders">Orders</label>
        <input type="text" placeholder="Insert order" name="orders" id="orders"/>
        <input type="submit" value="Download" class="button">
      </div>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(".datetimepicker-input").datetimepicker({
      format: 'YYYY-MM-DD',
      useCurrent: false,
      icons: {
        previous: "fa fa-chevron-circle-left",
        next: "fa fa-chevron-circle-right",
      },
      daysOfWeekDisabled: [0],
    })
  </script>
{% endblock %}
