{% load static image_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Receipt</title>
  <style>
    {% include "orders/receipt_style.css" %}
  </style>
</head>
<body>

<table class="header-info">
  <tr>
    <td><img src="https://storage.googleapis.com/berkah-bootstrap/static/images/boot/bootstrap-beverages-logo.png"
             alt="" style="height: 2cm"></td>
    <td>
      <p class="bold" style="font-size: 1.1rem">Bootstrap Beverages</p>
      <p style="font-size: 0.8rem"><strong>Invoice No.</strong> {{ invoice_no }}</p>
      <p style="font-size: 0.8rem"><strong>Date</strong> {{ date_placed|date:"d/m/Y" }}</p>
      <p style="font-size: 0.8rem"><strong>Payment</strong> Credit Card</p>
      <p style="font-size: 0.8rem"><strong>Shipping</strong> {{ shipping }}</p>
    </td>
  </tr>
  <tr>
    <td>
      <table class="header-info">
        <tr>
          <td><strong class="mr-5">Bill To</strong></td>
          <td>
            <p>{{ recipient_name }}</p>
            <p>{{ address }}</p>
            <p>{{ postcode }}</p>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table class="header-info">
        <tr>
          <td><strong class="mr-5">Ship to</strong></td>
          <td>
            <p>{{ recipient_name }}</p>
            <p>{{ address }}</p>
            <p>{{ postcode }}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>

<hr>

<table class="line-items table-alt-color">
  <tr>
    <th class="text-left">Description</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
  <tr>
    {% for line in order.lines.all %}
      <td class="text-left w-50">
        {% with image=line.product.primary_image %}
          {% oscar_thumbnail image.original "150x150" upscale=False as thumb %}
          <span><img src="{{ thumb.url }}" alt=""></span>
          {% if line.product.parent %}
          <span><strong>{{ line.product.parent.get_title }}</strong><br>{{ line.get_description }}</span>
          {% elif "subscription" in line.product.get_title %}
          <span><strong>Bootstrap Coffee Subscription</strong><br>{{ line.get_description }}</span>
          {% else %}
          <span><strong>{{ line.product.get_title }}</strong><br>{{ line.get_description }}</span>
          {% endif %}
        {% endwith %}
      </td>
      <td>{{ line.quantity }}</td>
      <td>${{ line.unit_price_incl_tax }}</td>
      <td>${{ line.line_price_incl_tax }}</td>
      </tr>
    {% endfor %}
</table>

<table class="summary--left">
  <tr>
    <td class="w-50">
      <p class="bold">Notes</p>
      <p>{{ notes }}</p>
      <p><strong>Delivery Date</strong> {{ delivery_date }}</p>
      <p><strong>Delivery Time</strong> {{ delivery_time }}</p>
    </td>
    <td>
      <table class="summary table-alt-color">
        <tr>
          <td class="bold bt-0 text-left">Discounts</td>
          <td class="bt-0">{{ total_discount_excl_tax }}</td>
        </tr>

        <tr>
          <td class="bold text-left">Sub-total</td>
          <td>${{ subtotal }}</td>
        </tr>
        <tr>
          <td class="bold text-left">Shipping</td>
          <td>{{ shipping_total }}</td>
        </tr>
        <tr>
          <td class="bold text-left">Total Tax</td>
          <td>${{ tax }}</td>
        </tr>
        <tr>
          <td class="bold text-left bb-0">Total</td>
          <td class="bb-0">${{ total }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<hr>

<table class="footer">
  <tr>
    <td class="text-right">
      <p class="mr-5">5 Mandai Link, #10-06, Singapore 728654</p>
      <p class="mr-5">info@bootstrapbeverages.com</p>
      <p class="mr-5">201701381C</p>
    </td>
    <td>
      <p class="title">SAY HELLO TO YOUR COLD BREWS</p>
    </td>
  </tr>
</table>
<p class="text-center" style="margin-top: 3.6rem;">If you have any questions, please do get in touch with us</p>
</body>

</html>
