@page {
  size: A4;
}

p, strong, span, * {
  font-size: 12px;
}

hr {
  height: 0.1cm;
  background-color: #4a4a4a;
  margin: 1cm 0;
}

table {
  border: none;
  width: 100%;
}

table td {
  vertical-align: top;
}

.header-info table {
  border-spacing: 0 1rem;
}

.header-info td, .footer td {
  width: 50%;
}

.header-info p {
  line-height: 1.8rem;
}

* {
  margin: 0;
  padding: 0;

  text-indent: 0;
  font-size: 12px;
  font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.mr-5 {
  margin-right: 5%;
}

.bold {
  font-weight: bold;
}

.bt-0 {
  border-top: none !important;
}

.bb-0 {
  border-bottom: none !important;
}

.w-50 {
  width: 50% !important;
}

.line-items {
  text-align: right;
}

.line-items img {
  width: 3cm;
  height: 3cm;
}

.line-items span {
  vertical-align: top;
}

.line-items td, th {
  padding: 0.5rem 0;
}

.table-alt-color {
  border-collapse: collapse;
}

.table-alt-color td {
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}

.table-alt-color tr:nth-child(even) {
  background-color: #FAFAFA;
}

.summary tr {
  padding: 0.5rem 0;
  height: 2.5rem;
}

.summary tr > td {
  text-align: right;
  vertical-align: middle;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.summary--left p {
  line-height: 2.5rem;
}
