{% extends "oscar/communication/emails/base.html" %}
{% load currency_filters i18n static %}

{% block content %}
  <style>
    .heading {
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 40px;
    }

    .heading-2 {
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 40px;
    }

    .mb-2 { margin-bottom: 1rem; }

    .mb-4 { margin-bottom: 2rem; }

    .mw-60 { max-width: 60%; }

    .m-auto { margin: auto; }

    .text-price--total {
      font-weight: bold;
      text-align: right;
      font-size: 1.3rem;
    }

    .checkout-order__table {
      width: 100%;
    }

    .checkout-order__table tr.bordered{
      box-shadow: 0 -1px 0 #000;
    }
    
    .checkout-order__table tr td {
      padding: 10px 0;
      line-height: 150%;
    }

    .text-center { text-align: center; }

    .text-end { text-align: end; }

    .text-bold { font-weight: 800; }
    
  </style>

  <div class="mw-60 m-auto">
    <div class="text-center mb-4">
      <img src="https://storage.googleapis.com/berkah-bootstrap/static/images/boot/bootstrap-beverages-logo.png" alt="bootstrap-logo">
    </div>
    <h1 class="heading mb-2 text-align-left">Thank you for your purchase! </h1>
    <p class="mb-2">
      Hi {{ full_name }}, thank you for ordering from Bootstrap Beverages. We're excited for you to
      receive and enjoy your cold brews soon. We will notify you once it's on its way.
      Here is your order number for reference: {{ order.number }}
    </p>
    <p class="mb-2">
      Please kindly ensure that during the stipulated date and time for delivery, there will be a recipient ready to
      receive the cold brews and refrigerate it promptly to ensure the product’s freshness.
    </p>

    <h2 class="heading-2 mb-2">Order Summary</h2>

    <table class="checkout-order__table">
      {% for line in order.lines.all %}
        <tr>
          <td>{% if "subscription" in line.title %}Subscription{% else %}{{ line.product.parent }} - {{ line.title }}
            x {{ line.quantity }}{% endif %}</td>
          <td class=""></td>
          <td class="text-end">{{ line.line_price_incl_tax|currency:order.currency }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td class="text-end">Subtotal</td>
        <td class="text-end">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
      </tr>
      <tr>
        <td></td>
        <td class="text-end">Shipping</td>
        <td class="text-end">{{ order.shipping_incl_tax|currency:order.currency }}</td>
      </tr>
      <tr class="bordered">
        <td></td>
        <td class="text-end">Total</td>
        <td class="text-price--total">{{ order.total_incl_tax|currency:order.currency }}</td>
      </tr>
    </table>

    <h2 class="heading-2">Shipping Address</h2>

    <div class="mb-4">
      {{ order.shipping_address.name }}<br>
      {{ order.shipping_address.name.email }}<br>
      {% for field in order.shipping_address.active_address_fields %}  {{ field }}<br>
      {% endfor %}
    </div>

    {% if status_url %}
      <tr>
        <td class="content-block">
          You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>
        </td>
      </tr>
    {% endif %}

    <p>
      If you have any inquiries or require assistance, simply drop us an email at
      <a href="mailto:info@bootstrapbeverages.com">info@bootstrapbeverages.com.</a>
      We're always happy to assist you.
    </p>
  
    <p>Love,</p>
    <p>The Bootstrap Team</p>
  </div>
{% endblock %}

{% block footer %}
{% endblock footer %}