{% extends "oscar/communication/emails/base.html" %}
{% load static %}

{% block tbody %}
  <div style="text-align: center; margin-bottom: 1rem;">
    <img src="{% static 'images/boot/bootstrap-beverages-logo.png' %}" alt="bootstrap-logo">
  </div>
  <p style="font-size: 2rem; text-align: center; font-weight: bold;">Welcome to Bootstrap Beverages!</p>
  <img src="{% static 'images/boot/welcome-bootstrap.png' %}" alt="welcome-bootstrap">
  <p>Thank you for signing up. You can now log into your activated account for faster checkout.</p>
  <p>If you haven't already received a voucher code from us, use <span style="font-weight: bold;">CHEERUP</span> to get <span style="font-weight: bold;">free shipping without minimum purchase. </span></p>
  <p>We understand that commitment can be a little scary, but we won't tie you down to any contract. Feel free to edit, pause or cancel your subscription any time you want.</p>
  <p>Our ultra-smooth all organic cold brew is freshly brewed per order. But don't take our word for it, head on over to our store and let our coffees speak for themselves! :)</p>
  <a
    href="https://bootstrapbeverages.com/"
    style="
      display: grid;
      align-items: center;
      justify-content: center;
      min-height: 42px;
      min-width: 150px;
      width: max-content;
      margin: 0 auto 1rem;
      border-width: 0;
      padding: 0.5rem 1rem;
      cursor: pointer;
      background-color: #9F8561;
      color: #ffffff;
      font-weight: 500;
      text-decoration: none !important;
    "
    >Visit our store</a>
  <p>
    If you have any inquiries or require assistance, simply drop us an email at
    <a href="mailto:info@bootstrapbeverages.com">info@bootstrapbeverages.com.</a>
    We're always happy to assist you.
  </p>

  <p>Love,</p>
  <p>The Bootstrap Team</p>

  {% endblock %}

  {% block footer %}
  {% endblock footer %}