{% extends "oscar/communication/emails/base.html" %}
{% load static %}

{% block extra_css %}
<style>
	.forgot-password-link__wrapper {
		display: grid;
		justify-content: center;
		align-items: center;
		justify-items: center;
		row-gap: 1rem;
	}

	@media (min-width: 1024px) {
		.forgot-password-link__wrapper {
			grid-template-columns: repeat(3, max-content);
			column-gap: 3%;
			justify-content: flex-start;
		}
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 42px;
		border-width: 0;
		padding: 0.5rem 1rem;
		cursor: pointer;
	}

	.button--primary {
		background-color: #9F8561;
		color: #ffffff;
		font-weight: 500;
		text-decoration: none !important;
		transition: all 0.1s ease-in;
	}

	.button--primary:hover {
		background: #645641;
	}

	@media (min-width: 1024px) {
		.heading {
			font-style: normal;
			font-weight: bold;
			font-size: 2rem;
			line-height: 40px;
		}
	}

	.text-align-center { text-align: center; }
	.text-underline {text-decoration: underline; }
	.font-gold {  color: #9F8561; }
	.mb-2{ margin-bottom: 1rem;}
	.mb-4 { margin-bottom: 2rem; }
	.mt-5 { margin-top: 3rem }
	.bold { font-weight: bold; }
	.w-100 { width: 100%; }
	.h-100 { height: 100%; }
	.object-fit-cover { object-fit: cover }
	.h-400-mobile { height: 400px; }

	@media (min-width: 1024px) {
		.h-500-desktop {
			height: 500px;
		}
	}
</style>
{% endblock %}

{% block tbody %}
<section>
	<div class="text-align-center mb-4">
		<img src="https://storage.googleapis.com/berkah-bootstrap/static/images/boot/bootstrap-beverages-logo.png" alt="bootstrap-logo">
	</div>
	<div class="mb-2">
		<img src="https://storage.googleapis.com/berkah-bootstrap/static/images/boot/renewed_subscription.png" alt="bootstrap-logo" class="w-100">
	</div>
	<h1 class="heading mb-2 text-align-center">&#9989; We've Got You!! </h1>
	<p class="mb-2">Hi {{ customer_name }},</p>
	<p class="mb-2">
		Thank you for renewing your subscription with us. You're all set to receive your next set of cold brews really soon. The date and time of delivery will follow your most updated preference with us.
	</p>
	<p class="mb-2">
		All our cold brews are brewed fresh, with no added preservatives and will require refrigeration upon arrival.
	</p>
	<p class="mb-2">
		In an unforeseen situation where there is no one to receive the cold brews, we may have to arrange for a separate redelivery to ensure the freshness of our products. Please kindly note that a redelivery surcharge may be applicable.
	</p>
	<p class="mb-2">
		Kindly chat with us on our store's web chat if you would like to change your delivery schedule. If you have any other enquiries or require assistance, simply drop us an email at
		<a href="mailto:info@bootstrapbeverages.com">info@bootstrapbeverages.com.</a> We're always happy to assist you.
	</p>
	<p class="mt-5 mb-2 text-align-center">Storage Instructions: Kindly note that the cold brews must be refrigerated upon arrival between 3-5°C. </p>
	<hr class="mb-2">
	<div class="mb-4">
		<p class="mb-2 bold">What is in your order?</p>
		<p>&#10004; {{ description }}</p>
		<p>Quantity: {{ qty }}</p>
	</div>
	<p class="bold">The order will be shipped to:</p>
	<p>{{ shipping_address.name }}</p>
	<p>{{ shipping_address.line1 }}</p>
	<p>Singapore {{ shipping_address.postcode }}</p>
	<p>{{ shipping_address.phone_number }}</p>
</section>

  {% endblock %}

  {% block footer %}
  {% endblock footer %}
