{% extends "oscar/communication/emails/base.html" %}
{% load static %}

{% block extra_css %}
  <style>

	.forgot-password-link__wrapper {
		display: grid;
		justify-content: center;
		align-items: center;
		justify-items: center;
		row-gap: 1rem;
	}

	@media (min-width: 1024px) {
		.forgot-password-link__wrapper {
			grid-template-columns: repeat(3, max-content);
			column-gap: 3%;
			justify-content: flex-start;
		}
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 42px;
		border-width: 0;
		padding: 0.5rem 1rem;
		cursor: pointer;
	}

	.button--primary {
		background-color: #9F8561;
		color: #ffffff;
		font-weight: 500;
		text-decoration: none !important;
		transition: all 0.1s ease-in;
	}

	.button--primary:hover {
		background: #645641;
	}

	@media (min-width: 1024px) {
		.heading {
			font-style: normal;
			font-weight: bold;
			font-size: 2rem;
			line-height: 40px;
		}
	}

	.text-align-center { text-align: center; }
	.text-underline {text-decoration: underline; }
	.font-gold {  color: #9F8561; }
	.mb-2{ margin-bottom: 1rem;}
	.mb-4 { margin-bottom: 2rem; }
	.mt-5 { margin-top: 3rem }
	.bold { font-weight: bold; }
	.w-100 { width: 100%; }
	.h-100 { height: 100%; }
	.object-fit-cover { object-fit: cover }
	.h-400-mobile { height: 400px; }

	@media (min-width: 1024px) {
		.h-500-desktop {
			height: 500px;
		}
	}

  </style>
{% endblock %}


{% block tbody %}
<section>
	<div class="text-align-center mb-4">
		<img src="https://storage.googleapis.com/berkah-bootstrap/static/images/boot/bootstrap-beverages-logo.png" alt="bootstrap-logo">
	</div>
	<div class="h-400-mobile h-500-desktop mb-2">
		<img src="https://storage.googleapis.com/berkah-bootstrap/static/images/boot/about-us/who-we-are.jpg" alt="bootstrap-picture" class="w-100 h-100 object-fit-cover">
	</div>
	<h1 class="heading mb-2 text-align-center">Your Next Order is Brewing Soon! &#9749; </h1>
	<p class="mb-2">Hi {{ customer_name }},</p>
	<p class="mb-2">Your cold brew subscription from <a href="https://bootstrapbeverages.com/">Bootstrap Beverages</a> is set to renew shortly.</p>
	<p class="mb-2">
		Once the subscription charge has been successfully renewed, you can expect to receive your cold brews in the coming week.
		<span class="text-underline bold">The date and time of delivery will follow your most updated delivery preference with us.</span>
		Kindly chat with us on our store's web chat if you would like to change your delivery schedule.</p>
	<p class="mb-2">
		<span class="text-underline">If you would like to adjust the frequency, quantity or flavours for your next order, please do before by 13:00 PM on {{ saturday }}. You can manage your subscriptions by clicking here:</span>
		<a href="https://bootstrapbeverages.com/accounts/subscriptions/">Manage Subscription</a>
	</p>
	<p class="mb-2">
		If you have any enquiries or require assistance, simply drop us an email at
		<a href="mailto:info@bootstrapbeverages.com">info@bootstrapbeverages.com.</a> We're always happy to assist you.
	</p>
</section>

  {% endblock %}

  {% block footer %}
  {% endblock footer %}
