{# extends "oscar/layout_2_col.html" #}
{% extends "oscar/layout.html" %}

{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load static %}

{% block title %}
  {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{# summary #}{% endblock %}

{% block breadcrumbs %}
  <!--ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{{ summary }}</li>
    </ul-->
{% endblock breadcrumbs %}

{% block content %}
  <div class="wrapper flex-grow-1">
    <div class="container-fluid p-0 maxWidth">
      <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-12 pb-2">
          <div class="slides p-2">
            {% for banner in banners %}
              <div>
              <a href="{% if banner.url %}{{ banner.url }}{% else %}#{% endif %}"{% if banner.open_new_tab %} target="_blank"{% endif %}>
                <img src="{{ banner.image.url }}" class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
                <img src="{{ banner.image.url }}" class="lazy img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
              </a>
              </div>
            {% empty %}
              <div>
              <a href="https://alowalo.com/catalogue/category/all-product_21/">
                <img src="{% static 'images/home/banner-homepage2.jpg' %}"
                     class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
                <img src="{% static 'images/home/banner-homepage2.jpg' %}"
                     class="lazy img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
              </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
          <div class="mr-1">
            <a href="{{ MEN_CATEGORY.get_absolute_url }}" class="home-banner">
              <img src="{% static 'images/home/basic-t-shirt-crew-neck-premium-cotton-light-blue-side.jpg' %}"
                   class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
              <img src="{% static 'images/home/basic-t-shirt-crew-neck-premium-cotton-light-blue-side.jpg' %}"
                   class="lazy img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
              <div class="btn-banner">SHOP MEN <i class="fas fa-chevron-right"></i></div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
          <div class="ml-1">
            <a href="{{ WOMEN_CATEGORY.get_absolute_url }}" class="home-banner">
              <img
                  src="{% static 'images/home/cropped-t-shirt-crew-neck-premium-cotton-neongreen-side02.jpg' %}"
                  class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
              <img
                  src="{% static 'images/home/cropped-t-shirt-crew-neck-premium-cotton-neongreen-side02.jpg' %}"
                  class="lazy img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
              <div class="btn-banner">SHOP WOMEN <i class="fas fa-chevron-right"></i></div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
          <div class="mr-1 mt-2">
            <a href="{{ UNISEX_CATEGORY.get_absolute_url }}" class="home-banner">
              <img
                  src="{% static 'images/home/basic-t-shirt-crew-neck-solid-purple-pink-cropped-t-shirt-crew-neck-solid-purple-pink-and-pleated-skirt-black-0.jpg' %}"
                  class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
              <img
                  src="{% static 'images/home/basic-t-shirt-crew-neck-solid-purple-pink-cropped-t-shirt-crew-neck-solid-purple-pink-and-pleated-skirt-black-0.jpg' %}"
                  class="lazy img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
              <div class="btn-banner">SHOP UNISEX <i class="fas fa-chevron-right"></i></div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
          <div class="ml-1 mt-2">
            <a href="{{ BEST_SELLER_CATEGORY.get_absolute_url }}" class="home-banner">
              <img
                  src="{% static 'images/home/basic-and-cropped-t-shirt-crew-neck-together-pink-02.jpg' %}"
                  class="lazy img-fluid d-sm-block d-md-none d-lg-none" style="height: 328px !important;"
              /> <!-- img small screen-->
              <img
                  src="{% static 'images/home/basic-and-cropped-t-shirt-crew-neck-together-pink-02.jpg' %}"
                  class="lazy img-fluid d-none d-md-block d-lg-block" style="height: 772px !important;"
              /> <!-- img larger screen -->
              <div class="btn-banner">BEST SELLER <i class="fas fa-chevron-right"></i></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <a href="{{ CLASSIC_CATEGORY.get_absolute_url }}">
            <img data-src="{% static 'images/sample/500x200_CLASSIC-BASIC.jpg' %}"
                 class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
            <img data-src="{% static 'images/sample/500x200_CLASSIC-BASIC.jpg' %}"
                 class="lazy rounded img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg-6 d-none d-md-block d-lg-block">
          <div class="my-3">
            <h4 class="m-1 text-theme">Classic Basic Aesthetic</h4>
            <p class="f-12">These are definitely investment pieces, so donʼt be afraid to splurge on certain
              ones if the time is right.
              Theyʼre classics and (if you take care of them) can last for years or even decades.
              Theyʼll carry you through work weeks at a big girl job, dinners with significant otherʼs
              parents, networking soirees, and so much more.</p>
            <a href="{{ CLASSIC_CATEGORY.get_absolute_url }}"
               class="btn btn-sm btn-theme text-uppercase"
            >Find out more</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <a href="{{ LIGHTNESS_CATEGORY.get_absolute_url }}">
            <img data-src="{% static 'images/sample/500x200_Lightness-EVERYDAY.jpg' %}"
                 class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
            <img data-src="{% static 'images/sample/500x200_Lightness-EVERYDAY.jpg' %}"
                 class="lazy rounded img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg-6 d-none d-md-block d-lg-block">
          <div class="my-3">
            <h4 class="m-1 text-theme">Lightness Everyday</h4>
            <p class="f-12">Who doesnʼt love lightness apparels when it comes to daily activities? Yes! Everyone
              loves it everyday and every occasions.
              Lightness doesnʼt mean thin and less durable, but it mean comfort. Light and comfy apparels are
              definitely investment pieces.</p>
            <a href="{{ LIGHTNESS_CATEGORY.get_absolute_url }}"
               class="btn btn-sm btn-theme text-uppercase"
            >Find out more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-3 p-3 border-top">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="slides p-2">
            <div>
              <img src="{% static 'images/sample/ig-star.jpg' %}" class="img-130 float-left mr-3 mb-5 rounded">
              Mix and Match oleh @junifengg kali ini menggabungkan Women Denim Skinny High-Rise Ripped Alowalo
              dengan Cropped T-Shirt Premium Cotton Alowalo.⁠
            </div>
            <div>
              <img src="{% static 'images/sample/ig-star-2.jpg' %}" class="img-130 float-left mr-3 mb-5 rounded">
              OOTD dari @jmlviann super duper gemes nih!⁠⠀<br/>
              Memadupadankan Cropped T-Shirt Mustard dengan Pleated Skirt Mustard Alowalo yang senada dan
              cerah!⁠⠀Ditambah dengan Bucket Hat, Hand Bag, dan Sneakers yang tentunya bikin makin keren!⁠⠀
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block onbodyload %}
  {{ block.super }}
  oscar.search.init();
{% endblock %}
