{% extends "oscar/catalogue/browse.html" %}

{% load custom_tags %}

{% load i18n static product_tags display_tags custom_tags %}

{% block title %}
    {{ category.name|clean|title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <ul class="list-inline breadcrumb">
                <li class="list-inline-item">
                    <a href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>
                {% for category in category.get_ancestors %}
                    <li class="list-inline-item">
                        <a href="{{ category.get_absolute_url }}">/ {{ category.name|clean|title }}</a>
                    </li>
                {% endfor %}
                <li class="list-inline-item active">/ {{ category.name|clean|title }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="wrapper flex-grow-1">
        {% if category.image %}
        <div class="container p-0 maxWidth">
            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="mb-1">
                        <img class="lazy img-fluid d-sm-block d-md-none d-lg-none" src="{{ category.image.url }}" style="display: inline;" alt="{{ category.name|clean|title }}"> <!-- img small screen-->
                        <img class="lazy img-fluid d-none d-md-block d-lg-block" src="{{ category.image.url }}" style="" alt="{{ category.name|clean|title }}"> <!-- img larger screen -->
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container mb-3">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 text-center">
{#                    <h5 class="text-uppercase text-theme fw-800 mt-4 mb-4">Hot Items in {{ category.name|clean|title }}</h5>#}
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="text-right mb-4">
                        <div class="dropdown">
                            <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter <i class="fas fa-sort"></i></a>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="?{% get_parameters sort_by %}sort_by=newest">Newest Product</a>
                                <a class="dropdown-item" href="?{% get_parameters sort_by %}sort_by=price-desc">Higher Price</a>
                                <a class="dropdown-item" href="?{% get_parameters sort_by %}sort_by=price-asc">Lower Price</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if products %}
                    {% for product in products %}
                        <div class="col-6 col-md-6 col-lg-3 mb-2">
                            {% custom_render_product product category %}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col-12 col-md-12 col-lg-12 text-center mt-4">
                    {% include 'oscar/partials/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
