{% extends "oscar/layout.html" %}

{% load custom_tags %}
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load static %}

{% block title %}
    {{ product.get_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <ul class="list-inline breadcrumb">
                <li class="list-inline-item">
                    <a href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>
                {% with category=product.get_categories.first %}
                    {% for c in category.get_ancestors_and_self %}
                        <li class="list-inline-item">/ <a href="{{ c.get_absolute_url }}">{{ c.name|clean|title }}</a></li>
                    {% endfor %}
                    <li class="list-inline-item active">/ {{ product.get_title }}</li>

                    {% get_back_button as backbutton %}
                    {% if backbutton %}
                        <li class="pull-right">
                            <a href="{{ backbutton.url }}">
                                <i class="icon-arrow-left"></i> {{ backbutton.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-7">
            <div class="row">
                {% block product_gallery %}
                    {% include "oscar/catalogue/partials/gallery.html" %}
                {% endblock %}
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 detail-item">
            {% block product_main %}
                <!-- content -->
                <div class="row mt-3">
                    <div class="col-8 col-md-12 col-lg-12">
                        <h5 class="text-theme">{{ product.get_title }}</h5>
                    </div>

                    {% block product_stock_record %}
                        <div class="col-4 col-md-12 col-lg-12">
                            {% include "oscar/catalogue/partials/stock_record.html" with verbose=1 %}
                        </div>
                    {% endblock %}

                    <div class="col-12 col-md-12 col-lg-12">
                        {% if not product.is_parent %}
                            {% block product_basket_form %}
                                {% include "oscar/catalogue/partials/add_to_basket_form.html" %}

                                {% iffeature "wishlists" %}
                                    {% include "oscar/catalogue/partials/add_to_wishlist.html" with product=product %}
                                {% endiffeature %}
                                {% if product.size_guide %}
                                <div class="mb-2 clearfix float-right">
                                    <a href="#" class="fw-600 text-theme" data-toggle="modal" data-target="#modalGuide"><i class="fas fa-ruler-horizontal"></i> <u>Size Guide</u></a>
                                </div>
                                {% endif %}
                            {% endblock %}
                        {% else %}
                            {% block variants %}
                                <form id="product-variants" action="" method="POST">
                                {% for child in product.children.public %}
                                    {% purchase_info_for_product request child as child_session %}
                                    {% if child_session.availability.is_available_to_buy %}
                                        <p>
                                            <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>
                                            {% for key, value in child.get_attributes_map.items %}
                                                {{ key }} : {{ value }}<br>
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                </form>
                            {% endblock %}
                            {% if product.size_guide %}
                            <div class="mb-2 clearfix float-right">
                                <a href="#" class="fw-600 text-theme" data-toggle="modal" data-target="#modalGuide"><i class="fas fa-ruler-horizontal"></i> <u>Size Guide</u></a>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <!-- item summary -->
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="item-desc mt-4">

                            <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-detail-tab" data-toggle="pill" href="#detail" role="tab" aria-controls="pills-detail" aria-selected="true">Product Detail</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="pills-detail-tab">
                                    {{ product.description|safe }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- //item summary -->

                </div>
                <!-- // content-->
            {% endblock %}
        </div>
    </div>
</div>


<!-- Modal Size Guide -->
<div class="modal fade" id="modalGuide" tabindex="-1" role="dialog" aria-labelledby="modalGuide" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{% if product.size_guide %}{{ product.size_guide.url }}{% endif %}" class="img-fluid" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
  {{ block.super }}
  <script>
  const variants = {};
  const variantsAvailability = {}
  const prefixAttribute = "product-attribute-";

  function formatKey (key) {
    let key_regex = key.replace(/[^a-zA-Z0-9]/g, "_");
    return key_regex.slice(0, -1).split('|').sort().join('|').toLowerCase();
  }

  {% if product.is_parent %}
    let appendKey = "";
    {% for child in product.children.public %}
      {% purchase_info_for_product request child as child_session %}
      {% if child_session.availability.is_available_to_buy %}
        appendKey = "";
        {% for key, value in child.get_attributes_map.items %}
          if ("{{ key }}" in variants) {
            if (!variants["{{key}}"].includes("{{value|safe}}")) {
              variants["{{key}}"].push("{{value|safe}}");
            }
          } else {
            variants["{{key}}"] = ["{{ value|safe }}"];
          }
          appendKey += "{{key}}_{{value|safe}}|";
        {% endfor %}

        // remove last character
        variantsAvailability[formatKey(appendKey)] = {
          available: true,
          productId: "{{child.id}}",
          price: "{{child_session.price.incl_tax|currency:child_session.price.currency}}",
          availability: "{{child_session.availability.message}}",
          url: "{{child.get_absolute_url}}",
          action: "{% url 'basket:add' pk=child.pk  %}"
        };
      {% endif %}
    {% endfor %}

    function syncProductVariantInformation () {
      let appendKey = "";

      for (const [key, values] of Object.entries(variants)) {
        const id = `${prefixAttribute}${key}`;
        const value = $(`#${id}`).val();

        if (value === null) {
          return;
        }

        appendKey += `${key}_${value}|`;
      }

      const formattedKey = formatKey(appendKey);

      const productInformation = variantsAvailability[formattedKey];

      $("#product-variant-information").html("");

      if (productInformation === undefined) {
        $("#product-variant-information").append("<p>Product tidak tersedia</p>");
        $("form#product-variants button").attr('disabled', true);
        $("form#product-variants .quantity-input").hide();
        return;
      }

      $("form#product-variants .quantity-input").show();
      $("form#product-variants button").attr('disabled', false);
      $("form#product-variants").attr('action', productInformation.action);
    }

    function renderAttributeSelection () {
      $("#product-variants").html(`{% csrf_token %}`);
      const defaultSelection = `<option disabled selected value> -- select an option -- </option>`;
      for (const [key, values] of Object.entries(variants)) {
        const id = `${prefixAttribute}${key}`
        $("#product-variants").append(`
        <div class="form-group">
          <label for="${id}">${key}</label>
          <select
            class="form-control ${prefixAttribute}selection"
            id="${id}"
            onchange="syncProductVariantInformation()"
          >
          </select>
        </div>`);

        $(`#${id}`).append(defaultSelection);

        for (idx in values) {
          const value = values[idx];
          $(`#${id}`).append(`<option>${value}</option>`);
        }
      }
      $("#product-variants").append(`
        <div class="form-group quantity-input">
          <label for="variants-quantity">Quantity</label>
          <input
            name="quantity"
            type="number"
            value="1"
            id="variants-quantity"
            class="form-control"
          >
        </div>
      `);
      $("form#product-variants .quantity-input").hide();
      $("#product-variants").append(`<div id="product-variant-information"></div>`);
      $("#product-variants").append(`
        <button type="submit" class="btn btn-theme btn-block text-white text-uppercase mb-2 py-2 btn-checkout" disabled><i class="fas fa-plus"></i> Add to Bag</button>
      `);
    }

    renderAttributeSelection();
  {% endif %}
  </script>
{% endblock %}
