{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load sorting_tags %}

{% block body_class %}{{ block.super }} banner{% endblock %}

{% block title %}
    {% trans "Banners" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Banners" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header action">
        <a href="{% url 'dashboard:banner-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Create new banner" %}</a>
        <h1>{% trans "Banners" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% render_table banners %}
{% endblock %}
