{% load static %}
<section class="m-boot-mobile-6 m-boot-desktop-3 font-primary" id="phasefive">
  <h1 class="title-number text-center">5</h1>
  <h2 class=" text-center">Payment Options</h2>
  <div class="subscription--description text-center mb-5">Pay per shipment or save more when you plan ahead. Plans starting as low as $3.84 per bottle.</div>

  <div class="prepaid__container mb-6">
    <div class="prepaid__wrapper">
      <input
        type = "radio"
        name = "subsChoosePrepaid"
        id = "id_subsChoosePrepaid_0"
        value = "1-31.2-pay_as_you_go"
        checked="checked"
      />
      <label for="id_subsChoosePrepaid_0" class="font-primary prepaid__content cursor-pointer">
        <p class="text-center mb-4" id="textDelivery_0">Pay Per Shipment</p>
        <h1 class="text-center" id="textDiscountPrice_0" data-discount-price="31.2">$31.20</h1>
        <div class="button button--primary mb-3" id="textPerBottle_0" data-per-bottle="5.2">$5.2/bottle</div>
        <p>Charged automatically on a Sunday before delivery. Free shipping included.</p>
      </label>
    </div>

    <div class="mobile-only">
      <div class="prepaid__wrapper">
        <input
          type = "radio"
          name = "subsChoosePrepaid"
          id = "id_msubsChoosePrepaid_1"
          value = "{{ prepaid_list.0.number_of_delivery }}-{{ prepaid_list.0.discount_price }}-prepaid"
        />
        <label for="id_msubsChoosePrepaid_1" class="font-primary prepaid__content">
          <p class="text-center">{{ prepaid_list.0.number_of_delivery }} deliveries</p>
          <p class="label-default text-center" id="mtextPrice_1" data-price="{{ prepaid_list.0.price|floatformat:"0" }}">${{ prepaid_list.0.price|floatformat:"0" }}</p>
          <h1 class="text-center" id="mtextDiscountPrice_1" data-discount-price="{{ prepaid_list.0.discount_price }}">${{ prepaid_list.0.discount_price }}</h1>
          <div class="button button--primary mb-3" id="mtextPerBottle_1" data-per-bottle="{{ prepaid_list.0.per_bottle|floatformat:"2" }}">${{ prepaid_list.0.per_bottle|floatformat:"2" }}/bottle</div>
          <p>Get {{ prepaid_list.0.discount }}% off when you plan ahead and pay upfront for {{ prepaid_list.0.number_of_delivery }} deliveries </p>
          <div class="prepaid__discount label-bold font-primary text-center">Get {{ prepaid_list.0.discount }}%</div>
        </label>
      </div>
      {% for prepaid in prepaid_mobile_list %}
      <div class="fieldset-custom__wrapper">
        {% if forloop.counter == 1 %}
        <h3 class="fieldset-custom__content most-popular">MOST POPULAR</h3>
        {% else %}
        <h3 class="fieldset-custom__content most-popular">BIGGEST SAVINGS</h3>
        {% endif %}

        <div class="prepaid__wrapper">
          <input
            type = "radio"
            name = "subsChoosePrepaid"
            id = "id_msubsChoosePrepaid_{{ forloop.counter|add:1 }}"
            value = "{{ prepaid.number_of_delivery }}-{{ prepaid.discount_price }}-prepaid"
          />
          <label for="id_msubsChoosePrepaid_{{ forloop.counter|add:1 }}" class="font-primary prepaid__content">
            <p class="text-center" id="textDelivery_{{ forloop.counter|add:1 }}"> {{ prepaid.number_of_delivery }} deliveries</p>
            <p class="label-default text-center" id="mtextPrice_{{ forloop.counter|add:1 }}" data-price="{{ prepaid.price|floatformat:"0" }}">${{ prepaid.price|floatformat:"0" }}</p>
            <h1 class="text-center" id="mtextDiscountPrice_{{ forloop.counter|add:1 }}" data-discount-price="{{ prepaid.discount_price }}">${{ prepaid.discount_price }}</h1>
            <div class="button button--primary mb-3" id="mtextPerBottle_{{ forloop.counter|add:1 }}" data-per-bottle="{{ prepaid.per_bottle|floatformat:"2" }}">${{ prepaid.per_bottle|floatformat:"2" }}/bottle</div>
            <p>Get {{ prepaid.discount }}% off when you plan ahead and pay upfront for {{ prepaid.number_of_delivery }} deliveries </p>
            <div class="prepaid__discount label-bold font-primary text-center">Save {{ prepaid.discount }}%</div>
          </label>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="fieldset-custom__wrapper desktop-only">
      <h3 class="fieldset-custom__content most-popular">MOST POPULAR</h3>
      <h3 class="fieldset-custom__content biggest-savings">BIGGEST SAVINGS</h3>
      {% for prepaid in prepaid_list %}
      <div class="prepaid__wrapper">
        <input
          type = "radio"
          name = "subsChoosePrepaid"
          id = "id_subsChoosePrepaid_{{ forloop.counter }}"
          value = "{{ prepaid.number_of_delivery }}-{{ prepaid.discount_price }}-prepaid"
        />
        <label for="id_subsChoosePrepaid_{{ forloop.counter }}" class="font-primary prepaid__content">
          <p class="text-center" id="textDelivery_{{ forloop.counter }}"> {{ prepaid.number_of_delivery }} deliveries</p>
          <p class="label-default text-center" id="textPrice_{{ forloop.counter }}" data-price="{{ prepaid.price|floatformat:"0" }}">${{ prepaid.price|floatformat:"0" }}</p>
          <h1 class="text-center" id="textDiscountPrice_{{ forloop.counter }}" data-discount-price="{{ prepaid.discount_price }}">${{ prepaid.discount_price }}</h1>
          <div class="button button--primary mb-3" id="textPerBottle_{{ forloop.counter }}" data-per-bottle="{{ prepaid.per_bottle|floatformat:"2" }}">${{ prepaid.per_bottle|floatformat:"2" }}/bottle</div>
          <p>Get {{ prepaid.discount }}% off when you plan ahead and pay upfront for {{ prepaid.number_of_delivery }} deliveries </p>
          <div class="prepaid__discount label-bold font-primary text-center">Save {{ prepaid.discount }}%</div>
        </label>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
