{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% load purchase_info_tags currency_filters %}
{% load image_tags %}

<section class="m-boot-mobile-6 m-boot-desktop-3 choose-coffee font-primary" id="phasetwo">
  <h1 class="title-number text-center">2</h1>
  <h2 class="text-center mb-4">Choose Your Coffee</h2>
  <div class="choose-pack__container">
    <div class="choose-pack__wrapper">
      <div class="progress-bar__wrapper">
        <div id="textPackChosen">0/0</div>
        <div class="progress-bar__item">
          <div class="progress-bar"></div>
        </div>
      </div>
      <div class="product-card__container text-center">
        {% for product in products %}
          <div class="product-card mb-4">
            {% block product_image %}
              <div class="background-image bg-size-contain bg-position-center"
                   style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
                {% with image=product.primary_image %}
                  {% oscar_thumbnail image.original "376x376" upscale=False as thumb %}
                  <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="w-100"/>
                {% endwith %}
              </div>
            {% endblock %}
            <div class="product-title-and-price--subscription">
              <div class="product-title-and-price__title text-semibold text-center" id="titleProduct_{{ forloop.counter0 }}">
                {{ product.get_title }}
              </div>
            </div>
            <div class="product-quantity__container">
              <div class="button-cart__container font-primary">
                <div class="btn-counter btn-counter--decrement" onclick="substCounter({{ forloop.counter0 }})">-</div>
                <div id="noOfRoom_{{ forloop.counter0 }}" class="text-center">0</div>
                <div class="btn-counter btn-counter--increment" onclick="addCounter({{ forloop.counter0 }})">+</div>
              </div>
            </div>
            <br/>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="product-final-price">
      <p class="body-semibold">Order Summary</p>
      <div class="my-4" id="bodyOrderSummary">
        Choose your product and it will be added here
      </div>
      <div class="choose-coffee__summary-button">
        <p class="button button--primary none" id="goToPhaseThreeBtn" onclick="goToPhaseThree();">NEXT</p>
        <br/>
        <p class="button button--secondary none" id="clearAllProductSelected" onclick="clearAllProductSelected();">Clear
          All</p>
      </div>
    </div>
  </div>
</section>
