{% load static %}

<section class="m-boot-mobile-6 m-boot-desktop-3 choose-frequency" id="phasethree">
  <h1 class="title-number text-center">3</h1>
  <h2 class="text-center">How often should we deliver? </h2>
  <p class="subscription--description text-center">You'll easily be able to update your next order date, subscription frequency, or pause your subscription anytime after signing up.</p>
  <div class="choose choose-frequency__container font-primary">
    <div class="choose-frequency__wrapper font-primary text-center mb-6" onclick="goToPhaseFour(1);">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="one-week"
        value="1"
      />
      <label for="one-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-1.png' %}" alt="subscription-frequency-1" class="mb-4 mx-auto"/>
        <p class="radio-heading">1 week</p>
      </label>
    </div>
    <div class="choose-frequency__wrapper font-primary text-center mb-4" onclick="goToPhaseFour(2);">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="two-week"
        value="2"
      />
      <label for="two-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-2.png' %}" alt="subscription-frequency-2" class="mb-4 mx-auto"/>
        <p class="radio-heading">2 weeks</p>
      </label>
    </div>
    <div class="choose-frequency__wrapper font-primary text-center mb-4" onclick="goToPhaseFour(3);">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="three-week"
        value="3"
      />
      <label for="three-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-3.png' %}" alt="subscription-frequency-3" class="mb-4 mx-auto"/>
        <p class="radio-heading">3 weeks</p>
      </label>
    </div>
    <div class="choose-frequency__wrapper font-primary text-center mb-4" onclick="goToPhaseFour(4);">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="four-week"
        value="4"
      />
      <label for="four-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-4.png' %}" alt="subscription-frequency-4" class="mb-4 mx-auto"/>
        <p class="radio-heading">4 weeks</p>
      </label>
    </div>
  </div>
</section>
