{% load static %}
{% load custom_tags %}

<section class="m-boot-mobile-6 m-boot-desktop-3 choose-delivery font-primary" id="phasefour">
  <h1 class="title-number text-center">4</h1>
  <h2 class=" text-center">When should we send it?</h2>
  <p class="subscription--description text-center">Choose when you wish for us to send you the first shipment. Subsequent deliveries will be made on the same day of the week. Adjust in your account anytime.</p>
  <div class="subscription-day__container">
    <p class="mb-4"> Day of The Week </p>
    {% for date in dates_available %}
      <div class="choose choose-day__wrapper font-primary text-center cursor-pointer" onclick="goToPhaseFourChooseTime();" >
        <input
          type="radio"
          id="id_delivery-date_{{ forloop.counter0 }}"
          name="delivery_date"
          value="{{ date|date:'m/d/Y' }}"
          {% if date|is_today_holiday %}disabled{% endif %}
          onclick="checkAvailableTime('{{ date|date:"l"|upper }}', {{ forloop.counter0 }})"
        />
        <label class="style-input" for="id_delivery-date_{{ forloop.counter0 }}">
          <img src="{% static 'images/boot/subscription/subscription-day-calendar.png' %}"
               alt="subs-calendar" class="img-container w-90 mx-auto cursor-pointer"/>
          <div class="custom-calendar">
            <p>{{ date|date:"l" }}</p>
            <h4>{{ date|date:"d" }} {{ date|date:"M" }}</h4>
          </div>
        </label>
      </div>
    {% endfor %}
  </div>

  <div class="subscription-time__container mb-4" id="phasefourchoosetime">
    <p class="mb-4" id="bodyAvailableTime"> Time </p>
    {% for time in delivery_times %}
    <div class="choose choose-time__wrapper font-primary text-center mb-4"
         id="availableDaysTime_{{ forloop.counter0 }}" data-days="{{ time.days|join_arr:',' }}"
    onclick="goToPhaseFive()">
      <input
        type="radio"
        name="subsChooseTime"
        id="{{ time.icon_name }}"
        value="{{ time.id }}"
      />
      <label for="{{ time.icon_name }}">
        <img src="{{ time.icon.url }}" alt="subscription-time-morning" class="mb-4 w-90 cursor-pointer "/>
        <p class="radio-heading">{{ time }}</p>
      </label>
    </div>
    {% endfor %}
  </div>
</section>
