{% extends "base.html" %}

{% load static custom_tags %}

{% block content %}
{% include "components/navbar-userpage.html" %}

<section class="user-dashboard__container">
    <div class="user-dashboard__left desktop-only">
        <div class="consumer-header__wrapper text-center">
            <h1 class="consumer-header__nickname text-center">{{ request.user.first_name.0 }}{{ request.user.last_name.0 }}</h1>
            <div class="consumer-name text-center font-primary">{{ request.user.get_full_name }}</div>
            <br/>
            <p class="consumer-email label-small">{{ request.user.email }}</p>
        </div>

        <div class="consumer-sidenav__wrapper">
          {% include 'oscar/customer/profile/partials/tab.html' %}
        </div>
    </div>

    {% block profile_right %}{% endblock %}
</section>

<!-- Pop Up Edit My Account-->

<div class="modal__container edit-profile none">
  <div class="modal__content modal__content-50 modal-w-45">
    <div class="text-end mb-4">
      <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalEditProfile('close')" class="cursor-pointer"/>
    </div>
    <h1 class="edit-profile__nickname text-center mb-4">{{ request.user.first_name.0 }}{{ request.user.last_name.0 }}</h1>
    <p class="text-center mb-4 border-bottom-2">Basic Info</p>
    <hr class="border border-1"/>


    <form id="formProfile" class="mb-5" autocomplete="off" action="{% url 'customer:change-password' %}" method="post">{% csrf_token %}
      {{ profile_form.email }}
      <div class="d-grid name__wrapper">
        <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">First Name</label>
          </div>
          {{ profile_form.first_name }}
        </div>
        <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">Last Name</label>
          </div>
          {{ profile_form.last_name }}
        </div>
      </div>
      <div class="input__layout">
        <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Current Password</label>
        </div>
        <div class="position-relative">
          {{ profile_form.oldpassword }}

          <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon" class="password-eye-icon3 input-img-icon">
          <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
               class="password-hide-icon3 input-img-icon none">
        </div>
      </div>
      <div class="input__layout">
        <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Change Password</label>
        </div>
        <div class="position-relative">
          {{ profile_form.password1 }}

          <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon" class="password-eye-icon input-img-icon">
          <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
               class="password-hide-icon input-img-icon none">
        </div>
      </div>
      <div class="input__layout">
        <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Confirm New Password</label>
        </div>
        <div class="position-relative">
          {{ profile_form.password2 }}
          <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon" class="password-eye-icon2 input-img-icon">
          <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
               class="password-hide-icon2 input-img-icon none">
        </div>
      </div>
    </form>
    <div class="button button--primary" onclick="$('#formProfile').submit();">SAVE</div>
  </div>
</div>

{% endblock content %}

{% block nono %}
  <script>
    $(document).ready(function () {
      $(".password-eye-icon").click(function () {
        $(".password").attr("type", "text");
        $(".password-eye-icon").addClass("none");
        $(".password-hide-icon").removeClass("none");
      });

      $(".password-hide-icon").click(function () {
        $(".password").attr("type", "password");
        $(".password-eye-icon").removeClass("none");
        $(".password-hide-icon").addClass("none");
      });

      $(".password-eye-icon2").click(function () {
        $(".password2").attr("type", "text");
        $(".password-eye-icon2").addClass("none");
        $(".password-hide-icon2").removeClass("none");
      });

      $(".password-hide-icon2").click(function () {
        $(".password-current").attr("type", "password");
        $(".password-eye-icon2").removeClass("none");
        $(".password-hide-icon2").addClass("none");
      });

      $(".password-eye-icon3").click(function () {
        $("#id_oldpassword").attr("type", "text");
        $(".password-eye-icon3").addClass("none");
        $(".password-hide-icon3").removeClass("none");
      });

      $(".password-hide-icon3").click(function () {
        $("#id_oldpassword").attr("type", "password");
        $(".password-eye-icon3").removeClass("none");
        $(".password-hide-icon3").addClass("none");
      });
    });
  </script>
{% endblock %}
