{% load static currency_filters i18n %}
{% load shipping_tags custom_tags %}

<div class="modal__container frequency-confirmation none">
  <div class="modal__content modal__content-50 modal-w-45">
    <h4 class="text-center mb-4">ORDER SUMMARY</h4>
    {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
      <div class="nav-multi-col">
        <div class="nav-multi-col__column">
          <div id="sect1" role="region" aria-labelledby="navcol1" class="nav-multi-col__panel mt-4">
            <ul class="nav-multi-col__list text--white">
              {% for line in basket.lines.all %}
                <div class="product-summary__wrapper"
                  {% if line.is_subscription %}style="display: block;"{% endif %}>
                  {% if line.is_subscription %}
                  {% else %}
                    <div class="product-summary__image">
                      <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" alt="strong-cold-brew-1"/>
                    </div>
                  {% endif %}
                  <div class="product-summary__description">
                    {% if line.is_subscription %}
                      <h3 class="text-semibold">Subscription</h3>
                    {% else %}
                      <p><a href="#" class="text-semibold">
                        {% if line.product.is_child %}{{ line.product.parent.get_title }} (
                          {{ line.product.get_title }}){% else %}{{ line.product.get_title }}{% endif %}</a></p>
                    {% endif %}
                    <p class="label-default">{{ line.product.description|safe }}</p>
                    <div class="product-summary__qty-and-price">
                      <p class="label-default">Qty: {{ line.quantity }}</p>
                      <p
                        class="label-default text-end text-bold">{{ line.line_price_excl_tax|currency:basket.currency }}</p>
                    </div>
                  </div>
                </div>
                </ul>
              {% endfor %}

            <hr class="border-bottom-1 border-white">

            <div class="summary__subtotal">
              <div class="d-flex justify-content-between">
                <p>Sub-total</p>
                <p class="body-semibold text-end">
                  {% if offer_discounts or voucher_discounts %}
                    {% if basket.is_tax_known and not show_tax_separately %}
                      {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                    {% else %}
                      {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                    {% endif %}
                  {% else %}
                    {% if not show_tax_separately and basket.is_tax_known %}
                      {{ basket.total_incl_tax|currency:basket.currency }}
                    {% else %}
                      {{ basket.total_excl_tax|currency:basket.currency }}
                    {% endif %}
                  {% endif %}
                </p>
              </div>
              {% comment %}Coupons{% endcomment %}
              {% if offer_discounts %}
                {% for discount in offer_discounts %}
                  <div class="d-flex justify-content-between">
                    <p>{{ discount.name }}</p>
                    <p class="body-semibold text-end">-{{ discount.discount|currency:basket.currency }}</p>
                  </div>
                {% endfor %}
              {% endif %}

              {% if voucher_discounts %}
                {% for discount in voucher_discounts %}
                  <div class="d-flex justify-content-between">
                    <p>
                      {{ discount.voucher.name }} ({{ discount.voucher.code }})
                    <form action="javascript:" method="POST">
                      {% csrf_token %}
                      <button onclick="removeVoucher('{{ discount.voucher.id }}')"
                              class="btn btn-sm btn-danger">{% trans 'Remove' %}</button>
                    </form>
                    </p>
                    <p class="body-semibold text-end">-{{ discount.discount|currency:basket.currency }}</p>
                  </div>
                {% endfor %}
              {% endif %}

              {% comment %}this is for shipping discount{% endcomment %}
              {% if not shipping_method.is_discounted %}
                <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
                  <p>{{ shipping_method.name }}</p>
                  <p class="body-semibold text-end">
                    {% if not show_tax_separately and shipping_charge.is_tax_known %}
                      {{ shipping_charge.incl_tax|currency:basket.currency }}
                    {% else %}
                      {{ shipping_charge.excl_tax|currency:basket.currency }}
                    {% endif %}
                  </p>
                </div>
              {% else %}
                {% shipping_charge_discount shipping_method basket as shipping_discount %}
                {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}

                <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
                  <p>{{ shipping_method.name }}</p>
                  <p class="body-semibold text-end">
                    {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                      {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
                    {% else %}
                      {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
                    {% endif %}
                  </p>
                </div>

                <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
                  {% with shipping_method.discount_name|get_voucher as voucher %}
                    <p>{{ shipping_method.discount_name }}
                      {% if voucher %}
                        <form id="removeVoucher" action="javascript:" method="POST">
                          {% csrf_token %}
                          <button onclick="removeVoucher('{{ voucher.id }}')"
                                  class="btn btn-sm btn-danger">{% trans 'Remove' %}</button>
                        </form>
                      {% endif %}
                    </p>
                    <p class="body-semibold text-end">
                      -{{ shipping_discount|currency:basket.currency }}
                    </p>
                  {% endwith %}
                </div>

                <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
                  <p>{% trans "Shipping total (after discounts)" %}</p>
                  <p class="body-semibold text-end">
                    {% if not show_tax_separately and shipping_charge.is_tax_known %}
                      {{ shipping_charge.incl_tax|currency:basket.currency }}
                    {% else %}
                      {{ shipping_charge.excl_tax|currency:basket.currency }}
                    {% endif %}
                  </p>
                </div>
              {% endif %}
            </div>
            <div class="d-flex justify-content-between pb-2 mb-5">
              <p>Total</p>
              <p class="body-semibold text-end">
                {% if order_total.is_tax_known %}
                  {{ order_total.incl_tax|currency:basket.currency }}
                {% else %}
                  {{ order_total.excl_tax|currency:basket.currency }}
                {% endif %}
              </p>
            </div>
            <hr class="border-bottom-1 border-white">
          </div>
        </div>
      </div>
      <div class="pb-2 mb-3">
        <p class="body-semibold">Delivery Details</p>
        <p>{{ basket.delivery_day }}, {{ basket.delivery_date }} [{{ basket.delivery_time }}]</p>
      </div>
      <div class="pb-2 mb-3">
        <p class="body-semibold">Shipping Address</p>
        <p>{{ shipping_address }}</p>
      </div>

      {% if shipping_address.notes %}
        <div class="pb-2 mb-5">
          <p class="body-semibold">Notes</p>
          <p>{{ shipping_address.notes }}</p>
        </div>
      {% endif %}

      <div class="button button--primary mb-2"
           onclick="$('#place_order_form').submit();showChangeFrequencyConfirmation('close');">CONFIRM & PAY
      </div>
      <a class="button font-primary mb-2" href="{% url 'checkout:shipping-address' %}">CANCEL</a>
      </div>
    {% endwith %}
</div>
