<form action="{% url 'checkout:payment-details' %}" class="mb-5" id="place_order_form" method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="place_order"/>
  <input type="hidden" name="payment" value="{{ payment }}"/>
  <div class="d-grid credit-card align-items-start">
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="number">Card number</label>
      </div>
      <input type="tel" placeholder="Input card number" id="number" name="number">
    </div>
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="cardName">Name on Card</label>
      </div>
      <input type="text" placeholder="Input name on card" id="cardName" name="cardName">
    </div>
  </div>
  <div class="d-grid half-name__wrapper align-items-start">
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="exp_month">Month</label>
      </div>
      {#                    <input type="text" placeholder="Input month" id="exp_month" name="exp_month">#}
      <select id="exp_month" name="exp_month">
        <option value="">-----------</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="exp_year">Year</label>
      </div>
      <input type="tel" placeholder="Input year" id="exp_year" name="exp_year">
    </div>
  </div>
  <div class="d-grid half-name__wrapper">
    <div class="input__layout input-cvv">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="cvc">CVV</label>
      </div>
      <input type="number" placeholder="Input CVV" id="cvc" name="cvc">
    </div>
  </div>
</form>
