<form action="{% url 'checkout:payment-details' %}" class="mb-5" id="place_order_form" method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="place_order"/>
  <input type="hidden" name="payment" value="{{ payment }}"/>
  <div class="d-grid credit-card align-items-start">
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="number">Card number</label>
      </div>
      <input type="password" placeholder="Input card number" id="number" name="number" value="4242424242424242" disabled>
    </div>
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="cardName">Name on Card</label>
      </div>
      <input type="text" placeholder="Input name on card" id="cardName" name="cardName" value="NA" disabled>
    </div>
  </div>
  <div class="d-grid half-name__wrapper align-items-start">
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="exp_month">Month</label>
      </div>
      <input type="hidden" id="exp_month" name="exp_month" value="1">
      <input type="text" value="NA" disabled>

    </div>
    <div class="input__layout">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary" for="exp_year">Year</label>
      </div>
      <input type="text" value="NA" disabled>
      <input type="hidden" placeholder="Input year" id="exp_year" name="exp_year" value="2030">
    </div>
  </div>
  <div class="d-grid half-name__wrapper">
    <div class="input__layout input-cvv">
      <div class="input-field input-field__top">
        <label class="input-field__left font-primary">CVV</label>
      </div>
      <input type="text" value="NA" disabled>
      <input type="hidden" placeholder="Input CVV" id="cvc" name="cvc" value="123">
    </div>
  </div>
</form>
