<h4>{{ method.name }}</h4>

{% if method.courier %}
  <h5>{{ method.courier }}</h5>
{% endif %}

{% if method.service_type %}
  <h6>{{ method.service_type }}</h6>
{% endif %}

{% if method.estimated_delivery_time_in_days %}
  <p>Delivery estimation: {{ method.estimated_delivery_time_in_days }} days</p>
{% endif %}

{% if method.description %}
  <p>{{ method.description|safe }}</p>
{% endif %}
