{% extends "base.html" %}
{% load static %}

{% block title %}Subscription{% endblock %}

{% block content %}
<h1 class="mb-5 text-center pt-5">
  SUBSCRIPTION OPTIONS
</h1>

<section class="m-boot-mobile-6 m-boot-desktop-3 text-center">
  <h1 class="title-number text-center">1</h1>
  <h2>Select Your Pack Size</h2>
  <p class="subscription--description">Choose your subscription’s pack - 6 pack is our standard retail bag. Need coffee for an office or an army? Size up to 12 pack or 24 pack!<p>
  <div class="choose choose-product__container">
      <div class="choose-product__wrapper font-primary text-center">
      <input
        type="radio"
        name="subsChoosePack"
        class="six-pack"
        id="six-pack"
        value="six-pack"
      />
      <label for="six-pack">
        <div>
          <img src="{% static 'images/boot/subscription/subscription-6-pack.svg' %}" alt="subscription-6-pack" class="mb-4" style="width: 60%;"/>
          <p class="radio-heading">6 pack</p>
        </div>
      </label>
    </div>
    <div class="choose-product__wrapper font-primary text-center">
      <input
        type="radio"
        name="subsChoosePack"
        class="twelve-pack"
        id="twelve-pack"
        value="twelve-pack"
      />
      <label for="twelve-pack">
        <div>
          <img src="{% static 'images/boot/subscription/subscription-12-pack.svg' %}" alt="subscription-12-pack" class="mb-4"/>
          <p class="radio-heading">12 pack</p>
        </div>
      </label>
    </div>
    <div class="choose-product__wrapper font-primary text-center">
      <input
        type="radio"
        name="subsChoosePack"
        class="twenty-four-pack"
        id="twenty-four-pack"
        value="twenty-four-pack"
      />
      <label for="twenty-four-pack">
        <div>
          <img src="{% static 'images/boot/subscription/subscription-24-pack.svg' %}" alt="subscription-24-pack" class="mb-4"/>
          <p class="radio-heading"> 24 pack</p>
        </div>
      </label>
    </div>
  </div>
</section>
<section class="m-boot-mobile-6 m-boot-desktop-3 choose-coffee font-primary" id="phasetwo">
  <h1 class="title-number text-center">2</h1>
  <h2 class="text-center mb-4">Choose Your Coffee</h2>
  <div class="choose-pack__container">
    <div class="choose-pack__wrapper">
      <div class="progress-bar_wrapper d-flex mb-6">
        <div>12/12</div>
        <div class="progress-bar ml-3"></div>
      </div>
      <div class="product-card__container text-center">
        <div class="product-card mb-4">
          <div class="product-image__wrapper background-image bg-size-cover" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
              <img src="{% static 'images/boot/strong/cold-brew-strong.png' %}" alt="strong cold brew-1"/>
          </div>
          <div class="product-title-and-price">
              <p class="text-semibold text-center">STRONG COLD BREW COFFEE</p>
              <div class="font-secondary input-default text-center">from $36.00</div>
          </div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(1)">-</button>
            <div id="noOfRoom_1" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(1)">+</button>
          </div>
          <br/>
        </div>
        <div class="product-card mb-4">
          <div class="product-image__wrapper background-image bg-size-cover" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
              <img src="{% static 'images/boot/black/cold-brew-black.png' %}" alt="black cold brew-1"/>
          </div>
          <div class="product-title-and-price">
              <p class="text-semibold text-center">BLACK COLD BREW COFFEE</p>
              <div class="font-secondary input-default text-center">from $36.00</div>
          </div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(2)">-</button>
            <div id="noOfRoom_2" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(2)">+</button>
          </div>
          <br/>
        </div>
        <div class="product-card mb-4">
          <div class="product-image__wrapper background-image bg-size-cover" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
              <img src="{% static 'images/boot/oat-milk/cold-brew-oat-milk.png' %}" alt="oat milk cold brew-1"/>
          </div>
          <div class="product-title-and-price">
              <p class="text-semibold text-center">OAT MILK COLD BREW COFFEE</p>
              <div class="font-secondary input-default text-center">from $36.00</div>
          </div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(3)">-</button>
            <div id="noOfRoom_3" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(3)">+</button>
          </div>
          <br/>
        </div>
        <div class="product-card mb-4">
          <div class="product-image__wrapper background-image bg-size-cover" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
              <img src="{% static 'images/boot/milk-manuka-honey/cold-brew-manuka.png' %}" alt="milk manuka cold brew-1"/>
          </div>
          <div class="product-title-and-price">
              <p class="text-semibold text-center">MILK & MANUKA HONEY COLD BREW COFFEE</p>
              <div class="font-secondary input-default text-center">from $36.00</div>
          </div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(4)">-</button>
            <div id="noOfRoom_4" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(4)">+</button>
          </div>
          <br/>
        </div>
        <div class="product-card mb-4">
          <div class="product-image__wrapper background-image bg-size-cover" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
              <img src="{% static 'images/boot/rooibos-orange/cold-brew-orange.png' %}" alt="rooibos orange cold brew-1"/>
          </div>
          <div class="product-title-and-price">
              <p class="text-semibold text-center">ROOIBOS ORANGE COLD BREW TEA</p>
              <div class="font-secondary input-default text-center">from $36.00</div>
          </div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(5)">-</button>
            <div id="noOfRoom_5" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(5)">+</button>
          </div>
          <br/>
        </div>
        <div class="product-card mb-4">
          <div class="product-image__wrapper background-image bg-size-cover" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
              <img src="{% static 'images/boot/hojicha-tea/cold-brew-hojicha.png' %}" alt="hojicha tea cold brew-1"/>
          </div>
          <div class="product-title-and-price">
              <p class="text-semibold text-center">HOJICHA COLD BREW TEA</p>
              <div class="font-secondary input-default text-center">from $36.00</div>
          </div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(6)">-</button>
            <div id="noOfRoom_6" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(6)">+</button>
          </div>
          <br/>
        </div>
      </div>
    </div>
    <div class="product-final-price">
      <p class="body-semibold">Order Summary</p>
      <div class="mb-4">
        <div class="subscription-order-quantity d-flex">
          <div>&#9679;</div>
          <p> 4x STRONG HONEY COLD BREW COFFEE</p>
        </div>
        <div class="subscription-order-quantity d-flex">
          <div>&#9679;</div>
          <p> 4x BLACK HONEY COLD BREW COFFEE</p>
        </div>
        <div class="subscription-order-quantity d-flex">
          <div>&#9679;</div>
          <p> 4x OAT MILK HONEY COLD BREW COFFEE</p>
        </div>
      </div>
      <p class="button button--primary">CONTINUE TO NEXT STEP</p>
      <br/>
      <p class="button button--secondary">Clear All</p>
    </div>
  </div>
</section>

<section class="m-boot-mobile-6 m-boot-desktop-3 choose-frequency">
  <h1 class="title-number text-center">3</h1>
  <h2 class="text-center">Choose Your Frequency</h2>
  <p class="subscription--description text-center"> Do you really know how much coffee you drink every week? You have the option of delivery every week, biweekly, every three weeks, or monthly.</p>
  <div class="choose choose-frequency__container font-primary">
    <div class="choose-frequency__wrapper font-primary text-center mb-6">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="one-week"
        value="one-week"
      />
      <label for="one-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-1.png' %}" alt="subscription-frequency-1" class="mb-4 w-90"/>
        <p class="radio-heading">1 week</p>
      </label>
    </div>
    <div class="choose-frequency__wrapper font-primary text-center mb-4">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="two-week"
        value="two-week"
      />
      <label for="two-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-2.png' %}" alt="subscription-frequency-2" class="mb-4 w-90"/>
        <p class="radio-heading">2 weeks</p>
      </label>
    </div>
    <div class="choose-frequency__wrapper font-primary text-center mb-4">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="three-week"
        value="three-week"
      />
      <label for="three-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-3.png' %}" alt="subscription-frequency-3" class="mb-4 w-90"/>
        <p class="radio-heading">3 weeks</p>
      </label>
    </div>
    <div class="choose-frequency__wrapper font-primary text-center mb-4">
      <input
        type="radio"
        name="subsChooseFrequency"
        id="four-week"
        value="four-week"
      />
      <label for="four-week">
        <img src="{% static 'images/boot/subscription/subscription-frequency-4.png' %}" alt="subscription-frequency-4" class="mb-4 w-90"/>
        <p class="radio-heading">4 weeks</p>
      </label>
    </div>
  </div>
</section>
<section class="m-boot-mobile-6 m-boot-desktop-3 choose-delivery font-primary">
  <h1 class="title-number text-center">4</h1>
  <h2 class=" text-center">Choose Your Delivery Preference</h2>
  <p class="subscription--description text-center"> We make the best cold brews and deliver them to your door so you never need to lose a moment to focus on your goals.</p>
  <div class="subscription-day__container">
    <p class="mb-4"> Day of The Week </p>
    <div class=" choose choose-day__wrapper font-primary text-center">
      <input
        type = "radio"
        id = "0"
        name = "delivery-date"
        value = "0"
      />
      <label class="style-input" for="0">
        <img src="{% static 'images/boot/subscription/subscription-day-calendar.png' %}" alt="subs-calendar" class="img-container w-90 mx-auto"/>
        <div class="custom-calendar">
          <p>Monday</p>
          <h4>28 may</h4>
        </div>
      </label>
    </div>
    <div class="choose choose-day__wrapper font-primary text-center">
      <input
        type = "radio"
        id = "1"
        name = "delivery-date"
        value = "1"
      />
      <label class="style-input" for="1">
        <img src="{% static 'images/boot/subscription/subscription-day-calendar.png' %}" alt="subs-calendar" class="img-container w-90 mx-auto"/>

        <div class="custom-calendar text-center">
          <p>Tuesday</p>
          <h4>29</h4>
        </div>
      </label>
    </div>
    <div class="choose choose-day__wrapper font-primary text-center ">
      <input
        type = "radio"
        id = "2"
        name = "delivery-date"
        value = "2"
      />
      <label class="style-input" for="2">
        <img src="{% static 'images/boot/subscription/subscription-day-calendar.png' %}" alt="subs-calendar" class="img-container w-90 mx-auto"/>

        <div class="custom-calendar text-center">
          <p>Wednesday</p>
          <h4>30</4>
        </div>
      </label>
    </div>
    <div class="choose choose-day__wrapper font-primary text-center">
      <input
        type = "radio"
        id = "3"
        name = "delivery-date"
        value = "3"
      />
      <label class="style-input" for="3">
        <img src="{% static 'images/boot/subscription/subscription-day-calendar.png' %}" alt="subs-calendar" class="img-container w-90 mx-auto"/>

        <div class="custom-calendar text-center">
          <p class="text-center">Thursday</p>
          <h4 class="text=center">31</h4>
        </div>
      </label>
    </div>
    <div class="choose choose-day__wrapper font-primary text-center">
      <input
        type = "radio"
        id = "4"
        name = "delivery-date"
        value = "4"
      />
      <label class="style-input" for="4">
        <img src="{% static 'images/boot/subscription/subscription-day-calendar.png' %}" alt="subs-calendar" class="img-container w-90 mx-auto"/>

        <div class="custom-calendar text-center">
          <p class="text-center">Friday</p>
          <h4 class="text=center">1</h4>
        </div>
      </label>
    </div>
    <div class="choose choose-day__wrapper font-primary text-center">
      <input
        type = "radio"
        id = "5"
        name = "delivery-date"
        value = "5"
      />
      <label class="style-input" for="5">
        <img src="{% static 'images/boot/subscription/subscription-day-calendar.png' %}" alt="subs-calendar" class="img-container w-90 mx-auto"/>

        <div class="custom-calendar text-center">
          <p class="text-center">Saturday</p>
          <h4 class="text=center">2</h4>
        </div>
      </label>
    </div>
  </div>

  <div class="subscription-time__container mb-4">
    <p class="mb-4"> Time </p>

    <div class="choose choose-time__wrapper font-primary text-center mb-4">
      <input
        type="radio"
        name="subsChooseTime"
        id="noon"
        value="noon"
        checked="checked"
      />
      <label for="noon">
        <img src="{% static 'images/boot/subscription/subscription-time-morning.svg' %}" alt="subscription-time-morning" class="mb-4 w-90"/>
        <p class="radio-heading">12:00-18:30</p>
      </label>
    </div>
    <div class="choose choose-time__wrapper font-primary text-center mb-4">
      <input
        type="radio"
        name="subsChooseTime"
        id="night"
        value="night"
      />
      <label for="night">
        <img src="{% static 'images/boot/subscription/subscription-time-night.svg' %}" alt="subscription-time-night" class="mb-4 w-90"/>
        <p class="radio-heading">19:00-22:00</p>
      </label>
    </div>
  </div>
</section>

<section class="m-boot-mobile-6 m-boot-desktop-3 font-primary">
  <h1 class="title-number text-center">5</h1>
  <h2 class=" text-center"> How Much is The Prepaid For?</h2>
  <div class="subscription--description text-center mb-5">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis ante vestibulum, vulputate tellus et, pulvinar urna.</div>
  <div class="prepaid__container mb-6">
    <div class="prepaid__wrapper">
      <input
        type = "radio"
        name = "subsChoosePrepaid"
        id = "one-delivery"
        value = "one-delivery"
        checked="checked"
      />
      <label for="one-delivery" class="font-primary prepaid__content">
        <p class="text-center mb-4">1 delivery</p>
        <h1 class="text-center">$36</h1>
        <div class="button button--primary mb-3">$0.23/bottle</div>
        <p>Charged every Sunday before delivery. Good for 1 delivery </p>
      </label>
    </div>

    <div class="mobile-only">
      <div class="prepaid__wrapper">
        <input
          type = "radio"
          name = "subsChoosePrepaid"
          id = "two-delivery"
          value = "two-delivery"
        />
        <label for="two-delivery" class="font-primary prepaid__content">
          <p class="text-center">2 deliveries</p>
          <p class="label-default text-center">$80</p>
          <h1 class="text-center">$69</h1>
          <div class="button button--primary mb-3">$0.20/bottle</div>
          <p>Charged every Sunday before delivery. Good for 2 delivery </p>
          <div class="prepaid__discount label-bold font-primary text-center">Save 5%</div>
        </label>
      </div>
      <div class="fieldset-custom__wrapper">
        <h3 class="fieldset-custom__content most-popular">MOST POPULAR</h3>
        <div class="prepaid__wrapper">
          <input
            type = "radio"
            name = "subsChoosePrepaid"
            id = "three-delivery"
            value = "three-delivery"
          />
          <label for="three-delivery" class="font-primary prepaid__content">
            <p class="text-center">3 deliveries</p>
            <p class="label-default text-center">$99</p>
            <h3 class="text-center">$89</h3>
            <div class="button button--primary mb-3">$0.18/bottle</div>
            <p>Charged every Sunday before delivery. Good for 3 delivery </p>
            <div class="prepaid__discount label-bold font-primary text-center">Save 10%</div>
          </label>
        </div>
      </div>
      <div class="fieldset-custom__wrapper">
        <h3 class="fieldset-custom__content most-popular">BIGGEST SAVINGS</h3>
        <div class="prepaid__wrapper">
          <input
            type = "radio"
            name = "subsChoosePrepaid"
            id = "four-delivery"
            value = "four-delivery"
          />
          <label for="four-delivery" class="font-primary prepaid__content">
            <p class="text-center">4 deliveries</p>
            <br/>
            <p class="label-default text-center">$129</p>
            <h1 class="text-center">$109</h1>
            <div class="button button--primary mb-3">$0.16/bottle</div>
            <p>Charged every Sunday before delivery. Good for 4 delivery </p>
            <div class="prepaid__discount label-bold font-primary text-center">Save 30%</div>
          </label>
        </div>
      </div>
    </div>

    <div class="fieldset-custom__wrapper desktop-only">
      <h3 class="fieldset-custom__content most-popular">MOST POPULAR</h3>
      <h3 class="fieldset-custom__content biggest-savings">BIGGEST SAVINGS</h3>
      <div class="prepaid__wrapper">
        <input
          type = "radio"
          name = "subsChoosePrepaid"
          id = "two-deliveries"
          value = "two-deliveries"
        />
        <label for="two-deliveries" class="font-primary prepaid__content">
          <p class="text-center">2 deliveries</p>
          <p class="label-default text-center">$99</p>
          <h1 class="text-center">$89</h1>
          <div class="button button--primary mb-3">$0.18/bottle</div>
          <p>Charged every Sunday before delivery. Good for 3 delivery </p>
          <div class="prepaid__discount label-bold font-primary text-center">Save 10%</div>
        </label>
      </div>
      <div class="prepaid__wrapper">
        <input
          type = "radio"
          name = "subsChoosePrepaid"
          id = "three-deliveries"
          value = "three-deliveries"
        />
        <label for="three-deliveries" class="font-primary prepaid__content">
          <p class="text-center">3 deliveries</p>
          <p class="label-default text-center">$99</p>
          <h1 class="text-center">$89</h1>
          <div class="button button--primary mb-3">$0.18/bottle</div>
          <p>Charged every Sunday before delivery. Good for 3 delivery </p>
          <div class="prepaid__discount label-bold font-primary text-center">Save 10%</div>
        </label>
      </div>
      <div class="prepaid__wrapper">
        <input
          type = "radio"
          name = "subsChoosePrepaid"
          id = "four-deliveries"
          value = "four-deliveries"
        />
        <label for="four-deliveries" class="font-primary prepaid__content">
          <p class="text-center">4 deliveries</p>
          <br/>
          <p class="label-default text-center">$129</p>
          <h1 class="text-center">$109</h1>
          <div class="button button--primary mb-3">$0.16/bottle</div>
          <p>Charged every Sunday before delivery. Good for 4 delivery </p>
          <div class="prepaid__discount label-bold font-primary text-center">Save 30%</div>
        </label>
      </div>
    </div>
  </div>
  <div class="button click-me button--primary button--primary__styled mb-6 w-75 mx-auto" onclick="showUpSelling('open')"> CONTINUE TO CHECKOUT</div>
</section>

<div class="modal__container upselling none">
  <div class="modal__content modal__content-l-50 modal-w-75">
    <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" class="button-close cursor-pointer" onclick="showUpSelling('close')"/>
    </div>
    <h4 class="text-center mb-4">ADD 1 MORE CREDIT TO LOREM IPSUM THIS PRODUCTS!</h4>

    <div class="upselling__container mb-5">
      <div class="product-card">
        <div  class="product-image__wrapper background-image bg-size-cover w-90 mx-autos" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
          <img src="{% static 'images/boot/black/cold-brew-black.png' %}" alt="black cold brew-1"/>
        </div>
        <div class="product-title-and-price">
          <p class="text-semibold text-center">BLACK COLD BREW COFFEE</p>
          <div class="font-secondary input-default text-center">from $36.00</div>
        </div>
        <div class="product-quantity__container">
          <div>Qty:</div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(7)">-</button>
            <div id="noOfRoom_7" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(7)">+</button>
          </div>
        </div>
        <div class="product-pack__container">
          <div>Size/pack:</div>
          <div class="product-pack__choose font-primary">
            <input
                type = "radio"
                id = "black-six"
                name = "upselling-black"
                value = "six"
                checked="checked"
            />
            <label for="black-six">6</label>

            <input
              type = "radio"
              id = "black-twelve"
              name = "upselling-black"
              value = "twelve"
            />
              <label for="black-twelve">12</label>

            <input
              type ="radio"
              id = "black-twenty-four"
              name ="upselling-black"
              value ="twenty-four"
            />
            <label for="black-twenty-four">24</label>
          </div>
        </div>
        <br/>
        <div class="button button--primary" onclick="showCart('open')">ADD TO CART</div>
      </div>
      <div class="product-card">
        <div class="product-image__wrapper background-image bg-size-cover w-90 mx-autos" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
          <img src="{% static 'images/boot/milk-manuka-honey/cold-brew-manuka.png' %}" alt="milk manuka cold brew-1"/>
        </div>
        <div class="product-title-and-price">
            <p class="text-semibold text-center">MILK & MANUKA HONEY COLD BREW COFFEE</p>
            <div class="font-secondary input-default text-center">from $36.00</div>
        </div>
        <div class="product-quantity__container">
          <div>Qty:</div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(8)">-</button>
            <div id="noOfRoom_8" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(8)">+</button>
          </div>
        </div>
        <div class="product-pack__container">
          <div>Size/pack:</div>
          <div class="product-pack__choose font-primary">
            <input
              type = "radio"
              id = "milk-six"
              name = "upselling-milk"
              value = "six"
              checked="checked"
            />
            <label for="milk-six">6</label>

            <input
              type = "radio"
              id = "milk-twelve"
              name = "upselling-milk"
              value = "twelve"
            />
            <label for="milk-twelve">12</label>

            <input
              type = "radio"
              id = "milk-twenty-four"
              name = "upselling-milk"
              value = "twenty-four"
            />
            <label for="milk-twenty-four">24</label>
          </div>
        </div>
        <br/>
        <div class="button button--primary" onclick="showCart('open')">ADD TO CART</div>
      </div>
      <div class="product-card">
        <div class="product-image__wrapper background-image bg-size-cover w-90 mx-autos" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
          <img src="{% static 'images/boot/strong/cold-brew-strong.png' %}" alt="strong cold brew-1"/>
        </div>
        <div class="product-title-and-price">
          <p class="text-semibold text-center">STRONG COLD BREW COFFEE</p>
          <div class="font-secondary input-default text-center">from $36.00</div>
        </div>
        <div class="product-quantity__container">
          <div>Qty:</div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(9)">-</button>
            <div id="noOfRoom_9" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(9)">+</button>
          </div>
        </div>
        <div class="product-pack__container">
          <div>Size/pack:</div>
          <div class="product-pack__choose font-primary">
            <input
              type = "radio"
              id = "strong-six"
              name = "upselling-strong"
              value = "six"
              checked="checked"
            />
            <label for="strong-six">6</label>

            <input
              type = "radio"
              id = "strong-twelve"
              name = "upselling-strong"
              value = "twelve"
            />
            <label for="strong-twelve">12</label>

            <input
              type = "radio"
              id = "strong-twenty-four"
              name = "upselling-strong"
              value = "twenty-four"
            />
            <label for="strong-twenty-four">24</label>
          </div>
        </div>
        <br/>
        <div class="button button--primary" onclick="showCart('open')">ADD TO CART</div>
      </div>
    </div>
    <div class="button button--primary button--primary__styled mx-auto mb-4"> CONTINUE TO CHECKOUT</div>
    <p class="text-center">Note: The product will only be sent 1 time on the first shipment.</p>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">

  // showPhaseTwo = (str) => {
  //     if (str === 'open') {
  //       $('.choose-coffee').removeClass('none')
  //     }
  //   }

  //   showPhaseThree = (str) => {
  //     if (str === 'open') {
  //       $('.choose-frequency').removeClass('none')
  //     }
  //   }

  //   showPhaseFour = (str) => {
  //     if (str === 'open') {
  //       $('.choose-delivery').removeClass('none')
  //     }
  //   }

    showUpSelling = (str) => {
      if (str === 'open') {
          $('.upselling').removeClass('none')
      } else {
          $('.upselling').addClass('none')
      }
  }

// Counter
    function add(number) {
    var $rooms = $("#noOfRoom_" + number);
    var a = parseInt($rooms.text(), 10);
    a++;
    $("#subs").prop("disabled", !a);
    $rooms.text(a);
}

  function subst(number) {
      var $rooms = $("#noOfRoom_" + number);
      var b = parseInt($rooms.text(), 10);
      if (b >= 1) {
          b--;
          $rooms.text(b);
      }
      else {
          $("#subs").prop("disabled", true);
      }
  }

// function smoothScrollingTo(target){
//   $('html,body').animate({scrollTop:$(target).offset().​top}, 500);
// }
// $('a[href^=\\#]').on('click', function(event){
//     event.preventDefault();
//     smoothScrollingTo(this.hash);
// });
// $(document).ready(function(){
//   smoothScrollingTo(location.hash);
// });
// </script>
{% endblock extra_js %}
