{% extends "base.html" %}
{% load static %}

{% block title %}Subscription{% endblock %}
{% block description %}
  Build your own coffee experience with your Bootstrap Coffee Subscription Plan.
  The best coffee subscription services in Singapore
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<h2 class="m-boot-mobile-3 text-center pt-5">
  SUBSCRIPTION OPTIONS
</h2>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ field.label }} - {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form id="subscriptionForm" action="" method="post">{% csrf_token %}
{#  <input type="hidden" name="username" value="{% if request.user.is_authenticated %}{{ request.user.username }}{% endif %}">#}
  <input type="hidden" name="interval" value="week">
  <input type="hidden" id="id_description" name="description" value="">
  <input type="hidden" id="id_price" name="price" value="">
  <input type="hidden" id="id_total_selected" name="total_selected" value="0">
<section class="m-boot-mobile-6 m-boot-desktop-3 text-center">
  <h1 class="title-number text-center">1</h1>
  <h2>How many brews each time?</h2>
  <p class="subscription--description">6 bottles is our standard pack size. Need more for the family or the office? Get 12 or 24 bottles. Change anytime.<p>
  <div class="choose choose-product__container">
    <div class="choose-product__wrapper font-primary text-center" onclick="goToPhaseTwo(6);">
      <input
        type="radio"
        name="subsChoosePack"
        class="six-pack"
        id="six-pack"
        value="6"
      />
      <label for="six-pack" class="cursor-pointer">
          <img src="{% static 'images/boot/subscription/subscription-6-pack.svg' %}" alt="subscription-6-pack" class="mb-4" style="width: 60%;"/>
          <p class="radio-heading">6 pack</p>
      </label>
    </div>
    <div class="choose-product__wrapper font-primary text-center">
      <input
        type="radio"
        name="subsChoosePack"
        class="twelve-pack"
        id="twelve-pack"
        value="12"
      />
      <label for="twelve-pack" class="cursor-pointer" onclick="goToPhaseTwo(12);">
          <img src="{% static 'images/boot/subscription/subscription-12-pack.svg' %}" alt="subscription-12-pack" class="mb-4"/>
          <p class="radio-heading">12 pack</p>
      </label>
    </div>
    <div class="choose-product__wrapper font-primary text-center">
      <input
        type="radio"
        name="subsChoosePack"
        class="twenty-four-pack"
        id="twenty-four-pack"
        value="24"
      />
      <label for="twenty-four-pack" class="cursor-pointer" onclick="goToPhaseTwo(24);">
          <img src="{% static 'images/boot/subscription/subscription-24-pack.svg' %}" alt="subscription-24-pack" class="mb-4"/>
          <p class="radio-heading"> 24 pack</p>
      </label>
    </div>
  </div>
</section>

{% comment %}Phase Two{% endcomment %}
{% include 'subscription/blocks/phase_two.html' %}

{% comment %}Phase Three - Delivery Frequency{% endcomment %}
{% include 'subscription/blocks/phase_three.html' %}

{% comment %}Phase Four{% endcomment %}
{% include 'subscription/blocks/phase_four.html' %}

{% comment %}Phase Five - Choose number of shipments{% endcomment %}
{% include 'subscription/blocks/phase_five.html' %}

<button type="submit" class="button button--primary button--primary__styled mb-6  w-75 mx-auto readonly" > CONTINUE TO CHECKOUT</button>

{#<div class="button click-me button--primary button--primary__styled mb-6 w-75 mx-auto" onclick="showUpSelling('open')"> CONTINUE TO CHECKOUT</div>#}

</form>
{% comment %} for upselling. Currently no used
<div class="modal__container upselling none">
  <div class="modal__content modal__content-l-50 modal-w-75">
    <div class="text-end mb-4">
      <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" class="button-close cursor-pointer" onclick="showUpSelling('close')"/>
    </div>
    <h4 class="text-center mb-4">ADD 1 MORE CREDIT TO LOREM IPSUM THIS PRODUCTS!</h4>
    <div class="upselling__container mb-5">
      <div class="product-card">
        <div  class="product-image__wrapper background-image bg-size-cover w-90 mx-autos" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
          <img src="{% static 'images/boot/black/cold-brew-black.png' %}" alt="black cold brew-1" class="w-90 mx-auto"/>
        </div>
        <div class="product-title-and-price">
          <p class="text-semibold text-center">BLACK COLD BREW COFFEE</p>
          <div class="font-secondary input-default text-center">from $36.00</div>
        </div>
        <div class="product-quantity__container">
          <div>Qty:</div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(7)">-</button>
            <div id="noOfRoom_7" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(7)">+</button>
          </div>
        </div>
        <div class="product-pack__container">
          <div>Size/pack:</div>
          <div class="product-pack__choose font-primary">
            <input
                type = "radio"
                id = "black-six"
                name = "upselling-black"
                value = "six"
                checked="checked"
            />
            <label for="black-six">6</label>
            <input
              type = "radio"
              id = "black-twelve"
              name = "upselling-black"
              value = "twelve"
            />
              <label for="black-twelve">12</label>
            <input
              type ="radio"
              id = "black-twenty-four"
              name ="upselling-black"
              value ="twenty-four"
            />
            <label for="black-twenty-four">24</label>
          </div>
        </div>
        <br/>
        <div class="button button--primary" onclick="showCart('open')">ADD TO CART</div>
      </div>
      <div class="product-card">
        <div class="product-image__wrapper background-image bg-size-cover w-90 mx-autos" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
          <img src="{% static 'images/boot/milk-manuka-honey/cold-brew-manuka.png' %}" alt="milk manuka cold brew-1" class="w-90 mx-auto"/>
        </div>
        <div class="product-title-and-price">
            <p class="text-semibold text-center">MILK & MANUKA HONEY COLD BREW COFFEE</p>
            <div class="font-secondary input-default text-center">from $36.00</div>
        </div>
        <div class="product-quantity__container">
          <div>Qty:</div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(8)">-</button>
            <div id="noOfRoom_8" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(8)">+</button>
          </div>
        </div>
        <div class="product-pack__container">
          <div>Size/pack:</div>
          <div class="product-pack__choose font-primary">
            <input
              type = "radio"
              id = "milk-six"
              name = "upselling-milk"
              value = "six"
              checked="checked"
            />
            <label for="milk-six">6</label>
            <input
              type = "radio"
              id = "milk-twelve"
              name = "upselling-milk"
              value = "twelve"
            />
            <label for="milk-twelve">12</label>
            <input
              type = "radio"
              id = "milk-twenty-four"
              name = "upselling-milk"
              value = "twenty-four"
            />
            <label for="milk-twenty-four">24</label>
          </div>
        </div>
        <br/>
        <div class="button button--primary" onclick="showCart('open')">ADD TO CART</div>
      </div>
      <div class="product-card">
        <div class="product-image__wrapper background-image bg-size-cover w-90 mx-autos" style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
          <img src="{% static 'images/boot/strong/cold-brew-strong.png' %}" alt="strong cold brew-1" class="w-90 mx-auto"/>
        </div>
        <div class="product-title-and-price">
          <p class="text-semibold text-center">STRONG COLD BREW COFFEE</p>
          <div class="font-secondary input-default text-center">from $36.00</div>
        </div>
        <div class="product-quantity__container">
          <div>Qty:</div>
          <div class="button-cart__container font-primary">
            <button class="btn-counter btn-counter--decrement" onclick="subst(9)">-</button>
            <div id="noOfRoom_9" class="text-center">0</div>
            <button class="btn-counter btn-counter--increment" onclick="add(9)">+</button>
          </div>
        </div>
        <div class="product-pack__container">
          <div>Size/pack:</div>
          <div class="product-pack__choose font-primary">
            <input
              type = "radio"
              id = "strong-six"
              name = "upselling-strong"
              value = "six"
              checked="checked"
            />
            <label for="strong-six">6</label>
            <input
              type = "radio"
              id = "strong-twelve"
              name = "upselling-strong"
              value = "twelve"
            />
            <label for="strong-twelve">12</label>
            <input
              type = "radio"
              id = "strong-twenty-four"
              name = "upselling-strong"
              value = "twenty-four"
            />
            <label for="strong-twenty-four">24</label>
          </div>
        </div>
        <br/>
        <div class="button button--primary" onclick="showCart('open')">ADD TO CART</div>
      </div>
    </div>
    <div class="button button--primary button--primary__styled mx-auto mb-4"> CONTINUE TO CHECKOUT</div>
    <p class="text-center">Note: The product will only be sent 1 time on the first shipment.</p>
  </div>
</div>
  {% endcomment %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('body, html').animate({scrollTop: 0});
  });

  function goToPhaseTwo(pack_val) {
    let id = '#phasetwo';
    $("#textPackChosen").text("0/"+pack_val);
    let pack_val_int = parseInt(pack_val, 10);
    let multiply_price = pack_val_int / 6;

    $("[id^=id_subsChoosePrepaid_]").each(function(i, v) {
      let id_split = v.id.split("_");
      let counter = id_split[id_split.length-1];

      if (parseInt(counter, 10) === 0) {
        let discount_price = $("#textDiscountPrice_" + counter).data('discount-price');
        let per_bottle = $("#textPerBottle_" + counter).data('per-bottle');
        let new_discount_price = parseFloat(discount_price) * multiply_price;
        let new_per_bottle = parseFloat(per_bottle);
        $("#textDiscountPrice_" + counter).text('$' + new_discount_price.toFixed(2));
        $("#textPerBottle_" + counter).text('$' + new_per_bottle.toFixed(2) + "/bottle");
      } else {
        let price = $("#textPrice_" + counter).data('price');
        let discount_price = $("#textDiscountPrice_" + counter).data('discount-price');
        let per_bottle = $("#textPerBottle_" + counter).data('per-bottle');
        let mprice = $("#mtextPrice_" + counter).data('price');
        let mdiscount_price = $("#mtextDiscountPrice_" + counter).data('discount-price');
        let mper_bottle = $("#mtextPerBottle_" + counter).data('per-bottle');
        let new_price = parseInt(price, 10) * multiply_price;
        let new_discount_price = parseInt(discount_price, 10) * multiply_price;
        let new_per_bottle = parseFloat(per_bottle);
        let new_mprice = parseInt(mprice, 10) * multiply_price;
        let new_mdiscount_price = parseInt(mdiscount_price, 10) * multiply_price;
        let new_mper_bottle = parseFloat(mper_bottle) * multiply_price;
        $("#textPrice_" + counter).text('$' + new_price);
        $("#textDiscountPrice_" + counter).text('$' + new_discount_price);
        $("#textPerBottle_" + counter).text('$' + new_per_bottle + "/bottle");
        $("#mtextPrice_" + counter).text('$' + new_mprice);
        $("#mtextDiscountPrice_" + counter).text('$' + new_mdiscount_price);
        $("#mtextPerBottle_" + counter).text('$' + new_mper_bottle + "/bottle");
      }
    })

    $("[id^=id_msubsChoosePrepaid_]").each(function(i, v) {
      let id_split = v.id.split("_");
      let counter = id_split[id_split.length-1];

      let mprice = $("#mtextPrice_" + counter).data('price');
      let mdiscount_price = $("#mtextDiscountPrice_" + counter).data('discount-price');
      let mper_bottle = $("#mtextPerBottle_" + counter).data('per-bottle');
      let new_mprice = parseInt(mprice, 10) * multiply_price;
      let new_mdiscount_price = parseInt(mdiscount_price, 10) * multiply_price;
      let new_mper_bottle = parseFloat(mper_bottle) * multiply_price;
      $("#mtextPrice_" + counter).text('$' + new_mprice);
      $("#mtextDiscountPrice_" + counter).text('$' + new_mdiscount_price);
      $("#mtextPerBottle_" + counter).text('$' + new_mper_bottle + "/bottle");
    })

    // target element
    let $id = $(id);
    if ($id.length === 0) {
        return;
    }

    $("input[name=subsChoosePack][value=" + pack_val + "]").attr('checked', 'checked');
    $("input[name=description]").val("");
    clearAllProductSelected();

    // top position relative to the document
    let pos = $id.offset().top;

    // animated top scrolling
    $('body, html').animate({scrollTop: pos}, 700);
  }

  function goToPhaseThree() {
    let id = '#phasethree';

    // target element
    let $id = $(id);
    if ($id.length === 0) {
        return;
    }

    // top position relative to the document
    let pos = $id.offset().top;

    // animated top scrolling
    $('body, html').animate({scrollTop: pos}, 700);
  }

  function goToPhaseFour(interval_count) {
    let id = '#phasefour';

    // target element
    let $id = $(id);
    if ($id.length === 0) {
        return;
    }

    $("input[name=subsChooseFrequency][value=" + interval_count + "]").attr('checked', 'checked');
    console.log(interval_count);
    // top position relative to the document
    let pos = $id.offset().top;

    // animated top scrolling
    $('body, html').animate({scrollTop: pos}, 700);
    showUpSelling = (str) => {
      if (str === 'open') {
        $('.upselling').removeClass('none')
      } else {
        $('.upselling').addClass('none')
      }
    }
  }
  function goToPhaseFourChooseTime() {
    let id = '#phasefourchoosetime';

    // target element
    let $id = $(id);

    // top position relative to the document
    let pos = $id.offset().top - 50;

    // animated top scrolling
    $('body, html').animate({scrollTop: pos}, 700);
  }

  function goToPhaseFive() {
    let id = '#phasefive';
    console.log("goToPhaseFive Triggered");

    // target element
    let $id = $(id);

    // top position relative to the document
    let pos = $id.offset().top;

    // animated top scrolling
    $('body, html').animate({scrollTop: pos}, 700);
  }

  function checkAvailableTime(day, counter) {
    $("[id^=availableDaysTime_]").each(function() {
      let $element = $("#" + this.id);
      let days = $element.data('days');
      let days_split = days.split(',');

      if( $.inArray(day, days_split) !== -1 ) {
        $element.removeClass('none');
      } else {
        $element.addClass('none');
      }

      $("input[name=subsChooseTime]").attr('checked', false);
    });
  }
</script>
{% endblock %}
