{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="registration__container">
    <div class="registration__logo text-center">
        <img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
    </div>
    <div class="background-image bg-position-center" style="--background-img:url({% static 'images/boot/bg-registration.png' %})">
        <div class="registration__wrapper">
            <h4 class="registration__heading text-center">SIGN UP</h4>
            <form>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">First Name</label>
                        <div class="input-field__right"></div>
                    </div>
                    <input
                        type="text"
                        placeholder="Input First Name"
                    >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Last Name</label>
                        <div class="input-field__right"></div>
                    </div>
                    <input
                        type="text"
                        placeholder="Input Last Name"
                    >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary"> Email Address</label>
                        <div class="input-field__right"></div>
                    </div>
                    <input
                        type="text"
                        placeholder="Input email address"

                    >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class='input-field__left text-bold font-primary'>Password</label>
                    </div>
                    <input
                        type="password"
                        name="password"
                        placeholder="Input your password"
                        id="tooglePassword"
                    >
                  {% comment %}
                    <span class="text-end eye eye-signup" onclick="showTogglePassword()">
                        <img src="{% static 'images/boot/icons/eye-icon.svg' %}" alt="eye-icon" id="hide1" class="w-100 none cursor-pointer"/>
                        <img src="{% static 'images/boot/icons/eye-slash-icon.svg' %}" alt="eye-slash-icon" id="hide2" class="w-100 cursor-pointer"/>
                    </span>
                  {% endcomment %}
                </div>
                <br/>
                <div class="button button--primary button--primary__styled font-primary">SIGN UP</div>
                <div class="lines-besides-title font-primary text-center">
                    <div class="lines"></div>
                    <p>Or Sign Up With</p>
                    <div class="lines"></div>
                </div>
                <div class="registration__social-media">
                    <a href="#" class="social-media text-center">
                        <img class="google" src="{% static 'images/boot/icons/google-color-icon.png' %}" alt="google-color"/>
                    </a>
                    <a href="#" class="social-media text-center">
                        <img class="facebook" src="{% static 'images/boot/icons/facebook-color-icon.png' %}" alt="facebook-color"/>
                    </a>
                </div>
            </form>
        </div>
        <br/>
        <div class="font-primary text-center text-bold mb-6">
            Already have an account?
            <a href="{% url 'signin' %}" class="text-underline-gold font-gold text-bold">
                Sign In
            </a>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">

        function showTogglePassword() {
            let toogle = document.getElementById("tooglePassword");
            let eye = document.getElementById("hide1");
            let eyeSlash = document.getElementById("hide2");

            if (toogle.type === "password") {
                toogle.type = "text";
                eye.classList.remove("none");
                eyeSlash.classList.add("none");
            } else {
                toogle.type = "password";
                eye.classList.add("none");
                eyeSlash.classList.remove("none");
            }
        }
    </script>
{% endblock extra_js %}
