{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
<section class="registration__container">
    <div class="registration__logo text-center">
        <img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
    </div>
    <div class="background-image bg-position-center" style="--background-img:url({% static 'images/boot/bg-registration.png' %})">
        <div class="registration__wrapper">
            <h3 class="registration__heading text-center">SIGN IN</h3>
            <form>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary text-semibold">Email Address</label>
                        <div class="input-field__right"></div>
                    </div>
                    <input
                        type="text"
                        placeholder="Input email address"
                    >
                </div>

                <div class="input__layout">
                    <div class="input-field input-field__top" style="position: relative;">
                        <label class='input-field__left text-bold font-primary text-semibold'>Password</label>
                        <div class="input-field__right">Forgot Password?</div>
                    </div>
                    <input
                        type="password"
                        name="password"
                        placeholder="Input your password"
                        id="tooglePassword"
                        style="position: relative;"
                    >
                  {% comment %}
                    <span class="text-end eye eye-signin" onclick="showTogglePassword()">
                        <img src="{% static 'images/boot/icons/eye-icon.svg' %}" alt="eye-icon" id="hide1" class="w-100 none cursor-pointer"/>
                        <img src="{% static 'images/boot/icons/eye-slash-icon.svg' %}" alt="eye-slash-icon" id="hide2" class="w-100 cursor-pointer"/>
                    </span>
                    {% endcomment %}
                </div>
                <br/>
                <div class="button button--primary button--primary__styled font-primary">SIGN IN</div>

                <div class="lines-besides-title font-primary text-center"> Or Sign In With</div>

                <div class="registration__social-media">
                    <a href="#" class="social-media text-center">
                        <img class="google" src="{% static 'images/boot/icons/google-color-icon.png' %}" alt="google-color"/>
                    </a>
                    <a href="#" class="social-media text-center">
                        <img class="facebook" src="{% static 'images/boot/icons/facebook-color-icon.png' %}" alt="facebook-color"/>
                    </a>
                </div>
            </form>
        </div>
        <br/>
        <div class="font-primary text-center text-bold mb-6">
            Doesn't have an account yet?
            <a href="{% url 'signup' %}" class="font-gold text-bold">
                Sign Up
            </a>
        </div>
    </div>
</section>
{% endblock content%}
{% block extra_js %}
<script type="text/javascript">

    function showTogglePassword() {
        let toogle = document.getElementById("tooglePassword");
        let eye = document.getElementById("hide1");
        let eyeSlash = document.getElementById("hide2");

        if (toogle.type === "password") {
            toogle.type = "text";
            eye.classList.remove("none");
            eyeSlash.classList.add("none");
        } else {
            toogle.type = "password";
            eye.classList.add("none");
            eyeSlash.classList.remove("none");
        }
    }
</script>
{% endblock extra_js %}
