{% load static %}
<div class="text-end mb-4">
    <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalEditAddress('close')" class="cursor-pointer"/>
</div>
<h4 class="text-center mb-4">EDIT SHIPPING ADDRESS</h4>
<form id="formEditAddAddress" class="mb-5" action="{% url 'custom_shipping:shipping_address_detail' id %}?subscriptionId={{ subscription_id }}" method="post">{% csrf_token %}
  <div class="input-sm-2-lg-1">
      <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">First Name</label>
          </div>
          {{ form.first_name }}
      </div>
      <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">Last Name</label>
          </div>
          {{ form.last_name }}
      </div>
  </div>
  <div class="input-sm-2-lg-1">
      <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">Email</label>
          </div>
          {{ form.email }}
      </div>
      <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">Phone Number</label>
          </div>
          {{ form.phone_number }}
      </div>
  </div>
  <div class="input__layout">
      <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Address</label>
      </div>
      {{ form.line1 }}
  </div>
  <div class="d-grid name__wrapper">
      <div class="input__layout">
          <div class="input-field input-field__top">
          <label class="input-field__left font-primary">City</label>
          </div>
          {{ form.line4 }}
      </div>
      <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">State</label>
          </div>
          {{ form.state }}
      </div>
  </div>
  <div class="d-grid name__wrapper">
      <div class="input__layout">
          <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Postal Code</label>
          </div>
          {{ form.postcode }}
      </div>
      <div class="input__layout">
          <div class="input-field input-field__top">
              <label class="input-field__left font-primary">Country</label>
          </div>
          {{ form.country }}
      </div>
  </div>
  <div class="input__layout">
      <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Additional Info</label>
      </div>
      {{ form.notes }}
  </div>
</form>
<div class="modal-button__wrapper">
  <div class="button button--secondary order-sm-2-lg-1" onclick="showModalEditAddress('close')">CANCEL</div>
  <div class="button button--primary text-center order-sm-1-lg-2" onclick="$('#formEditAddAddress').submit();">SAVE ADDRESS</div>
</div>
