{% load static custom_tags %}

<div class="modal__container confirm-skip-subscription none">
  <div class="modal__content modal__content-50 modal-w-45">
    <div class="text-end mb-4">
      <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close"
            onclick="showModalConfirmSkipSubs('close')" class="cursor-pointer"/>
    </div>
    <h4 class="text-center mb-4">Pause Your Subscription</h4>
    <p class="text-center mb-5">You will pause your subscription until
      <span id="confirmationDate">[selected_date]</span>, after that the delivery
      schedule and billing date will be changes to:</p>

    <div class="mb-6 confirm-frequency-change__wrapper">
      <div class="old-frequency">
        <p class="mb-2 text-bold">New Delivery Date</p>
        <div><span class="text-white">&#9679;</span> &nbsp; <span class="label-semibold">Date &nbsp;</span><span
          class="font-primary text-bold" id="textNewDate"></span></div>
        <div><span class="text-white">&#9679;</span> &nbsp; <span class="label-semibold">on &nbsp;</span><span
          class="font-primary text-bold" id="textNewDay"></span></div>
        <div><span class="text-white">&#9679;</span> &nbsp; <span class="label-semibold">at &nbsp;</span><span
          class="font-primary  text-bold" id="textNewTime"></span></div>
      </div>

      <div class="new-frequency">
        <p class="mb-2 text-bold">New Billing date</p>
        <div><span class="text-white">&#9679;</span> &nbsp;<span class="label-semibold">Date &nbsp;</span><span
          class="font-primary text-bold" id="textNewBilling">-</span></div>
      </div>
    </div>
    <div class="grid-button__wrapper grid-row-gap-1 mb-4">
      <div class="button button--secondary" onclick="showModalConfirmSkipSubs('close')">I CHANGED MY MIND</div>
      <div class="button button--primary" onclick="processSkip()">PAUSE SUBSCRIPTION</div>
    </div>
  </div>
</div>
