{% load static custom_tags %}

<div class="modal__container resume-subscription none">
  <input type="hidden" id="resume-sub-id" value="">
  <div class="modal__content modal__content-50 modal-w-45">
    <div class="text-end mb-4">
      <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close"
            onclick="showModalResumeSubs('close')"/>
    </div>
    <h4 class="mb-4">Resume Your Subscription</h4>
    <p class="mb-5">Hi there! We already miss you. You can reactivate your subscription any time, we'll be right
      here. Tell us when you want to resume your subscription!</p>
    <div class="mb-4">
      <div class="cart-input__wrapper">
        <input type="text" placeholder="Choose a date" autocomplete="off"
                class="datetimepicker-input date-delivery input-black" id="datetimepickerResume"
                data-toggle="datetimepicker" data-target="#datetimepickerResume"/>
        <button class="select-time-date__wrapper">
          <img src="{% static 'images/boot/icons/calendar-black.svg' %}" alt="calendar-black" class="h-100"/>
        </button>
      </div>
      <br/>
      <div class="cart-input__wrapper mb-5">
        <select id="selectDeliveryTimeResume" class="input-black">
          {% if not pause_collection %}
            {{ options|safe }}
          {% endif %}
        </select>
        <button class="select-time-date__wrapper">
          <img src="{% static 'images/boot/icons/clock-black.svg' %}" alt="clock-black" class="h-100"/>
        </button>
      </div>
    </div>
    <div class="grid-button__wrapper grid-row-gap-1 mb-4">
      <div class="button button--secondary" onclick="showModalResumeSubs('close')">CANCEL</div>
      <div class="button button--primary" onclick="processResume()">RESUME SUBSCRIPTION</div>
    </div>
  </div>
</div>
