{% load static custom_tags %}

<div class="modal__container extra-delivery none">
  <input type="hidden" id="extra_delivery_sub_id" name="extra_delivery_sub_id" value="{{ subscription.id }}">
  <div class="modal__content modal__content-50">
    <div class="text-end mb-4">
      <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalExtraDelivery('close')"
            class="cursor-pointer"/>
    </div>
    <h4 class="text-center mb-5">Create Extra Delivery</h4>
    <p class="mb-4">Get an extra delivery for your subscription. Add additional package for yourself, your family, or friends!</p>
    <p class="mb-4">Please select a new delivery date and time:</p>
    <div class="mb-4">
      <div class="cart-input__wrapper">
        <input type="text" class="datetimepicker-input date-extra-delivery input-black" name="extra_delivery_date" placeholder="Choose a date" required id="extra_delivery_date">
        <button class="select-time-date__wrapper">
          <img src="{% static 'images/boot/icons/calendar-black.svg' %}" alt="calendar-black" class="h-100"/>
        </button>
      </div>
      <br/>
      <div class="cart-input__wrapper">
        <select id="extra_delivery_time" name="extra_delivery_time" class="input-black" onchange="">
        </select>
        <button class="select-time-date__wrapper">
          <img src="{% static 'images/boot/icons/clock-black.svg' %}" alt="clock-black" class="h-100"/>
        </button>
      </div>
    </div>
    <div class="grid-button__wrapper grid-row-gap-1 mb-4">
      <div class="button button--secondary" onclick="showModalExtraDelivery('close')">BACK</div>
      <div class="button button--primary" onclick="processExtraDelivery()" id="confirmExtraDelivery">CONTINUE</div>
      <div class="button button--primary button--disabled none" id="confirmExtraDeliveryDisabled">CONTINUE</div>
    </div>
  </div>
</div>
