{% extends "base.html" %}

{% load static %}

{% block title %}Address Lists{% endblock %}

{% block extra_css %}
  <style>
    .error {
      color: #ff0000;
    }
  </style>
{% endblock extra_css %}

{% block content %}
{% include "components/navbar-userpage.html" %}

<section class="subscription--container pt-5">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ field.label }} - {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <a href="{% url 'customer:profile-view' %}" class="text-besides-icon mb-2">
        <div class="icon">
            <img src= "{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
        </div>
        <h4>Address Lists</h4>
    </a>
    <p class="mb-5">Is the address you'd like to use displayed below? If so, click the corresponding 'Add New Address' button</p>
    {% comment %} Needs to be fixed but hide first
    <div class="d-flex mb-6 ml-8-desktop mr-8-desktop">
        <input type="text" placeholder="Enter your address, zip code or city">
        <button class="button button--primary">
            SEARCH
        </button>
    </div>
    {% endcomment %}

    <div class="edit-address__wrapper mb-6">
        <div class="address__wrapper">
            <div class="mb-1 text-center">
                <img src="{% static 'images/boot/icons/add-new-address.png' %}" alt="add-new-address" />
            </div>
            <a href="{% url 'customer:address-create' %}" class="button button--primary">Add New Address</a>
        </div>
        {% for address in addresses %}
        <div class="address__wrapper">
            <p class="text-semibold">{{ address.first_name }} {{ address.last_name }}</p>
            <p>{{ address.phone_number }}</p>
            <p>{{ address }}</p>
            <br/>
          {% if not address.is_default_for_shipping %}
            <a href="{% url 'customer:address-change-status' pk=address.id action='default_for_shipping' %}" class="button button--primary mb-3"> Use This Address</a>
            {% else %}
            <a class="button button--disabled mb-3 mt-3">Default Address</a>
          {% endif %}
            <div class="name__wrapper">
                <a class="button button--secondary" href="{% url 'customer:address-detail' address.id %}"> Edit</a>
                <div class="button button--secondary" onclick="showModalDeleteAddress('open', '{{ address.id }}')"> Delete</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<div class="modal__container none" id="successDelete">
    <div class="modal__content modal__content--green modal__content-50 modal-w-30">
        <div class="text-center mb-4">
            <img src="{% static 'images/boot/icons/round-check.svg' %}" alt="round-success"/>
        </div>
        <h4 class="text-center mb-4">ADDRESS DELETED!</h4>
    </div>
</div>

<!--Pop Up Add New Address-->
<div class="modal__container add-new-address none">
    <div class="modal__content modal__content-50 modal-w-45">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalNewAddress('close')"/>
        </div>
        <h4 class="text-center mb-4">ADD NEW ADDRESS</h4>
        <form id="formAddAddress" class="mb-5" action="{% url 'customer:address-create' %}" method="post">{% csrf_token %}
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">First Name</label>
                    </div>
                    {{ address_form.first_name }}
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Last Name</label>
                    </div>
                    {{ address_form.last_name }}
                </div>
            </div>
            <div class="input-sm-2-lg-1">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Email</label>
                    </div>
                    {{ address_form.email }}
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Phone Number</label>
                    </div>
                    {{ address_form.phone_number }}
                </div>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Address</label>
                </div>
                {{ address_form.line1 }}
            </div>
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">City</label>
                    </div>
                    {{ address_form.line4 }}
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">State</label>
                    </div>
                    {{ address_form.state }}
                </div>
            </div>
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Postal Code</label>
                    </div>
                    {{ address_form.postcode }}
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Country</label>
                    </div>
                    {{ address_form.country }}
                </div>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Additional Info</label>
                </div>
                {{ address_form.notes }}
            </div>
        </form>
        <div class="modal-button__wrapper">
            <div class="button button--secondary order-sm-2-lg-1" onclick="showModalNewAddress('close')">CANCEL</div>
            <div class="button button--primary text-center order-sm-1-lg-2" onclick="$('#formAddAddress').submit();">ADD NEW ADDRESS</div>
        </div>
    </div>
</div>

<!--Pop Up Edit New Address-->
<div class="modal__container edit-address none">
  <div class="modal__content modal__content-50 modal-w-45" id="editAddressForm">
  </div>
</div>

<!--Pop Up Delete Address-->
<div class="modal__container delete-address none">
    <div class="modal__content modal__content-50 modal-w-45">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalDeleteAddress('close')"/>
        </div>
        <h4 class="text-center mb-4">DELETE ADDRESS</h4>
        <p class="mb-4">Are you sure you want to delete this address?<span class="text-bold">You cannot restore deleted address.</span></p>

        <div class="modal-button__wrapper">
            <div class="button button--secondary" onclick="showModalDeleteAddress('close')">CANCEL</div>
            <div class="button button--primary" id="deleteAddressBtn">DELETE ADDRESS</div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $("#formAddAddress").validate({
      submitHandler: function(form) {
        form.submit();
      }
    });
    showModalNewAddress = (str) => {
        if (str === 'open') {
            $('.add-new-address').removeClass('none')
        } else {
            $('.add-new-address').addClass('none')
        }
    }

    function showModalEditAddress(str, objId) {
      if (str === 'open') {
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: "/accounts/custom-update-address/"+ objId +"/",
          type: 'GET',
          success: function(result) {
            $("#editAddressForm").empty();
            $("#editAddressForm").html(result);
          }
        });
        $('.edit-address').removeClass('none');
      } else {
        $('.edit-address').addClass('none');
      }
    }

    showModalDeleteAddress = (str, objId) => {
        if (str === 'open') {
            $('.delete-address').removeClass('none');
            let on_click = "doDeleteAddress('/accounts/addresses/"+ objId +"/delete/')"
            $("#deleteAddressBtn").attr('onclick', on_click);
        } else {
            $('.delete-address').addClass('none');
            $("#deleteAddressBtn").removeAttr('onclick');
        }
    }

    function doDeleteAddress(url) {
      $.ajax({
        headers: {'X-CSRFToken': csrftoken},
        url: url,
        type: 'POST',
        success: function(result) {
          $('.delete-address').addClass('none');
          $("#successDelete").removeClass("none");
          setTimeout(function(){
            $("#successDelete").addClass("none");
            location.reload();
          },2000);
        }
      });
    }
</script>
{% endblock extra_js %}
