{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
  <style>
    .error {
      color: #ff0000;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  {% include "components/navbar-userpage.html" %}

  <section class="subscription--container pt-5">
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ field.label }} - {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    <a href="{% url 'customer:address-list' %}" class="text-besides-icon mb-2">
      <div class="icon">
        <img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
      </div>
      <h4>{{ title }}</h4>
    </a>
    <form id="formEditAddAddress" class="mb-5" action="." method="post">{% csrf_token %}
      <input type="hidden" name="line4" value="Singapore" placeholder="Input city" maxlength="255" required=""
             id="id_line4">
      <input type="hidden" name="state" value="Singapore" placeholder="Input state" maxlength="255" required=""
             id="id_state">

      <div class="input-sm-2-lg-1">
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary">First Name</label>
          </div>
          {{ form.first_name }}
        </div>
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary">Last Name</label>
          </div>
          {{ form.last_name }}
        </div>
      </div>
      <div class="input-sm-2-lg-1">
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary">Email</label>
          </div>
          {{ form.email }}
        </div>
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary">Phone Number</label>
          </div>
          {{ form.phone_number }}
        </div>
      </div>
      <div class="input__layout">
        <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Address</label>
        </div>
        {{ form.line1 }}
      </div>

      <div class="d-grid name__wrapper">
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary">Postal Code</label>
          </div>
          {{ form.postcode }}
        </div>
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary" for="id_country">Country</label>
          </div>
          <input type="hidden" name="country"
                 placeholder="Input postal code" required="" id="id_country" value="SG">
          <input type="text" name=""
                 placeholder="Input postal code" required="" value="Singapore" readonly>
        </div>
      </div>
      <div class="input__layout">
        <div class="input-field input-field__top">
          <label class="input-field__left font-primary">Additional Info</label>
        </div>
        {{ form.notes }}
      </div>
    </form>
    <div class="checkout-button__wrapper mb-5">
      <a href="{% url 'customer:address-list' %}" class="button button--secondary">CANCEL</a>
      <div class="button button--primary" onclick="$('#formEditAddAddress').submit();">SAVE ADDRESS</div>
    </div>

  </section>


{% endblock %}

{% block extra_js %}
  <script>
    $.validator.methods.email = function (value, element) {
      return this.optional(element) || /^([\w.%+-]+)@([\w-]+\.)+(\w{2,})$/.test(value);
    }
    // on document ready
    $(document).ready(function () {
      let emailField = $('#id_email');

      emailField.on("blur", function () {
        let email = this.value;
        let emailRegEx = /^([\w.%+-]+)@([\w-]+\.)+([\w]{2,})$/i.test(email);

        if (emailRegEx) {
          let lastThreeCharacter = email.substr(email.length - 3)
          if (lastThreeCharacter === "con") {
            $('.email-error-checker').removeClass('none')
          } else {
            $('.email-error-checker').addClass('none');
          }
        } else {
          $('.email-error-checker').removeClass('none')
        }
      })
    });

    $("#formEditAddAddress").validate({
      rules: {
        first_name: {
          required: true,
          minlength: 2,
          maxlength: 255
        },
        last_name: {
          required: true,
          minlength: 2,
          maxlength: 255
        },
        email: {
          required: true,
          email: true,
          maxlength: 255
        },
        phone_number: {
          required: true,
          maxlength: 30,
          minlength: 4,
        },
        line1: {
          required: true,
          minlength: 10,
          maxlength: 255
        },
        postcode: {
          required: true,
          minlength: 6,
          maxlength: 6,
          number: true
        },
        country: {
          required: true,
          minlength: 2,
          maxlength: 255
        },
      },
      messages: {
        postcode: {
          number: "Please insert the correct postcode"
        }
      }
    });

  </script>
{% endblock %}
