{% extends "base.html" %}

{% load static %}
{% load custom_tags humanize %}

{% block title %}Edit Delivery Frequency{% endblock %}

{% block content %}
<div class="mb-5"></div>

<form id="subscriptionEditForm" action="{% url 'customer:subscription-delivery-edit' subscription.id %}" method="post">{% csrf_token %}
  <section class="subscription--container">
    <div class="text-besides-icon mb-4">
      <div class="icon">
        <a href="{% url 'customer:subscription-detail' subscription.id %}">
          <img src= "{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
        </a>
      </div>
      <h4> SUBSCRIPTION DELIVERY CHANGES</h4>
    </div>

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ field.label }} - {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    <div class="choose choose-frequency__container font-primary">
      <div class="choose-frequency__wrapper font-primary text-center mb-6">
        <input
          type="radio"
          name="subsChooseFrequency"
          id="one-week"
          value="1"
        />
        <label for="one-week">
          <img src="{% static 'images/boot/subscription/subscription-frequency-1.png' %}" alt="subscription-frequency-1" class="mb-4 mx-auto"/>
          <p class="radio-heading">1 week</p>
        </label>
      </div>
      <div class="choose-frequency__wrapper font-primary text-center mb-4">
        <input
          type="radio"
          name="subsChooseFrequency"
          id="two-week"
          value="2"
        />
        <label for="two-week">
          <img src="{% static 'images/boot/subscription/subscription-frequency-2.png' %}" alt="subscription-frequency-2" class="mb-4 mx-auto"/>
          <p class="radio-heading">2 weeks</p>
        </label>
      </div>
      <div class="choose-frequency__wrapper font-primary text-center mb-4">
        <input
          type="radio"
          name="subsChooseFrequency"
          id="three-week"
          value="3"
        />
        <label for="three-week">
          <img src="{% static 'images/boot/subscription/subscription-frequency-3.png' %}" alt="subscription-frequency-3" class="mb-4 mx-auto"/>
          <p class="radio-heading">3 weeks</p>
        </label>
      </div>
      <div class="choose-frequency__wrapper font-primary text-center mb-4">
        <input
          type="radio"
          name="subsChooseFrequency"
          id="four-week"
          value="4"
        />
        <label for="four-week">
          <img src="{% static 'images/boot/subscription/subscription-frequency-4.png' %}" alt="subscription-frequency-4" class="mb-4 mx-auto"/>
          <p class="radio-heading">4 weeks</p>
        </label>
      </div>
    </div>
    <div class="button button--primary w-75 mb-6 ml-auto mr-auto" onclick="showChangeFrequencyConfirmation('open')"> UPDATE FREQUENCY</div>
  </section>
</form>

<!--Pop Up Frequency Change Confirmation-->
<div class="modal__container frequency-confirmation none">
    <div class="modal__content modal__content-50 modal-w-45">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showChangeFrequencyConfirmation('close')" class="cursor-pointer"/>
        </div>
        <h4 class="text-center mb-4">CONFIRMATION SUBSCRIPTION DELIVERY CHANGES</h4>
        <p class="mb-4"> <span class="text-bold">All your future subscription delivery will be changed following this information.</span> Prepaid's next renewal takes place on {{ subscription.current_period_end|date:"d F, Y" }}</p>
        <hr class="border border-1"/>
        <div class="mb-6 confirm-frequency-change__wrapper">
            <div class="old-frequency">
                <p class="mb-2 text-bold">Old Frequency</p>
                <div><span class="text-white">&#9679;</span> &nbsp; <span class="label-semibold">Every &nbsp;</span><span class="font-primary text-bold">{{ delivery_frequency }} week{{ delivery_frequency|pluralize:"s" }}</span></div>
            </div>

            <div class="new-frequency">
                <p class="mb-2 text-bold">New Frequency</p>
                <div><span class="text-white">&#9679;</span> &nbsp;<span class="label-semibold">Every &nbsp;</span><span class="font-primary text-bold" id="newInterval">-</span></div>
            </div>
        </div>
        <div class="button button--primary mb-2" onclick="$('#subscriptionEditForm').submit();">CONFIRM DELIVERY FREQUENCY</div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

  function showChangeFrequencyConfirmation(str) {
    if (str === 'open') {
      $('.frequency-confirmation').removeClass('none');
      let interval = $("input[name='subsChooseFrequency']:checked").val();

      if (interval !== undefined) {
        let text = "1 week";
        if (parseInt(interval, 10) > 1) {
          text = interval + " weeks";
        }
        $("#newInterval").text(text);
      }
    } else {
      $('.frequency-confirmation').addClass('none')
    }
  }

</script>
{% endblock extra_js %}
