{% extends "base.html" %}

{% load static %}

{% block title %}Edit Delivery Address{% endblock %}

{% block content %}
<section class="subscription--container">
    <div class="text-besides-icon mb-2">
        <div class="icon">
            <img src= "{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
        </div>
        <h4> Edit Delivery Address</h4>
    </div>
    <p class="mb-5">Is the address you'd like to use displayed below? If so, click the corresponding 'Add New Address' button</p>
    <div class="d-flex mb-6 ml-8-desktop mr-8-desktop">
        <input type="text" placeholder="Enter your address, zip code or city">
        </input>
        <button class="button button--primary">
            SEARCH
        </button>
    </div>
    
    <div class="edit-address__wrapper mb-6">
        <div class="address__wrapper">
            <div class="mb-1 text-center">
                <img src="{% static 'images/boot/icons/add-new-address.png' %}" alt="add-new-address" />
            </div>
            <div class="button button--primary" onclick="showModalNewAddress('open')"> Add New Address</div>
        </div>
        <div class="address__wrapper">
            <p class="text-semibold">Ms. Pamela Ayu</p>
            <p>08112345678</p>
            <p>10 Jalan Kilang #03-01 Sime Darby Enterprise Centre, 159410 Singapore</p>
            <br/>
            <div class="button button--primary mb-3"> Use This Address</div>
            <div class="address-button">
                <div class="button button--secondary" onclick="showModalEditAddress('open')"> Edit</div>
                <div class="button button--secondary" onclick="showModalDeleteAddress('open')"> Delete</div>
            </div>
        </div>
        <div class="address__wrapper">
            <p class="text-semibold">Ms. Pamela Ayu</p>
            <p>08112345678</p>
            <p>10 Jalan Kilang #03-01 Sime Darby Enterprise Centre, 159410 Singapore</p>
            <br/>
            <div class="button button--primary mb-3"> Use This Address</div>
            <div class="address-button">
                <div class="button button--secondary" onclick="showModalEditAddress('open')"> Edit</div>
                <div class="button button--secondary" onclick="showModalDeleteAddress('open')"> Delete</div>
            </div>
        </div>
    </div>
</section>

<!--Pop Up Add New Address-->
<div class="modal__container add-new-address none">
    <div class="modal__content modal__content-l-50 modal-w-45">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalNewAddress('close')"/>
        </div>
        <h4 class="text-center mb-4">ADD NEW ADDRESS</h4>
        <form class="mb-5">
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Recipient Name</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input recipient name"
                    >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Phone Number</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input phone number"
                    >
                </div>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Address</label>
                </div>
                <input
                    type="text"
                    placeholder="Input address"
                >
            </div>
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">City</label>
                    </div>
                <input
                    type="text"
                    placeholder="Input city"
                >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">State</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input state"
                    >
                </div>
            </div>
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Zip Code</label>
                    </div>
                <input
                    type="text"
                    placeholder="Input zip code"
                >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Country</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input country"
                    >
                </div>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Additional Info</label>
                </div>
                <input
                    type="text"
                    placeholder="Input additional info"
                >
            </div>
        </form>
        <div class="d-grid justify-content-between">
            <div class="button button--secondary" onclick="showModalNewAddress('close')">CANCEL</div>
            <div class="button button--primary text-center">ADD NEW ADDRESS</div>
        </div>
    </div>
</div>

<!--Pop Up Edit New Address-->
<div class="modal__container edit-address none">
    <div class="modal__content modal__content-50 modal-w-45">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalEditAddress('close')"/>
        </div>
        <h4 class="text-center mb-4">EDIT ADDRESS</h4>
        <form class="mb-5">
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Recipient Name</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input recipient name"
                    >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Phone Number</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input phone number"
                    >
                </div>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Address</label>
                </div>
                <input
                    type="text"
                    placeholder="Input address"
                >
            </div>
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">City</label>
                    </div>
                <input
                    type="text"
                    placeholder="Input city"
                >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">State</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input state"
                    >
                </div>
            </div>
            <div class="d-grid name__wrapper">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Zip Code</label>
                    </div>
                <input
                    type="text"
                    placeholder="Input zip code"
                >
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Country</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input country"
                    >
                </div>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Additional Info</label>
                </div>
                <input
                    type="text"
                    placeholder="Input additional info"
                >
            </div>
        </form>
        <div class="d-grid justify-content-between">
            <div class="button button--secondary" onclick="showModalEditAddress('close')">CANCEL</div>
            <div class="button button--primary">UPDATE ADDRESS</div>
        </div>
    </div>
</div>

<!--Pop Up Delete Address-->
<div class="modal__container delete-address none">
    <div class="modal__content modal__content-50 modal-w-45">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalDeleteAddress('close')"/>
        </div>
        <h4 class="text-center mb-4">DELETE ADDRESS</h4>
        <p class="mb-4">Are you sure you want to delete this address?<span class="text-bold">You cannot restore deleted address.</span></p>

        <div class="d-grid justify-content-between mb-3">
            <div class="button button--secondary" onclick="showModalDeleteAddress('close')">CANCEL</div>
            <div class="button button--primary">DELETE ADDRESS</div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    showModalNewAddress = (str) => {
        if (str === 'open') {
            $('.add-new-address').removeClass('none')
        } else {
            $('.add-new-address').addClass('none')
        }
    }

    showModalEditAddress = (str) => {
        if (str === 'open') {
            $('.edit-address').removeClass('none')
        } else {
            $('.edit-address').addClass('none')
        }
    }

    showModalDeleteAddress = (str) => {
        if (str === 'open') {
            $('.delete-address').removeClass('none')
        } else {
            $('.delete-address').addClass('none')
        }
    }
</script>
{% endblock extra_js %}