{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount custom_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% load purchase_info_tags currency_filters %}
{% load image_tags %}
{% block title %}Edit-Product Subscription{% endblock %}

{% block content %}
<div class="mb-5"></div>
<form id="subscriptionProductEditForm" action="{% url 'customer:subscription-product-edit' subscription.id %}" method="post">{% csrf_token %}
  {{ form }}
  <div class="edit-product-subs__container m-boot-desktop-3">
    <div class="text-besides-icon m-boot-mobile-3">
      <div class="icon">
        <a href="{% url 'customer:subscription-detail' subscription.id %}">
          <img src= "{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
        </a>
      </div>
      <h4> Edit Product Subscription</h4>
    </div>

    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ field.label }} - {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    <div class="choose-pack__wrapper m-boot-mobile-3">
      <div class="progress-bar_wrapper d-flex mb-6">
        <p id="textPackChosen">0/{{ size_pack }}</p>
        <div class="progress-bar__item ml-1">
          <div class="progress-bar"></div>
        </div>
      </div>
      <div class="product-card__container text-center">
        {% for product in products %}
          <div class="product-card mb-4">
            {% block product_image %}
              <div class="product-image__wrapper background-image bg-size-contain bg-position-center"
                   style="--background-img:url({% static 'images/boot/coffee-background.png' %})">
                {% with image=product.primary_image %}
                  {% oscar_thumbnail image.original "376x376" upscale=False as thumb %}
                  <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                {% endwith %}
              </div>
            {% endblock %}
            <div class="product-title-and-price">
              <p class="text-semibold text-center" id="titleProduct_{{ forloop.counter0 }}">
                {{ product.get_title }}
              </p>
            </div>
            <div class="product-quantity__container">
              <div class="button-cart__container font-primary">
                <div class="btn-counter btn-counter--decrement" onclick="substCounter({{ forloop.counter0 }})">-</div>
                <div id="noOfRoom_{{ forloop.counter0 }}" class="text-center">0</div>
                <div class="btn-counter btn-counter--increment" onclick="addCounter({{ forloop.counter0 }})">+</div>
              </div>
            </div>
            <br/>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="product-final-price m-boot-mobile-3">
      <p class="body-semibold">Order Summary</p>
      <p class="my-4" id="bodyOrderSummary">
        Choose your product and it will be added here
      </p>
      <p class="button button--primary none" id="updateProductButton" onclick="showChangeProductConfirmation('open')">UPDATE PRODUCT</p>
    </div>
  </div>
</form>

<!--Pop Up Product Change Confirmation-->
<div class="modal__container product-confirmation none">
    <div class="modal__content modal__content-50 modal-w-45">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" onclick="showChangeProductConfirmation('close')" alt="button-close" class="cursor-pointer"/>
        </div>
        <h4 class="text-center mb-4">PRODUCT CHANGE CONFIRMATION</h4>
        <p class="mb-4"> <span class="text-bold">All of the subscription's future renewals will reflect this product change.</span> Subscription's next renewal takes place on  {{ subscription.current_period_end|date:"d F, Y" }}.</p>
        <hr class="border border-1"/>
        <div class="mb-4 confirm-change-layout__wrapper">
            <div class="order-sm-2-lg-1">
                <p class="mb-2 text-bold">Old Subscription Product</p>
                <p class="label-semibold">Products</p>
                {% for product in product_selected %}
                <div class="subscription-order-quantity d-flex">
                    <div class="font-primary">&#9679;</div>
                    <p> {{ product }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="order-sm-1-lg-2">
                <p class="mb-2 text-bold">New Subscription Product</p>
                <p class="label-semibold">Products</p>
                <div id="newProducts"></div>
            </div>
        </div>
        <div class="button button--primary mb-2" onclick="$('#subscriptionProductEditForm').submit();">CONFIRM PRODUCT CHANGES</div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">

  function showChangeProductConfirmation(str) {
    if (str === 'open') {
      let description = $("#id_description").val();
      let new_products = "";
      let description_split = description.split(",");

      for (let i=0; i < description_split.length; i++) {
        new_products += `
        <div class="subscription-order-quantity d-flex">
            <div class="font-primary">&#9679;</div>
            <p>${description_split[i]}</p>
        </div>
        `
      }
      $("#newProducts").html(new_products);
      $('.product-confirmation').removeClass('none');
    } else {
      $('.product-confirmation').addClass('none');
    }
  }
</script>
{% endblock %}
