{% extends 'oscar/customer/baseaccountpage.html' %}
{% load static custom_tags %}

{% block title %}My Account{% endblock %}

{% block profile_right %}
    {% csrf_token %}
    <input type="hidden" id="counterSelected" value="">

    <div class="user-dashboard__right">
      <div class="dashboard__title mb-5">
        <h4 class="mb-2">My Account</h4>
        <p>Edit your profile, change your password, and update your payment</p>
      </div>
      <div class="mb-4">
        <p class="mb-2">My Profile</p>
        <div class="my-account__item">
          <img src="{% static 'images/boot/icons/my-profile.svg' %}" alt="my-profile-icon"/>
          <div>
            <p class="title text-bold mb-2">My Profile</p>
            <p>Edit your name or change your password</p>
          </div>
          <img src="{% static 'images/boot/icons/chevron-right.svg' %}" alt="chevron-right-icon" class="mobile-only" onclick="showModalEditProfile('open')"/>
          <div class="desktop-only">
            <a href="javascript:" class="button button--secondary" onclick="showModalEditProfile('open')">Edit</a>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <p class="mb-2">Change My Payments</p>
        <div class="my-account__item">
          <img src="{% static 'images/boot/icons/update-your-card.svg' %}" alt="update-your-card-icon"/>
          <div>
            <p class="title text-bold mb-2">Update your card</p>
            <p>{% if order_count %}You can change your credit card details, in case your card has expired or change credit card.
            {% else %}
              You can change your credit card details after you submitted your first order
            {% endif %}</p>
          </div>
        {% if order_count %}
        <a href="{% url 'customer:card-edit' %}" class="mobile-only">
          <img src="{% static 'images/boot/icons/chevron-right.svg' %}" alt="chevron-right-icon" class="mobile-only"/>
        </a>
          <div class="desktop-only">
            <a href="{% url 'customer:card-edit' %}" class="button button--secondary">Edit</a>
          </div>
        {% endif %}
        </div>
      </div>

    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
</script>
{% endblock extra_js %}
