{% extends "base.html" %}

{% load static custom_tags %}

{% block title %}Resubscribe{% endblock %}

{% block extra_css %}
  <style>
    .error {
      color: #ff0000;
    }
  </style>
{% endblock extra_css %}

{% block content %}
{% include "components/navbar-userpage.html" %}

<section class="subscription--container pt-5">
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ field.label }} - {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    <a href="{% url 'customer:subscription-detail' subscription.id %}" class="text-besides-icon mb-2">
        <div class="icon">
            <img src= "{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
        </div>
        <h4>Resubscribe</h4>
    </a>
    <form action="{% url 'customer:subscription-resubscribe' subscription.id %}" class="mb-5" id="resubscribeForm" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.subscription_id_old }}
        <div class="d-grid half-name__wrapper">
            <div class="input__layout" style="position: relative">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">{{ form.delivery_date.label }}</label>
                </div>
                <input type="text" class="datetimepicker-input date-delivery" style="color: #FFFFFF" name="delivery_date" required id="id_delivery_date">
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">{{ form.delivery_time.label }}</label>
                </div>
                {{ form.delivery_time }}
            </div>
        </div>
        <h4>Payment Method</h4>
        <div class="d-grid credit-card align-items-start">
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Card number</label>
                </div>
                <input type="text" placeholder="Input card number" id="number" name="number" style="color: #FFFFFF">
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Name on Card</label>
                </div>
                <input type="text" placeholder="Input name on card" id="cardName" name="cardName" style="color: #FFFFFF">
            </div>
        </div>
        <div class="d-grid half-name__wrapper align-items-start">
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Month</label>
                </div>
                <select id="exp_month" name="exp_month" style="color: #FFFFFF">
                    <option value="">-----------</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Year</label>
                </div>
                <input type="text" placeholder="Input year" id="exp_year" name="exp_year" style="color: #FFFFFF">
            </div>
        </div>
        <div class="d-grid half-name__wrapper">
            <div class="input__layout input-cvv">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">CVV</label>
                </div>
                <input type="number" placeholder="Input CVV" id="cvc" name="cvc" style="color: #FFFFFF">
            </div>
        </div>
    </form>
    <div class="checkout-button__wrapper mb-5">
        <div class="button button--primary mb-5" id="submitButton" onclick="$('#resubscribeForm').submit();">Submit</div>
        <div class="button button--primary button--disabled mb-5 none" id="submitButtonDisabled">Submit</div>
    </div>
</section>

  <!--Pop Up Re-Subcribe Summary-->
  <div class="modal__container resubscribe-summary none">
    <div class="modal__content modal__content-50 modal-w-45">
      <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" id="closeButton" onclick="showChangeFrequencyConfirmation('close');"
            class="cursor-pointer"/>
      </div>
      <h4 class="text-center mb-5">ORDER SUMMARY</h4>
      <h4 class="">Subscription</h4>
      <p>{{ subscription_prepaid.description }}</p>
      <p>Delivery Frequency: {{ subscription_prepaid.delivery_frequency }} week{{ subscription_prepaid.delivery_frequency|pluralize:"s" }}</p>
      <p id="deliveryDayText">Delivery Day: -</p>
      <p id="deliveryTimeText">Delivery Time: -</p>

      <div class="d-flex flex-direction-column justify-content-between mb-4">
        <p>Qty: {{ subscription_prepaid.quantity }}</p>
        <p class="text-bold">{{ subscription.plan.currency|upper }}{{ subscription.plan.amount }}</p>
      </div>
      <div class="mb-4">
        <p class="title text-bold">Delivery Details</p>
        <p id="deliveryDetail">Thursday, April 21, 2022 [19:00 - 22:00]</p>
      </div>
      <div class="mb-4">
        <p class="title text-bold">Shipping Address</p>
        <p>{% if subscription_prepaid.shipping_address %}{{ subscription_prepaid.shipping_address }}{% else %}{{ subscription.id|get_address }}{% endif %}</p>
      </div>
      <div class="grid-button__wrapper grid-row-gap-1 mb-4">
        <div class="button button--primary order-sm-1-lg-2" id="confirmButton">CONFIRM & PAY</div>
        <div class="button button--primary order-sm-1-lg-2 button--disabled none" id="confirmButtonDisabled">CONFIRM & PAY</div>
        <div class="button button--secondary order-sm-2-lg-1" id="cancelButton" onclick="showChangeFrequencyConfirmation('close');">CANCEL</div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    let day = "";
    let date = "";
    let month = "";
    let year = "";
    function showChangeFrequencyConfirmation(str) {
      if (str === 'open') {
        $(".resubscribe-summary").removeClass('none');
      } else {
        $("#submitButton").removeClass("none");
        $("#submitButtonDisabled").addClass("none");
        $(".resubscribe-summary").addClass('none');
      }
    }
    let dateOptions = {
      format: 'DD/MM/YYYY',
      useCurrent: false,
      disabledDates: {{ holidays|safe }},
      daysOfWeekDisabled: [0],
      minDate: moment("{{ start_date }}", 'YYYY-MM-DD').add(1, 'days').millisecond(0).second(0).minute(0).hour(0),
    }
    $('#id_delivery_date').datetimepicker(dateOptions);

    $("#id_delivery_time").change(function() {
      let val = $(this).find(":selected").text();
      $("#deliveryTimeText").text(`Delivery Time: ${val}`);
      $("#deliveryDetail").text(`${day}, ${month} ${date}, ${year} [${val}]`);
    })

    $("#id_delivery_date").on("dp.change", function (e) {
      day = e.date.format("dddd");
      date = e.date.format("DD");
      month = e.date.format("MMMM");
      year = e.date.format("YYYY");
      $("#deliveryDayText").text(`Delivery Day: ${day}`);
      let dateSelected = e.date.format('L');
      console.log(dateSelected);
      let data = {
        "date": dateSelected,
        "updated": false
      };
      $.ajax({
        headers: {'X-CSRFToken': csrfmiddlewaretoken},
        url : '/basket/ajax-basket-delivery-date-add-view/',
        data : data,
        type : 'POST',
        success: function (resp) {
          $("#id_delivery_time").html(resp.option);
        },
        error: function (data) {
          console.log(data);
        }
      });

    });

    $("#resubscribeForm").validate({
      rules: {
        delivery_date: {
          required: true,
        },
        delivery_time: {
          required: true,
        },
        exp_month: {
          required: true,
        },
        number: {
          required: true,
          number: true,
          minlength: 16,
          maxlength: 16,
        },
        cardName: {
          required: true,
          notNumber: true,
        },
        exp_year: {
          required: true,
          number: true,
          maxlength: 4,
          minlength: 4,
        },
        cvc: {
          required: true,
          number: true,
          maxlength: 3,
          minlength: 3,
        },
      },
      submitHandler: function (form) {
        $("#submitButton").addClass("none");
        $("#submitButtonDisabled").removeClass("none");
        $(".resubscribe-summary").removeClass('none');

        $("#confirmButton").click(function() {
          $(this).addClass("none");
          $("#confirmButtonDisabled").removeClass("none");
          form.submit();
        });
      },
      invalidHandler: function () {
        alert("invalid");
        $("#submitButton").removeClass("none");
        $("#submitButtonDisabled").addClass("none");
        $(".resubscribe-summary").addClass('none');
      }
    });

    jQuery.validator.addMethod("notNumber", function (value, element, param) {
      let reg = /[0-9]/;
      return !reg.test(value);
    }, "Number is not permitted");
  </script>
{% endblock extra_js %}
