{% extends 'oscar/customer/baseaccountpage.html' %}
{% load static custom_tags %}

{% block title %}Subscriptions Settings{% endblock %}

{% block profile_right %}
  <div class="user-dashboard__right">
    <div class="dashboard__title mb-5">
      <h4 class="mb-2"> Subscription Settings</h4>
      <p>Manage your subscriptions: change plans, change products and adjust auto-renewal settings</p>
    </div>

    {% for subscription in subscriptions %}
      {% with subscription.id|get_subscription_prepaid as subscription_prepaid %}
        <div class="subscription-type__container mb-6">
          <div class="st-header__wrapper">
            <div class="st-image-name d-grid">
              <div>
                <img src="{% static 'images/boot/prepaid.jpg' %}" alt="prepaid-subs" class="w-100"/>
              </div>
              <div class="desktop-only">
                <div class="d-flex align-items-center" style="column-gap: .5rem;">
                  <h5 class="text-bold">Subscription - {{ subscription_prepaid.pack_size }} Pack</h5>
                  {% if subscription.status|title == "Canceled" %}
                    <div class="button button--red ml-2">Canceled</div>
                  {% else %}
                    {% if subscription_prepaid %}
                      {% if subscription_prepaid.status|title == "Trialing" %}
                        <div class="button button--green ml-2">Active</div>
                      {% elif subscription_prepaid.status|title == "Canceled" %}
                        <div class="button button--red ml-2">Canceled</div>
                      {% elif subscription_prepaid.status|title == "Paused" %}
                        <div class="button button--paused ml-2">Paused</div>
                      {% else %}
                        <div class="button button--green ml-2">{{ subscription_prepaid.status|title }}</div>
                      {% endif %}
                    {% else %}
                      {% if subscription.status|title == "Trialing" %}
                        <div class="button button--green ml-2">Active</div>
                      {% elif subscription.status|title == "Canceled" %}
                        <div class="button button--red ml-2">Canceled</div>
                      {% elif subscription.status|title == "Paused" %}
                        <div class="button button--paused ml-2">Paused</div>
                      {% else %}
                        <div class="button button--green ml-2">{{ subscription.status|title }}</div>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                <p><span class="text-bold">Next delivery date:</span> {% if subscription.id|get_status_paused %}-{% else %}{{ subscription_prepaid.get_next_delivery_date|date:"d F Y" }}{% endif %}</p>
                <p><span class="text-bold">Next delivery time:</span> {% if subscription.id|get_status_paused %}-{% else %}{{ subscription_prepaid.delivery_time }}{% endif %}</p>
              </div>
            </div>
            <a href="{% url 'customer:subscription-detail' subscription.id %}" class="button button--primary">See Details</a>
            <div class="st-description mobile-only">
              <div class="d-flex align-items-center" style="column-gap: .5rem;">
                <h5 class="text-bold">Subscription - {{ subscription_prepaid.pack_size }} Pack</h5>
                {% if subscription.status|title == "Canceled" %}
                  <div class="button button--red ml-2">Canceled</div>
                {% else %}
                  {% if subscription_prepaid %}
                    {% if subscription_prepaid.status|title == "Trialing" %}
                      <div class="button button--green ml-2">Active</div>
                    {% elif subscription_prepaid.status|title == "Canceled" %}
                      <div class="button button--red ml-2">Canceled</div>
                    {% elif subscription_prepaid.status|title == "Paused" %}
                      <div class="button button--paused ml-2">Paused</div>
                    {% else %}
                      <div class="button button--green ml-2">{{ subscription_prepaid.status|title }}</div>
                    {% endif %}
                  {% else %}
                    {% if subscription.status|title == "Trialing" %}
                      <div class="button button--green ml-2">Active</div>
                    {% elif subscription.status|title == "Canceled" %}
                      <div class="button button--red ml-2">Canceled</div>
                    {% elif subscription.status|title == "Paused" %}
                      <div class="button button--paused ml-2">Paused</div>
                    {% else %}
                      <div class="button button--green ml-2">{{ subscription.status|title }}</div>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
              <p><span class="text-bold">Next delivery date:</span> {{ subscription_prepaid.get_next_delivery_date|date:"d F Y" }}</p></p>
              <p><span class="text-bold">Next delivery time:</span> {{ subscription_prepaid.delivery_time }}</p>
            </div>
          </div>
        </div>
      {% endwith %}
    {% empty %}
      <div class="empty-subscription">
        <div class="text-center mb-3">
            <img src="{% static 'images/boot/icons/no-subscription-icon.png' %}" alt="no-subs"/>
        </div>
        <h3 class="text-center mb-5">It looks like you haven't subscribe to any subscription plan</h3>
        <p class="text-center">When you start your subscription plan, it will appear here.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function doSubscriptionAction(counter) {
      let $element = $("#id_subscription-action_" + counter);
      let val = $element.val();
      if (val === 'default') {
        showModalModifySubs('close');
        showModalSkipSubs('close');
        showModalStopSubs('close');
        $("#cancel-sub-id").val("");
        $("#counterSelected").val("");
        $("#skip-sub-id").val("");
        $("#totalSkip").val("");
      } else if (val === 'stop-subscription') {
        showModalStopSubs('open');
        showModalSkipSubs('close');
        showModalResumeSubs('close');
        $("#cancel-sub-id").val($element.find(':selected').data('sub-id'));
        $("#counterSelected").val(counter);
      } else if (val === 'skip-subscription') {
        showModalStopSubs('close');
        showModalResumeSubs('close');
        showModalSkipSubs('open');
        $("#skip-sub-id").val($element.find(':selected').data('sub-id'));
        $("#counterSelected").val(counter);
      } else if (val === 'resume-subscription') {
        showModalStopSubs('close');
        showModalSkipSubs('close');
        showModalResumeSubs('open');
        $("#resume-sub-id").val($element.find(':selected').data('sub-id'));
        $("#counterSelected").val(counter);
      } else if (val === 'edit-product') {
        window.location.href = "/accounts/subscription-product/"+ $element.find(':selected').data('sub-id') +"/edit/"
      } else if (val === 'edit-delivery') {
        window.location.href = "/accounts/subscription-delivery/"+ $element.find(':selected').data('sub-id') +"/edit/"
      }
    }

    showModalSkipSubs = (str) => {
        if (str === 'open') {
            $('.skip-subscription').removeClass('none');
        } else {
            let counter = $("#counterSelected").val();
            $('#id_subscription-action_' + counter + ' option[value="default"]').prop('selected', true);
            $('.skip-subscription').addClass('none');
            $("#skip-sub-id").val("");
            $("#totalSkip").val("");
            $("#counterSelected").val("");
        }
    }

    showModalResumeSubs = (str) => {
        if (str === 'open') {
            $('.resume-subscription').removeClass('none');
        } else {
            let counter = $("#counterSelected").val();
            $('#id_subscription-action_' + counter + ' option[value="default"]').prop('selected', true);
            $('.resume-subscription').addClass('none');
            $("#resume-sub-id").val("");
            $("#counterSelected").val("");
        }
    }

    showModalStopSubs = (str) => {
        if (str === 'open') {
            $('.stop-subscription').removeClass('none');
        } else {
            let counter = $("#counterSelected").val();
            $('#id_subscription-action_' + counter + ' option[value="default"]').prop('selected', true);
            $('.stop-subscription').addClass('none');
            $("#cancel-sub-id").val("");
            $("#counterSelected").val("");
        }
    }

    showModalModifySubs = (str) => {
        if (str === 'open') {
            $('.modify-subscription').removeClass('none')
        } else {
            $('.modify-subscription').addClass('none')
        }
    }

    function processCancel() {
      let sub_id = $("#cancel-sub-id").val();

      if (sub_id !== "") {
        let form = {
          "reason": $("input[name=reason]:checked").val()
        }
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url : "/cancel-subscription/" + sub_id + '/',
          data : form,
          type : 'POST',
          success: function (resp) {
            if (resp.status === 'success') {
              location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      }
    }

    function processSkip() {
      let sub_id = $("#skip-sub-id").val();
      let total_skip = $("#totalSkip").val();

      if (sub_id !== "" || parseInt(total_skip, 10) > 0) {
        let form = {
          "totalSkip": total_skip
        }
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url : "/skip-subscription/" + sub_id + '/',
          data : form,
          type : 'POST',
          success: function (resp) {
            if (resp.status === 'success') {
              location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      }
    }

    function processResume() {
      let sub_id = $("#resume-sub-id").val();

      if (sub_id !== "") {
        let form = {}
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url : "/resume-subscription/" + sub_id + '/',
          data : form,
          type : 'POST',
          success: function (resp) {
            if (resp.status === 'success') {
              location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      }
    }

    function skipAdd() {
      let $textSkip = $("#textSkip");
      let a = parseInt($textSkip.text(), 10);
      a++;
      $textSkip.text(a);
      $("#totalSkip").val(a);
    }

    function skipSubst() {
      let $textSkip = $("#textSkip");
      let b = parseInt($textSkip.text(), 10);
      if (b >= 1) {
          b--;
          if (b >= 0) {
            $textSkip.text(b);
            $("#totalSkip").val(b);
          }
      }
      else {
          $("#subs").prop("disabled", true);
      }
    }
</script>
{% endblock extra_js %}
