{% extends 'oscar/customer/baseaccountpage.html' %}
{% load static custom_tags %}

{% block title %}Subscriptions Settings{% endblock %}

{% block profile_right %}
  {% csrf_token %}
  <input type="hidden" id="counterSelected" value="">
  <div class="user-dashboard__right">
    <div class="dashboard__title mb-5">
      <h4 class="mb-2"> Subscription Details</h4>
      <p>Manage your subscriptions: change plans, change products and adjust auto-renewal settings</p>
    </div>

    {% with subscription.id|get_subscription_prepaid as subscription_prepaid %}
      <div class="subscription-type__container mb-6">
        <div class="st-header__wrapper">
          <div class="st-image-name d-grid">
            <div>
              <img src="{% static 'images/boot/prepaid.jpg' %}" alt="prepaid-subs" class="w-100"/>
            </div>
            <div class="desktop-only">
              <div class="d-flex align-items-center mb-2">
                <p class="title text-bold">Subscription - {{ subscription_prepaid.pack_size }} Pack</p>
                {% if subscription.status|title == "Canceled" %}
                  <div class="button button--red ml-2">Canceled</div>
                {% else %}
                  {% if subscription.id|get_status_paused %}
                    <div class="button button--paused ml-2">Paused</div>
                  {% else %}
                    {% if subscription_prepaid.status|title == "Trialing" %}
                      <div class="button button--green ml-2">Active</div>
                    {% elif subscription_prepaid.status|title == "Canceled" %}
                      <div class="button button--red ml-2">Canceled</div>
                    {% elif subscription_prepaid.status|title == "Paused" %}
                      <div class="button button--paused ml-2">Paused</div>
                    {% else %}
                      <div class="button button--green ml-2">{{ subscription_prepaid.status|title }}</div>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
              <p>
                <span class="text-bold">Next delivery schedule:</span>
                {% if pause_collection %}
                  -
                {% else %}
                  {{ subscription_prepaid.get_next_delivery_date|date:"d F Y" }} [
                  {{ subscription_prepaid.delivery_time }} ]
                {% endif %}
              </p>
            </div>
          </div>
          {% if subscription.status|title == "Canceled" %}
            <div>
              <a href="{% url 'customer:subscription-resubscribe' subscription.id %}" class="button button--paused">Resubscribe</a>
            </div>
          {% else %}
            <div>
              <label for="id_subscription-action_0"></label>
              <div class="select__group">
                <select name="subscription-action_0" id="id_subscription-action_0" onchange="doSubscriptionAction('0')">
                  <option value="default">Action</option>
                  <option value="edit-product" data-sub-id="{{ subscription.id }}">Edit Product</option>
                  <option value="edit-delivery" data-sub-id="{{ subscription.id }}">Subscription Delivery Changes</option>
                  {% if subscription_prepaid.deliveries_left > 0 %}<option value="edit-reschedule" data-sub-id="{{ subscription.id }}">Reschedule Next Delivery</option>{% endif %}
                  <option value="edit-shipping-address" data-sub-id="{{ subscription.id }}"
                          data-shipping-id="{{ subscription_prepaid.shipping_address_id }}">Edit Shipping Address
                  </option>
                  {% if subscription.id|get_status_paused or subscription_prepaid.status == "paused" %}
                    <option value="resume-subscription" data-sub-id="{{ subscription.id }}">Resume Subscription</option>
                  {% else %}
                    <option value="skip-subscription" data-sub-id="{{ subscription.id }}">Pause Subscription</option>
                  {% endif %}
                  <option value="stop-subscription" data-sub-id="{{ subscription.id }}">Cancel Subscription</option>
                </select>
                <div class="select__arrow">
                  <img src="{% static 'images/boot/icons/down.svg' %}" alt="down">
                </div>
              </div>
            </div>
          {% endif %}
          <div class="st-description mobile-only">
            <div class="d-flex align-items-center mb-2">
              <p class="title text-bold">Subscription - {{ subscription_prepaid.pack_size }} Pack</p>
              {% if subscription.status|title == "Canceled" %}
                <div class="button button--red ml-2">Canceled</div>
              {% else %}
                {% if subscription.id|get_status_paused %}
                  <div class="button button--paused ml-2">Paused</div>
                {% else %}
                  {% if subscription_prepaid.status|title == "Trialing" %}
                    <div class="button button--green ml-2">Active</div>
                  {% elif subscription_prepaid.status|title == "Canceled" %}
                    <div class="button button--red ml-2">Canceled</div>
                  {% elif subscription_prepaid.status|title == "Paused" %}
                    <div class="button button--paused ml-2">Paused</div>
                  {% else %}
                    <div class="button button--green ml-2">{{ subscription_prepaid.status|title }}</div>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            <p><span
              class="text-bold">Next delivery schedule:</span> {{ subscription_prepaid.get_next_delivery_date|date:"d F Y" }}
              [ {{ subscription_prepaid.delivery_time }} ]</p>
          </div>
        </div>

        <div class="st-content__wrapper">
          <div class="mb-3">
            <p class="text-bold">Delivery Frequency</p>
            <p class="">{{ subscription_prepaid.delivery_frequency }}
              week{{ subscription_prepaid.delivery_frequency|pluralize:"s" }}</p>
          </div>
          <div class="mb-3">
            <p class="text-bold">Address</p>
            <p class="font-primary">
              {% if subscription_prepaid.shipping_address %}{{ subscription_prepaid.shipping_address }}{% else %}
                {{ subscription.id|get_address }}{% endif %}</p>
          </div>
          <div class="mb-3">
            <p class="text-bold">Delivery Remaining</p>
            <p class="">{{ subscription_prepaid.deliveries_left }}
              deliver{{ subscription_prepaid.deliveries_left|pluralize:"y,ies" }}</p>
          </div>
          <div class="mb-3">
            <p class="text-bold">Next billing date</p>
            <div class="font-primary">
              {% if pause_collection %}
                {% if pause_collection.resumes_at %}
                {% else %}
                  -
                {% endif %}
              {% else %}
                {{ subscription.current_period_end|date:"d F, Y" }}
              {% endif %}
            </div>
          </div>
          <div class="mb-3">
            <p class="text-bold">Next Payment</p>
            <p class="font-primary">${{ subscription.plan.amount }}</p>
          </div>
          <div class="mb-3">
            <div class="button button--primary button--primary__styled ml-2" onclick="showModalExtraDelivery('open');">+ ADD EXTRA DELIVERY</div>
          </div>
        </div>
        <div class="st-detail-content__container">
          <p class="text-bold st-detail-content-header mb-4">Order Summary</p>
          <div class="st-detail-content__wrapper">
            {% for product in products %}
              <div class="st-detail-content__item">
                <img src="{% static 'images/boot/milk-manuka-honey/milk-manuka-honey-1.png' %}" alt="milk-manuka-honey"
                     class="w-100">
                <p>{{ product }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endwith %}
  </div>

  <!--Pop-up Modify Subscription-->
  <div class="modal__container modify-subscription none">
    <div class="modal__content modal__content-50 modal-w-45">
      <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close"
              onclick="showModalModifySubs('close')"/>
      </div>
      <h4 class="mb-4 text-center">Modify Subscription</h4>
      <p>Current Subscription Plan</p>
      <p class="mb-4 text-bold">Prepaid Subscription (12 pack) - $39 / Month</p>

      <div class="mb-4 font-primary"><span>Next Renewal: </span><span class="text-bold">17 June 2021</span></div>

      <p class="mb-4">Are you sure you want to stop current subscription and create a new subscription? <span
        class="text-bold"> The current subscription will stop and the payment will be lorem ipsum. </span></p>

      <div class="button button--primary mb-2" onclick="showModalModifySubs('close')">CANCEL</div>
      <div class="button font-primary">STOP & ADD NEW SUBSCRIPTION</div>
    </div>
  </div>

  <!--Pop-up Stop Subscription-->
  <div class="modal__container stop-subscription none" tabindex="-1">
    <input type="hidden" id="cancel-sub-id" value="">
    <div class="modal__content modal__content-50">
      <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalStopSubs('close')"
              class="cursor-pointer"/>
      </div>
      <h4 class="mb-4 text-center">Break ups are tough, we're sorry to see you go. You will be missed!</h4>
      <p class="text-center mb-3">Please select your reason for canceling:</p>
      <div class="cancel__wrapper mb-4">
        <input
          type="radio"
          id="too-expensive"
          name="reason"
          value="It's too expensive"
          checked="checked"
        />
        <label for="too-expensive" class="font-primary cursor-pointer">It's too expensive</label>

        <input
          type="radio"
          id="taste"
          name="reason"
          value="It doesn't fit my taste"
        />
        <label for="taste" class="font-primary cursor-pointer">It doesn't fit my taste</label>

        <input
          type="radio"
          id="does-not-drink-coffee"
          name="reason"
          value="I don't drink coffee anymore"
        />
        <label for="does-not-drink-coffee" class="font-primary cursor-pointer">I don't drink coffee anymore</label>

        <input
          type="radio"
          id="other-coffee-subs"
          name="reason"
          value="I have subscribed to other coffee subscriptions"
        />
        <label for="other-coffee-subs" class="font-primary cursor-pointer">I have subscribed to other coffee
          subscriptions</label>

        <input
          type="radio"
          id="self-sufficient"
          name="reason"
          value="I make my own coffee now"
        />
        <label for="self-sufficient" class="font-primary cursor-pointer">I make my own coffee now</label>

        <input
          type="radio"
          id="others"
          name="reason"
          value="others"
        />
        <label for="others" class="font-primary cursor-pointer">Others</label>
      </div>
      <div class="mb-4">
        <div class="button font-primary" onclick="processCancel()">CANCEL SUBSCRIPTION</div>
        <div class="button button--primary" onclick="showModalStopSubs('close')">GO BACK</div>
      </div>
    </div>
  </div>

  <!--Pop-up Paused Subscription-->
  <div class="modal__container skip-subscription none">
    <input type="hidden" id="skip-sub-id" value="">
    <input type="hidden" id="totalSkip" value="1">
    <input type="hidden" id="skip_indefinitely" value="false">
    <div class="modal__content modal__content-50">
      <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalSkipSubs('close')"
              class="cursor-pointer"/>
      </div>
      <h4 class="text-center mb-4">Need a break? Request to pause subscription</h4>
      <p class="text-center mb-5">Absolutely no hard feelings if you'd like to pause your order! You can reactivate
        any time, we'll be right here. Tell us how long you want to pause your subscription!</p>
      <div class="mb-4">
        <div class="cart-input__wrapper">
          <input type="text" placeholder="Choose a date" autocomplete="off"
                  class="datetimepicker-input date-delivery input-black" id="datetimepicker6"
                  data-toggle="datetimepicker" data-target="#datetimepicker6" onchange="disablePause(true)"/>
          <button class="select-time-date__wrapper">
            <img src="{% static 'images/boot/icons/calendar-black.svg' %}" alt="calendar-black" class="h-100"/>
          </button>
        </div>
        <br/>
        <div class="cart-input__wrapper">
          <select id="selectDeliveryTimePause" class="input-black" onchange="disablePause(false)">
          </select>
          <button class="select-time-date__wrapper">
            <img src="{% static 'images/boot/icons/clock-black.svg' %}" alt="clock-black" class="h-100"/>
          </button>
        </div>
      </div>

      <div class="confirmation__wrapper pb-4 mb-5">
        <div class="position-relative">
          <input
            type="checkbox"
            class="regular-checkbox confirmation-data input-black"
            onchange="changeSkipIndefinitely()"
            id="is_skip_indefinitely"
          >
        </div>
        <label for="is_skip_indefinitely" class="confirm-data py-0">I still don't know the exact date</label>
      </div>
      <div class="grid-button__wrapper grid-row-gap-1 mb-4">
        <div class="button button--secondary" onclick="showModalSkipSubs('close')">I CHANGED MY MIND</div>
        <a class="button button--primary text-white" onclick="processConfirmationSkip()" id="pauseButton">PAUSE SUBSCRIPTION</a>
      </div>
    </div>
  </div>

  <!-- Confirmation Pop-up for Pause Subscription -->
  {% include 'pages/user-page/_popup_pause_subscription.html' %}

  <!--Pop-up Resume Subscription-->
  {% include 'pages/user-page/_popup_resume_subscription.html' %}

  <!--Pop-up Extra Delivery-->
  {% include 'pages/user-page/_popup_extra_delivery.html' with subscription=subscription %}

  <!--Pop Up Edit Shipping Address-->
  <div class="modal__container edit-address none">
    <div class="modal__content modal__content-50 modal-w-45" id="editAddressForm">
    </div>
  </div>

  <!--Pop-up step-1 Reschedule Delivery-->
  <div class="modal__container step-1-reschedule-new-delivery none">
    <input type="hidden" id="reschedule_sub_id" name="reschedule_sub_id" value="">
    <div class="modal__content modal__content-50">
      <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalRescheduleStepOne('close')"
              class="cursor-pointer"/>
      </div>
      <h4 class="text-center mb-5">Reschedule Next Delivery</h4>
      <p class="mb-4">Please select a new delivery date and time:</p>
      <div class="mb-4">
        <div class="cart-input__wrapper">
          <input type="text" class="datetimepicker-input date-delivery input-black" name="reschedule_delivery_date" placeholder="Choose a date" required id="reschedule_delivery_date">
          <button class="select-time-date__wrapper">
            <img src="{% static 'images/boot/icons/calendar-black.svg' %}" alt="calendar-black" class="h-100"/>
          </button>
        </div>
        <br/>
        <div class="cart-input__wrapper">
          <select id="reschedule_delivery_time" name="reschedule_delivery_time" class="input-black" onchange="">
          </select>
          <button class="select-time-date__wrapper">
            <img src="{% static 'images/boot/icons/clock-black.svg' %}" alt="clock-black" class="h-100"/>
          </button>
        </div>
      </div>

{#      <div class="confirmation__wrapper pb-4 mb-5">#}
{#        <div class="position-relative">#}
{#          <input#}
{#            type="checkbox"#}
{#            class="regular-checkbox confirmation-data input-black"#}
{#            onchange=""#}
{#            id="reschedule_all_future"#}
{#            name="reschedule_all_future"#}
{#          >#}
{#        </div>#}
{#        <label for="" class="confirm-data py-0">Apply this delivery day for <span class="text-bold"> all future deliveries </span></label>#}
{#      </div>#}
      <a class="button button--primary text-white" onclick="processRescheduleChecking()" id="">Next</a>
    </div>
  </div>

  <!--Pop-up step-2 for Reschedule Delivery-->
  <div class="modal__container step-2-reschedule-new-delivery none">
    <div class="modal__content modal__content-50">
      <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalRescheduleStepTwo('close')"
              class="cursor-pointer"/>
      </div>

      <!-- If there's still credit -->
      {% if delivery_remaining > 0 %}
      <h4 class="text-center mb-5">RESCHEDULE NEXT DELIVERY</h4>
      <p class="mb-5" id="rescheduleHasCreditLeft">You will use one (1) credit from your delivery remaining for this changes and your next billing date will be adjusted.</p>
      {% else %}
      <!-- If there's no credit left  -->
      <h4 class="text-center mb-5">BRING FORWARD YOUR NEXT DELIVERY</h4>
      <p class="mb-5" id="rescheduleNoCreditLeft">Looks like a delivery attempt has already been made. Don't worry! You can bring forward your next delivery by simply paying <span class="text-bold" id="textAmount">${{ subscription.plan.amount }}</span></p>
      {% endif %}

      <div class="mb-4 reschedule-layout__wrapper">
        <div class="order-sm-2-lg-1">
          <p class="mb-2 text-bold">Previous <br class="mobile-only"> Delivery Date</p>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_previous_delivery_date">20/03/2022</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> on <span class="font-primary" id="reschedule_previous_delivery_day">Thursday</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> at <span class="font-primary" id="reschedule_previous_delivery_time">19:00 - 22:00</span></p>
          </div>
        </div>
        <div class="order-sm-1-lg-2">
          <p class="mb-2 text-bold">New <br class="mobile-only"> Delivery Date</p>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_new_delivery_date">20/03/2022</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> on <span class="font-primary" id="reschedule_new_delivery_day">Thursday</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> at <span class="font-primary" id="reschedule_new_delivery_time">19:00 - 22:00</span></p>
          </div>
        </div>
      </div>

      <div class="mb-5 reschedule-layout__wrapper">
        <div class="order-sm-2-lg-1">
          <p class="mb-2 text-bold">Previous <br class="mobile-only"> Billing Date</p>
          <div class="d-flex">
            <div class="font-primary">&#9679;</div>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_previous_billing">20/03/2022</span></p>
          </div>
        </div>
        <div class="order-sm-1-lg-2">
          <p class="mb-2 text-bold">New <br class="mobile-only"> Billing Date</p>
          <div class="d-flex">
            <div class="font-primary">&#9679;</div>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_new_billing">20/03/2022</span></p>
          </div>
        </div>
      </div>
      <a class="button button--primary text-white" onclick="processRescheduleConfirm();" id="confirmStepTwo">CONFIRM DELIVERY CHANGES</a>
      <a class="button button--primary text-white button--disabled none" id="confirmStepTwoDisabled">CONFIRM DELIVERY CHANGES</a>
    </div>
  </div>

  <!--Pop-up step-3 Reschedule Delivery-->
  <div class="modal__container step-3-reschedule-new-delivery none">
    <div class="modal__content modal__content-50">
      <div class="text-end mb-4">
        <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showModalRescheduleStepThree('close')"
              class="cursor-pointer"/>
      </div>
      <h4 class="text-center mb-4">Reschedule Next Delivery</h4>
      <p class="mb-3" id="tickAllFuture">You are just in time to make the necessary changes before your upcoming delivery.</p>
      <hr>

      <div class="mb-4 reschedule-layout__wrapper">
        <div class="order-sm-2-lg-1">
          <p class="mb-2 text-bold">Previous <br class="mobile-only"> Delivery Date</p>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_previous_delivery_date2">20/03/2022</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> on <span class="font-primary" id="reschedule_previous_delivery_day2">Thursday</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> at <span class="font-primary" id="reschedule_previous_delivery_time2">19:00 - 22:00</span></p>
          </div>
        </div>
        <div class="order-sm-1-lg-2">
          <p class="mb-2 text-bold">New <br class="mobile-only"> Delivery Date</p>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_new_delivery_date2">20/03/2022</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> on <span class="font-primary" id="reschedule_new_delivery_day2">Thursday</span></p>
          </div>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> at <span class="font-primary" id="reschedule_new_delivery_time2">19:00 - 22:00</span></p>
          </div>
        </div>
      </div>

      <div class="mb-5 reschedule-layout__wrapper">
        <div class="order-sm-2-lg-1">
          <p class="mb-2 text-bold">Previous <br class="mobile-only"> Billing Date</p>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_previous_billing1">20/03/2022</span></p>
          </div>
        </div>
        <div class="order-sm-1-lg-2">
          <p class="mb-2 text-bold">New <br class="mobile-only"> Billing Date</p>
          <div class="d-flex">
            <p class="font-primary">&#9679;</p>
            <p class="label-semibold ml-2"> Date <span class="font-primary" id="reschedule_new_billing1">20/03/2022</span></p>
          </div>
        </div>
      </div>
      <a class="button button--primary text-white" onclick="processRescheduleConfirm();" id="confirmStepThree">CONFIRM DELIVERY CHANGES</a>
      <a class="button button--primary text-white button--disabled none" id="confirmStepThreeDisabled">CONFIRM DELIVERY CHANGES</a>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    function disablePause(disable) {
      if (disable) {
        $('#pauseButton').addClass('disabled');
        console.log('disable');
      } else {
        $('#pauseButton').removeClass('disabled');
        console.log('enable');
      }
    }

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let delivery_date_prepaid = "{{ delivery_date }}";
    $("#formAddAddress").validate({
      submitHandler: function (form) {
        form.submit();
      }
    });

    function changeSkipIndefinitely() {
      if ($("#is_skip_indefinitely").is(":checked")) {
        $("#skip_indefinitely").val("true");
        $(".datetimepicker-input").prop("disabled", true).val("");
        $("#selectDeliveryTime").prop("disabled", true).text("");
      } else {
        $("#skip_indefinitely").val("false");
        $(".datetimepicker-input").prop("disabled", false);
        $("#selectDeliveryTime").prop("disabled", false);
      }
    }

    function doSubscriptionAction(counter) {
      let $element = $("#id_subscription-action_0");
      let val = $element.val();
      let sub_id = $element.find(':selected').data('sub-id');
      if (val === 'default') {
        showModalModifySubs('close');
        showModalSkipSubs('close');
        showModalStopSubs('close');
        $("#cancel-sub-id").val("");
        $("#counterSelected").val("");
        $("#skip-sub-id").val("");
        $("#totalSkip").val("");
      } else if (val === 'stop-subscription') {
        console.log(sub_id);
        showModalStopSubs('open');
        showModalSkipSubs('close');
        showModalResumeSubs('close');
        showModalEditAddress('close');
        $("#cancel-sub-id").val(sub_id);
        $("#counterSelected").val(0);
      } else if (val === 'skip-subscription') {
        showModalStopSubs('close');
        showModalResumeSubs('close');
        showModalEditAddress('close');
        showModalSkipSubs('open');
        $("#skip-sub-id").val(sub_id);
        $("#counterSelected").val(0);
        $(".datetimepicker-input").prop("disabled", false);
        $("#selectDeliveryTime").prop("disabled", false);
      } else if (val === 'resume-subscription') {
        showModalStopSubs('close');
        showModalSkipSubs('close');
        showModalEditAddress('close');
        showModalResumeSubs('open');
        $("#resume-sub-id").val(sub_id);
        $("#counterSelected").val(0);
      } else if (val === 'edit-shipping-address') {
        let shipping_address_id = $element.find(':selected').data('shipping-id');
        window.location.href = "/accounts/subscription/" + sub_id + "/delivery_address/" + shipping_address_id + "/edit/";
      }  else if (val === 'edit-reschedule') {
        showModalStopSubs('close');
        showModalSkipSubs('close');
        showModalResumeSubs('close');
        showModalEditAddress('close');
        showModalRescheduleStepOne('open');
        $("#reschedule_sub_id").val(sub_id);
        showModalEditAddress('open', $element.find(':selected').data('shipping-id'));
        $("#resume-sub-id").val(sub_id);

        {% comment %}http://192.168.99.103:8000/accounts/subscription/sub_1L563EAV4Umx0gg4ge6ftG00/{% endcomment %}
      }  else if (val === 'edit-reschedule') {
        showModalStopSubs('close');
        showModalSkipSubs('close');
        showModalResumeSubs('close');
        showModalEditAddress('close');
        showModalRescheduleStepOne('open');
        $("#reschedule_sub_id").val(sub_id);
      } else if (val === 'edit-product') {
        window.location.href = "/accounts/subscription-product/" + $element.find(':selected').data('sub-id') + "/edit/"
      } else if (val === 'edit-delivery') {
        window.location.href = "/accounts/subscription-delivery/" + $element.find(':selected').data('sub-id') + "/edit/"
      }
    }

    showModalConfirmSkipSubs = (str) => {
      if (str === 'open') {
        $('.confirm-skip-subscription').removeClass("none");
      } else {
        $('.confirm-skip-subscription').addClass("none");
      }
    }

    showModalSkipSubs = (str) => {
      if (str === 'open') {
        $('.skip-subscription').removeClass('none');
      } else {
        let counter = $("#counterSelected").val();
        $('#id_subscription-action_' + counter + ' option[value="default"]').prop('selected', true);
        $('.skip-subscription').addClass('none');
        $("#skip-sub-id").val("");
        $("#totalSkip").val("");
        $("#counterSelected").val("");
        $("#skip_indefinitely").val("false");
        $("#is_skip_indefinitely").prop("checked", false);
      }
    }

    showModalResumeSubs = (str) => {
      if (str === 'open') {
        $('.resume-subscription').removeClass('none');
      } else {
        let counter = $("#counterSelected").val();
        $('#id_subscription-action_' + counter + ' option[value="default"]').prop('selected', true);
        $('.resume-subscription').addClass('none');
        $("#resume-sub-id").val("");
        $("#counterSelected").val("");
      }
    }

    showModalStopSubs = (str) => {
      if (str === 'open') {
        $('.stop-subscription').removeClass('none');
      } else {
        let counter = $("#counterSelected").val();
        $('#id_subscription-action_' + counter + ' option[value="default"]').prop('selected', true);
        $('.stop-subscription').addClass('none');
        $("#cancel-sub-id").val("");
        $("#counterSelected").val("");
      }
    }

    showModalModifySubs = (str) => {
      if (str === 'open') {
        $('.modify-subscription').removeClass('none')
      } else {
        $('.modify-subscription').addClass('none')
      }
    }

    showModalEditAddress = (str, objId = null) => {
      if (str === 'open') {
        if (objId !== null) {
          let $element = $("#id_subscription-action_" + 0);
          let subscription_id = $element.find(':selected').data('sub-id');
          console.log(subscription_id)
          $.ajax({
            headers: {'X-CSRFToken': csrftoken},
            url: "/shipping/" + objId + "/edit/?subscriptionId=" + subscription_id,
            type: 'GET',
            success: function (result) {
              $("#editAddressForm").empty();
              $("#editAddressForm").html(result);
            }
          });
          $('.edit-address').removeClass('none');
        }
      } else {
        $('#id_subscription-action_' + 0 + ' option[value="default"]').prop('selected', true);
        $("#resume-sub-id").val("")
        $('.edit-address').addClass('none')
      }
    }

    showModalRescheduleStepOne = (str) => {
      if (str === "open") {
        $(".step-1-reschedule-new-delivery").removeClass("none");
        $(".step-2-reschedule-new-delivery").addClass("none");
        $(".step-3-reschedule-new-delivery").addClass("none");
      } else {
        $(".step-1-reschedule-new-delivery").addClass("none");
        $(".step-2-reschedule-new-delivery").addClass("none");
        $(".step-3-reschedule-new-delivery").addClass("none");
      }
    }

    showModalRescheduleStepTwo = (str) => {
      if (str === "open") {
        $(".step-1-reschedule-new-delivery").addClass("none");
        $(".step-2-reschedule-new-delivery").removeClass("none");
        $(".step-3-reschedule-new-delivery").addClass("none");
      } else {
        $(".step-1-reschedule-new-delivery").addClass("none");
        $(".step-2-reschedule-new-delivery").addClass("none");
        $(".step-3-reschedule-new-delivery").addClass("none");
      }
    }

    showModalRescheduleStepThree = (str) => {
      if (str === "open") {
        $(".step-1-reschedule-new-delivery").addClass("none");
        $(".step-2-reschedule-new-delivery").addClass("none");
        $(".step-3-reschedule-new-delivery").removeClass("none");
      } else {
        $(".step-1-reschedule-new-delivery").addClass("none");
        $(".step-2-reschedule-new-delivery").addClass("none");
        $(".step-3-reschedule-new-delivery").addClass("none");
      }
    }

    function processRescheduleChecking() {
      let sub_id = $("#reschedule_sub_id").val();
      if (sub_id !== "") {
        let form = {
          "delivery_date": $("#reschedule_delivery_date").val(),
          "delivery_time_str": $("#reschedule_delivery_time option:selected").text(),
        }
        console.log(form);
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: "/accounts/subscription/" + sub_id + "/reschedule/",
          data: form,
          type: 'GET',
          success: function (resp) {
            if (resp.status === 'success') {
              $("#reschedule_previous_delivery_date").text(resp['previous_delivery_date']);
              $("#reschedule_previous_delivery_date2").text(resp['previous_delivery_date']);
              $("#reschedule_previous_billing").text(resp['previous_billing']);
              $("#reschedule_previous_billing1").text(resp['previous_billing']);
              $("#reschedule_previous_delivery_day").text(resp['previous_delivery_day']);
              $("#reschedule_previous_delivery_day2").text(resp['previous_delivery_day2']);
              $("#reschedule_previous_delivery_time").text(resp['previous_delivery_time']);
              $("#reschedule_previous_delivery_time2").text(resp['previous_delivery_time']);
              $("#reschedule_new_delivery_date").text(resp['new_delivery_date']);
              $("#reschedule_new_delivery_day").text(resp['new_delivery_day']);
              $("#reschedule_new_delivery_time").text(resp['new_delivery_time']);
              $("#reschedule_new_delivery_date2").text(resp['new_delivery_date']);
              $("#reschedule_new_delivery_day2").text(resp['new_delivery_day']);
              $("#reschedule_new_delivery_time2").text(resp['new_delivery_time']);
              $("#reschedule_new_billing").text(resp['new_billing']);
              $("#reschedule_new_billing1").text(resp['new_billing']);

              if (resp['delivery_order_sent']) {
                $(".step-1-reschedule-new-delivery").addClass("none");
                $(".step-2-reschedule-new-delivery").removeClass("none");
                $(".step-3-reschedule-new-delivery").addClass("none");
              } else {
                $(".step-1-reschedule-new-delivery").addClass("none");
                $(".step-2-reschedule-new-delivery").addClass("none");
                $(".step-3-reschedule-new-delivery").removeClass("none");
              }
            }
          },
          error: function (data) {
          }
        });
      } else {
        alert("Please contact administration");
      }
    }

    function processRescheduleConfirm(step) {

      if (step === "2") {
        $("#confirmStepTwo").addClass("button--disabled");
        $("#confirmStepTwoDisabled").removeClass("button--disabled");
      } else if (step === "3") {
        $("#confirmStepThree").addClass("button--disabled");
        $("#confirmStepThreeDisabled").removeClass("button--disabled");
      }

      let sub_id = $("#reschedule_sub_id").val();
      if (sub_id !== "") {
        let form = {
          "delivery_date": $("#reschedule_delivery_date").val(),
          "delivery_time": $("#reschedule_delivery_time").val(),
          "delivery_time_str": $("#reschedule_delivery_time option:selected").text(),
        }
        console.log(form);
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: "/accounts/subscription/" + sub_id + "/reschedule/",
          data: form,
          type: 'POST',
          success: function (resp) {
            console.log(resp);
            if (resp.status === 'success') {
              location.href = "/accounts/subscription/" + sub_id + "/";
            } else {
              alert(resp.message);
              $("#confirmStepTwo").removeClass("button--disabled");
              $("#confirmStepTwoDisabled").addClass("button--disabled");
            }
          },
          error: function (data) {
          }
        });
      } else {
        alert("Please contact administration");
      }
    }

    function processCancel() {
      let sub_id = $("#cancel-sub-id").val();
      if (sub_id !== "") {
        let form = {
          "reason": $("input[name=reason]:checked").val()
        }
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: "/cancel-subscription/" + sub_id + '/',
          data: form,
          type: 'POST',
          success: function (resp) {
            if (resp.status === 'success') {
              location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      } else {
        alert("Please contact administration");
      }
    }

    function processConfirmationSkip() {
      let sub_id = $("#skip-sub-id").val();
      let total_skip = $("#totalSkip").val();
      let skip_indefinitely = $("#skip_indefinitely").val();
      let delivery_date = $("#datetimepicker6").val();
      let delivery_time = $("#selectDeliveryTimePause").val();
      let delivery_time_str = $("#selectDeliveryTimePause option:selected").text();

      let form = {
        "totalSkip": total_skip,
        "skip_indefinitely": skip_indefinitely,
        "delivery_date": delivery_date,
        "delivery_time": delivery_time,
        "delivery_time_str": delivery_time_str,
      }

      if (skip_indefinitely === "true") {
        if (sub_id !== "" || parseInt(total_skip, 10) > 0) {
          $.ajax({
            headers: {'X-CSRFToken': csrftoken},
            url: "/skip-subscription/" + sub_id + '/',
            data: form,
            type: 'POST',
            success: function (resp) {
              console.log(resp);
              if (resp.status === 'success') {
                location.reload();
              } else if (resp.status === "error") {
                showModalConfirmSkipSubs('close');
                if(!alert(resp.message)) {
                  window.location.reload();
                }
              }
            },
            error: function (data) {
              console.log(data);
            }
          });
        } else {
          alert("Please contact administration");
        }
      } else {
        if (delivery_time !== "") {
          $.ajax({
            headers: {'X-CSRFToken': csrftoken},
            url: "/skip-subscription/" + sub_id + '/',
            data: form,
            type: 'GET',
            success: function (resp) {
              if (resp.status === 'success') {
                $("#confirmationDate").text(delivery_date);
                $("#textNewDate").text(delivery_date);
                $("#textNewDay").text(resp['day']);
                $("#textNewTime").text(delivery_time_str);
                $("#textNewBilling").text(resp['new_billing'])
                showModalConfirmSkipSubs('open');
              }
            },
            error: function (data) {
              console.log(data);
            }
          });
        } else {
          alert("Please select time first");
        }
      }
    }

    function processSkip() {
      let sub_id = $("#skip-sub-id").val();
      let total_skip = $("#totalSkip").val();
      let skip_indefinitely = $("#skip_indefinitely").val();
      let delivery_date = $("#datetimepicker6").val();
      let delivery_time = $("#selectDeliveryTimePause").val();
      let delivery_time_str = $("#selectDeliveryTimePause option:selected").text();

      let form = {
        "totalSkip": total_skip,
        "skip_indefinitely": skip_indefinitely,
        "delivery_date": delivery_date,
        "delivery_time": delivery_time,
        "delivery_time_str": delivery_time_str,
      }
      if (sub_id !== "" || parseInt(total_skip, 10) > 0) {
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: "/skip-subscription/" + sub_id + '/',
          data: form,
          type: 'POST',
          success: function (resp) {
            console.log(resp);
            if (resp.status === 'success') {
              location.reload();
            } else if (resp.status === "error") {
              showModalConfirmSkipSubs('close');
              if(!alert(resp.message)) {
                window.location.reload();
              }
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      } else {
        if(!alert("Unfortunately we cannot change your subscription at this time. Please contact support to change your subscription.")) {
          window.location.reload();
        }
      }
    }

    function processResume() {
      let sub_id = $("#resume-sub-id").val();
      let delivery_date = $("#datetimepickerResume").val();
      let delivery_time = $("#selectDeliveryTimeResume").val();

      if (sub_id !== "") {

        if (delivery_date && delivery_time === "") {
          alert("Please select time if you choose delivery date");
          return false;
        }

        let form = {
          "delivery_date": delivery_date,
          "delivery_time_id": delivery_time,
          "delivery_time_str": $("#selectDeliveryTimeResume selected").text(),
        }
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: "/resume-subscription/" + sub_id + '/',
          data: form,
          type: 'POST',
          success: function (resp) {
            console.log(resp);
            if (resp.status === 'success') {
              location.reload();
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      } else {
        alert("Please contact administration");
      }
    }

    function skipAdd() {
      let $textSkip = $("#textSkip");
      let a = parseInt($textSkip.text(), 10);
      a++;
      $textSkip.text(a);
      $("#totalSkip").val(a);
    }

    function skipSubst() {
      let $textSkip = $("#textSkip");
      let b = parseInt($textSkip.text(), 10);
      if (b >= 1) {
        b--;
        if (b >= 0) {
          $textSkip.text(b);
          $("#totalSkip").val(b);
        }
      } else {
        $("#subs").prop("disabled", true);
      }
    }

    showModalExtraDelivery = (str) => {
      if (str === 'open') {
        $('.extra-delivery').removeClass('none')
      } else {
        $('.extra-delivery').addClass('none')
      }
    }

    let dateOptions = {
      format: 'DD/MM/YYYY',
      useCurrent: false,
      icons: {
        previous: "fa fa-chevron-circle-left",
        next: "fa fa-chevron-circle-right",
      },
      disabledDates: {{ holidays|safe }},
      daysOfWeekDisabled: [0],
      minDate: moment("{{ start_date }}", 'YYYY-MM-DD').millisecond(0).second(0).minute(0).hour(0),
    }

    {% if status != "active" and not pause_collection %}
      dateOptions['date'] = "{{ delivery_date }}";
    {% endif %}

    $('#datetimepicker6').datetimepicker(dateOptions);
    $("#datetimepicker6").on("dp.change", function (e) {
      let dateSelected = e.date.format('L');
      let data = {
        "date": dateSelected,
      };

      {% if status != "active" %}
        data['selected_time_text'] = "{{ delivery_time }}";
        data['updated'] = false;
      {% endif %}

      $.ajax({
        headers: {'X-CSRFToken': csrfmiddlewaretoken},
        url : '/basket/ajax-basket-delivery-date-add-view/',
        data : data,
        type : 'POST',
        success: function (resp) {
          $("#selectDeliveryTimePause").html(resp.option);
          $("#selectDeliveryTimeResume").html(resp.option);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

    $('#datetimepickerResume').datetimepicker(dateOptions);
    $("#datetimepickerResume").on("dp.change", function (e) {
      let dateSelected = e.date.format('L');
      let data = {
        "date": dateSelected,
      };

      {% if status != "active" and not pause_collection %}
        data['selected_time_text'] = "{{ delivery_time }}";
        data['updated'] = false;
      {% endif %}

      $.ajax({
        headers: {'X-CSRFToken': csrfmiddlewaretoken},
        url : '/basket/ajax-basket-delivery-date-add-view/',
        data : data,
        type : 'POST',
        success: function (resp) {
          $("#selectDeliveryTimePause").html(resp.option);
          $("#selectDeliveryTimeResume").html(resp.option);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

    $('#reschedule_delivery_date').datetimepicker(dateOptions);
    $("#reschedule_delivery_date").on("dp.change", function (e) {
      day = e.date.format("dddd");
      date = e.date.format("DD");
      month = e.date.format("MMMM");
      year = e.date.format("YYYY");
      let dateSelected = e.date.format('L');
      console.log(dateSelected);
      let data = {
        "date": dateSelected,
        "updated": false
      };
      $.ajax({
        headers: {'X-CSRFToken': csrfmiddlewaretoken},
        url : '/basket/ajax-basket-delivery-date-add-view/',
        data : data,
        type : 'POST',
        success: function (resp) {
          $("#reschedule_delivery_time").html(resp.option);
        },
        error: function (data) {
          console.log(data);
        }
      });

    });

    $('#extra_delivery_date').datetimepicker(dateOptions);
    $("#extra_delivery_date").on("dp.change", function (e) {
      let dateSelected = e.date.format('L');
      let data = {
        "date": dateSelected,
      };

      $.ajax({
        headers: {'X-CSRFToken': csrfmiddlewaretoken},
        url : '/basket/ajax-basket-delivery-date-add-view/',
        data : data,
        type : 'POST',
        success: function (resp) {
          $("#extra_delivery_time").html(resp.option);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

    function processExtraDelivery() {
      let sub_id = $("#extra_delivery_sub_id").val();
      let delivery_date = $("#extra_delivery_date").val();
      let delivery_time = $("#extra_delivery_time").val();

      if (sub_id !== "") {
        let form = {
          "sub_id": sub_id,
          "extra_delivery_date": delivery_date,
          "extra_delivery_time_id": delivery_time,
          "extra_delivery_time_str": $("#extra_delivery_time selected").text(),
        }
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: "/subscription-extra-delivery/" + sub_id + '/',
          data: form,
          type: 'POST',
          success: function (resp) {
            if (resp.status === 'success') {
              location.href = "{% url 'checkout:index' %}";
            }
          },
          error: function (data) {
            console.log(data);
          }
        });
      } else {
        alert("Please contact administration");
      }
    }
</script>
{% endblock extra_js %}
