{% extends "base.html" %}

{% load static %}

{% block title %}Edit Shipping Delivery Address{% endblock %}

{% block extra_css %}
  <style>
    .error {
      color: #ff0000;
    }
  </style>
{% endblock extra_css %}

{% block content %}
{% include "components/navbar-userpage.html" %}

<section class="subscription--container pt-5">
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ field.label }} - {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <a href="{% url 'customer:subscription-detail' subscription_id %}" class="text-besides-icon mb-2">
    <div class="icon">
      <img src= "{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
    </div>
    <h4>Edit Shipping Address</h4>
  </a>
  <form id="formEditAddAddress" class="mb-5" action="." method="post">{% csrf_token %}
    <div class="input-sm-2-lg-1">
        <div class="input__layout">
            <div class="input-field input-field__top">
                <label class="input-field__left font-primary">First Name</label>
            </div>
            {{ form.first_name }}
        </div>
        <div class="input__layout">
            <div class="input-field input-field__top">
                <label class="input-field__left font-primary">Last Name</label>
            </div>
            {{ form.last_name }}
        </div>
    </div>
    <div class="input-sm-2-lg-1">
        <div class="input__layout">
            <div class="input-field input-field__top">
                <label class="input-field__left font-primary">Email</label>
            </div>
            {{ form.email }}
        </div>
        <div class="input__layout">
            <div class="input-field input-field__top">
                <label class="input-field__left font-primary">Phone Number</label>
            </div>
            {{ form.phone_number }}
        </div>
    </div>
    <div class="input__layout">
        <div class="input-field input-field__top">
            <label class="input-field__left font-primary">Address</label>
        </div>
        {{ form.line1 }}
    </div>
    <div class="d-grid name__wrapper">
        <div class="input__layout">
            <div class="input-field input-field__top">
            <label class="input-field__left font-primary">City</label>
            </div>
            {{ form.line4 }}
        </div>
        <div class="input__layout">
            <div class="input-field input-field__top">
                <label class="input-field__left font-primary">State</label>
            </div>
            {{ form.state }}
        </div>
    </div>
    <div class="d-grid name__wrapper">
        <div class="input__layout">
            <div class="input-field input-field__top">
            <label class="input-field__left font-primary">Postal Code</label>
            </div>
            {{ form.postcode }}
        </div>
        <div class="input__layout">
            <div class="input-field input-field__top">
                <label class="input-field__left font-primary">Country</label>
            </div>
            {{ form.country }}
        </div>
    </div>
    <div class="input__layout">
        <div class="input-field input-field__top">
            <label class="input-field__left font-primary">Additional Info</label>
        </div>
        {{ form.notes }}
    </div>
  </form>
  <div class="checkout-button__wrapper mb-5">
    <a href="{% url 'customer:subscription-detail' subscription_id %}" class="button button--secondary">CANCEL</a>
    <div class="button button--primary" onclick="$('#formEditAddAddress').submit();">SAVE ADDRESS</div>
  </div>

</section>


{% endblock %}
