{% extends 'oscar/customer/baseaccountpage.html' %}
{% load static custom_tags %}

{% block title %}Transaction History{% endblock %}

{% block profile_right %}
  <div class="user-dashboard__right transaction-history__container">
    <div class="transaction-history__body">
      <div class="dashboard__title desktop-only">
        <h4> Transaction History</h4>
      </div>
      <div class="transaction-history__wrapper">
        <div class=" transaction-history__content">
          <p class=" label-bold "> Order Number</p>
          <p class=" label-bold "> Delivery Date </p>
          <p class=" label-bold "> Type </p>
          <p class=" label-bold "> Status </p>
          <p class=" label-bold "> Amount </p>
        </div>

        {% for transaction in transaction_histories %}
        <input type="radio" id="history-{{ transaction.id }}" name="history__list" value="history-{{ transaction.id }}">
        <label for="history-{{ transaction.id }}" class="transaction-history__content cursor-pointer" onclick="showOrderSummary('open', '{{ transaction.id }}')">
          <p class=" long-font__item label-default "> {{ transaction.number }}</p>
          <p class=" label-default "> {{ transaction.delivery_date|date:"F d, Y" }} </p>
          <p class=" label-default ">
            {% if transaction.subscription_id %}Subscription - {{ transaction.subscription_id|is_subscription_prepaid }}{% else %}Regular Products{% endif %}
          </p>
          <p class=" label-default "> {{ transaction.status }} </p>
          <p class=" label-default "> ${{ transaction.total_incl_tax }} </p>
        </label>
        {% endfor %}
      </div>

      <div class="transaction-history__pagination mb-5">
        {% if is_paginated %}
          {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}"><img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/></a>
          {% else %}
            <a href="javascript:"><img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/></a>
          {% endif %}
          <div class="pagination-number">
          {% for i in paginator.page_range %}
            <p><a class="" href="?page={{ i }}">{{ i }}</a></p>
          {% endfor %}
          </div>
          {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}"><img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/></a>
          {% else %}
            <a href="javascript:"><img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/></a>
          {% endif %}
        {% endif %}
      </div>

    </div>
    <div class="transaction-calendar-and-search__wrapper">
      <div class="dashboard__title mobile-only  mb-4">
        <h4> Transaction History</h4>
      </div>
      {% comment %}
      <div class="calendar__wrapper mb-4">
          <div id="datetimepicker13"></div>
      </div>
      {% endcomment %}

      {% if request.GET.date or request.GET.transactionType %}
      <a class="text--white d-flex justify-content-end" href="{% url 'customer:transaction-history-list' %}">Reset</a>
      {% endif %}
      <div class="mb-4">
        <p class="label-semibold mb-2">Transaction Type</p>
        <div class="history-search__wrapper" style="position: relative;">
{#          <input type="text" placeholder="Search transaction here">#}
          <select id="id_transaction_type" name="transaction_type">
            <option value="">--- Select transaction type ---</option>
            <option value="regular" {% if transaction_type == 'regular' %}selected{% endif %}>Regular Products</option>
            <option value="prepaid" {% if transaction_type == 'prepaid' %}selected{% endif %}>Prepaid</option>
            <option value="payasyougo" {% if transaction_type == 'payasyougo' %}selected{% endif %}>Pay as you go</option>
          </select>
          <button class="search-icon__wrapper">
            <img src="{% static 'images/boot/icons/search-icon.svg' %}" alt="search-icon"/>
          </button>
        </div>
      </div>
{#      <div class="mb-4">#}
{#        <p class="label-semibold mb-2">Custom Range</p>#}
{#        <div class="history-search__wrapper">#}
{#          <input type="text" placeholder="Search transaction here">#}
{#          </input>#}
{#          <button class="search-icon__wrapper">#}
{#            <img src="{% static 'images/boot/icons/search-icon.svg' %}" alt="search-icon"/>#}
{#          </button>#}
{#        </div>#}
{#      </div>#}
{#      <div class="mb-2 history-filter__container mb-6">#}
{#        <p class="label-semibold mb-2">Show only for:</p>#}
{#        <div class="history-filter__wrapper d-flex align-items-center">#}
{#          <input type="radio" id="seven-days" name="history-filter" value="seven-days">#}
{#          <label for="seven-days" class="label-default ml-3">Last 7 days</label>#}
{#        </div>#}
{#        <div class="history-filter__wrapper d-flex align-items-center">#}
{#          <input type="radio" id="thirty-days" name="history-filter" value="thirty-days">#}
{#          <label for="thirty-days" class="label-default ml-3">Last 30 days</label>#}
{#        </div>#}
{#        <div class="history-filter__wrapper d-flex align-items-center">#}
{#          <input type="radio" id="this-month" name="history-filter" value="this-month">#}
{#          <label for="this-month" class="label-default ml-3">This Month</label>#}
{#        </div>#}
{#        <div class="history-filter__wrapper d-flex align-items-center">#}
{#          <input type="radio" id="last-month" name="history-filter" value="last-month">#}
{#          <label for="last-month" class="label-default ml-3">Last Month</label>#}
{#        </div>#}
{#        <br/>#}
{#      </div>#}
    </div>
    {% include 'pages/blocks/_transaction_history_summary.html' with transaction_histories=transaction_histories %}
  </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    let getUrlParameter = function getUrlParameter(sParam) {
        let sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    showOrderSummary = (str, objId) => {
        if (str === 'open') {
          $('.transaction-history__item-detail').addClass('none');
          $("#history-summary-" + objId).removeClass('none');
          $('.transaction-calendar-and-search__wrapper').addClass('none');
        } else {
          $('.transaction-history__item-detail').addClass('none');
          $("#history-summary-" + objId).addClass('none');
          $('.transaction-calendar-and-search__wrapper').removeClass('none');
        }
    }

    $('#datetimepicker13').datetimepicker({
      inline: true,
      format: 'L',
      useCurrent: false,
    });

    $("#datetimepicker13").on("change.datetimepicker", function (e) {
      let dateSelected = e.date.format('L');
      location.href = "{% url 'customer:transaction-history-list' %}?date=" + dateSelected;
    });

    $("#id_transaction_type").change(function () {
      let val = $(this).val();
      let dateParam = getUrlParameter('date');
      let typeParam = getUrlParameter('transactionType');
      console.log(dateParam);
      console.log(typeParam);
      if (val === "") {
        if (dateParam) {
          location.href = "{% url 'customer:transaction-history-list' %}?date=" + dateParam;
        } else {
          location.href = "{% url 'customer:transaction-history-list' %}";
        }
      } else {
        if (dateParam) {
          location.href = "{% url 'customer:transaction-history-list' %}?date=" + dateParam + "&transactionType=" + val;
        } else {
          location.href = "{% url 'customer:transaction-history-list' %}?transactionType=" + val;
        }
      }
    })

</script>
{% endblock extra_js %}
