{% extends "base.html" %}

{% load static %}

{% block title %}Update Card{% endblock %}

{% block extra_css %}
  <style>
    .error {
      color: #ff0000;
    }
  </style>
{% endblock extra_css %}

{% block content %}
{% include "components/navbar-userpage.html" %}

<section class="subscription--container pt-5">
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ field.label }} - {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    <a href="{% url 'customer:profile-view' %}" class="text-besides-icon mb-2">
        <div class="icon">
            <img src= "{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
        </div>
        <h4>Update Your Card</h4>
    </a>
    <form action="{% url 'customer:card-edit' %}" class="mb-5" id="place_order_form" method="post">
        {% csrf_token %}
        <div class="d-grid credit-card align-items-start">
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Card number</label>
                </div>
                <input type="number" placeholder="Input card number" id="number" name="number">
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Name on Card</label>
                </div>
                <input type="text" placeholder="Input name on card" id="cardName" name="cardName">
            </div>
        </div>
        <div class="d-grid half-name__wrapper align-items-start">
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Month</label>
                </div>
{#                    <input type="text" placeholder="Input month" id="exp_month" name="exp_month">#}
                <select id="exp_month" name="exp_month">
                    <option value="">-----------</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="input__layout">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">Year</label>
                </div>
                <input type="tel" placeholder="Input year" id="exp_year" name="exp_year">
            </div>
        </div>
        <div class="d-grid half-name__wrapper">
            <div class="input__layout input-cvv">
                <div class="input-field input-field__top">
                    <label class="input-field__left font-primary">CVV</label>
                </div>
                <input type="number" placeholder="Input CVV" id="cvc" name="cvc">
            </div>
        </div>
    </form>
    <div class="checkout-button__wrapper mb-5">
        <div class="button button--primary mb-5" onclick="$('#place_order_form').submit();">Confirm & Update</div>
    </div>
</section>


{% endblock %}
