@mixin tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin monitor-up {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sectionDefault {
  section {
    padding: 95px 0 0;

    @include desktop-up {
      padding: 75px 0 0;
    }

    &:nth-child(1) {
      padding: 0;
    }
    // margin: 120px 0;
  }
}

@mixin grid-middle {
  justify-content: center;
  align-content: center;
}

@mixin box($size) {
  height: $size;
  min-width: $size;
}

@mixin hideInput {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
