$background-black: #111111;

$black-1: #000000;
$black-2: #212121;
$black-3: #454545;
$black-4: #7a7a7a;

$choco-1: #26231E;

$grey-1: #bdbdbd;
$grey-2: #857777;

$white: #ffffff;
$gold: #9F8561;
$gold-2: #d9b996;
$gold-3: #645641;
$orange: #B47A3C;
$green-1: #2A6043;
$blue-1: #264571;
$red-1: #FF0000;

$navbar-min-height: 80px;

$choose-coffee-summary-padding: 1rem;
