{% load image_tags %}
{% load i18n %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

<div class="row mb-4">
  <div class="col-3 col-md-1 col-lg-1">
    {% with image=product.primary_image %}
    {% oscar_thumbnail image.original "248x248" upscale=False as thumb %}
    <a href="{{ product.get_absolute_url }}">
      <img src="{{ thumb.url }}" class="img-fluid rounded">
    </a>
    {% endwith %}
  </div>
  <div class="col-9 col-md-11 col-lg-11">
    <div class="float-right text-right no-wrap">
      <div>
        <form method="POST" action="{% url 'customer:wishlists-remove-product' key=wishlist.key line_pk=line.pk %}">
          {% csrf_token %}
          <button type="submit" style="background: none; border: none; color: #acacac !important;">
            <span class="d-sm-block d-md-none d-lg-none"><i class="far fa-times-circle fa-lg"></i></span>
            <span class="d-none d-md-block d-lg-block"><i class="far fa-times-circle fa-md"></i> Remove</span>
          </button>
        </form>
      </div>
      <h6 class="f-14 mt-2
      {% if session.availability.is_available_to_buy %}text-danger{% else %}text-gray{% endif %}
       fw-900 text-sm-lg">

      {% if session.price.exists %}
        {% if session.price.excl_tax == 0 %}
          {% trans "Free" %}
        {% elif session.price.is_tax_known %}
          {{ session.price.incl_tax|currency:session.price.currency }}
        {% else %}
          {{ session.price.excl_tax|currency:session.price.currency }}
        {% endif %}
      {% endif %}
      </h6>
      <br/>
      {% if not product.is_parent %}
          {% block product_basket_form %}
              {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
          {% endblock %}
      {% endif %}
    </div>

    <small class="text-muted">Added on {{ wishlist.date_created }}</small>
    <a href="{{ product.get_absolute_url }}">
      <h6 class="{% if session.availability.is_available_to_buy %}text-theme{% else %}text-gray{% endif %}
      fw-500 text-sm-lg">
        {{ product.get_title }}
      </h6></a>
    <small class="text-muted">Stock avaibility </small><br/>
    <p class="{{ session.availability.code }} availability">
    <i class="icon-{% if session.availability.is_available_to_buy %}ok{% else %}remove{% endif %}"></i>
    {% if session.availability.is_available_to_buy %}
       Ready
    {% else %}
       Not Available
    {% endif %}
  </div>
</div>
