{% load i18n %}
{% load image_tags %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert alert-warning">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}

{% if not basket.is_empty %}
    {% block basket_form_headers %}
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center mt-2">
              <h5 class="text-uppercase text-theme fw-800">Your Shopping Bag</h5>
            </div>
          </div>
        </div>
    {% endblock %}

    {% block basket_form_main %}
        <div class="container mt-3 mb-4 cart">
          <div class="row justify-content-end">
            <div class="col-12 col-md-8 col-lg-8">
              <form method="post" class="basket_summary" id="basket_formset">
                {% csrf_token %}
                {{ formset.management_form }}

                {% for form in formset %}
                  {% with line=form.instance product=form.instance.product %}
                  {% include 'oscar/basket/partials/product_card.html' with product=product line=line idx=forloop.counter0 %}
                  <hr class="mb-4"/>
                  {% endwith %}
                {% endfor %}
              </form>
              <!-- list shopping -->
              <!-- //list shopping -->

              <div class="row mb-3 justify-content-center">
                {# include 'oscar/basket/partials/courier.html' #}
                {% block vouchers %}
                  {% include 'oscar/basket/partials/promo_code.html' %}
                {% endblock vouchers %}
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <!-- total shopping -->
              {% block baskettotals %}
                {% include 'oscar/basket/partials/basket_totals.html' with editable=1 %}
              {% endblock baskettotals %}
              <!-- //total shopping -->

              <!-- btn procceed -->

              {% block formactions %}
                <a
                  href="{% url 'checkout:index' %}"
                  class="btn btn-theme btn-block text-white text-uppercase mb-2 py-2" id="proceedOrder">
                  <i class="fas fa-credit-card"></i> PROCEED ORDER
                </a>
              {% endblock formactions %}
              <a href="{% url 'catalogue:index' %}">
                <button class="btn btn-gray btn-block text-theme text-uppercase mb-2 py-2">
                  <i class="fas fa-plus"></i> Add more product
                </button>
              </a>
              <!-- //btn procceed -->
            </div>
          </div>
        </div>
        <!--form method="post" class="basket_summary" id="basket_formset">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {% with line=form.instance product=form.instance.product %}
                    {% purchase_info_for_line request line as session %}
                    <div class="basket-items">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3><a href="{{ product.get_absolute_url }}">{{ line.description }}</a></h3>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="checkout-quantity">
                                    <div class="input-group  {% if form.errors %}error{% endif %}">
                                        {% render_field form.quantity class+="form-control" %}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" data-loading-text="{% trans 'Updating...' %}">{% trans "Update" %}</button>
                                    </span>
                                    </div>
                                </div>
                                    <div>
                                        <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline">{% trans "Remove" %}</a>
                                        {% if user.is_authenticated %}
                                            | <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="save" class="inline">{% trans "Save for later" %}</a>
                                        {% endif %}
                                        <div style="display:none">
                                            {{ form.save_for_later }}
                                            {{ form.DELETE }}
                                        </div>
                                        {% for field_errors in form.errors.values %}
                                            {% for error in field_errors %}
                                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                            {% endfor %}

                                        {% endfor %}
                                    </div>

                            </div>
                            <div class="col-sm-1">
                                {% if not line.unit_price_incl_tax and not line.unit_tax_excl_tax %}
                                    <p class="align-right">&mdash;</p>
                                {% else %}
                                    <p class="price_color align-right">
                                        {% if line.is_tax_known %}
                                            {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                        {% else %}
                                            {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </form-->
    {% endblock %}

    <div class="row">
      <div class="col-sm-12">
        {# include 'oscar/basket/partials/shipment_selection.html' #}
      </div>
    </div>
{% else %}
  {% block emptybasket %}
  <div class="container mt-3 mb-4 cart">
    <div class="row justify-content-end">
      <div class="col-12 col-md-8 col-lg-8">
        <p>
          {% trans "Your basket is empty." %}
          <a class="navbar" href="{% url 'home' %}">{% trans "Continue shopping" %}</a>
        </p>
      </div>
    </div>
  </div>
  {% endblock %}
{% endif %}

{% block savedbasket %}
    {% if user.is_authenticated and saved_formset %}
        <!--div class="well">
            <div class="sub-header">
                <h2>{% trans "Items to buy later" %}</h2>
            </div>
            <div class="row basket-title hidden-xs">
                <p class="col-sm-8 h4">{% trans "Items" %}</p>
                <p class="col-sm-2 h4 align-center">{% trans "Price" %}</p>
                <div class="col-sm-2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    {% purchase_info_for_product request form.instance.product as session %}
                    <div class="basket-items">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ form.id }}
                                {% with image=form.instance.product.primary_image %}
                                    {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ form.instance.product.get_absolute_url }}">
                                        <img class="thumbnail" src="{{ thumb.url }}" alt="{{ form.instance.product.get_title }}">
                                    </a>
                                {% endwith %}
                            </div>
                            <div class="col-sm-6">
                                <h3><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h3>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                                <div style="display:none">
                                    {{ form.move_to_basket }}
                                    {{ form.DELETE }}
                                </div>
                            </div>
                            {% purchase_info_for_product request form.instance.product as saved %}
                            <div class="col-sm-2 align-center">
                                <p class="price_color">
                                    {% if saved.price.is_tax_known %}
                                        {{ saved.price.incl_tax|currency:saved.price.currency }}
                                    {% else %}
                                        {{ saved.price.excl_tax|currency:saved.price.currency }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a href="#" data-id="{{ forloop.counter0 }}" class="btn pull-right btn-block" data-behaviours="move">{% trans "Move to basket" %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div-->
    {% endif %}
{% endblock %}

<script>

  {% if order_total.is_tax_known %}
    if (parseInt("{{ order_total.incl_tax }}", 0) === 0) {
      $("#proceedOrder").addClass("disabled");
    } else {
      $("#proceedOrder").removeClass("disabled");
    }
  {% else %}
    if (parseInt("{{ order_total.excl_tax }}", 0) === 0) {
      $("#proceedOrder").addClass("disabled");
    } else {
      $("#proceedOrder").removeClass("disabled");
    }
  {% endif %}

  const basketForm = {};

  function syncBasketForm () {
    $("#basket_formset input").each(function(){
      const name = $(this).attr('name');
      const val = $(this).val();
      basketForm[name] = val;
    });
  }

  //count button
  $('.basket-minus').click(function () {
    var $input = $(this).parent().find('input');
    var count = parseInt($input.val()) - 1;
    count = count < 1 ? 1 : count;
    $input.val(count);
    $input.change();
    submitBasketForm({
      needRefresh: true
    });
    return false;
  });

  $('.basket-plus').click(function () {
    var $input = $(this).parent().find('input');
    $input.val(parseInt($input.val()) + 1);
    $input.change();
    submitBasketForm({
      needRefresh: true
    });
    return false;
  });

  function submitBasketForm({needRefresh}) {
    syncBasketForm();

    console.log(basketForm);

    $.ajax({
      type: "POST",
      url: "/basket/",
      data: basketForm,
      success: function (data) {
        if (needRefresh) {
          location.reload();
        }
      }
    });
  }

  $(".remove-product").click(function (e) {
    const idx = $(e.target).data("line-idx");

    if (idx === undefined) {
      return;
    }

    dialog.confirm({
        buttons: {},
        message: "Delete product?",
        button: "Delete",
        cancel: "Cancel",
        required: true,
        callback: function(value){
          if (value) {
            basketForm[`form-${idx}-DELETE`] = "on";
            submitBasketForm({
              needRefresh: true
            });
          }
        }
    });
  });
</script>
