<!-- courier -->
<div class="col-12 col-md-9 col-lg-9">
  <h6 class="text-theme mt-4 mb-2">Delivery information</h6>
</div>
<div class="col-12 col-md-9 col-lg-9">
  <div class="form-group">
    <select class="options form-control" name="distric" id="location">
      <option></option>
      <option value="1">Jabodetabek</option>
      <option value="2">Jawa Barat</option>
      <option value="3">Jawa Tengah</option>
      <option value="4">DIY Yogyakarta</option>
      <option value="5">Jawa Timur</option>
    </select>
  </div>
</div>
<div class="col-12 col-md-9 col-lg-9">
  <h6 class="text-theme mt-2 mb-2">Courier options</h6>
</div>
<div class="col-12 col-md-9 col-lg-9">

  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="courier-selection">
          <input type="radio" name="courier" value="jne"/>
          <div>
            <div class="p-0 m-0 fw-600">JNE Reguler <span class="float-right">Rp. 10.000</span></div>
            <span class="text-muted">1-2 days</span></div>
        </label>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="courier-selection">
          <input type="radio" name="courier" value="jne2"/>
          <div>
            <div class="p-0 m-0 fw-600">JNE Super Fast <span class="float-right">Rp. 25.000</span></div>
            <span class="text-muted">1 day</span></div>
        </label>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="courier-selection">
          <input type="radio" name="courier" value="sicepat"/>
          <div>
            <div class="p-0 m-0 fw-600">SiCepat Reguler <span class="float-right">Rp. 10.000</span></div>
            <span class="text-muted">1-2 days</span></div>
        </label>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="courier-selection">
          <input type="radio" name="courier" value="pcp"/>
          <div>
            <div class="p-0 m-0 fw-600">PCP 3 days <span class="float-right">Rp. 5.000</span></div>
            <span class="text-muted">3 days</span></div>
        </label>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="courier-selection">
          <input type="radio" name="courier" value="ninja"/>
          <div>
            <div class="p-0 m-0 fw-600">Ninja Express <span class="float-right">Rp. 8.000</span></div>
            <span class="text-muted">1 day</span></div>
        </label>
      </div>
    </div>
  </div>
</div>
<!-- //courier -->
