{% load i18n %}
{% load static %}
{% load currency_filters %}
{% load image_tags %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

<div class="row mb-4">
  {{ form.id }}
  <div class="col-3 col-md-2 col-lg-2">
    {% with image=product.primary_image %}
        {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
        <a href="{{ product.get_absolute_url }}">
          <img
            src="{{ thumb.url }}"
            class="img-fluid rounded"
            alt="{{ product.get_title }}"
          >
        </a>
    {% endwith %}
  </div>
  <div class="col-9 col-md-9 col-lg-9">
    <div class="float-right text-right no-wrap">
      <div>
        <a href="#" class="prompt-delete text-gray">
          <span
            class="d-sm-block d-md-none d-lg-none"
          >
            <i
              class="far fa-times-circle fa-lg remove-product"
              data-line-idx="{{ idx }}"
            >
            </i>
          </span>
          <span
            data-line-idx="{{ idx }}"
            class="d-none d-md-block d-lg-block remove-product"
          >
            <i class="far fa-times-circle fa-md"></i> Remove
          </span>
        </a>
      </div>
      <h6 class="f-14 mt-2 text-danger fw-900">
        {% if not line.line_price_incl_tax and not line_price_excl_tax %}
            -
        {% else %}
          {% if line.is_tax_known %}
            {{ line.line_price_incl_tax|currency:line.price_currency }}
          {% else %}
            {{ line.line_price_excl_tax|currency:line.price_currency }}
          {% endif %}
        {% endif %}
      </h6>
    </div>

    <a href="{{ product.get_absolute_url }}"><h6 class="text-theme fw-500">{{ product.get_title }}</h6></a>
    {% if product.get_attributes_map.items|length == 0 %}
      <div class=""><span class="text-muted">&nbsp;&nbsp;&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    {% else %}
      {% for key, value in product.get_attributes_map.items %}
      <div class=""><span class="text-muted">{{ key }} :</span> {{ value }}</div>
      {% endfor %}
    {% endif %}
    <div class=""><span class="text-muted">&nbsp;&nbsp;&nbsp;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

    <div class="counter mt-3 float-lg-right">
      <div class="number">
        <span class="basket-minus mr-1"><i class="fas fa-minus"></i></span>
        <!--input type="number" value="1" class="input-number" max="99" min="1" disabled/-->
        {% render_field form.quantity class+="form-control product-quantity input-number" %}
        <span class="basket-plus ml-2"><i class="fas fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".product-quantity").attr("disabled", true);
  });
</script>
