{% load i18n %}

<div class="col-12 col-md-9 col-lg-9">
  <h6 class="text-theme mt-4 mb-2">Promo Code</h6>
</div>
<div class="col-12 col-md-9 col-lg-9">
  <div class="input-group mb-3">
    {% csrf_token %}
    <input type="text" class="form-control" id="voucher" placeholder="Insert voucher code" name="code"/>
    <div class="input-group-append">
      <button class="btn rounded btn-secondary btn-voucher btn-sm" onclick="submitVoucher()">apply code</button>
    </div>
    <small class="hidden text-danger" id="errVoucer">Voucher not available</small>
  </div>
</div>

<script>
  function submitVoucher () {
    const csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
    const code = $("#voucher").val();

    $.ajax({
      type: "POST",
      url: "{% url 'basket:vouchers-add' %}",
      data: {
        csrfmiddlewaretoken,
        code
      },
      success: function (data) {
        location.reload();
      },
      error: function() {
        alert("Sorry, this coupon is not applicable on Coffee Concentrate or Subscription products.");
      }
    });
  }
</script>

{% if voucher_form %}
  <!--div class="col-sm-6">
      <div class="sub-header">
          <h2>{% trans "Voucher/promo code" %}</h2>
      </div>
      <p id="voucher_form_link"><a href="#voucher" class="btn btn-default btn-full">{% trans "I have a voucher code..." %}</a></p>

      <div id="voucher_form_container" style="display:none">
          <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
              {% csrf_token %}
              {% include "oscar/partials/form_fields.html" with form=voucher_form %}
              <button type="submit" class="btn btn-info" data-loading-text="{% trans 'Adding...' %}">{% trans "Add voucher" %}</button>
              {% trans "or" %} <a href="#" id="voucher_form_cancel">{% trans "cancel" %}</a>
          </form>
      </div>
  </div-->
{% endif %}
