<h3>Delivery Information</h3>
<form>
  <div class="form-group">
    <label for="shipping-province">Please Select Your Province</label>
    <select
      class="form-control shipping-selection"
      id="shipping-province"
      onchange="syncShippingForm(this)"
    >
    </select>
  </div>
  <div class="form-group">
    <label for="shipping-city">Please Select Your City</label>
    <select
      class="form-control shipping-selection"
      id="shipping-city"
      onchange="syncShippingForm(this)"
    >
    </select>
  </div>
  <div class="form-group">
    <label for="shipping-district">Please Select Your District</label>
    <select
      class="form-control shipping-selection"
      id="shipping-district"
      onchange="syncShippingForm(this)"
    >
    </select>
  </div>
  <div class="form-group">
    <label for="shipping-sub-district">Please Select Your Sub District</label>
    <select
      class="form-control shipping-selection"
      id="shipping-sub-district"
      onchange="syncShippingForm(this)"
    >
    </select>
  </div>
</form>

<script>
  const defaultSelection = `<option disabled selected value> -- select an option -- </option>`;
  let shippingAreas = {};

  function getShippingAreas() {
    $.ajax({
      type: 'GET',
      url: "{% url 'custom_shipping:get_full_shipping_area_view' %}",
      success: function (data) {
        shippingAreas = data.provinces;
        renderShippingProvince();
      }
    });
  }

  function renderShippingProvince() {
    let provinceOptionsHtml = defaultSelection;

    for (const [key, value] of Object.entries(shippingAreas)) {
      provinceOptionsHtml += `<option>${key}</option>`;
    }

    $("#shipping-province").html(provinceOptionsHtml);
  }

  function renderShippingCity() {
    let cityOptionsHtml = defaultSelection;

    const province = $("#shipping-province").val();

    if (province === null) {
       $("#shipping-city").html(cityOptionsHtml);
       $("#shipping-city").hide();
       return;
    }

    const provinceMap = shippingAreas[province];

    for (const [key, value] of Object.entries(provinceMap)) {
      cityOptionsHtml += `<option>${key}</option>`;
    }

    $("#shipping-city").html(cityOptionsHtml);
    $("#shipping-city").show();
  }

  function renderShippingDistrict() {
    let districtOptionsHtml = defaultSelection;

    const province = $("#shipping-province").val();
    const city = $("#shipping-city").val();

    if (province === null || city === null) {
       $("#shipping-district").html(districtOptionsHtml);
       $("#shipping-district").hide();
       return;
    }

    const cityMap = shippingAreas[province][city];

    for (const [key, value] of Object.entries(cityMap)) {
      districtOptionsHtml += `<option>${key}</option>`;
    }

    $("#shipping-district").html(districtOptionsHtml);
    $("#shipping-district").show();
  }

  function renderShippingSubDistrict() {
    let subDistrictOptionsHtml = defaultSelection;

    const province = $("#shipping-province").val();
    const city = $("#shipping-city").val();
    const district = $("#shipping-district").val();

    if (province === null || city === null || district === null) {
       $("#shipping-sub-district").html(subDistrictOptionsHtml);
       $("#shipping-sub-district").hide();
       return;
    }

    const districtMap = shippingAreas[province][city][district];

    for (const [key, value] of Object.entries(districtMap)) {
      subDistrictOptionsHtml += `<option value="${value}">${key}</option>`;
    }

    $("#shipping-sub-district").html(subDistrictOptionsHtml);
    $("#shipping-sub-district").show();
  }

  function syncShippingForm(selector) {
    const level = $(selector).attr('id').replace("shipping-", "");

    if (level === "province") {
      renderShippingCity();
      renderShippingDistrict();
      renderShippingSubDistrict();
    } else if (level === "city") {
      renderShippingDistrict();
      renderShippingSubDistrict();
    } else if (level === "district") {
      renderShippingSubDistrict();
    }
  }

  function initializeData() {
    getShippingAreas();
    selectionStatus = {
      province: false,
      city: false,
      district: false,
      subDistrict: false
    };
  }

  initializeData();


</script>
