{% load i18n %}
{% load static %}

<footer>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div id="accordion" class="text-left">
          <h6 class="m-0" id="heading1"><a class="btn btn-link" data-toggle="collapse" data-target="#collapse1"
                                           aria-expanded="true" aria-controls="collapse1">Account <i class="fas"></i>
          </a></h6>
          <div id="collapse1" class="collapse mt-2" aria-labelledby="heading1" data-parent="#accordion">
            <ul class="list-unstyled">
              <li><a href="{% url 'about-us' %}">About Us</a></li>
              <li><a href="#">Order & Return Policies</a></li>
            </ul>
          </div>
          <h6 class="m-0" id="heading2"><a class="btn btn-link" data-toggle="collapse" data-target="#collapse2"
                                           aria-expanded="true" aria-controls="collapse2">Connect <i class="fas"></i>
          </a></h6>
          <div id="collapse2" class="collapse mt-2" aria-labelledby="heading2" data-parent="#accordion">
            <ul class="list-unstyled">
              <li><a href="#">Contact & FAQ</a></li>
              <li><a href="https://www.instagram.com/alowalo.id/">Instagram</a></li>
            </ul>
          </div>
        </div>

        <p class="mt-4">&copy; <?=date('Y')?> Alowalo. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
