{% load i18n %}

<form {% if form_id %}id="{{ form_id }}"{% endif %} class="form-{{ style|default:"stacked" }} {{ class }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}
    {% if includes_files %}enctype="multipart/form-data"{% endif %}>

    {% if not method == "get" %}{% csrf_token %}{% endif %}
    {% include 'oscar/partials/form_fields.html' %}
    <div class="form-group">
        <div class="{% if style == 'horizontal' %}col-sm-offset-4 col-sm-8{% endif %}">
            <button class="btn btn-lg btn-theme" type="submit" data-loading-text="{% trans 'Saving...' %}">
              {% trans "Save" %}
            </button>
            <a href="#" onclick="window.history.go(-1);return false" class="btn btn-lg btn-danger">
              {% trans "cancel" %}
            </a>.
        </div>
    </div>
</form>
