{% load i18n %}
{% load static %}

<header class="sticky-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-toggler" role="button" data-toggle="collapse" data-target="#navbarToggle"
             aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"><i
            class="fas fa-bars text-theme"></i></a>
          <a class="d-lg-none" href="#search"><i class="fas fa-search text-theme"></i></a>
          <a class="d-lg-none" href="{% url 'home' %}">
            <img src="{% static 'images/logo-alowalo-dark-h-sm.png' %}" alt="ALOWALO"
                 class="img-150"></a>
          <a class="d-lg-none"
             href="{% if user.is_authenticated %}{% url 'users:detail' request.user.username  %}{% endif %}"
             data-toggle="{% if not user.is_authenticated %}modal{% endif %}"
             data-target="{% if not user.is_authenticated %}#modalLogin{% endif %}"
          ><i class="fas fa-user text-theme"></i></a>
          <a class="d-lg-none" href="#" data-toggle="modal" data-target="#modalCart">
            <span class="show-bubble">
                <span
                  class="cart-count"
                  data-count="0"
                  style="{% if user.is_authenticated %} right: 10px; position: absolute; {% endif %}"
                ></span>
                <i
                  class="fas fa-shopping-bag text-theme"
                ></i>
            </span>
          </a>
          {% if user.is_authenticated %}
          <form method="post" action="{% url 'account_logout' %}" class="d-lg-none">
            {% csrf_token %}
            <button
              type="submit"
              style="padding: 0 !important; border: none; background: none;"
            >
              <i
                class="fas fa-sign-out-alt text-theme"
                style="padding-top: 10px !important;"
              ></i>
            </button>
          </form>
          {% endif %}

          <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
            <ul class="navbar-nav">
              <li class="nav-item text-uppercase fw-600">
                <a class="nav-link"
                   href="{{ BEST_SELLER_CATEGORY.get_absolute_url }}"
                >
                  Best Seller
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-uppercase fw-600" href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories <i class="fas fa-plus f-10 m-0 p-0"></i> <i
                  class="fas fa-times f-10 m-0 p-0"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-uppercase"
                     href="{{ MEN_CATEGORY.get_absolute_url }}"
                  >
                    Male Product
                  </a>
                  <a class="dropdown-item text-uppercase"
                     href="{{ WOMEN_CATEGORY.get_absolute_url }}"
                  >Women Product</a>
                  <a
                    class="dropdown-item text-uppercase"
                    href="{{ UNISEX_CATEGORY.get_absolute_url }}">Unisex</a>

                  {% comment %} Comment this until kids category is ready ====================
                  <a
                    class="dropdown-item text-uppercase"
                    href="{{ KIDS_CATEGORY.get_absolute_url }}">Kids</a>
                  ============================================================= {% endcomment %}
                </div>

              </li>
              <li class="nav-item text-uppercase fw-600">
                <a class="nav-link"
                   href="{{ SALE_CATEGORY.get_absolute_url }}">Sale</a>
              </li>
            </ul>

            <!-- large screen --><a class="navbar-brand d-none d-lg-block" href="/">
            <img src="{% static 'images/logo-alowalo-dark-h-sm.png' %}" alt="ALOWALO" class="img-150"></a>
            <ul class="navbar-nav">
              <li class="nav-item text-uppercase fw-600 last"><a class="nav-link" href="{% url 'about-us' %}">About
                us</a></li>
              <li class="nav-item text-uppercase d-none d-md-block d-lg-block">
                <a class="nav-link"
                   href="#search"><i
                  class="fas fa-search text-theme f-12 m-0 p-0"></i></a></li>
              <li class="nav-item text-uppercase d-none d-md-block d-lg-block">
                <a class="nav-link"
                   href="{% if user.is_authenticated %}{% url 'users:detail' request.user.username  %}{% endif %}"
                   data-toggle="{% if not user.is_authenticated %}modal{% endif %}"
                   data-target="{% if not user.is_authenticated %}#modalLogin{% endif %}"
                ><i
                  class="fas fa-user text-theme f-12 m-0 p-0"></i></a></li>
              <li class="nav-item text-uppercase d-none d-md-block d-lg-block">
                <a class="nav-link"
                   href="#"
                   data-toggle="modal"
                   data-target="#modalCart">
                  <span class="show-bubble">
                      <span
                        class="cart-count-d" data-count="0"
                        style="{% if user.is_authenticated %} right: 25px; position: absolute; top: 0; {% endif %}"
                      ></span>
                      <i class="fas fa-shopping-bag text-theme f-12 m-0 p-0"></i>
                  </span>
                </a>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item text-uppercase d-none d-md-block d-lg-block">
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}">
                  <button type="submit"
                          style="padding: 0 !important; border: none; background: none; margin-left: 15px;">
                    <i class="fas fa-sign-out-alt text-theme f-12 m-0 p-0"></i>
                  </button>
                </form>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
