.accordion {
    a:hover {
        text-decoration: none;
        color:$white;
    }
    &__container {
        width: 90%;
        margin: 0 auto 6rem;

        .panel {
            margin-bottom: 1rem;

            max-height: 0;
            overflow: hidden;

            text-align: justify;
            transition: all .2s ease-in-out;

            @include desktop-up {
                margin: 1rem 0;
            }
        }
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__icon {
        display: grid;
        grid-template-columns: 15% auto;
        align-items: center;

        border: 2px solid $white;

        padding: 1rem;
        margin-bottom: 1rem;

        cursor: pointer;

        img {
            width: 70%;
        }
    }

    &__content {
        overflow: hidden;
        transition: all 0.2s;
        padding: 0 1rem;

      &--nav {
        max-height: 0;
      }
    }
    &__table {
        display: grid;
        grid-template-areas:
        'ingredients ingredients'
        'nutrition nutrition'
        'calories calories-info'
        'fat fat-info'
        'total total-info'
        'carbohydrate carbohydrate-info'
        'sugars sugars-info'
        'protein protein-info'
        ;

        .ingredients {
            grid-area: ingredients;
        }

        .nutrition {
            grid-area: nutrition;
        }

        .calories {
            grid-area: calories;
        }

        .calories-info {
            grid-area: calories-info;
        }

        .fat {
            grid-area: fat;
        }

        .fat-info {
            grid-area: fat-info;
        }

        .total {
            grid-area: total;
        }

        .total-info {
            grid-area: total-info;
        }

        .carbohydrate {
            grid-area: carbohydrate;
        }

        .carbohydrate-info {
            grid-area: carbohydrate-info;
        }

        .sugars {
            grid-area: sugars;
        }

        .sugars-info {
            grid-area: sugars-info;
        }

        .protein {
            grid-area: protein;
        }

        .protein-info {
            grid-area: protein-info;
        }
    }

    @include desktop-up {
        &__title {
            grid-column: 1/3;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 48%);
            justify-content: space-between;
        }

        &__icon {
            display: grid;
            grid-template-columns: 10% auto;

            margin: 0;

        }
    }
}
