.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
  // width: 100%;

  border-width: 0;
  padding: 0.5rem 1rem;

  cursor: pointer;

  &--primary {
    background-color: $gold;

    color: $white;
    font-weight: 500;
    text-decoration: none !important;
    transition: all .1s ease-in;

    &:hover {
      background: $gold-3;
    }

    &___styled {
      padding: 0;

      min-width: max-content;
      position: relative;

      &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: .5px;

        width: 20px;
        transform: skewX(-15deg);
        background-color: inherit;
      }

      &::before {
        left: -6px;

      }
      &::after {
        right: -6px;
      }
    }
  }

  &--secondary {
    min-width: 120px;
    border: 2px solid $white;
    color:$white;
  }

  &--tertiary {
    background-color: $white;
    border: 2px solid $white;

    color: $white;

    &:hover {
      border: none;
    }
  }

  &--disabled{
    background-color: $grey-1;
    cursor: not-allowed;

    color: $white;

    &:hover {
      background-color: $grey-1;
    }

    &__styled {

      min-width: max-content;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);

      padding: 0;

        @include desktop-up {
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      }
    }

  }


  &--ghost {
    background-color: $white;
    border: 1px solid #C4C4C4;

    color: $white;

    &:hover {
      background-color: $white;

      color: $white;

    }
  }

  &--ghost-menu {
    color: $black-2;
    font-weight: normal;

    &:hover {
      color: $black-2;
    }
  }

  &--menu {
    font-size: 0.95em;
    font-weight: normal;
  }
  &--green {
    background-color: $green-1;
    color: #ffffff;
    width: max-content;
  }
  &--red {
    background-color: $red-1;
    color: #ffffff;
    width: max-content;
  }
  &--paused {
    background-color: $orange;
    color: #ffffff;
    width: max-content;
  }
  &--dynamic {
    width: 100%;
    @include desktop-up {width: max-content};
  }
}

.btn-counter {
  display: grid;
  @include grid-middle;
  @include box(32px);

  border: 1px solid $gold;
  cursor: pointer;

  &:focus {
    outline: 1px solid transparent !important;
  }
  &:hover {
    background: $gold-3;
    border: 1px solid $gold-3;
  }

  &--increment, &--decrement {
    background: $gold;

    &:active {
      background: $gold-3;
      border: 1px solid $gold-3;
    }
  }
}
