footer {

    display: grid;
    grid-gap: 3rem;
    
    background-color: $black-1;

    padding: 0 1rem 3rem;
    text-align:center;

    @include desktop-up {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-template-rows: unset;

        text-align:left;
        padding: 3rem 2rem;
    }

    @include monitor-up {
        padding: 3rem 8.5rem;

    }
    a:hover {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }

    .copyrights {
        font-size: .875rem; //14px;
        @include desktop-up {
            grid-column: 1/4;
        }
    }
}

footer .text-besides-icon {
    justify-content: center;
}
  
@include desktop-up {
    footer .text-besides-icon {
        justify-content:left;
    }
}

.text-besides-icon {
    display: flex;
    align-items: baseline;
    
    p, h4{
        padding-left: 1rem;
    }
    @include desktop-up {
        justify-content:left;
    }
}

.icon-besides-text {
    display: flex;
    justify-content: center;
    align-items: center;
    
    p{
        padding-right: 1rem;
    }
}

.footer-social-account__wrapper {
    display: flex;
    justify-content: center;

    @include desktop-up {
        justify-content: flex-start;
    }
}

.footer-payment__wrapper {
    img {
        height: 15px;
    }
}