.modal__container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(17,17,17,0.8);

    h4{
        font-weight: 500;
    }
}

.modal__cart, .modal__filter {
    background-color: $black-1;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    min-height: 100%;

    @include desktop-up {
        width: 45%;
    }

    @include monitor-up {
        width: 35%;
    }

    .truck__wrapper {
        background-color: $grey-1;
        img {
            width: 20%
        }
    }
}
.modal__filter {
    left: 0;
}
.modal-stockists__wrapper {
@include desktop-up {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;

    }
}

.modal__content {
    background-color: $choco-1;
    position: absolute;
    padding: 1rem 2% 3rem;

    width: 90%;

    &--green {
        background-color: $green-1;
        padding: 1rem;

    }

    @include desktop-up {
        width: 500px;

        &.modal-w-30 {
            width: 30%;
        }

        &.modal-w-45 {
            width: 45%;
            padding: 2rem;
        }

        &.modal-w-75 {
            width: 75%;
        }
    }

    &-w100 {
        width: 100%;
    }

    &-50 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 95%;
        overflow: auto;
    }

    &-l-50 {
        top:0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    h4{
        text-transform: capitalize;
    }

    input, select, option {
        background-color: $white;
        color: $black-1;
    }

    input.input-black, select.input-black {

        background-color: $background-black;
        color: $white;

    }
    .confirm-change-layout__wrapper {
        display: grid;
        row-gap: 2rem;
        grid-column-gap: 1rem;

        @include desktop-up {
            grid-template-columns: 1fr 1fr;
        }
    }

    .confirm-frequency-change__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .reschedule-layout__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .modal-button__wrapper {
        display: grid;
        row-gap: 1rem;

        @include desktop-up {
            grid-template-columns: 1fr 1fr;
            column-gap: 5%;
        }
    }
}

.confirmation__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 5%;

    label {
        padding: 0;
        line-height: 150%;
        
    }

    @include desktop-up {
      column-gap: 3%;
    }

    a, a:hover {
      text-decoration: none;
      color: $white;
    }
  }

.regular-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid $gold;
    display: inline-block;
    position: relative;

    -webkit-appearance: none;
    background-color: transparent !important;

&:checked {
    border: 1px solid $gold;
    background-color: transparent !important;

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: $gold;
            content: '\2714';
            font-size: 10px;
        }
    }
}

.datetimepicker-input:disabled, #selectDeliveryTime:disabled #selectDeliveryTimePause:disabled {
    background-color: $black-4 !important;
    color: $white;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.order-sm-2-lg-1 {
    order: 2;

    @include desktop-up {
        order: 1;
    }
}
.order-sm-1-lg-2 {
    order: 1;

    @include desktop-up {
        order: 2;
    }
}