.mobile-nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-around;

  padding: 0 1rem;
  background-color: $black-1;
  &__left {
    img {
      width: 100px;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.5rem;
    justify-content: end;
    align-items: center;
  }
}

.cart-icon__wrapper {
  position: relative;

}
.cart-counter {
  width: 1.5rem;
  height: 1.5rem;

  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  background-color: #9F8561;
  border-radius: 50%;

  position: absolute;
  top: 0.5rem;
  left: 0.75rem;

  @include desktop-up {
    left: 1.75rem;

  }
}

@include desktop-up {
  nav {
    position: fixed;
    width: 100%;
    z-index: 1;

    height: 100%;
    min-height: $navbar-min-height;
  }

  .desktop-nav {
    position: relative;

    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
    padding: 0 10%;

    background-color: $black-1;

    &__left {
      img {
        width: 50%;
      }
    }

    &__center {

      a {
        text-decoration: none;
        :hover {
          color:$white;
        }
      }
    }

    &__right {
      a:nth-child(2) {
        padding-left: 1rem;
      }

      a:hover {
        color: $white;
      }
    }

    .nav-links {
      display: grid;
      grid-template-columns: repeat(4, 20%);
      justify-content: space-between;
      text-align: center;

      li {
        list-style: none;
        padding: 0.5rem 0;

        a:hover{
          color: $white;
        }
      }
    }

    .nav-links .drop-menu {
      position: absolute;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%);
      visibility: hidden;

      background-color: $black-1;
      padding: 0;
      width: 10rem;

    }

    .nav-links li:hover .drop-menu, .nav-links li:hover .mega-menu {
      opacity: 1;
      visibility: visible;

    }

    .drop-menu li a {
      width: 100%;
      display: block;
    }

    .mega-menu {
      width: 100%;
      max-width: 100vw;
      position: absolute;
      left: 0;

      box-sizing: border-box;
      opacity: 0;
      visibility: hidden;
    }

    .fancy-link {
      display: inline;

      text-decoration: none;
      background-image: linear-gradient(#9F8561, #9F8561);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 100% 2px;
    }

    .content {
      display: grid;
      grid-column-gap: 5%;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      background-color: $black-1;
      justify-content: space-between;
      padding: 2rem;

    }
  }
}

.mega-menu__mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 5%;
  align-items: flex-start;
}

.menu__link {
  display: grid;
  row-gap: 1.5rem;
}

.user-nav {
  position:fixed;
  bottom:0;
  z-index: 1;
  width: 100%;
  height: 6.5rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  overflow-x:auto;
  background-color: $choco-1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;

  .nav__link{

      text-decoration: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transition:background-color 0.1s ease-in-out;
      -webkit-tap-highlight-color: transparent;

      img {
          width: 40%;
      }

  }
  a:active {
      background-color: $gold;
  }
}
