.our-clients {
    &__icons {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-row-gap: 3rem;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        
        img {
            width: 80%;
        }

        @include desktop-up {
            grid-template-columns: repeat(6,1fr);
        }
    }
}