.product-card {
  display: grid;
  grid-row-gap: 0.5rem;

  // margin: auto;

  .product-image__wrapper {
    display: grid;
    align-content: center;

    min-height: 200px;

    img {
      width: 100%;
    }
    &--mobile {
      min-height: auto;
    }
  }

  .with-caption {
    display: grid;
    grid-template-columns: auto 150px;
  }

  .product-image__bg {
    background-image: url("../images/coffee-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  hr {
    grid-column: 1/4;
  }

  .product-pack {
    &__container {
      justify-content: stretch;
      min-height: 3rem;

      color: $white;
    }

    &__choose {
      display: flex;
      column-gap: 1rem;
      
      &.product-pack__choose--bundle {
        grid-template-columns: 100%;
      }

      label {
        display: grid;
        @include grid-middle;
        @include box(41px);
        padding: 1rem 0;
        margin: 0;
        border: 1px solid $black-3;

        text-align: center;

        cursor: pointer;
      }

      input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;

        &:checked + label {
          border-color: $white;
        }
      }
    }
  }

  .product-quantity__container {
    display: grid;

    color: $white;
    margin-bottom: 1rem;

    @include desktop-up {
      margin: auto;
      width: 100%;

      font-size: 14px;
    }
  }

  .product-title-and-subtitle {
    padding: 1rem 0;

    @include desktop-up {
      padding: 0 0 1rem 0;
      min-height: 5.5rem;
    }
  }

  .product-title-and-price {
    padding-top: 0.5rem;

    @include desktop-up {
      min-height: 90px;
    }
    
    &__title {
      min-height: 2.5rem;
      line-height: 1.3rem;

      text-transform: uppercase;
    }
    
    &--description {
      min-height: 80px;
      
      @include desktop-up {
        min-height: unset;
        margin-bottom: 1rem;
      }
    }
  }
}
