.registration {
    &__logo {
        margin-bottom: 3rem;

        img {
            width: 30%;
        }
    }

    &__wrapper {
        background-color: $choco-1;
        padding: 2rem 1rem;

        box-sizing: border-box;

        input {
            border: none;
        }

        .button {
            margin-bottom: 3rem;
        }
    }

    &__heading {
        margin-bottom: 3rem; 
    }   

    &__social-media {
        width: 80px;
        height: 80px;
        margin: auto;

        display: flex;
        justify-content: center;

        .social-media {
            display: flex;
            justify-content: inherit;
            align-items: center;

            border: 1px solid $white;
            padding: .5rem;

            & > .google {
                width: 45%;
            }
        }
    }

    &__background {
        background-image: var(--background-img);
        background-repeat: no-repeat;
    }

    @include desktop-up {
        &__logo {
            margin-bottom: 2rem;
    
            img {
                width: 7%;
            }
        }

        &__wrapper {
            position: relative;
            max-width: 500px;
            margin: auto;
            padding: 2rem;
        }

        &__social-media {
            grid-template-columns: repeat(2, 20%);
            
            .social-media {
                padding: 0.5rem 0;

                & > .google {
                    width: 30%;
                }
    
                & > .facebook {
                    width: 20%;
                }
            }
        }
    }
}

.password__container {
    display: grid;
    align-content: center;
    min-height: calc(100vh - 489px);
}

.lines-besides-title {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}
.lines {
    width: 100%;
    height: 1px;
    background: $white;
}
.eye {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
}

a.text-underline-gold{
    text-decoration: underline;
    color: $gold; 
}
  
  a:hover.text-underline-gold{
    color: $gold; 
}
