.testimonials__container {

    .testimonials__title {
    margin-bottom: 3rem;
    }

    .testimonials__content {
        position:relative;

        background-color: $black-3;
        width: 90%;
        min-height: 21rem;

        box-sizing: border-box;

        margin: 5rem 0.5rem !important;
        padding: 1rem;
        transition: .5s;

        @include desktop-up {
            width: 30%;
            min-height: 17.5rem;
            transform: scale(0.85);

        }

        @include monitor-up {
            transform: scale(1);
            background-color: $black-3;
            min-height: 14.5rem;
            margin: 5rem 1.5rem !important;
        }

        .client__profile {
            padding-bottom: 1.5rem;

            .client__image {
                position: absolute;
                top: -3.5rem;
                left: -0.5rem;

                img {
                    border-radius: 50%;
                    width: 55%;
                }
            }

            .client__short-bio {
                width: 55%;
                margin-left: auto;

                @include desktop-up {
                    width: 75%;
                }
            }

            .client__name {
                border-bottom: 1px solid $white;
            }
        }

        .client__testimonial {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-column-gap: .5rem;

            .quote__open, .quote__close {
                img {
                    width: 15px;
                    @include desktop-up {
                        width: 100%;
                    }
                }
            }
        }
    }

    .testimonials__next {
        display: grid;
        grid-template-columns: repeat(2,45%);
        justify-content: space-around;

        margin-bottom: 6rem;

        img{
            width: 30%;

            &:first-child {
                justify-self: flex-end;
            }

            @include desktop-up {
                width: 10%;

            }
        }
    }

    .slick-slide.slick-center {
        background-color: $gold;

        @include desktop-up {
            transform: scale(1.1);
        }
    }
}

.slick-dots li {
    margin: 0 !important;
}

.slick-dots li button:before {
    color: $white !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    font-size: 10px;
}