{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
{{ form.media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}">
  <style>
    .submit-row a.cancel_button {
      display: inline-table;
      background: #79aec8;
      border-radius: 4px;
      padding: 10px 15px;
      height: 15px;
      line-height: 15px;
      color: #fff;
    }
  </style>
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {{ title }}
        </div>
    {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="post" action="{% url 'reschedule-admin' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="module aligned ">
                {{ form }}
            </fieldset>
            <div class="submit-row">
                <a href="{% url 'admin:subscription_management_subscriptionprepaid_changelist' %}" class="cancel_button">Cancel</a>
                <input type="submit" value="Reschedule" class="default" name="_save">
            </div>
        </form>
    </div>
{% endblock %}
