.about-us {
    &__section-wrapper {
        position: relative;  
    }
    
    .description {
        position: absolute;
        background-color: rgba(0,0,0, 0.6);
        height: 100%;

        padding: 2rem;

        &__left, &__right {
            top: 0;

        }

        @include desktop-up {
            width: 40%;
            padding: 2rem;
            
            height: max-content;
            
            &__left {
                top: 2rem;
                left: 8.5rem; // big screen: 216px
                
            }

            &__right {
                top: 2rem;
                right: 8.5rem; // big screen: 216px

            }  
        }
    }
}