.blogs__wrapper {
    display: grid;
    row-gap: 2rem;

    @include desktop-up {
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }
}

.blogs-card__wrapper {
    display: grid;
    row-gap: 1rem;
  }

.blogs-card__title {
    font-weight: 500;
    @include desktop-up {
        min-height: 8rem;
    }

    @include monitor-up {
        min-height: 4rem;
    }
}

.blogs-card__category:hover {
    text-decoration: underline;
}

.blogs-sosmed-share__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;

    @include desktop-up {
        grid-template-columns: repeat(3, max-content);
    }
}

.blogs-detail-content__wrapper {
    display: grid;
    row-gap: 1rem;

    padding: 3rem 0 4rem;
  }

  .blogs-detail__button {
      @include desktop-up {
          width: 50%;
          margin: auto;
      }
      @include monitor-up {
        width: 35%;
      }
  }