.checkout{
    &__container {
        display: grid;
    }

    &__wrapper {
        order: 2;
    }

    &__title {
        padding: 3rem 0 2rem;        
    }

    &-steps__header {
        display: grid;
        grid-template-columns: min-content 1fr min-content 1fr min-content;
        column-gap: .5rem;

        padding-top: 1rem;
        padding-bottom: 3rem;

        hr {
            width: 100%;
            border: 1px solid $white;
        }
    }

    @include desktop-up {
        &__container {
            margin: 0 2rem;
        
            display: grid;
            grid-template-columns: 72% 25%;
            justify-content: space-between;
        }
        
        &__wrapper {
            order: 1;
        }

        &-steps__header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3%;

            padding-top: 1rem;
            padding-bottom: 0;
            border-bottom: 1px solid $white;
        }
    
        &__title {
            display: flex;
            justify-content: space-between;
            
        }
    }

    &-address__container {
        display: grid;

        .address__wrapper {
            display: grid;
            align-items: center;

            padding: 2rem 1rem;
            border: 1px solid $white;

        }
        .address-button {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2rem;
        }
    }
    &-address__wrapper {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        grid-auto-flow: column;
        grid-auto-columns: minmax(200px,1fr);
        overflow-x: auto;
        
        @include desktop-up {
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            grid-auto-columns: minmax(300px,1fr);
        }
    }
}

.order-summary__container {
    width: 100%;
    box-sizing: border-box;

    margin-left: auto;

    order: 1;

    @include desktop-up {
        order: 2;

    }
}
.order-summary__wrapper {
    background-color: $choco-1;
    padding: 1rem;

    @include desktop-up {
        height: 100%;
    }

}

.order-summary {
    &__header {
        @include desktop-up {
            padding-bottom: 0.5rem;
            align-items: center;

            p {
                font-size: 1rem;
            }
        }
    }

    &__header-mobile {
        display: grid;
        justify-items: center;
        row-gap: 1rem;
    }

    &__steps {
        width: 40px;
        height: 40px;
        
        line-height: 40px;
        font-size: 1.75rem;
        font-weight: 500;
        
        background-color: $gold;
        border-radius: 50%;

        @include desktop-up {
            width: 25px;
            height: 25px;
            
            line-height: 25px;
            font-size: 1rem;
        }
    }

    &__steps-mobile {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        line-height: 25px;
        font-size: .75rem;

        background-color: $gold;

        &:nth-child(2) {
            font-size: .75rem;
        }
    }
}

.steps-current {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        background-color: $white;
        bottom: -1px;
    }
  }

.steps-ghost {
    background-color: $grey-1;
}

.summary {
    &__voucher {
        border-bottom: 1px solid $white;
        padding: 1rem 0rem;
        border-top: 1px solid $white;
    }

    &__subtotal {
        padding: 1rem 0rem;

    }

    &__trust {
        grid-template-columns: repeat(3,30%);
    }
}

.grid-button__wrapper {
    display: grid;

    @include desktop-up {
        grid-template-columns: repeat(2, minmax(30%, 50%));
        grid-column-gap: 2rem;
        justify-content: space-between;
    }
}

.checkout-content__wrapper {
    padding: 2rem 1rem 0;

    input, select, option {
        background-color: $white;
        color: $black-1;
    }
}

.checkout-button__wrapper {
    display: grid;
    row-gap: 1rem;
    
    @include desktop-up {
        grid-template-columns: max-content max-content;
        column-gap: 3%;
    }
}

.shipping-type{
    &__container {
        display: grid;
        grid-row-gap: 1rem;

        @include desktop-up {
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            grid-column-gap: 2rem;
        }
    }
    
    &__wrapper {
        box-sizing:border-box;
        padding: 2rem 1rem;

        border: 1px solid $white;

        .custom-radio__wrapper {
            display: block;
            position: relative;

            cursor: pointer;
            
            padding-left: 3rem;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;

            height: 25px;
            width: 25px;
            border-radius: 50%;
            
            background-color:$background-black;
            border: 3px solid $gold;

        }

        input {
            position: absolute;
            cursor: pointer;

            opacity: 0;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
          
        .custom-radio__wrapper input:checked ~ .checkmark:after {
            display: block;
        }

        .custom-radio__wrapper .checkmark:after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            background: $gold;
        }
    }
}

.checkout-payment__wrapper {
    grid-template-columns: 30% 30% 30%;

    label {

        padding: 1.5rem 0;
        
        border: 1.5px solid $white;
        text-align: center;
    }

    input[type="radio"]{
        opacity:0;
        position: fixed;
        width:0;
    
        &:checked + label {
            box-shadow: 0px 0px 0px 3px $white;
        }
    }
}

.name__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: baseline;
}

.credit-card {
    @include desktop-up {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
}
.half-name__wrapper {
    grid-template-columns: repeat(2,45%);
    justify-content: space-between;

    @include desktop-up {
        grid-template-columns: repeat(2,21.5%);
        grid-column-gap: 2rem;
        justify-content: revert;

    }

    @include monitor-up {
        grid-template-columns: repeat(2, 22.5%);
    }
}

.shipping-subscribe__wrapper {
    grid-row-gap: 1rem;

    @include desktop-up {
        grid-template-columns: repeat(3, 30%);
    }

    .d-grid {
        grid-template-columns: 1fr 3fr;
        align-items: center;
        grid-gap: 1rem;
        
        border: 1px solid $white;
        padding: 1rem;
    }
}
.input-password-width{
    @include desktop-up {
        width: 30% !important;
        margin: 0 !important;
    }
}

  .js-accordion-title {
    display: block; /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8295099/ */
    pointer-events: none;
  }
  
  /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
  .js-accordion-panel[hidden] {
    display: none;
  }
  
  @media (min-width: 1024px) {
    .nav-multi-col {
      display: flex;
    }
  }
  
  @media (min-width: 1024px) {
    .nav-multi-col__column {
      flex: 1;
    }
  }
  
  .nav-multi-col__trigger {
    background: none;
    border: 0;
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
  
    cursor: pointer;
  }
  
  .nav-multi-col__trigger:focus-visible {
    outline: 1px solid transparent !important;
  }
  
  .nav-multi-col__heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-multi-col__heading::after {
    content: "";
    background: var(--accordion-image) no-repeat;
    background-size: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 10px;
  }

  .input-sm-2-lg-1 {
      @include desktop-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        align-items: baseline;
      }
  }