.collection__container {
    @include desktop-up {
        padding-top: 80px;

        display: grid;
        grid-template-columns: 20% 80%;
    }
}

// TODO: ganti dan akan pakai ke....
// .collection__left {
//     @include desktop-up {
//         position: -webkit-sticky;
//         position: sticky;
//         top: 0;
//     }
// }

.filter-featured__container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;

    margin: 0 1rem 3rem;

    @include desktop-up {
        grid-template-columns: 1fr 30%;
        align-items: baseline;

        margin: 0 0 1.5rem;
    }
    .text-besides-icon {
        justify-content: center;
    }

    .filter__container, .featured__container {
        border: 1px solid $white;
    }
}

.filter__wrapper {
    display: grid;
    grid-template-columns: 25px max-content;
    align-items: center;
    justify-content: center;
    column-gap: 3%;
  
    border: 1px solid #ffffff;
    padding: 0.5rem 0;
}
  
.collection-product {
    &__container {
        margin: 0 1rem 3rem;
        @include desktop-up {
            margin: 0 0 3rem;
        }
    }
    &__quantity {
        text-align: center;
        margin-bottom: 1em;

        @include desktop-up {
            text-align: left;
        }
    }

  &__wrapper {
    .product-card {
      margin-bottom: 3rem;
    }

        @include desktop-up {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 3%;
        }
    }
}
