.concentrate__wrapper {
  background: $black-1;

  .concentrate-banner__section {
    position: relative;
    z-index: 1;

    padding: 3.75rem 1rem;
    height: 550px;

    @include desktop-up {
      margin-top: 90px;
      padding: 3.75rem 2rem 3rem;
      height: 750px;
    }

    @include monitor-up {
      height: 875px;
    }

    @include desktop-up {
      .banner-content__wrapper {
        display: grid;
        height: 100%;
      }
    }

    .banner__caption {
      margin-bottom: 3rem;
    }

    .banner__cta {
      display: block;
      text-align: center;
      text-decoration: underline;
      font-size: 1.25rem;

      @include desktop-up {
        font-size: 1.5rem;
      }
    }
  }

  .video-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 100px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  .video-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }

  .video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .single-shot__section {
    padding: 6rem 1rem 3rem;
    margin-top: -70px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    min-height: 60vh;

    @include desktop-up {
      padding: 15% 2rem;
      margin-top: -100px;
    }

    .wave-single-shot {
      position: absolute;
      z-index: 1;
      bottom: 0;
    }
    
    .single-shot__caption {
      display: grid;
      row-gap: 1.25rem;
      z-index: 1;
      @include desktop-up {
        row-gap: 1.875rem;
      }
    }

    .single-shot__description {
      @include desktop-up {
        width: 75%;
        margin: auto;
      }
    }
  }

  .product__section {
    display: grid;
    background-color: #FEFBF1;
    padding: 3rem 5%;
  }

  .product__header {
    padding-bottom: 1rem;

    @include desktop-up {
      padding-bottom: 4.25rem;
    }
  }

  
  .product__wrapper {
    display: grid;
    // padding: 2rem 1rem 3rem;
    row-gap: 1.5rem;

    @include desktop-up {
      grid-template-columns: 1fr 1fr;
      column-gap: 5%;
    }

    .product__item {
      display: grid;
      align-content: space-between;

      border-radius: 20px;
      padding: 1rem 5%;

      @include desktop-up {
        border-radius: 40px;
        padding: 2.5rem 5%;
      }

      &--1 {
        background-color: #EFE4C8;
      }

      &--2 {
        background-color: #443D3A;
      }

      &--3 {
        background-color: #EFE4C8;

        img {
          width: 75%;
          margin: auto;
        }

        @include desktop-up {
          background-color: $white;

          img {
            width: 40%;
          }
        }
      }
    }

    .product__description {
      display: grid;
      align-items: center;
      row-gap: 1.5rem;
      align-items: end;

      text-align: center;

      @include desktop-up {
        grid-template-columns: .75fr .35fr;
        justify-content: space-between;
        column-gap: 5%;
        text-align: left;
      }

      .button {
        margin: 0 auto;

        @include desktop-up {
          width: 100%;
        }
      }
    }

    .promo-button {
      display: flex;
      align-items: center;
      background: #F1B940;
      border-radius: 8px;
      height: 40px;
      width: max-content;
      padding: 5px 3%;
      font-size: 0.9375rem;
    }
  }

  .client-review {
    &__image {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5%;
      row-gap: 1rem;
      justify-items: center;

      @include desktop-up {
        grid-template-columns: repeat(4, 1fr);
      }

      label {
        cursor: pointer;
        opacity: 0.2;
        text-align: center;
        transition: .1s;
        transition-delay: .2s;
      }
    }

    &__content {
      height: 160px;
      overflow: hidden;
      margin-bottom: 3rem;

      @include desktop-up {
        height: 120px;
      }
    }

    &__item {
      display: none;
    }

    &__section {
      position: relative;
      background: #FEFBF1;
      padding: 0 1rem 6rem;

      @include desktop-up {
        padding: 2rem 2rem 6rem;

        p {
          width: 75%;
          margin: auto;
        }
      }

      input[type= "radio"] {
        display: none;
      }

      #google-review:checked ~ .client-review__image .google-review,
      #bloomberg-review:checked ~ .client-review__image .bloomberg-review,
      #dbs-review:checked ~ .client-review__image .dbs-review,
      #f45-review:checked ~ .client-review__image .f45-review {
        opacity: 1;
      }

      #google-review:checked ~ .client-review__content .content-1,
      #bloomberg-review:checked ~ .client-review__content .content-2,
      #dbs-review:checked ~ .client-review__content .content-3,
      #f45-review:checked ~ .client-review__content .content-4 {
        display: block;
        animation: animation-two 1s;
        transition-delay: .2s;
      }

      @keyframes animation-two {
        0% {
          margin-top: 160px;
        }
        100% {
          margin-top: 0;
        }
      }

      @include desktop-up {
        @keyframes animation-two {
          0% {
            margin-top: 120px;
          }
          100% {
            margin-top: 0;
          }
        }
      }
    }

    &__quote {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .blog-snippet__wrapper{
    background: #EFE4C8;
    padding: 3rem 1rem 3rem;

    @include desktop-up {
      padding: 3rem 5% 6rem;
    }
  }

  .blog-snippet__caption {
    margin-bottom: 60px;

    @include desktop-up {
      padding: 3rem 2rem 0;
    }
  }

  .blog-snippet-item__wrapper {

    .slick-slide {
      margin: 0 0.5rem !important;
    }

    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: $black-1 !important;
    }

    .slick-dots li button:before {
      color: $black-1 !important;
    }

    .blog-snippet__item {
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        opacity: 0;
        transition: .5s ease;
      }

      &:hover .overlay {
        opacity: 1;
      }
    }
  }

  .text {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .offers {
    &__container {
      position: relative;

      .wave-recipe {
        position: absolute;
        z-index: 1;
      }
      .wave-newsletter {
        position: absolute;
        z-index: 1;
        bottom: 0;
      }
    }

    &__section {
      padding: 4.75rem 1rem 5.625rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image) no-repeat;
      background-position: center;
      background-size: cover;

      @include desktop-up {
        padding: 15% 2rem 20%;
      }
    }

    &__wrapper {
      display: grid;
      row-gap: 2.5rem;

      .button {
        width: 100%;
      }
    }

    &__caption {
      display: grid;
      row-gap: 2.5rem;
    }

    &__header {
      margin-bottom: 1rem;

      @include desktop-up {
        width: 75%;
        margin: auto;
      }
    }
  }

  .subscribe__section {
    display: grid;
  }

  .subscribe__wrapper {
    background: #212121;
    padding: 6.25rem 1rem;

    .button {
      margin: auto;
    }

    @include desktop-up {
      padding: 0 2rem 6.25rem;
    }
  }

  .copyrights {
    background: $black-1;
    color: $white;
    text-align: center;
    padding: 2rem 1rem;

    @include desktop-up {
      padding: 2rem;
    }
  }

  .text-center {
    text-align: center;
  }

  .text {
    &--white {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  .product-price {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 57px;
  }

  .animated-text {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 150%;

    @include desktop-up {
      font-size: 2.375rem;
    }
  }

  .heading-1 {
    color: $black-1;
    font-size: 3rem; // 48px
    font-weight: 700;
    line-height: 57px;

    @include desktop-up {
      font-size: 3.75rem; // 150px
      line-height: 120%;
    }
  }

  .heading-2 {
    font-size: 1.75rem; // 28px
    line-height: 33px;
    font-weight: 800;

    @include desktop-up {
      font-size: 3rem; // 70px
      line-height: 82px;
    }
  }

  .heading-3 {
    font-size: 1.5rem; // 24px
    line-height: 28px;
    font-weight: 600;

    @include desktop-up {
      font-size: 1.75rem; // 28px
      line-height: 59px;
    }

  }

  .heading-4 {
    font-size: 1.75rem; // 28px
    line-height: 33px;
    font-weight: 500;

    @include desktop-up {
      font-size: 2.5rem; // 40px
      line-height: 47px;
    }
  }

  .heading-5 {
    font-size: 1.5rem; // 24px
    line-height: 28px;
    font-weight: 500;

    @include desktop-up {
      font-size: 2.5rem; // 40px
      line-height: 47px;
    }
  }

  .heading-6 {
    font-size: 1.25rem; // 20px
    line-height: 23px;
    font-weight: 500;

    @include desktop-up {
      font-size: 2.5rem; // 40px
      line-height: 47px;
    }
  }

  .title-1 {
    font-size: 3rem; // 48px
    line-height: 56px;

    @include desktop-up {
      font-size: 5.3125rem; // 85px
      line-height: 100px;
    }
  }

  .title-2 {
    font-size: 1.75rem; // 28px
    line-height: 28px;
    font-weight: 600;

    @include desktop-up {
      font-size: 3.125rem; // 50px
      line-height: 59px;
    }
  }

  .title-3 {
    font-size: 2.5rem; // 48px
    line-height: 47px;

    @include desktop-up {
      font-size: 2.5rem; // 40px
      line-height: 47px;
    }
  }

  .title-4 {
    font-size: 2.5rem; // 40px
    line-height: 47px;
    font-weight: 600;
  }

  .title-5 {
    font-size: 1.5rem; // 24px
    line-height: 28px;
    font-weight: 600;
  }

  .title-6 {
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 600;
  }

  .body-1 {
    font-size: 1rem; // 16px
    line-height: 150%;

    @include desktop-up {
      font-size: 1.5rem; // 24px
      line-height: 36px;
    }
  }

  .body-2 {
    font-size: 1.25rem; // 20px
    line-height: 23px;
  }

  .body-3 {
    font-size: 1rem;
    line-height: 19px;
  }

  .text-bold {
    font-weight: 700;

    @include desktop-up {
      font-weight: 600;
    }
  }

  p {
    color: $black-1;
  }

  .text-yellow {
    color: #F1B940;
  }

  .text-shadow {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 3px solid $white;
    border-radius: 31px;
    padding: 12px 24px;
    width: max-content;
    color: $white;
    text-decoration: none !important;
    font-weight: 700;

    cursor: pointer;

    &--medium {
      height: 64px;
      border-radius: 30px;
    }

    &--small {
      height: 50px;
      border-radius: 30px;
    }

    &--yellow {
      border: 3px solid #F1B940;
      color: #FFFFFF;
      font-weight: 700;
    }

    &--primary {

      border: 3px solid #F1B940;
      background: #F1B940;
      color: $black-1;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        color: $black-1;
      }
    }

    &--secondary {

      border: 3px solid #F1B940;
      color: #F1B940;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        color: #F1B940;
      }
    }

    &--black {
      background: transparent;
      border: 3px solid #000000;
      color: #000000;
      min-width: 120px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        color: #000000;
      }
    }

    &--white {

      border: 3px solid $white;
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .button--dynamic {
      width: 100%;

      @include desktop-up {
        width: max-content;
      }
    }
  }

  .send-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}
