.announcement {
  padding: 1rem;
  background: $white;
  color: $black-1;
  text-align: center;

  @include desktop-up {
    padding: 1rem 2rem;
  }

  a {
    color: $black-1;
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.hero__wrapper {
  .slick-slide {
    margin: 0 0.5rem !important;
  }
}
.home {

  &__hero-section {
    position: relative;
    height: 550px !important;

    .description__home-title {
      position: absolute;
      top: 15%;
      right: 0;
      
      padding-right: 5%;

      p {
        font-weight: 500;
      }

      .button {
        width: 50%;
        margin-left: auto;
        color: $white;
      }

      @include desktop-up {
        top: 50%;
        transform: translateY(-50%);
        
        padding-right: 8.5rem;
      }
    }

    .bg-image {
      background-repeat: no-repeat;

      height: 100%;
    }
  }
  
}

.background-overlay__container {
  position: relative;

  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  padding: 1rem;

  @include desktop-up {
    padding: 2rem;
  }

  .description {
    box-sizing: border-box;

    &__center {
      border: 3px solid $gold;
      height: 100%;
      padding: 1rem;

      @include desktop-up {
        padding: 3rem;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.best-sellers__container {
  display: grid;
  grid-template-columns: repeat(4, 70%);
  column-gap: 1rem;
  justify-content: space-between;

  overflow-y: auto;

  @include desktop-up {
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: 1.25rem;
    overflow-y: initial;
  }
}

.mix-pack {

  &__home-container {
    box-sizing: border-box;

    @include desktop-up {
      align-items: flex-start;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      column-gap: 5%;
    }

    .button {
      width: 50%;
    }
  }

  &__home-image {

    @include desktop-up {

      height: 70%;
      overflow: hidden;
    }
  }
}

.button-group {
  display: grid;
  row-gap: 1rem;

  @include desktop-up {
    grid-template-columns: repeat(2, 25%);
    justify-content: center;
    column-gap: 2rem;
  }
}

.search-icon__wrapper {
  border: 1px solid $white;
  background-color: transparent;
}

.cart-input__wrapper {
  display: grid;
  grid-template-columns: 1fr 15%;

  
  img {
      width: 50%;
  }
  
  .select-time-date__wrapper {
      border: 1px solid $white;
      background-color: $grey-1;
      height: 50px;
      padding: 10px 0;
  } 

  select {
    height: 50px;
  }
}

.tnc__wrapper {
  display: grid;
  row-gap: 2rem;
}

.tnc-title__wrapper {
  display: grid;
  row-gap: 1rem;
}

.ordered-list__title {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
}

.ordered-list__subtitle {
  display: grid;
  grid-template-columns: 10% 1fr;
  column-gap: 0.5rem;

  @include desktop-up {
    grid-template-columns: 3% 1fr;
  }
}

.faq__wrapper {
  margin-bottom: 3rem;
}

.search__wrapper {
  height: 200px;

  @include desktop-up {
    height: 50vh;
  }
}

.search__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
}

a.button--primary:hover {
  color: $white;
}