.payment-status {

    &__wrapper {
        height:75vh;

        width: 80%;

        a:hover {
            color: $white;
        }
        
        @include desktop-up {
            width: 35%;
        }

        @include monitor-up {
            width: 25%;
        }
    }
}