.product-detail {
  &__container {
    @include desktop-up {
      display: grid;
      grid-template-columns: 60% 40%;

      margin: 0 3rem;
    }
    @include monitor-up {
      margin: 0 8.5rem;
    }
  }

  &__carousel {
    img {
      width: 100%;
      margin-right: 1rem;
    }

    margin-bottom: 6rem;
  }

  &__left {
    @include desktop-up {
      display: grid;
      grid-template-columns: auto 2fr;
      grid-column-gap: 2rem;

      height: max-content;

      position: sticky;
      top: 0;
    }
  }

  &__name-price {
    text-align: center;

    @include desktop-up {
      text-align: left;

    }
  }

  &__description {

    @include desktop-up {
      margin: 0 0 3rem;
    }
  }

  &__choose-quantity--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 1rem;

    label {
      display: grid;
      grid-row-gap: 3rem;

      padding: 2rem 0;

      border: 1.5px solid $white;
    }

    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;

      &:checked + label {
        box-shadow: 0px 0px 0px 3px $white;
      }
    }
  }

  &__benefits--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 0 0 3rem;

    .benefits__wrapper {
      display: grid;
      grid-template-rows: 2fr 1.5fr;
      justify-items: center;

      box-shadow: 0px 0px 0px 1px $white;

      img {
        width: 70%;
      }

      .image-border {
        box-shadow: 0px 0px 0px 1px $white;

      }
    }
  }

  &__additional-product {
    display: grid;
    grid-template-columns: repeat(4, 70%);
    overflow-y: auto;
    grid-column-gap: 1rem;

    @include desktop-up {
      grid-template-columns: repeat(4, 22%);
      justify-content: space-between;
      grid-column-gap: 1rem;
    }
  }

  &__share {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    justify-items: center;
  }
}

.product-description__wrapper p span{
  color: $white !important;
}

.gallery-cell {
  box-sizing: border-box;
  margin-right: 10px;
}

@include desktop-up {

  .thumbnail-small__wrapper {
    
    display: grid;
    align-content: start;
    row-gap: 1rem;

    width: 3.85rem;

    label {
      position: relative;
      padding: 0;
    }

    input {
      position: absolute;
      opacity: 0;
      &:checked + img {
        outline: 3px solid #ffffff;
      }
    }
  }

  .thumbnail-big__wrapper {
    margin-right: 2rem;
  }
}

@include monitor-up {
  .thumbnail-small__wrapper {
    width: 5rem;
  }
}