.refer-a-friend__wrapper {
  margin: 0 -5%;
  padding: 50px 5%;

  @include desktop-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    align-content: center;

    background-image: var(--background-image);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 640px;
  }
}

.refer-a-friend__content {
  display: grid;
  row-gap: 1rem;
}

.referral-steps__wrapper {
  display: grid;
  row-gap: 2rem;

  p {
    text-align: center;
  }

  @include desktop-up {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    align-items: flex-start;
  }
}
.referral-content__wrapper {
  display: grid;
  row-gap: 1rem;
}

.referral-number {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: auto;

  border: 1px solid $white;
  font-size: 2rem;
}

.referral-steps__wrapper, .referral-tnc__wrapper {
  margin-bottom: 4rem;
}

.referral-button {
  @include desktop-up {
    width: 50%;    
  }
}