.stockists {
    &-search__wrapper {
        input { margin-bottom: 1rem; }

        .button {
            width: 100%;
            margin: auto;
        }

        @include desktop-up {
            display: flex;

            input { margin: 0;}

            .button {
                width: revert ;
                margin: auto;
            }
        }
    }

    &__wrapper {
        display: grid;
        row-gap: 1rem;

        @include desktop-up {
            grid-template-columns: 1fr 2fr;
            justify-content: space-between;            
        }
    }

    &__map {
        order: 1;

        width: 100%;
        height: 500px;

        @include desktop-up {
            order: 2;
            
            height: 100%;
        }
    }

    &-list__wrapper { 
        order: 2;
        display: grid;
        row-gap: 1rem;

        @include desktop-up {
            order: 1;

            max-height: 38.5vw;
            overflow-y: scroll;
        }

        @include monitor-up {
            max-height: 42.5vw;
            overflow-y: scroll;
        }
    }

    &-card {
        border: 1px solid $white;

        padding: 2rem;
        margin-bottom: 1rem;
    }
}