.subscribe-benefits__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-evenly;
    justify-items: center;
    grid-row-gap: 1.5rem;

    @include desktop-up {
        grid-template-columns: repeat(4,20%);
    }
}

.subscribe-advantage__wrapper {
    justify-items: center;
    grid-row-gap: 1rem;

    @include desktop-up {
        grid-template-columns: repeat(3,30%);
    }
}

.subscribe-icons {
    display: grid;
    justify-items: center;
    row-gap: 1rem;

    background-color: $black-1;
    padding: 1rem;
    
    width: 100%;

    img {
        width: 50%;
    }

    @include desktop-up {
        column-gap: 1rem;
        

        img {
            width: 30%;
        }
    }
}
    
.subscribe-type__wrapper {
    position: relative;
    
    margin-bottom: 6rem;

    .description {
        position: absolute;
        
        width: 80%;
        background-color: rgba(69, 69, 69, 0.5);

        @include monitor-up {
            width: 55%;
        }

        a:hover {
            text-decoration: none;
            color: $white;

        }

        &__prepaid, &__pay-as-you-go {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: 1rem;
        }
        @include desktop-up {
            &__prepaid {
                text-align: left;
            } 
        }

        @include desktop-up {
            &__pay-as-you-go {
                text-align: right;
            } 
        }
    }
}

.subscribe-type__container {
    @include desktop-up {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        justify-content: space-between;
    }
}
.button-view-plans {
    @include desktop-up {
        width: 50%;
    
        &--left {
            margin: 0 auto 0 0;
        }
    
        &--right {
            margin: 0 0 0 auto;
        }
    }
}
.subscription-perks {
    &__wrapper{
        display: grid;
        row-gap: 1.5rem;

        @include desktop-up {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 5%;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: .75fr 1fr;
        column-gap: 5%;

        img {
            width: 100%;
        }

        @include desktop-up {
            grid-template-columns: 1fr;
            row-gap: 1rem;
            justify-items: center;
            align-content: baseline;

            p{
                text-align: center;
            }

            img {
                width: 75%;
                margin: auto;
            }
        }
    }
}

.fb-banner__wrapper {
    padding: 1rem;

    @include desktop-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 8.5rem;
    }
}

.fb-banner__caption {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;

    .button {
        margin: auto;
    }

    @include desktop-up {
        text-align: left;
        justify-content: center;

        .button {
            margin: 0;
        }
    }
}

.fb-banner__header{
    display: grid;
    row-gap: .5rem;

    .button {
        margin: auto;
    }
    @include desktop-up {
        margin-bottom: 2rem;

        .button {
            margin: 0;
        }
    }
}

.our-beverages__wrapper {
    .slick-slide{
        margin: 0 20px;
    }

    img {
        margin-bottom: 1rem;
    }
    .slick-prev::before, .slick-next::before{
        content: none;
    }
    .slick-prev{
        width: 40px;
        height: 40px;
        left: 0;
        z-index: 1;
    }
    .slick-next{
        width: 40px;
        height: 40px;
        right: 0;
        z-index: 1;
    }
}