.title-number{
    border-bottom: 2px solid $white;
    width: 15%;

    margin: 0 auto 3rem;
    @include desktop-up {
        width: 5%;
    }
}

.subscription {
  &--container {
    padding: 0 1rem;

    @include desktop-up {
      padding: 0 4rem;
    }

    p.mb-5 {
      margin-left: 2rem;
    }
  }

  &--description {
    margin: 1rem auto;

    @include desktop-up {
      max-width: 700px;
    }
  }
}

.choose-product {
  &__container {
    @include desktop-up {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
    }
  }

  &__wrapper {
    position: relative;
    margin-bottom: 3rem;

    img {
      max-height: 150px;
      max-width: 100%;
      text-align: center;
    }
  }
}

.choose {
    input[type="radio"]{
        opacity:0;
    }
    label {
      cursor: pointer;
    }

    label .radio-heading, label img {
      opacity: 0.5;

        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
    }

    input[type="radio"]:checked + label img,
    input[type="radio"]:checked + label .radio-heading{
        opacity: 1;
    }

    input[type=radio]:checked + label {
        border: 1px solid $white;
    }

    &-frequency__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;

        .frequency__title {
            grid-column: 1/3;
        }

        @include desktop-up {
            justify-content: space-between;
            grid-template-columns: repeat(4, 25%);

            h4 {
                grid-column: 1/4
            }

            .frequency__title {
                grid-column: 1/5;
            }
        }
    }

    &-frequency__wrapper {
        justify-content: space-between;
        grid-template-columns: repeat(2, 45%);

        img {
            width: 100%;
        }

        @media (min-width: 1024px) {
            img {
                width: 75%;
            }
        }
    }

    &-day__wrapper {
        height: 70%;

        input {
            opacity: 0;
        }

        label {
            height: 100%;
        }
    }

    &-time__wrapper {
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 5%;
    }
}

.product-type {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;

    margin: 3rem 0;
}

.button-cart__container {
  display: grid;
  grid-template-columns: 32px auto 32px;
  align-items: center;
  width: 100%;
}

.customize-pack {

    &__wrapper{
        display: grid;
        grid-template-columns: 70% 30%;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        padding: 3rem 0;

        @include desktop-up {
            padding: 0;


        }
    }

    &__radio {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
    }
}

.product-final-price {
    display: grid;
    grid-template-rows: 1.5rem auto auto;
    padding: $choose-coffee-summary-padding;

    border: 1px solid $white;
}

.choose-coffee__summary-dot {
  display: flex;
  align-items: center;

  font-size: 0.5rem;
}

.show-pack__wrapper {
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-between;
    align-items: center;
    grid-row-gap: 2rem;

    img {
        @include desktop-up {
            width: 100%;
        }
    }
}

.choose-pack__container {
  @include desktop-up {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5%;

    align-items: start;

    padding: 2rem 0;
  }
}

.choose-pack__wrapper {
  .product-card__container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;

    @include desktop-up {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 5%;
    }
  }
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 0;
  background: $gold;

  &__wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 3%;

    margin-bottom: 2rem;
  }

  &__item {
    position: relative;
    height: 20px;
    width: 100%;
    background: $grey-1;
  }
}

.subscription-day__container, .subscription-time__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;

    padding-top: 3rem;

    & > p {
        grid-column: 1/3;
    }

    .custom-calendar {
        position: relative;
        top: -4.5rem;
    }
}

.subscription-day__container {
    @include desktop-up {
        grid-template-columns: repeat(3, 25%);
        justify-content: space-between;

        & > p {
            grid-column: 1/4;
        }

        .custom-calendar {
            position: relative;
            top: -5rem;
        }
    }

    @include monitor-up {
        grid-template-columns: repeat(3, 15%);
        justify-content: center;
    }
}

.subscription-time__container {
    @include desktop-up {
        grid-template-columns: repeat(3, 15%);
        justify-content: center;

        & > p {
            grid-column: 1/4;
        }
    }
}
.upselling__container {
    display: grid;
    grid-row-gap: 2rem;

    @include desktop-up {
        grid-template-columns: repeat(3, 25%);
        justify-content: space-around;
    }
}

.fieldset-custom__wrapper {
    position: relative;
    border: 1px solid #fff;
    padding: 2rem 1rem;

    @include desktop-up {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;

        h3 {
            font-size: 1.25rem;
        }
    }
}

.fieldset-custom__content {
    position: absolute;
    top: 0;
    background-color: #111;
    margin: -0.875rem 0 0;

    line-height: 1;

    white-space: nowrap;
}

.most-popular {
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}

.biggest-savings {
    right: 1.75rem;
    @include monitor-up {
        right: 3.5rem;
    }
}
// This is the start of user-page subscription
.st-header__wrapper {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 1rem;
    row-gap: 0.5rem;
    align-items: center;

    padding: 1rem;

    background-color: $black-1;

    label {
        padding: 0;
    }

    @include desktop-up {
        align-items: center;
        grid-template-columns: 80% 20%;
        grid-column-gap: 0;

        padding: 1rem 2rem;
    }
}

.st-content__wrapper {
    display: grid;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;

    background-color: $choco-1;
    padding: 1rem;

    @include desktop-up {
        grid-template-columns: 30% 30%;
        grid-column-gap: 6rem;

        padding: 1rem 2rem;
    }
}
.st-detail-content__container {
    background-color: $choco-1;
    padding: 1rem;

    @include desktop-up {
        padding: 0 2rem 1rem;
    }
}
.st-detail-content__wrapper {
    display: grid;
    row-gap: 1rem;
    align-items: center;
}

.st-detail-content__item {
    display: grid;
    grid-template-columns: .5fr 1fr;
    row-gap: 1rem;
    column-gap: 5%;
    align-items: center;

    @include desktop-up {
        grid-template-columns: 70px 1fr;
        column-gap: 3%;
    }
}

.st-description {
    grid-column: 1/3;
}

.st-image-name {
    @include desktop-up {
        grid-template-columns: 10% auto;
        grid-template-rows: unset;
        grid-column-gap: 1rem;
        align-items: center;
    }
}
.subscription-order-quantity {
   & > p {
       margin-left: 1rem;
   }
}
.edit-product-subs__container {

    @include desktop-up {
        display: grid;
        grid-template-columns: 65% 32%;
        justify-content: space-between;
        align-items: start;

        .product-card__container {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            justify-content: space-between;
        }
    }

    .text-besides-icon {
        grid-column: 1/3;

        margin-bottom: 3rem;
    }
}

.cancel__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    label {
        display: flex;
        align-items: center;

        box-sizing: border-box;
        padding: 1rem;
        margin: revert;

        border: 1.5px solid $white;
        text-align: left;
        line-height: initial;

    }

    input[type="radio"]{
        opacity:0;
        position: fixed;
        width:0;

        &:checked + label {
            box-shadow: 0px 0px 0px 2px $white;
        }
    }
}

.prepaid__container {
    display:grid;
    justify-content: space-between;

    @include desktop-up {
        grid-template-columns: 22% auto;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }
}

.prepaid__wrapper {
    box-sizing: border-box;
    margin-bottom: 2rem;

    @include desktop-up {
        margin-bottom: 0;
    }

    label {
        display: grid;

        border: 1.5px solid $white;
        box-sizing: border-box;

        @include monitor-up {
            .button {
                width: 70%;
                margin: auto;
            }
        }
    }

    input[type="radio"]{
        position: fixed;
        width:0;

        &:checked + label {
            box-shadow: 0px 0px 0px 3px $white;
        }
    }


    .label-default {
        text-decoration: line-through ;
        color: $grey-1;
    }

    h1 {
        font-weight: 600;
    }

    .prepaid__content {
        position:relative;
        overflow:hidden;

        padding: 2rem 1rem;
    }

      .prepaid__discount {
        width:100%;
        padding: 0.5rem 0;
        background-color: $blue-1;

        transform: rotate(-45deg);

        position: absolute;
        top: 0.5rem;
        left: -7.5rem;

        @include desktop-up {
            top: 0.5rem;
            left: -4.5rem;
        }

        @include monitor-up {
            top: 0.5rem;
            left: -6.5rem;
        }
    }
}

.edit-address__wrapper {
    display: grid;
    grid-row-gap: 1rem;

    @include desktop-up {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    @include monitor-up {
        column-gap: 3rem;
        row-gap: 3rem;
    }
    .address__wrapper {
        display: grid;
        align-items: center;

        padding: 2rem 1rem;
        border: 1px solid $white;

    }
    .address-button {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
}
