.transaction-history__container {
    display: grid;

    @include desktop-up {
        grid-template-columns: 70% 28%;
        justify-content: space-between;

        box-sizing: border-box;
        margin: auto;

        width: 100%;
        min-height: 100vh;

        .dashboard__title {
            margin-bottom: 3rem;
        }
    }
}
.transaction-history__body {
    order: 2;

    @include desktop-up {
        order: 1;
    }
}
.transaction-history__wrapper {
    margin-bottom: 3rem;
    overflow-x:scroll;

    @include desktop-up {
        overflow-x: hidden;
    }

    label {
        position: relative;
    }

    input[type="radio"]{
        position: absolute;
        opacity: 0;
    }

    input[type="radio"]:checked + label p {
        background: $choco-1;
    }

    .long-font__item {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }
}

.transaction-history__content {
    display:grid;
    grid-template-columns: repeat(5, 30%);
    padding: 0;

    P {
        padding: 1rem 5%;
        border-bottom: 1px solid $white;
    }

    @include desktop-up {
        grid-template-columns: repeat(5, 1fr);
    }
}

.transaction-history__pagination {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    align-items: center;

    .pagination-number {
        display: flex;
        justify-content: center;

        p {
            padding: 0.5rem 1rem;
       }

       p:active {
            background-color: $gold;
       }
    }
}

.transaction-history__item-detail {
    background-color: $choco-1;
    box-sizing: border-box;

    padding: 1rem;

    @include desktop-up {
        order:2;
    }
}

.history-time-and-date {
    margin-bottom: 3rem;
}

.history-subscription-detail__wrapper {
    .item-list {
        display: grid;
        grid-template-columns: 5% auto;
        grid-column-gap: 0.5rem;

        margin-bottom: 0.5rem;
    }
}

.product-summary__wrapper {
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 1rem;

    margin-bottom: 2rem;

    .product-summary__image {
        img {
            width: 100%;
        }
    }
    .product-summary__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product-summary__description > .label-default:first-child {
        margin-bottom: 0.5rem;
    }

    .product-summary__qty-and-price {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
    }
}

.transaction-calendar-and-search__wrapper {
    // background-color: $choco-1;
    box-sizing: border-box;

    order: 1;

    @include desktop-up {
        order: 2;
    }
}


.history-search__wrapper {
    display: grid;
    grid-template-columns: 1fr 15%;

    img {
        width: 50%;
    }

    input {
        margin: 0;
    }
}

.history-filter__wrapper {
    background-color: $choco-1;

    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem
}

.history-filter__container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;

    min-height: 100vh;

    p{
        grid-column:1/3
    }

    @include desktop-up {
        display: block;
    }
}

#datetimepicker13 .datepicker {
    background-color: $background-black;
    color: $grey-1 ;
    border: 1px solid $white;
    padding: 1rem;

    @include desktop-up {
        padding: 0;
    }

    @include monitor-up {
        padding: 1rem;
    }

    .today {
        background: $gold;
        border-radius: 0;
        color: $white;

        &::before {
            display: none !important;
        }
    }

    .table {
        color: $grey-1;

        thead th {
            border-bottom: none;
        }

        thead tr:first-child th {
            padding-bottom: .5rem;
            padding-bottom: .5rem;
        }

        td, th {
            border-top: none;
        }
        td.day:hover:not(.today) {
            background: transparent !important;
            cursor: pointer;
        }
    }

    table {
        thead tr:first-child {
            th:hover {
                background: $choco-1 !important;
                border-radius: none;
            }

            th:first-child span::after {
                content: "<";
              }

            th:nth-child(3) span::after {
                content: ">";
            }
        }

        thead tr:nth-child(2) th {
            padding-top: 1rem;
        }

        td span:hover {
            background: $choco-1 !important;
            border-radius: none;
        }

        th, td.day {
            height: 30px;
            line-height: 30px;
            width: 30px;
        }
    }
}


table td.day {
    padding: 5px;
}
