.user-dashboard {
    min-height: 100vh;
    &__container {
        margin-top: 3rem;
    }
    @include desktop-up {
        &__container {
            display: grid;
            grid-template-columns: 20% 1fr;

            grid-column-gap: 1rem;
            margin: 3rem 2rem 0;
        }
    }

    &__left {
        min-height: 100vh;
 
        .consumer-header {

            &__wrapper {

                .consumer-email{
                    background-color: $gold;
                    color: $white;
    
                    padding: 1rem;
                    margin-bottom: 3rem;

                    word-break: break-word;

                    @include desktop-up {
                        font-size: 0.875rem;
                    }

                    @include monitor-up {
                        font-size: initial;
                    }
                }

            }

            &__nickname, .edit-profile__nickname {
                width: 100px;
                height: 100px;
                
                margin: 0 auto 1rem;

                line-height: 100px;

                background-color: $green-1;
                border-radius: 50%;

            }
        }

        .consumer-sidenav__wrapper {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 1rem;

            padding: 0 1rem;
        }
    }

    &__right {
        margin: 0 1rem;

        @include desktop-up {
            margin:0;
        }
    }
}
.my-account__item {
    display: grid;
    grid-template-columns: 48px 1fr max-content;
    column-gap: 5%;
    align-items: flex-start;

    background: $black-1;
    padding: 1rem 5%;

    @include desktop-up {
        column-gap: 3%;
        padding: 1rem 3%;
    }
}