{% load static %}
{% load custom_tags %}

{% comment %} Pop Up Cart {% endcomment %}
<div class="modal__container none" id="cart">
    {% csrf_token %}
    <div class="modal__cart px-3 py-3">
        <div class="text-end mb-2 d-flex align-center justify-content-between cursor-pointer">
            <h2>CART</h2>
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" class="button-close cursor-pointer" onclick="showCart('close')"/>
        </div>
        <hr>
        <br>
        <div class="cart-empty__wrapper text-center font-primary">
            <h5 class="mb-5">Your Bootstrap Cart is empty</h5>
            <img src="{% static 'images/boot/icons/cart-icon.svg' %}" alt="cart-icon" class="w-25 mb-5"/>
            <p>Return to the store to add items for your delivery slot.</p>
        </div>
        <div class="cart-filled__wrapper none">
            <div class="d-flex flex-column mb-2 py-3 truck__wrapper">
                <div class="text-center"><img src="{% static 'images/boot/icons/delivery-truck.svg' %}" alt="delivery-truck" class="mb-2"/></div>
                <div class="text-center">Pick a delivery date</div>
            </div>
            <p>Please choose a date and time for your delivery</p>
            <br>
            <div class="mb-4">
                <div class="cart-input__wrapper position-relative">
                    <input type="text" placeholder="Choose a date" autocomplete="off" class="datetimepicker-input date-delivery" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5"/>
                    <button class="select-time-date__wrapper">
                        <img src="{% static 'images/boot/icons/calendar-black.svg' %}" alt="calendar-black" class="h-100"/>
                    </button>
                </div>
                <br/>
                <div class="cart-input__wrapper position-relative">
                    <select id="selectDeliveryTime">
                    </select>
                    <button class="select-time-date__wrapper">
                        <img src="{% static 'images/boot/icons/clock-black.svg' %}" alt="clock-black" class="h-100"/>
                    </button>
                </div>
            </div>
            <hr class="mb-4">
            <div id="bodyCart"></div>
            <hr class="mb-4">
            <div class="d-flex justify-content-between mb-4">
                <p>SUBTOTAL</p>
                <p id="subTotal" class="text-bold">0</p>
            </div>
            <p class="text-center mb-4">Shipping, taxes, and discount code are calculated at checkout</p>
            {% block formactions %}
{#                <div class="button button--primary"> Continue to Checkout</div>#}
                <a
                  href="javascript:"
                  class="button button--primary mb-5" id="proceedCart">CONTINUE TO CHECKOUT
                </a>
            {% endblock formactions %}

        </div>
    </div>
</div>

<div class="modal__container none" id="successAddToCart">
    <div class="modal__content modal__content--green modal__content-50 modal-w-30">
        <div class="text-center mb-4">
            <img src="{% static 'images/boot/icons/round-check.svg' %}" alt="round-success"/>
        </div>
        <h4 class="text-center mb-4" id="successText">ITEM ADDED!</h4>
    </div>
</div>

{% block extra_js %}
<script>
    let closeModalCart = document.getElementById('cart');
    window.onclick = function(event) {
        if (event.target === closeModalCart) {
            $(closeModalCart).addClass("none");
        }
    }
</script>
{% endblock %}
