{% load static %}

<div class="modal__container add-new-address none">
    <div class="modal__content modal__content--green modal__content-50 modal-w-30">
        <div class="text-center mb-4">
            <img src="{% static 'images/boot/icons/round-check.svg' %}" alt="round-success"/>
        </div>
        <h4 class="text-center mb-4">PRODUCT ADDED</h4>
    </div>
</div>
