
<div style="background-color: #F7F7F7">
  <div style="height: 50px"></div>
  <div style="max-width: 500px; margin: 20px auto; background-color: #ffffff; border-radius: 5px; padding: 1rem 5%;">
    <div style="text-align: center; margin-bottom: 1rem;">
      <img src="https://storage.googleapis.com/berkah-bootstrap/static/images/boot/bootstrap-sg-logo.png"
           alt="bootstrap-logo" style="max-width: 250px; width: 50%">
    </div>

    <div style="text-align: center; margin-bottom: 1rem;">
      <img
        src="https://storage.googleapis.com/berkah-bootstrap/static/images/home/bootstrap_cancel.png"
        alt=""
        style="width: 100%; max-width: 500px">
    </div>
    <h2 style="text-align: center"><strong>Oh Shucks!</strong></h2>
    <h3 style="text-align: center"><strong>Your subscription renewal could not be processed.</strong></h3>
    <p>Hi {{ full_name }},</p>
    <p>We faced an issue when we tried to process your credit card
      for the renewal of your cold brew subscription.</p>
    <p>To update your billing information and continue service without interruption, click here: <br>
      <br><br></p>
    <div style="margin: auto; max-width: fit-content;">
      <a href='{{ link }}'
         style="padding: 1rem; margin: auto; background-color: red; color: white; text-decoration: none; font-weight: bold; border-radius: 5px;">
        Update my billing</a>
    </div>
    <br>
    <p>
      Please contact us if you have any questions or need some assistance.
    </p>
    <br/>
    <p>Thanks,</p>
    <p>Team Bootstrap</p>
  </div>
  <div style="height: 50px"></div>

</div>
