{% extends "oscar/communication/emails/base.html" %}
{% load static %}

{% block tbody %}
<div style="text-align: center; margin-bottom: 1rem;">
  <img src="{% static 'images/boot/bootstrap-beverages-logo.png' %}" alt="bootstrap-logo">
</div>

<p>Hi {{ full_name }},</p>
<p>Your cold brew subscription with Bootstrap has been paused</p>
<p>Resume your subscription anytime by logging in here:</p>
<p><a href="https://bootstrapbeverages.com{% url 'customer:subscriptions' %}">Manage Subscription</a></p>
<p>-Bootstrap</p>

<p>
  If you have any inquiries or require assistance, simply drop us an email at
  <a href="mailto:info@bootstrapbeverages.com">info@bootstrapbeverages.com.</a>
  We're always happy to assist you.
</p>

<p>Love,</p>
<p>The Bootstrap Team</p>
{% endblock %}

{% block footer %}
{% endblock footer %}
