{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}stores{% endblock %}

{% block title %}
    {% trans "Store management" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        {% if not filterform.is_empty %}
            <li>
                <a href="{% url 'stores-dashboard:store-list' %}">{% trans "Stores" %}</a>
            </li>
        {% endif %}
        <li class="active">{{ queryset_description }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'stores-dashboard:store-create' %}" class="btn btn-large btn-primary pull-right"><i class="icon-plus"></i> {% trans "Create new store" %}</a>
        <h1>{% trans "Store Management" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="icon-search icon-large"></i>{% trans "Search Stores" %}</h3>
    </div>
    <div class="well">
        <form action="." method="get" class="form-inline">
            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=filterform %}
            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            {% if not filterform.is_empty %}
                <a href="?" class="btn">{% trans "Reset" %}</a>
            {% endif %}
        </form>
    </div>

    <div class="sub-header">
        <h2>{{ queryset_description }}</h2>
    </div>

    {% if store_list.count %}
        <form action="." method="post" class="order_table">
            {% csrf_token %}
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Street" %}</th>
                    <th>{% trans "City" %}</th>
                    <th>{% trans "Post Code" %}</th>
                    <th>{% trans "State" %}</th>
                    <th>{% trans "Country" %}</th>
                    <th>{% trans "Is pick up store?" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th></th>
                </tr>
                {% for store in store_list %}
                    <tr>
                        <th><a href="{% url 'stores-dashboard:store-update' store.pk %}">{{ store.name }}</a></th>
                        <td>{{ store.address.street|linebreaks }}</td>
                        <td>{{ store.address.line4 }}</td>
                        <td>{{ store.address.postcode }}</td>
                        <td>{{ store.address.state|default:"-" }}</td>
                        <td>{{ store.address.country }}</td>
                        <td>
                            {% if store.is_pickup_store %}
                                <span class="label label-success">{% trans "Yes" %}</span>
                            {% else %}
                                <span class="label label-danger">{% trans "No" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if store.is_active %}
                                <span class="label label-success">{% trans "Active" %}</span>
                            {% else %}
                                <span class="label label-danger">{% trans "Inactive" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    {% trans "Actions" %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="nav dropdown-menu pull-right">
                                    <li>
                                        <a href="{% url 'stores-dashboard:store-update' store.id %}">{% trans "Edit" %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'stores-dashboard:store-delete' store.id %}">{% trans "Delete" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include "oscar/dashboard/partials/pagination.html" %}
        </form>

    {% else %}
        <p>{% trans "No stores found." %}</p>
    {% endif %}

{% endblock dashboard_content %}
