{% load currency_filters %}
{% load custom_tags %}
{% load i18n %}

<div class="card d-flex mb-3">
  <div class="d-flex flex-grow-1 min-width-zero card-content">
    <div
      class="card-body align-self-center d-flex flex-column flex-md-row
      justify-content-between min-width-zero align-items-md-top"
    >
      <div class="mb-1 text-small w-30 w-xs-100">
        <small class="text-uppercase text-muted">Order ID</small><br/>
        <a href="{% url 'customer:order' order_number=order.number %}">
          <span class="dot">{{ order.number }}</span>
        </a>
      </div>
      <div class="mb-1 text-small w-25 w-xs-100">
        <small class="text-uppercase text-muted">Transaction Date</small><br/>
        <span>{{ order.date_placed }}</span>
      </div>
      <div class="mb-1 text-small w-15 w-xs-100">
        <small class="text-uppercase text-muted">Payment Method</small><br/>
        {% with source=order.sources.first  %}
        {% if source.reference %}
          <span>
            {% blocktrans with type=source.source_type.name reference=source.reference %}
            <a href="{{ reference }}">
              {{ type }}
            </a>
            {% endblocktrans %}
          </span>
        {% endif %}
        {% endwith %}
      </div>
      <!--div class="mb-1 text-small w-30 w-xs-100">
        <small class="text-uppercase text-muted">Product Name</small><br/>
        <span class="dot"><a href="page-detal.php">Ripped Man Denim Skinny High-Rise</a></span>
      </div-->
      <div class="mb-1 text-small w-10 w-xs-100">
        <small class="text-uppercase text-muted">Total Item(s)</small><br/>
        <span>{{ order.num_items }}</span>
      </div>
      <div class="mb-1 text-small w-20 w-xs-100">
        <small class="text-uppercase text-muted">Total Payment</small><br/>
        <span>{{ order.total_incl_tax|currency:order.currency }}</span>
      </div>
      <div class="mb-1 text-small w-20 w-xs-100">
        <small class="text-uppercase text-muted">Status</small><br/>
        <span class="badge badge-warning badge-pill">{{ order.status|clean|title }}</span>
      </div>
      <!--div class="mb-1 text-small w-15 w-xs-100">
        <small class="text-uppercase text-muted">Delivery Status</small><br/>
        <span><a href="#" data-toggle="modal" data-target="#modalTracking"><i class="fas fa-truck text-gray"></i> Track Delivery </a></span>
      </div-->
    </div>
  </div>
</div>
