{% load static %}

<a href="{% url 'customer:profile-view' %}" class="d-flex align-items-center" style="column-gap: 3%;">
    <div class="icon">
        <img src="{% static 'images/boot/icons/my-account.svg' %}" alt="my-account"/>
    </div>
    <p class="label-default">My Account</p>
</a>
<a href="{% url 'customer:address-list' %}" class="d-flex align-items-center" style="column-gap: 3%;">
    <div class="icon">
        <img src="{% static 'images/boot/icons/address-lists.svg' %}" alt="address-icon"/>
    </div>
    <p class="label-default">Address Lists</p>
</a>
<a href="{% url 'customer:subscriptions' %}" class="d-flex align-items-center" style="column-gap: 3%;">
    <div class="icon">
        <img class="nav-icon" src="{% static 'images/boot/icons/subscriptions.svg' %}" alt="subscription-icon"/>
    </div>
    <p class="label-default">Subscriptions</p>
</a>
<a href="{% url 'customer:transaction-history-list' %}" class="d-flex align-items-center" style="column-gap: 3%;">
    <div class="icon">
        <img src="{% static 'images/boot/icons/transaction-history.svg' %}" alt="history-icon"/>
    </div>
    <p class="label-default">Transaction History</p>
</a>
