{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
<section class="registration__container">
	<div class="registration__logo text-center">
		<img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
	</div>
<div class="registration__background bg-position-center" style="--background-img:url({% static 'images/boot/bg-registration.png' %})">
	<div class="registration__wrapper">
		<h4 class="registration__heading text-center">SIGN IN</h4>
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ field.label }} - {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% blocktrans %}{{ error }}{% endblocktrans %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      {% endfor %}
    {% endif %}
		<form id="loginForm" action="{% url 'account_login' %}" method="post">{% csrf_token %}
			<div class="input__layout">
				<div class="input-field input-field__top">
					<label class="input-field__left font-primary">Email Address</label>
					<div class="input-field__right"></div>
				</div>
				<input type="email" placeholder="Input email address" id="id_login" name="login" required onkeyup="validateEmail()">
				<h6 class="email-error-checker text-white none">Your email is not valid</h6>
			</div>

			<div class="input__layout">
				<div class="input-field input-field__top">
					<label class='input-field__left font-primary' for="id_password">Password</label>
					<a href="{% url 'account_reset_password' %}">
						<div class="input-field__right input-title text-white">Forgot Password?</div>
					</a>
					<h6 id="password-error-checker" class="password-error-checker text-white none">Your email is not valid</h6>
				</div>
        <div class="position-relative">
          <input
            type="password"
            name="password"
            placeholder="Input your password"
            id="id_password"
            class="password"
            required
          >
          <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon" class="password-eye-icon input-img-icon">
          <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
               class="password-hide-icon input-img-icon none">
          {% comment %}
					<span class="text-end eye eye-signin" onclick="showLoginPassword()">
						<img src="{% static '/images/boot/icons/eye-icon.svg' %}" alt="eye-open" id="show1"
								class="w-100 cursor-pointer none"/>
						<img src="{% static '/images/boot/icons/eye-slash-icon.svg' %}" alt="eye-close" id="hide1"
								class="w-100 cursor-pointer"/>
					</span>
					{% endcomment %}
				</div>

				<h6 id="password1-error-checker" class="password1-error-checker text-white none">Password cannot be blank</h6>

				<div id="password-error-checker" class="password-error-checker text-white none">
					<h6 class="text-white">Submitted email or password was incorrect</h6>
				</div>
			</div>
			<br/>
			<button type="submit" id="signInButton" class="button button--primary button--primary__styled font-primary w-100">SIGN IN</button>
			{% comment %}
			<div class="lines-besides-title font-primary text-center mb-3">
				<div class="lines"></div>
				<p>Or Sign In With</p>
				<div class="lines"></div>
			</div>

			<div class="registration__social-media">
				<a href="{% provider_login_url 'google' %}" class="social-media text-center">
					<img class="google" src="{% static 'images/boot/icons/google-color-icon.png' %}" alt="google-color"/>
				</a>
			</div>
			{% endcomment %}
		</form>
	</div>
	<br/>
	<div class="font-primary text-center text-bold m-boot-mobile-3">
		Doesn't have an account yet?
		<a href="{% url 'account_signup' %}" class="text-underline-gold font-gold text-bold">
			Sign Up
		</a>
	</div>
</div>
</section>
{% endblock content%}

{% block extra_js %}
  <script>
  $(document).ready(function() {
    $(".password-eye-icon").click(function() {
      $(".password").attr("type", "text");
      $(".password-eye-icon").addClass("none");
      $(".password-hide-icon").removeClass("none");
    });

    $(".password-hide-icon").click(function() {
      $(".password").attr("type", "password");
      $(".password-eye-icon").removeClass("none");
      $(".password-hide-icon").addClass("none");
    });
  });
</script>

<script>
function validateEmail() {
  let email = document.getElementById("id_login").value;
  let emailRegEx = /^([\w.%+-]+)@([\w-]+\.)+([\w]{2,})$/i.test(email);

	if (emailRegEx) {
		let lastThreeCharacter = email.substr(email.length - 3)
		if (lastThreeCharacter === "con") {
			$('.email-error-checker').removeClass('none')
		} else {
			$('.email-error-checker').addClass('none');
		}
	} else {
		$('.email-error-checker').removeClass('none')
	}
}
function showLoginPassword() {
	let toogle = document.getElementById("id_password");
	let eye = document.getElementById("show1");
	let eyeSlash = document.getElementById("hide1");
	if (toogle.type === "password") {
		toogle.type = "text";
		eye.classList.remove("none");
		eyeSlash.classList.add("none");
	} else {
		toogle.type = "password";
		eye.classList.add("none");
		eyeSlash.classList.remove("none");
	}
}
</script>
{% endblock extra_js%}
