{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner %}
<section class="password__container margin-bottom-3">
  <div class="registration__logo text-center">
    <img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
  </div>
  <div class="registration__wrapper">
    <h4 class="registration__heading text-center">{% trans "Sign Out" %}</h4>
    <p class="margin-bottom-2 text-center">{% trans 'Are you sure you want to sign out?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="button button--primary button--primary__styled font-primary w-100" type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</section>

{% endblock %}
