{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<section class="registration__container margin-bottom-3">
	<div class="registration__logo text-center">
		<img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
	</div>
	<div class="registration__background bg-position-center">
		<div class="registration__wrapper">
			<h4 class="registration__heading text-center">FORGOT PASSWORD?</h4>
			<p class="margin-bottom-2">Please enter your email address to receive a link to reset your password.</p>
			<form method="POST" action="{% url 'account_reset_password' %}">{% csrf_token %}
				<div class="input__layout">
					<div class="input-field input-field__top">
						<label class="input-field__left font-primary">Email Address</label>
						<div class="input-field__right"></div>
					</div>
					<input
						type="email"
						name="email"
						id="id_email"
						placeholder="Input email address"
					>
				</div>
				<br/>
				<button class="button button--primary button--primary__styled font-primary w-100">SUBMIT</button>
			</form>
		</div>
		<br/>
	</div>
</section>
{% endblock content %}
