{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load static %}
{% block inner %}
	<section class="password__container mb-5">
		<div class="registration__logo text-center">
			<img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
		</div>
		<div class="registration__background bg-position-center">
			<div class="registration__wrapper">
				<h4 class="registration__heading text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

				{% if token_fail %}
					{% url 'account_reset_password' as passwd_reset_url %}
					<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}" class="font-gold text-underline-gold">new password reset.</a>{% endblocktrans %}</p>
				{% else %}

					{% if form %}
					<form method="POST" action=".">
						{% csrf_token %}
            <div class="input__layout">
              <div class="input-field input-field__top">
                <label class="input-field__left font-primary">Change Password</label>
              </div>
              <div class="position-relative">
                {{ form.password1 }}
                <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon"
                     class="password-eye-icon input-img-icon">
                <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
                     class="password-hide-icon input-img-icon none">
              </div>
            </div>
            <div class="input__layout">
              <div class="input-field input-field__top">
                <label class="input-field__left font-primary">Confirm New Password</label>
              </div>
              <div class="position-relative">
                {{ form.password2 }}
                <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon"
                     class="password-eye-icon2 input-img-icon">
                <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
                     class="password-hide-icon2 input-img-icon none">
              </div>
            </div>

						<input class="button button--primary button--primary__styled w-100" style="margin-top: 3rem !important" type="submit" name="action" value="{% trans 'Change Password' %}"/>
					</form>
					{% else %}
						<p>{% trans 'Your password is now changed.' %}</p>
					{% endif %}
				{% endif %}
			</div>
			<br/>
		</div>
	</section>

  <script>
    document.getElementById("id_password1").placeholder = "Input your password"
    document.getElementById("id_password2").placeholder = "Retype new password"
    document.getElementById("id_password2").classList.add("password2")
  </script>
{% endblock %}

{% block nono %}
  <script>
    $(document).ready(function () {
      $(".password-eye-icon").click(function () {
        $("#id_password1").attr("type", "text");
        $(".password-eye-icon").addClass("none");
        $(".password-hide-icon").removeClass("none");
      });

      $(".password-hide-icon").click(function () {
        $("#id_password1").attr("type", "password");
        $(".password-eye-icon").removeClass("none");
        $(".password-hide-icon").addClass("none");
      });

      $(".password-eye-icon2").click(function () {
        $("#id_password2").attr("type", "text");
        $(".password-eye-icon2").addClass("none");
        $(".password-hide-icon2").removeClass("none");
      });

      $(".password-hide-icon2").click(function () {
        $("#id_password2").attr("type", "password");
        $(".password-eye-icon2").removeClass("none");
        $(".password-hide-icon2").addClass("none");
      });
    })
  </script>
{% endblock %}

