{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load static %}

{% block inner %}
<section class="password__container mb-5">
    <div class="registration__logo text-center">
        <img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
    </div>
    <div class="registration__background bg-position-center">
        <div class="registration__wrapper">
            <h4 class="registration__heading text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>
            
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        </div>
        <br/>
    </div>
</section>
{% endblock %}
