{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
    <section class="password__container mb-5">
        <div class="registration__logo text-center">
            <img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
        </div>
        <div class="registration__background bg-position-center">
            <div class="registration__wrapper">
                <h3 class="registration__heading text-center">{% trans "Password Reset" %}</h3>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </section>
{% endblock %}
