{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="registration__container">
  <div class="registration__logo text-center">
    <img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
  </div>
  <div class="registration__background bg-position-center" style="--background-img:url({% static 'images/boot/bg-registration.png' %})">
    <div class="registration__wrapper">
      <h4 class="registration__heading text-center">SIGN UP</h4>
      <form id="signupForm" action="{% url 'customer:register' %}" method="post" autocomplete="off">{% csrf_token %}
        {{ form.redirect_url }}
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary text-semibold" for="first_name">First Name</label>
            <div class="input-field__right"></div>
          </div>
          <input
            type="text"
            placeholder="Input First Name"
            name="first_name"
            id="first_name"
            required
          >
          <h6 id="first-name-error-checker" class="first-name-error-checker text-white">{% for error in form.first_name.errors %}{{ error }} {% endfor %}</h6>
        </div>
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary text-semibold" for="last_name">Last Name</label>
            <div class="input-field__right"></div>
          </div>
          <input
            type="text"
            placeholder="Input Last Name"
            name="last_name"
            id="last_name"
            required
          >
          <h6 id="last-name-error-checker" class="last-name-error-checker text-white">{% for error in form.last_name.errors %}{{ error }} {% endfor %}</h6>
        </div>
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class="input-field__left font-primary text-semibold" for="id_email">Your Email</label>
            <div class="input-field__right"></div>
          </div>
          <input
            type="email"
            placeholder="Input email address"
            id="id_email"
            name="email"
            onkeyup="validateEmail()"
            value="{{ form.email.value|default:'' }}"
            required
          >
          <h6 id="email-error-checker" class="email-error-checker text-white">{% for error in form.email.errors %}{{ error }} {% endfor %}</h6>
        </div>
        <div class="input__layout">
          <div class="input-field input-field__top">
            <label class='input-field__left text-bold font-primary text-semibold' for="id_password1">Password</label>
          </div>
          <div class="position-relative">
            <input
              type="password"
              name="password1"
              id="id_password1"
              placeholder="Input your password"
              required=""
              onkeyup="validatePassword()"
              class="password"
            >
            <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon" class="password-eye-icon input-img-icon">
            <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
                 class="password-hide-icon input-img-icon none">
          </div>
          <h6 id="password1-error-checker" class="password-error-checker text-white">{% for error in form.password1.errors %}{{ error }} {% endfor %}</h6>
        </div>
        <div class="input__layout margin-bottom-2">
          <div class="input-field input-field__top">
            <label class='input-field__left text-bold font-primary text-semibold' for="id_password2">Confirm Password</label>
          </div>
        <div class="position-relative">
          <input id="id_password2" type="password" name="password2"
                 class="password2" placeholder="Input your password again" required="" onkeyup="validatePassword()">
          <img src="{% static 'images/icons/eye-grey.svg' %}" alt="eye-icon" class="password-eye-icon2 input-img-icon">
          <img src="{% static 'images/icons/visibility-password-off.svg' %}" alt="eye-icon"
               class="password-hide-icon2 input-img-icon none">
        </div>
          <h6 id="password2-error-checker" class="password-error-checker text-white">{% for error in form.password2.errors %}{{ error }} {% endfor %}</h6>
        </div>

        <button type="submit" class="button button--primary button--primary__styled font-primary w-100" id="signUpButton">SIGN UP</button>
        {% comment %}
        <div class="lines-besides-title font-primary text-center mb-3">
          <div class="lines"></div>
          <p>Or Sign Up With</p>
          <div class="lines"></div>
        </div>
        <div class="registration__social-media">
          <a href="{% provider_login_url 'google' %}" class="social-media text-center">
            <img class="google" src="{% static 'images/boot/icons/google-color-icon.png' %}" alt="google-color"/>
          </a>
        </div>
        {% endcomment %}
      </form>
    </div>
    <br/>
    <div class="font-primary text-center text-bold m-boot-mobile-3">
      Already have an account?
      <a href="{% url 'account_login' %}" class="text-underline-gold font-gold text-bold">
        Sign In
      </a>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
  <script>
    $(document).ready(function () {
      $(".password-eye-icon").click(function () {
        $(".password").attr("type", "text");
        $(".password-eye-icon").addClass("none");
        $(".password-hide-icon").removeClass("none");
      });

      $(".password-hide-icon").click(function () {
        $(".password").attr("type", "password");
        $(".password-eye-icon").removeClass("none");
        $(".password-hide-icon").addClass("none");
      });

      $(".password-eye-icon2").click(function () {
        $(".password2").attr("type", "text");
        $(".password-eye-icon2").addClass("none");
        $(".password-hide-icon2").removeClass("none");
      });

      $(".password-hide-icon2").click(function () {
        $(".password2").attr("type", "password");
        $(".password-eye-icon2").removeClass("none");
        $(".password-hide-icon2").addClass("none");
      });
    });
  </script>

<script>
  var form = document.getElementById('signupForm');
  let password_match = false;

  var firstName = document.getElementById("first_name");
  var lastName = document.getElementById("last-name");
  var password1 = document.getElementById("id_password1");
  var password2 = document.getElementById("id_password2");
  var email = document.getElementById("id_email");

  form.addEventListener('submit', (e) =>{
    e.preventDefault();

    ValidationForm();
  })

  function ValidationForm() {
    console.log($("#signupForm").serialize())
    let disabled_button = false;
    let formValue = $("#signupForm").serialize();
    let formValue_split = formValue.split("&");
    for (i=0; i < formValue_split.length; i++) {
        let val = formValue_split[i];
        let val_split = val.split("=");
        if (val_split[1] !== "" || val_split[1] !== null || val_split[1] !== undefined) {
            disabled_button = false;
        }
    }
    if (!disabled_button) {
      $('#signupForm').submit();
    }
  }

  function validatePassword() {
    let password1 = document.getElementById("id_password1").value;
    let password2 = document.getElementById("id_password2").value;

    if (password1 !== password2) {

      $('#password2-error-checker').removeClass('none').text('Password does not match');
      password_match = false;

    } else if (password1 === "" || password2 === "") {
      $('#password1-error-checker').removeClass('none').text('Please fill password');
      $('#password2-error-checker').removeClass('none').text('Please fill password');
      password_match = false;
    } else {
      $('#password1-error-checker').addClass('none');
      $('#password2-error-checker').addClass('none');

      password_match = true;
    }
  }

  function validateEmail() {
    let email = document.getElementById("id_email").value;

    var emailRegEx = /^([\w.%+-]+)@([\w-]+\.)+([\w]{2,})$/i.test(email);
    console.log(email);

    if (emailRegEx) {
      let lastThreeCharacter = email.substr(email.length - 3)
      if (lastThreeCharacter === "con") {
        $('#email-error-checker').removeClass('none')
      } else {
        $('#email-error-checker').addClass('none');
      }
    } else {
      $('#email-error-checker').removeClass('none')
    }
  }

  function showRegisPassword1() {
      let toogle = document.getElementById("id_password1");
      let eye = document.getElementById("show1");
      let eyeSlash = document.getElementById("hide1");

      if (toogle.type === "password") {
        toogle.type = "text";
        eye.classList.remove("none");
        eyeSlash.classList.add("none");

      } else {
        toogle.type = "password";
        eye.classList.add("none");
        eyeSlash.classList.remove("none");
      }
    }

    function showRegisPassword2() {
      let toogle = document.getElementById("id_password2");
      let eye = document.getElementById("show2");
      let eyeSlash = document.getElementById("hide2");

      if (toogle.type === "password") {
        toogle.type = "text";
        eye.classList.remove("none");
        eyeSlash.classList.add("none");

      } else {
        toogle.type = "password";
        eye.classList.add("none");
        eyeSlash.classList.remove("none");
      }
    }
</script>
{% endblock extra_js %}
