{% extends "oscar/layout.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=5 %}
{% endblock %}

{% block checkout_title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
        {% blocktrans with number=order.number %}
        Thank you for your purchase, we are currently processing your payment. Please check your email inbox for details
        {% endblocktrans %}
      </p>

      {% block order_actions %}
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12 col-sm-offset-12">
                <a
                  href="{{ homepage_url }}"
                >
                  <button class="btn btn-gray btn-block text-theme text-uppercase mb-2 py-2">
                    <i class="fas fa-chevron-left"></i> {% trans "Continue shopping" %}
                  </button>
                </a>
            </div>
          </div>
        </div>
      {% endblock order_actions %}
    </div>
  </div>
</div>
{% endblock content %}

{% block tracking %}
    {% if send_analytics_event %}
        {% include "oscar/partials/google_analytics_transaction.html" %}
    {% endif %}
{% endblock %}
