{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags currency_filters %}
{% load static shipping_tags custom_tags %}

{% block title %}Checkout{% endblock %}

{% block extra_css %}
  <style>
    .error {
      color: #ff0000;
      /* line-height: 1 !important; */
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <section class="checkout__container">
    <div class="checkout__wrapper">
      <div class="desktop-only">
        <div class="checkout-steps__header d-grid">
          <div class="order-summary__header d-flex">
            <img src="{% static 'images/boot/icons/step-success.svg' %}" alt="step-success-icon"/>
            <p class="ml-3"> PERSONAL INFO </p>
          </div>
          <div class="order-summary__header d-flex">
            <img src="{% static 'images/boot/icons/step-success.svg' %}" alt="step-success-icon"/>
            <p class="ml-3"> SHIPPING INFO </p>
          </div>
          <div class="steps-current">
            <div class="order-summary__header d-flex">
              <p class="order-summary__steps text-center">3</p>
              <p class="ml-3"> PAYMENT SELECTION </p>
            </div>
          </div>
        </div>
      </div>

      <div class="checkout-content__wrapper">
        <div class="mobile-only">
          <div class="checkout-steps__header">
            <div class="order-summary__header-mobile">
              <img src="{% static 'images/boot/icons/step-success.svg' %}" alt="step-success-icon"/>
              <p class="text-center"> PERSONAL INFO </p>
            </div>
            <hr>
            <div class="order-summary__header-mobile">
              <img src="{% static 'images/boot/icons/step-success.svg' %}" alt="step-success-icon"/>
              <p class="text-center"> SHIPPING INFO </p>
            </div>
            <hr>
            <div class="order-summary__header-mobile">
              <p class="order-summary__steps-mobile text-center">3</p>
              <p class="text-center"> PAYMENT SELECTION </p>
            </div>
          </div>
        </div>

        {% if error %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
        {% endif %}

        {% if order_total.excl_tax == 0 %}
          {% include "oscar/checkout/partials/payment_detail_form_free.html" %}
        {% else %}
          {% include "oscar/checkout/partials/payment_detail_form.html" %}
        {% endif %}
        <div class="checkout-button__wrapper mb-5">
          <a href="{% url 'checkout:shipping-address' %}" class="button button--secondary order-sm-2-lg-1">
            <div class="text-besides-icon">
                <div class="icon">
                    <img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
                </div>
                <p> Back to Shipping Info</p>
            </div>
          </a>
          <div class="button button--primary order-sm-1-lg-2" id="payButton" onclick="showChangeFrequencyConfirmation('open')">
            Confirm
          </div>
          <div class="button button--primary button--disabled none" id="payDisabledButton" disabled>Confirm & Pay <span class="spinner-border ml-2"></span></div>
        </div>
      </div>
    </div>
    <div class="order-summary__container">
      {% include 'pages/blocks/_order_summary.html' with bakset=basket %}
    </div>
  </section>

  {% include "oscar/checkout/partials/payment_confirmation_modal.html" %}
{% endblock content %}

{% block extra_js %}
  <script>
    function showChangeFrequencyConfirmation(str) {
      if (str === 'open') {
        $('.frequency-confirmation').removeClass('none');
        let interval = $("input[name='subsChooseFrequency']:checked").val();
        let delivery_date = $("input[name='delivery_date']:checked").data("day");
        let time_str = $("input[name='subsChooseTime']:checked").data("time_str");

        if (interval !== undefined) {
          let text = "1 week";
          if (parseInt(interval, 10) > 1) {
            text = interval + " weeks";
          }
          $("#newInterval").text(text);
        }

        if (time_str !== undefined) {
          $("#newDeliveryTime").text(time_str);
        }

        if (delivery_date !== undefined) {
          $("#newDeliveryDay").text(delivery_date);
        }
      } else {
        $('.frequency-confirmation').addClass('none')
      }
    }

    $("#place_order_form").validate({
      rules: {
        exp_month: {
          required: true,
        },
        number: {
          required: true,
          number: true,
          minlength: 15,
          maxlength: 16,
        },
        cardName: {
          required: true,
          notNumber: true,
        },
        exp_year: {
          required: true,
          number: true,
          minlength: 4,
          maxlength: 4,
        },
        cvc: {
          required: true,
          number: true,
          minlength: 3,
          maxlength: 4,
        },
      },
      submitHandler: function (form) {
        $('#payButton').addClass("none");
        $('#payDisabledButton').removeClass("none");
        form.submit();
      },
      invalidHandler: function () {
        $('#payButton').removeClass("none");
        $('#payDisabledButton').addClass("none");
      }
    });

    jQuery.validator.addMethod("notNumber", function (value, element, param) {
      let reg = /[0-9]/;
      return !reg.test(value);
    }, "Number is not permitted");
  </script>
{% endblock %}
