{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block extra_css %}
  <style>
    .error {
      color: #ff0000;
      line-height: 1 !important;
    }
  </style>
{% endblock extra_css %}

{% block content %}
<section class="checkout__container">
	<div class="checkout__wrapper">
		<div class="desktop-only">
			<div class="checkout-steps__header d-grid">
				<div class="order-summary__header d-flex">
					<img src="{% static 'images/boot/icons/step-success.svg' %}" alt="step-success-icon"/>
					<p class="ml-3"> PERSONAL INFO </p>
				</div>
				<div class="steps-current">
					<div class="order-summary__header d-flex">
						<p class="order-summary__steps text-center">2</p>
						<p class="ml-3"> SHIPPING INFO </p>
					</div>
				</div>
				<div class="order-summary__header d-flex">
					<p class="order-summary__steps steps-ghost text-center">3</p>
					<p class="ml-3"> PAYMENT SELECTION </p>
				</div>
			</div>
		</div>

		<div class="checkout-content__wrapper">
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							{{ field.label }} - {{ error }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}

			{% if user.is_authenticated %}
				{% if addresses %}
					<div class="mobile-only">
						<div class="checkout-steps__header">
							<div class="order-summary__header-mobile">
								<img src="{% static 'images/boot/icons/step-success.svg' %}" alt="step-success-icon"/>
								<p class="text-center"> PERSONAL INFO </p>
							</div>
							<hr>
							<div class="order-summary__header-mobile">
								<p class="order-summary__steps-mobile text-center">2</p>
								<p class="text-center"> SHIPPING INFO </p>
							</div>
							<hr>
							<div class="order-summary__header-mobile">
								<p class="order-summary__steps-mobile steps-ghost text-center">3</p>
								<p class="text-center"> PAYMENT SELECTION </p>
							</div>
						</div>
					</div>
					<div class="checkout__title">
						<p class="body-semibold">ADDRESS INFORMATION</p>
					</div>
					{% comment %} If not logged in, don't use checkout-address__container and lines-besides-title {% endcomment %}
					<div class="checkout-address__container mb-5">
						<div class="checkout-address__wrapper">
							{% for address in addresses %}
							<div class="address__wrapper">
									<p class="text-semibold">{{ address.first_name }} {{ address.last_name }}</p>
									<p>{{ address.phone_number }}</p>
									<p>{{ address.line1 }}, {{ address.country }}</p>
									<br/>
									<div class="button button--primary m-bottom-1" onclick="useThisAddress('{{ address.id }}')"> Use This Address</div>
							</div>
							<form class="none" action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
									{% csrf_token %}
									<input type="hidden" name="action" value="ship_to" />
									<input type="hidden" name="address_id" value="{{ address.id }}" />
							</form>
							{% endfor %}
						</div>
					</div>
					<div class="lines-besides-title font-primary text-center">
							<div class="lines"></div>
							<p>Or</p>
							<div class="lines"></div>
					</div>
				{% endif %}
			{% endif %}

			<form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" autocomplete="new-password" style="margin-bottom: 3rem;">
				{% csrf_token %}
				<input type="hidden" name="state" placeholder="Input state" maxlength="255" required="" id="id_state" value="Singapore">
				<input type="hidden" name="line4" placeholder="Input city" maxlength="255" required="" id="id_sline4" value="Singapore">
				<div class="d-grid name__wrapper align-items-start">
						<div class="input__layout">
								<div class="input-field input-field__top">
									<label class="input-field__left font-primary">First Name</label>
								</div>
								{{ form.first_name }}
						</div>
						<div class="input__layout">
								<div class="input-field input-field__top">
									<label class="input-field__left font-primary">Last Name</label>
								</div>
								{{ form.last_name }}
						</div>
				</div>
				<div class="d-grid input-sm-2-lg-1 align-items-start">
					<div class="input__layout">
						<div class="input-field input-field__top">
							<label class="input-field__left font-primary">Email</label>
						</div>
						{{ form.email }}
					</div>
					<div class="input__layout">
					<div class="input-field input-field__top">
						<label class="input-field__left font-primary">Phone Number</label>
					</div>
					<input type="tel" name="phone_number" maxlength="128" required="" id="id_phone_number" placeholder="Input phone number">
					</div>
				</div>
				<div class="input__layout">
					<div class="input-field input-field__top">
						<label class="input-field__left font-primary">Address</label>
					</div>
					{{ form.line1 }}
				</div>
				<div class="d-grid name__wrapper align-items-start">
					<div class="input__layout">
						<div class="input-field input-field__top">
							<label class="input-field__left font-primary">Postal Code</label>
						</div>
						<!-- {{ form.postcode }} -->
						<input type="tel" name="postcode" placeholder="Input postal code" maxlength="64" required="" id="id_postcode" class="valid" aria-invalid="false">
					</div>
					<div class="input__layout">
						<div class="input-field input-field__top">
							<label class="input-field__left font-primary">Country</label>
						</div>
						{{ form.country }}
					</div>
				</div>
				<div class="input__layout">
					<div class="input-field input-field__top">
						<label class="input-field__left font-primary">Order Note / Gift Message (If Any)</label>
					</div>
					{{ form.notes }}
				</div>
			</form>
			<div class="checkout-button__wrapper mb-5">
				{% if request.user.is_anonymous %}
					<a href="{% url 'checkout:index' %}" class="button button--secondary order-sm-2-lg-1">
						<div class="text-besides-icon">
								<div class="icon">
									<img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
								</div>
								<p> Back to Personal Info
								</p>
						</div>
					</a>
				{% endif %}
				<div class="button button--primary order-sm-1-lg-2" onclick="$('#new_shipping_address').submit();">
					<div class="icon-besides-text">
						<p> Continue to Payment Selection</p>
						<div class="icon">
							<img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="order-summary__container">
		{% include 'pages/blocks/_order_summary.html' with bakset=basket %}
	</div>
</section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/imask/imask.js' %}"></script>
<script>
  $.validator.methods.email = function (value, element) {
    return this.optional(element) || /^([\w.%+-]+)@([\w-]+\.)+(\w{2,})$/.test(value);
  }
  let isShift = false;
  $(document).ready(function() {
    let phoneNumberElement = document.getElementById('id_phone_number');
    let maskOptions = {
      mask: '+{65}00000000000000000'
    };
    IMask(phoneNumberElement, maskOptions);
  });

  $("#new_shipping_address").validate({
    rules: {
      line1: {
        required: true,
        minlength: 10,
      },
      phone_number: {
        required: true,
        maxlength: 30,
        minlength: 4,
      },
      email: {
        required: true,
        email: true,
        maxlength: 255
      },
      postcode: {
        required: true,
        minlength: 2,
        maxlength: 255,
        number: true
      },
    },
    messages: {
      postcode: {
        number: "Please insert the correct postcode"
      },
    },
    submitHandler: function(form) {
      form.submit();
    }
  });

  function unpresShift(input, keyCode) {
    if (keyCode === 16) {
      isShift = false;
    }
  }

  function IsPhoneNumber(input, e) {
    if (e.keyCode === 16) {
      isShift = true;
    }
    return !(input.value.length === 0 && e.key === "0");
  }
</script>
{% endblock %}
