{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Thank You{% endblock %}
{% block content %}
  <section class="payment-status__wrapper m-auto d-flex flex-column justify-content-center">
    <div class="payment-status__image text-center mb-4">
      <img src="{% static 'images/boot/payment-success.png' %}" alt="payment-success"/>
    </div>
    <div class="payment-status-success__wrapper">
      <h3 class="text-center mb-4">Payment Success</h3>
      <p class="text-center">Your payment for order {{ order.number }} was successful!</p>
      <p class="text-center mb-4">Just wait until Bootstrap arrive at home.</p>

      <div class="button button--primary button--primary__styled mb-4" onclick="location.href='{{ back_to_home }}';">
        Back to Home
      </div>
    </div>
  </section>
    <script>
      dataLayer.push({ecommerce: null});
      let shippingDiscounts = "{% for discount in order.shipping_discounts %}{% if order.basket_discounts %} | {% endif %}{% if discount.offer_name %}{{ discount.offer_name }}{% else %}{{ discount.voucher_code }}{% endif %}{% endfor %}"
      let basketDiscounts = "{% for discount in order.basket_discounts %}{% if order.shipping_discounts %} | {% endif %}{{ discount.voucher_code }}{% endfor %}"
      let datalayerContent = {
        "ecommerce": {
          "purchase": {
            "actionField": {
              "id": "{{ order.number }}",
              "revenue": "{{ order.total_incl_tax }}",
              "shipping": "{{ order.shipping_incl_tax }}",
              "coupon": basketDiscounts + shippingDiscounts
            }
          },
          "products": [
            {% for line in order.lines.all %}
              {
                "name": {% if line.product.parent %}"{{ line.product.parent.title }}"{% else %}{{ line.product.title }}{% endif %},
                "id": "{{ line.product.upc }}",
                "price": "{{ line.unit_price_incl_tax }}",
                "category": "{{ line.product.category }}",
                "variant": "{{ line.product.title }}",
                "quantity": "{{ line.quantity }}",
              }{% if not forloop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      console.log(datalayerContent);
      dataLayer.push(datalayerContent);
  </script>
{% endblock content %}
