{% load i18n %}

{% if quantity == 1 %}
    {% if product.is_child %}
        {% blocktrans with parent_title=product.parent.get_title title=product.get_title %}
        <strong>{{ parent_title }} - {{ title }} Pack</strong> has been added to your basket.
        {% endblocktrans %}
    {% else %}
        {% blocktrans with title=product.get_title %}
        <strong>{{ title }}</strong> has been added to your basket.
        {% endblocktrans %}
    {% endif %}
{% else %}
    {% if product.is_child %}
        {% blocktrans with parent_title=product.parent.get_title title=product.get_title %}
        <strong>{{ quantity }}</strong> copies of <strong>{{ parent_title }} - {{ title }} Pack</strong>
        have been added to your basket.
        {% endblocktrans %}
    {% else %}
        {% blocktrans with title=product.get_title quantity=quantity %}
        <strong>{{ quantity }}</strong> copies of <strong>{{ title }}</strong>
        have been added to your basket.
        {% endblocktrans %}
    {% endif %}
{% endif %}
