{% load i18n %}
{% load custom_tags %}

{% if user.is_authenticated %}
    {% is_on_wishlist request product as wishlist_info %}

    {% if not wishlist_info.is_on_wishlist %}
    <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post"
          class="btn-wishlist">
      {% csrf_token %}
      <button
        type="submit" class="btn btn-block text-theme"
        style="border: solid; background:none;"
        data-loading-text="Adding"
      >
        Add to Wishlist
      </button>
    </form>
    {% else %}
    <form id="remove_from_wishlist_form" action="{{ wishlist_info.remove_url }}"
          method="post"
          class="btn-wishlist">
      {% csrf_token %}
      <button type="submit" class="btn btn-block text-theme"
              style="border: solid; background:none;"
              data-loading-text="Removing"
      >
        Remove From Wishlist
      </button>
    </form>
    {% endif %}
{% else %}
    <button class="btn btn-block text-theme" style="border: solid; background:none;" disabled="disabled" title="{% trans 'Please login to add products to a wish list.' %}">{% trans 'Add to wish list' %}</button>
{% endif %}
