{% load basket_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% basket_form request product as basket_form %}
{#<form id="add_to_basket_form_{{ counter }}_{% if product.is_parent %}{{ product.sorted_size_pack.0.pk }}{% else %}{{ product.pk }}{% endif %}" action="{% if product.is_parent %}{% url 'basket:add' pk=product.sorted_size_pack.0.pk  %}{% else %}{% url 'basket:add' pk=product.pk %}{% endif %}" method="post"#}
{#      class="add-to-basket">#}
<form id="add_to_basket_form_{{ counter }}_{% if product.is_parent %}{{ product.sorted_size_pack.0.pk }}{% else %}{{ product.pk }}{% endif %}" action="javascript:" method="post" class="add-to-basket">
  {% csrf_token %}
  <input type="hidden" name="quantity" id="quantity_{{ counter }}" value="{% if product.get_title == "Coffee Concentrate" %}2{% else %}0{% endif %}">

  {% if session.availability.is_available_to_buy %}
{#    <a href="javascript:" id="submit_{{ counter }}" onclick="addToCart({{ counter }}, {% if product.is_parent %}{{ product.sorted_size_pack.0.pk }}{% else %}{{ product.pk }}{% endif %});"#}
{#       class="button button--primary{% if btnCss == 'button--primary__styled' %} {{ btnCss }}{% endif %}"#}
{#    > ADD TO CART</a>#}
    <!-- <a href="javascript:" id="submitDisabled_{{ counter }}" class="button button--disabled button--primary{% if btnCss == 'button--primary__styled' %} {{ btnCss }}{% endif %}"> ADD TO CART</a> -->
    <a href="javascript:" id="submit_{{ counter }}" onclick="addToCart({{ counter }}, {% if product.is_parent %}{{ product.sorted_size_pack.0.pk }}{% else %}{{ product.pk }}{% endif %});" class="button button--primary{% if btnCss == 'button--primary__styled' %} {{ btnCss }}{% endif %}"> ADD TO CART</a>
  {% else %}
  <div disabled class="button button--disabled button--primary{% if btnCss == 'button--primary__styled' %} {{ btnCss }}{% endif %}">ADD TO CART</div>
  {% endif %}
</form>
