{% load static %}
{% load i18n %}
{% load image_tags %}

{% with all_images=product.get_all_images %}
  {% if all_images|length > 1 %}
    <div class="thumbnail-small__wrapper">
      {% for image in all_images %}
        {% oscar_thumbnail image.original "838x838" upscale=False as thumb %}
        <label for="image-{{ forloop.counter }}" class="gallery">
          <input type="radio" name="switcher" id="image-{{ forloop.counter }}">
          <img
            src="{{ thumb.url }}"
            data-switcher="{{ thumb.url }}"
            alt="{{ product.get_title }}"
            class="w-100 cursor-pointer"
          />
        </label>
      {% endfor %}
    </div>
    <div class="thumbnail-big__wrapper gallery">
      {% oscar_thumbnail all_images.0.original "838x838" upscale=False as thumb %}
      <img src="{{ thumb.url }}" id="switcher" alt="{{ product.get_title }}" class="w-100"/>
    </div>
  {% else %}
    <div class="thumbnail-small__wrapper">
      {% with image=product.primary_image %}
        {% oscar_thumbnail image.original "838x838" upscale=False as thumb %}
        <label for="image-1" class="gallery">
          <input type="radio" name="switcher" id="image-1">
          <img
            src="{{ thumb.url }}"
            data-switcher="{{ thumb.url }}"
            alt="{{ product.get_title }}"
            class="w-100 cursor-pointer"
          />
        </label>
      {% endwith %}
    </div>
    <div class="thumbnail-big__wrapper gallery">
      {% with image=product.primary_image %}
        {% oscar_thumbnail image.original "838x838" upscale=False as thumb %}
        <img src="{{ thumb.url }}" id="switcher" alt="{{ product.get_title }}" class="w-100"/>
      {% endwith %}
    </div>
  {% endif %}
{% endwith %}
