{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load static %}
{% load custom_tags %}
{% load purchase_info_tags currency_filters %}

{% block product %}
  {% is_on_wishlist request product as wishlist_info %}
  {% purchase_info_for_product request product as session %}
  {% with available=session.availability.is_available_to_buy %}

    <div class="product-card">
      <span class="hidden" id="productIsParent_{{ counter }}">{{ product.is_parent }}</span>
      {% block product_image %}
        <a href="{{ product.get_absolute_url }}">
          <div class="product-image__wrapper">
            {% with image=product.primary_image %}
              {% oscar_thumbnail image.original "376x376" upscale=False as thumb %}
              <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
            {% endwith %}
          </div>
        </a>
      {% endblock %}
      <div class="product-title-and-price d-grid">
        <p class="text-semibold text-center">
          <a href="{{ product.get_absolute_url }}" class="text-bold">
            {{ product.get_title }}
          </a>
        </p>
        {% block product_stock_record %}
          <div class="font-secondary input-default text-center align-self-end" id="price-detail-{{ counter }}">
            {% if product.is_parent %}
              {% if product.get_title == 'Coffee Concentrate' %}each bottle{% else %}from{% endif %}
              {% if product.sorted_size_pack_price_retail_from %}
                <span class="discounted-price">
                {{ product.sorted_size_pack_price_retail_from|currency:session.price.currency }}
                </span> {{ product.sorted_size_pack_price_from|currency:session.price.currency }}
              {% else %}
                {{ product.sorted_size_pack_price_from|currency:session.price.currency }}
              {% endif %}
            {% else %}
              {% if product.get_title == 'Coffee Concentrate' %}each bottle{% else %}from{% endif %}

              {% if product.stockrecords.all.0.price_retail %}
                <span
                  class="discounted-price">{{ product.stockrecords.all.0.price_retail|currency:session.price.currency }}</span>
                {{ product.stockrecords.all.0.price_excl_tax|currency:session.price.currency }}
              {% else %}
                {{ product.stockrecords.all.0.price_excl_tax|currency:session.price.currency }}
              {% endif %}
            {% endif %}
          </div>
        {% endblock %}
      </div>
      <div class="product-quantity__container with-caption">
        <p>Qty:</p>
        <div class="button-cart__container font-primary">
          <button class="btn-counter btn-counter--decrement"
                  onclick="subst({{ counter }}{% if product.get_title == 'Coffee Concentrate' %}, 2{% endif %})">-
          </button>
          <div id="noOfRoom_{{ counter }}" class="text-center">{% if product.get_title == 'Coffee Concentrate' %}
            2{% else %}1{% endif %}</div>
          <button class="btn-counter btn-counter--increment" onclick="add({{ counter }})">+</button>
        </div>
      </div>
      <div class="product-pack__container with-caption">
        {% if product.sorted_size_pack %}
          <p>Size / pack:</p>
          <div class="product-pack__choose font-primary">
            {% for variant in product.sorted_size_pack %}
              {% purchase_info_for_product request variant as variant_session %}
              <input
                type="radio"
                id="variant_{{ variant.id }}"
                name="pack_{{ counter }}"
                value="{{ variant.id }}"
                onclick="changeUrl('{{ counter }}', '{{ variant.id }}', '{{ variant_session.price.incl_tax|currency:variant_session.price.currency }}')"
                {% if forloop.counter0 == 0 %} checked {% endif %}
              />
              <label
                for="variant_{{ variant.id }}"
                class="
                  {% if 'Bundle' in variant.get_title %} w-100
                  {% elif '1 Bottle' in variant.get_title %} w-100
                  {% elif '6 Bottles' in variant.get_title %} w-100
                  {% else %} w-max-content {% endif %}"
              >{{ variant.get_title|remove_pack_text }}
              </label>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <br/>
      {% block product_basket_form %}
        {% include "oscar/catalogue/partials/add_to_basket_form.html" with counter=counter %}
      {% endblock %}
    </div>
  {% endwith %}
{% endblock %}
