{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
  {% if session.price.excl_tax == 0 %}
        <h6 class="f-14 mt-2 text-danger fw-900">{% trans "Free" %}</h6>
    {% elif session.price.is_tax_known %}
        <h6 class="f-14 mt-2 text-danger fw-900">{{ session.price.incl_tax|currency:session.price.currency }}</h6>
        {% if 'air lite' in category_list %}
            <h6 class="f-12 mt-2 text-dark fw-900"><del class="text-gray">IDR249,000.00</del> 20% OFF</h6>
        {% elif 'basic' in category_list %}
            <h6 class="f-14 mt-2 text-dark fw-900"><del class="text-gray">IDR99,000.00</del> 20% OFF</h6>
        {% elif 'cropped' in category_list %}
            <h6 class="f-14 mt-2 text-dark fw-900"><del class="text-gray">IDR99,000.00</del> 20% OFF</h6>
        {% elif 'long sleeve' in category_list %}
            <h6 class="f-14 mt-2 text-dark fw-900"><del class="text-gray">IDR159,000.00</del> 19% OFF</h6>
        {% elif 'polo shirt' in category_list %}
            <h6 class="f-14 mt-2 text-dark fw-900"><del class="text-gray">IDR249,000.00</del> 20% OFF</h6>
        {% elif 'oversized sweatshirt' in category_list %}
            <h6 class="f-14 mt-2 text-dark fw-900"><del class="text-gray">IDR299,000.00</del> 13% OFF</h6>
        {% elif 'pull over hoodie' in category_list %}
            <h6 class="f-14 mt-2 text-dark fw-900"><del class="text-gray">IDR399,000.00</del> 17% OFF</h6>
        {% elif 'bundle pack' in category_list %}
            <h6 class="f-14 mt-2 text-dark fw-900"><del class="text-gray">IDR348,000.00</del> 35% OFF</h6>
        {% endif %}
    {% else %}
        <h6 class="f-14 mt-2 text-danger fw-900">{{ session.price.excl_tax|currency:session.price.currency }}</h6>
  {% endif %}
{% else %}
    <h6 class="f-14 mt-2 text-danger fw-900">&nbsp;</h6>
{% endif %}
<p class="{{ session.availability.code }} availability">
    <i class="icon-{% if session.availability.is_available_to_buy %}ok{% else %}remove{% endif %}"></i>
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
