.background-image {
    background-repeat: no-repeat;
    background-image: var(--background-img);

    &__jumpstart{
        height: 500px;

        background-size: 250%;

        @include desktop-up {
            height: 350px;
        }
    }

    &__feel-great{

        @include desktop-up {
            height: 275px;
        }
    }

    &__blogs-detail {
        @include desktop-up {
            height: 300px;
        }
    }
    &__fb-banner {
        @include desktop-up {
            background-image: var(--background-img-desktop);
            height: 350px;
        }
    }
}

.bg-position-center {
    background-position: center;
}

.bg-position-top {
    background-position: top;
}
.bg-position-bottom {
    background-position: bottom;
}

.bg-size-cover {
    background-size: cover;
}

.bg-position-bottom-center {
    background-position: bottom center;
}

.bg-size-contain {
    background-size: contain;
}

.bg-size-password {
    background-size: 45rem;
}
