.error__container {
    padding-top: 5rem;

    img {
        width: 100%;
        order: 2;

        @include desktop-up {
            width: 75%;
        }
    }

    @include desktop-up {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}
  
.error__content h1, .error__content h2 {
    text-transform: initial;
    text-align: center;

    @include desktop-up {
        text-align: left;
    }
}

@include desktop-up {
    .error__content h1 {
        font-size: 4.375rem;
    }
}

.error-buttons__wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;

    @include desktop-up {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    column-gap: 1rem;
  }
}