.form-check {
    padding-top: 1em;
  }

  .form-check > label {
    padding: 0;
  }

  .input-field {
    display: grid;
    min-height: 1em;

    margin: 0.1em 0 0.3em;

    color: $white;
    // font-size: 0.65em;

    &__top {
      grid-template-columns: repeat(auto-fit, minmax(50%,1fr));
    }

    // &__bottom {
    //   color: $grey-2;
    // }

    &__left {
      text-align: left;
    }

    &__right {
    //   color: $grey-2;
      text-align: right;
      padding: 1rem 0;
    }
  }

  .input__layout {
    display: grid;
    margin-bottom: 1.5em;

    // &--error {
    //   input {
    //     border: 1px solid $red-2;
    //   }

    //   .helper-line__bottom {
    //     color: $red-2;
    //   }
    // }
    select {
      margin-bottom: .5rem;
    }
  }

.input__login {
  display: grid;
  row-gap: 9px;
  margin-bottom: 1.5rem;

}

.input-img-icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}
.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  input {
    @include hideInput;
  }

  input + label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: $black-1;
    border: solid 1px #DDD;
    box-sizing: border-box;
    margin: 0;
    padding: .75rem 2rem;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);

    line-height: 140%;
    font-weight: 600;
    text-align: center;

    transition: border-color .15s ease-out,
    color .25s ease-out,
    background-color .15s ease-out,
    box-shadow .15s ease-out;

    flex: 0 0 50%;

    &:first-of-type {
      border-radius: 6px 0 0 6px;
      border-right: none;
    }

    &:last-of-type {
      border-radius: 0 6px 6px 0;
      border-left: none;
    }
  }

  input:hover + label {
    border-color: $black-1;
  }

  input:checked + label {
    background-color: $gold;
    color: #FFF;
    box-shadow: #FFF;
    border-color: $gold;
    z-index: 1;
  }
}
