{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <ul class="list-inline breadcrumb">
          <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="list-inline-item active">/ Shopping Bag</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}

{% block headertext %}
    {# trans "Basket" #}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
      {# Use a partial template so that AJAX can be used to re-render basket #}
      {% include 'oscar/basket/partials/basket_content.html' %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
