{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load static %}
{% load custom_tags %}
{% load purchase_info_tags currency_filters %}

<nav class="desktop-nav desktop-only">
  <div class="desktop-nav__left">
    <a href="{% url 'home' %}"><img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/></a>
  </div>
  <div class="desktop-nav__center label-bold">
    <ul class="nav-links">
      <li>
        <a href="{% url 'collections' %}">BUY NOW</a>
        <div class="mega-menu content">
          {% for product in product_navbar %}
            <a href="{{ product.get_absolute_url }}" class="product-card">
              {% with image=product.primary_image %}
                {% oscar_thumbnail image.original "230x230" upscale=False as thumb %}
                <div class="product-image__wrapper">
                  <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                </div>
              {% endwith %}
              <div class="product-title-and-price">
                <div class="text-semibold text-center">{{ product.get_title }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </li>
      <li class="position-relative">
        <a href="{% url 'sub-and-save' %}">SUBSCRIPTION</a>
        <ul class="drop-menu">
          <li><a href="{% url 'subscription' %}">Prepaid</a></li>
          <li><a href="{% url 'subscription' %}">Pay as you go</a></li>
        </ul>
      </li>
      <li><a href="{% url 'about-us' %}">ABOUT US</a></li>
      <li><a href="{% url 'stockists' %}">STOCKISTS</a></li>
    </ul>
  </div>
  <div class="desktop-nav__right text-end d-flex justify-content-end">
    {% if request.user.is_authenticated %}
      <a href="{% url 'account_logout' %}">LOGOUT</a>
      <a href="{% url 'customer:profile-view' %}"><img src="{% static 'images/boot/icons/user-icon.png' %}"
                                                       alt="user-icon"/></a>
    {% else %}
      <a href="{% url 'account_login' %}"><img src="{% static 'images/boot/icons/user-icon.png' %}"
                                               alt="user-icon"/></a>
    {% endif %}
    <div class="cart-icon__wrapper d-flex">
      <a href="javascript:" onclick="showCart('open');">
        <img src="{% static 'images/boot/icons/cart-icon.png' %}" alt="cart-icon" class="w-50"/>
        <div class="cart-counter text-center" id="totalCart">0</div>
      </a>
    </div>
  </div>
</nav>
