{% load static %}

<div class="m-boot-mobile-6 m-boot-desktop-6">
  <div class="custom-text__style mb-4">
    <hr class="w-100">
    <img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
    <h4 class="text-center px-2">ENJOYED BY</h4>
    <img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
    <hr class="w-100">
  </div>
  <div class="our-clients__icons">
    <img src="{% static 'images/boot/icons/the-straits-times.svg' %}" alt="the straits times"/>
    <img src="{% static 'images/boot/icons/google.svg' %}" alt="google"/>
    <img src="{% static 'images/boot/icons/dbs.svg' %}" alt="dbs"/>
    <img src="{% static 'images/boot/icons/bloomberg.svg' %}" alt="bloomberg"/>
    <img src="{% static 'images/boot/icons/f45.svg' %}" alt="f45"  style="width: 60%"/>
    <img src="{% static 'images/boot/icons/louis-vuitton.svg' %}" alt="louis vuitton" style="width: 40%"/>
  </div>
</div>