
{% load static %}

    <footer>
        <div>
            <img class="mb-1" src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/>
            {% comment %}
            <div class="text-besides-icon">
                <div class="icon">
                    <img src="{% static 'images/boot/icons/phone-icon.png' %}" alt="phone-icon"/>
                </div>
                <p class="label-default"> Call Us at +52 1234 5678
                </p>
            </div>
            {% endcomment %}
            <div class="text-besides-icon align-items-center">
                <div class="icon">
                    <img src="{% static 'images/boot/icons/email-icon.png' %}" alt="email-icon"/>
                </div>
                <p class="label-default"> <a href="mailto:info@bootstrapbeverages.com">info@bootstrapbeverages.com</a>
                </p>
            </div>
        </div>
        <div>
            <div class="d-grid label-default cursor-pointer">
                <p class="label-bold mb-3">
                    ABOUT
                </p>
                {% comment %}
                <a href="{% url 'search' %}">Search</a>
                <a href="{% url 'contact-us' %}">Contact Us</a>
                {% endcomment %}
                <a href="{% url 'faq' %}">FAQs</a>
                <a href="https://bootstrapbeverages.com/blog/">Blog</a>
                {% if request.user.is_authenticated %}
                  <a href="{% url 'customer:subscriptions' %}">Manage Subscriptions</a>
                {% endif %}
                {% comment %}
                <a href="{% url 'refer-a-friend' %}">Refer-A-Friend</a>
                {% endcomment %}
                <a href="{% url 'terms-of-service' %}">Terms of Service</a>
            </div>
        </div>
        <div class="d-grid">
            <div class="mb-3">
                <p class="label-bold mb-3">SUBSCRIBE TO OUR NEWSLETTER</p>
                <div class="d-flex">
                    <input type="text" placeholder="Enter your email">
                    </input>
                    <button class="button button--primary">
                        SUBSCRIBE
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <p class="label-bold mb-3">FOLLOW US</p>
                <div class="footer-social-account__wrapper">
                    <a href="https://instagram.com/bootstrapcoldbrewsg" target="_blank" class="cursor-pointer d-flex">
                        <img src="{% static 'images/boot/icons/instagram-icon.png' %}" alt="instagram-icon"/>
                    </a>
                    <a href="https://www.facebook.com/BootstrapColdBrewSG " target="_blank" class="cursor-pointer d-flex">
                        <img src="{% static 'images/boot/icons/facebook-icon.png' %}" alt="facebook-icon" class="ml-2"/>
                    </a>
                </div>
            </div>
            <div>
                <p class="label-bold mb-3">PAYMENT OPTIONS</p>
                <div class="footer-payment__wrapper">
                    <img src="{% static 'images/boot/icons/american-express.png' %}" alt="american-express-card"/>
                    <img src="{% static 'images/boot/icons/jcb.png' %}" alt="jcb-card"/>
                    <img src="{% static 'images/boot/icons/master-card.png' %}" alt="master-card"/>
                    <img src="{% static 'images/boot/icons/visa.png' %}" alt="visa-card"/>
                </div>
            </div>
        </div>
        <p class="copyrights label-default">© {% now "Y" %} Bootstrap Beverages All Rights Reserved. Bootstrap is registered trademark of Bootstrap Beverages Pte Ltd</p>
    </footer>
