{% load static %}
{% load image_tags %}

<nav class="mobile-only">
  <div class="mobile-nav">
    <div class="mobile-nav__left">
      <a href="{% url 'home' %}"><img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/></a>
    </div>
    <div class="mobile-nav__right">
      <div>
        <img src="{% static 'images/boot/icons/menu-icon.png' %}" alt="menu-icon" class="w-75" onclick="showMobileNav('open')"/>
      </div>
      <div class="cart-icon__wrapper d-flex">
        <a href="javascript:" onclick="showCart('open');">
          <img src="{% static 'images/boot/icons/cart-icon.png' %}" alt="cart-icon" class="w-50"/>
          <div class="cart-counter text-center" id="mtotalCart">0</div>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="modal__container mobile-nav__wrapper none">
  <div class="modal__cart px-3 py-3">
    <div class="text-end mb-2 d-flex align-center justify-content-between">
      <div></div>
      <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" class="button-close" onclick="showMobileNav('close')"/>
    </div>
    <hr>
    <br>
    <div class="accordion mb-3">
      <div class="accordion-header d-flex justify-content-between align-items-center cursor-pointer mb-2">
        <a href="{% url 'collections' %}">BUY NOW</a>
        <img src="{% static 'images/boot/icons/down.svg' %}" alt="down"/>
      </div>
      <div class="accordion__content font-primary">
        <div class="mega-menu__mobile">
          {% for product in product_navbar %}
          <a href="{{ product.get_absolute_url }}" class="product-card">
            {% with image=product.primary_image %}
              {% oscar_thumbnail image.original "230x230" upscale=False as thumb %}
              <div class="product-image__wrapper">
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
              </div>
            {% endwith %}
            <div class="product-title-and-price">
              <div class="text-semibold text-center">{{ product.get_title }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="accordion mb-3">
      <div class="accordion-header d-flex justify-content-between align-items-center cursor-pointer mb-2">
        <a href="{% url 'sub-and-save' %}">SUBSCRIPTION</a>
        <img src="{% static 'images/boot/icons/down.svg' %}" alt="down"/>
      </div>
      <div class="accordion__content font-primary">
        <a href="{% url 'subscription' %}">Prepaid</a>
        <br/>
        <br/>
        <a href="{% url 'subscription' %}">Pay as you go</a>
        <br/>
        <br/>
      </div>
    </div>
    <div class="menu__link">
      <a href="{% url 'about-us' %}">ABOUT US</a>
      <a href="{% url 'stockists' %}">STOCKISTS</a>
      {% if request.user.is_authenticated %}
      <a href="{% url 'account_logout' %}">LOGOUT</a>
      <a href="{% url 'customer:profile-view' %}"><img src="{% static 'images/boot/icons/user-icon.png' %}" alt="user-icon"/></a>
      {% else %}
      <a href="{% url 'account_login' %}">LOGIN</a>
      {% endif %}
    </div>
  </div>
</div>
