{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load static %}
{% load custom_tags %}
{% load purchase_info_tags currency_filters %}

<nav class="desktop-nav desktop-only">
  <div class="desktop-nav__left">
    <a href="{% url 'home' %}"><img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/></a>
  </div>
  <div class="desktop-nav__center label-bold">
    <ul class="nav-links">
      <li>
        <a href="{% url 'collections' %}">BUY NOW</a>
        <div class="mega-menu content">
          {% for product in product_navbar %}
            {% for cat in product.categories.all %}
              {% if "dropdown" in cat.name %}
                <a href="{{ product.get_absolute_url }}" class="product-card">
                  {% with image=product.primary_image %}
                    {% oscar_thumbnail image.original "230x230" upscale=False as thumb %}
                    <div class="product-image__wrapper">
                      <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                    </div>
                  {% endwith %}
                  <div class="product-title-and-price">
                    <p class="text-semibold text-center ">{{ product.get_title }}</p>
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          {% endfor %}

        </div>
      </li>
      <li class="position-relative">
        <a href="{% url 'sub-and-save' %}">SUBSCRIPTION</a>
        <ul class="drop-menu">
          <li><a href="{% url 'subscription' %}">Prepaid</a></li>
          <li><a href="{% url 'subscription' %}">Pay as you go</a></li>
        </ul>
      </li>
      <li><a href="{% url 'about-us' %}">ABOUT US</a></li>
      <li><a href="{% url 'stockists' %}">STOCKISTS</a></li>
    </ul>
  </div>
  <div class="desktop-nav__right text-end d-flex justify-content-end">
    {% if request.user.is_authenticated %}
      <a href="{% url 'account_logout' %}">LOGOUT</a>
      <a href="{% url 'customer:profile-view' %}">
        <img src="{% static 'images/boot/icons/user-icon-1.png' %}" alt="user-icon-1"/></a>
    {% else %}
      <a href="{% url 'account_login' %}">
        <img src="{% static 'images/boot/icons/user-icon-1.png' %}" alt="user-icon-1"/></a>
    {% endif %}
    <div class="cart-icon__wrapper d-flex">
      <a href="javascript:" onclick="showCart('open');">
        <img src="{% static 'images/boot/icons/cart-icon.png' %}" alt="cart-icon" class="w-50"/>
        <div class="cart-counter text-center" id="totalCart">0</div>
      </a>
    </div>
  </div>
</nav>
<nav class="mobile-only">
  <div class="mobile-nav">
    <div class="mobile-nav__left">
      <a href="{% url 'home' %}"><img src="{% static 'images/boot/bootstrap-logo.png' %}" alt="bootstrap-logo"/></a>
    </div>
    <div class="mobile-nav__right">
      <div>
        <img src="{% static 'images/boot/icons/menu-icon.png' %}" alt="menu-icon" class="w-75"
             onclick="showMobileNav('open')"/>
      </div>
      <div class="cart-icon__wrapper d-flex">
        <a href="javascript:" onclick="showCart('open');">
          <img src="{% static 'images/boot/icons/cart-icon.png' %}" alt="cart-icon" class="w-50"/>
          <div class="cart-counter text-center" id="mtotalCart">0</div>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="modal__container mobile-nav__wrapper none">
  <div class="modal__cart px-3 py-3">
    <div class="text-end mb-2 d-flex align-center justify-content-between">
      <div></div>
      <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" class="button-close"
           onclick="showMobileNav('close')"/>
    </div>
    <hr>
    <br>
    <div class="accordion mb-3">
      <div class="accordion-header d-flex justify-content-between align-items-center cursor-pointer mb-2">
        <a href="{% url 'collections' %}">BUY NOW</a>
        <img src="{% static 'images/boot/icons/down.svg' %}" alt="down"/>
      </div>
      <div class="accordion__content accordion__content--nav font-primary">
        <div class="mega-menu__mobile">
          {% for product in product_navbar %}
            {% for cat in product.categories.all %}
              {% if "dropdown" in cat.name %}
                <a href="{{ product.get_absolute_url }}" class="product-card mb-2">
                  {% with image=product.primary_image %}
                    {% oscar_thumbnail image.original "230x230" upscale=False as thumb %}
                    <div class="product-image__wrapper product-image__wrapper--mobile">
                      <img src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                    </div>
                  {% endwith %}
                  <div class="product-title-and-price">
                    <div class="text-semibold text-center">{{ product.get_title }}</div>
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="accordion mb-3">
      <div class="accordion-header d-flex justify-content-between align-items-center cursor-pointer mb-2">
        <a href="{% url 'sub-and-save' %}">SUBSCRIPTION</a>
        <img src="{% static 'images/boot/icons/down.svg' %}" alt="down"/>
      </div>
      <div class="accordion__content accordion__content--nav font-primary">
        <a href="{% url 'subscription' %}">Prepaid</a>
        <br/>
        <br/>
        <a href="{% url 'subscription' %}">Pay as you go</a>
        <br/>
        <br/>
      </div>
    </div>
    <div class="menu__link">
      <a href="{% url 'about-us' %}">ABOUT US</a>
      <a href="{% url 'stockists' %}">STOCKISTS</a>
      {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">LOGOUT</a>
        <a href="{% url 'customer:profile-view' %}"><img src="{% static 'images/boot/icons/user-icon-1.png' %}"
                                                         alt="user-icon-1" class=""/></a>
      {% else %}
        <a href="{% url 'account_login' %}">LOGIN</a>
      {% endif %}
    </div>
  </div>
</div>

{% block extra_js %}
  <script type="text/javascript">

    showMobileNav = (str) => {
      if (str === 'open') {
        $('.mobile-nav__wrapper').removeClass('none')
      } else {
        $('.mobile-nav__wrapper').addClass('none')
      }
    }

    var acc = document.getElementsByClassName('accordion-header');
    var i;
    var len = acc.length;
    for (i = 0; i < len; i++) {
      acc[i].addEventListener('click', function () {
        this.classList.toggle('active');

        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 'px'
        }
      })
    }
  </script>
{% endblock extra_js %}
