{% load static %}

<div class="mobile-only">
    <nav class="user-nav">
        <a href="{% url 'customer:profile-view' %}" class="nav__link text-center">
            <img src="{% static 'images/boot/icons/my-account.svg' %}" alt="my-account" style="padding-bottom:0.5rem;"/>
            <p class="nav-text label-default">My Account</p>
        </a>
        <a href="{% url 'customer:address-list' %}" class="nav__link text-center">
            <img src="{% static 'images/boot/icons/address-lists.svg' %}" alt="address-icon" style="padding-bottom:0.5rem;"/>
            <p class="nav-text label-default">Address Lists</p>
        </a>
        <a href="{% url 'customer:subscriptions' %}" class="nav__link nav__link--active text-center">
            <img class="nav-icon" src="{% static 'images/boot/icons/subscriptions.svg' %}" alt="subscription-icon" style="padding-bottom:0.5rem;"/>
            <p class="nav-text label-default">Subscription</p>
        </a>
        <a href="{% url 'customer:transaction-history-list' %}" class="nav__link text-center">
            <img src="{% static 'images/boot/icons/transaction-history.svg' %}" alt="history-icon" style="padding-bottom:0.5rem;"/>
            <p class="nav-text label-default">Transaction</p>
        </a>
    </nav>
</div>
