{% load static %}

<div class="accordion__container m-boot-mobile-3 m-boot-desktop-3">
  <div class="custom-text__style mb-5">
    <hr class="w-100">
    <img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pl-2"/>
    <h4 class="text-center px-2">FAQS</h4>
    <img src="{% static 'images/boot/coffee-beans.png' %}" alt="coffee-beans" class="pr-2"/>
    <hr class="w-100">
  </div>
  <div class="accordion__wrapper">
    <div class="accordion-left">
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>HOW DOES SUBSCRIPTIONS WORK?</p>
        </div>
        <p class="panel font-primary">
          We absolutely look forward to waking up or going to the office knowing that there's always a fridge fuelled up with Bootstrap cold brews. Perfect for the office or home, so that you and your family or colleagues can have the smoothest cold brew always on hand. Simply choose your favorite flavour, quantity and frequency and we will handle the rest. Never run out of the smoothest cold brew again. Go to our subscriptions and enjoy 20% off + free delivery now!
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>CAN I CHANGE MY FLAVOUR SELECTION OR MIX-AND-MATCH?</p>
        </div>
        <p class="panel font-primary">
          YES YOU CAN! You may swap your preferred cold brew selection at any time in between shipments. Simply login to your account and select Manage Subscription. In the subscriptions menu, you will see an option to "Swap Product" where you'll be able to swap your flavour.
          Our subscription customers are also given the exclusive feature to mix-and-match their 6/12/24 packs. If you would like to customize your packs, simply reach out to us via our website's live chat and our team members will be glad to assist you. We're also working on a feature which will allow you to mix-and-match your own flavours via the portal in a few months time!
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>WHEN WILL MY COLD BREWS BE DELIVERED?</p>
        </div>
        <p class="panel font-primary">
          Your first batch of cold brews will be delivered to you on the date and time-slot that you have selected during checkout. The delivery schedule (day of the week and time window) of subsequent subscription orders will follow your original or most updated preference with us. Should you like to make adjustments to your delivery preferences, please feel free to reach out to us on our website's live chat and we'll be most delighted to assist you.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>CAN I ADJUST MY DELIVERY DATE AND TIME?</p>
        </div>
        <p class="panel font-primary">
          Yes, most certainly! You can request for a change in the delivery day and time slot by sending an email to our Customer Support Team at info@bootstrapbeverages.com or by reaching out to us on our live chat at the bottom right corner of the page. We're also working on a feature which will allow you to select the delivery date on your own, which will be launched in a few months!
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>CAN I SKIP A DELIVERY OR PAUSE MY SUBSCRIPTION?</p>
        </div>
        <p class="panel font-primary">
          You can pause, skip or reschedule your subscription at any time by logging into your account here. From there, simply click on Manage Subscriptions under your name and you would be able to manage your subscription there. If you face any difficulties, feel free to reach out to us via our website's live chat.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>CAN I RETURN MY BOTTLES FOR RECYCLING?</p>
        </div>
        <p class="panel font-primary">
          YES, you most certainly can! Simply hand them back to our delivery driver the next time you receive your fresh set of brews from us!
        </p>
      </div>
    </div>
    <div class="accordion-right">
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>HOW DO I MANAGE MY SUBSCRIPTIONS?</p>
        </div>
        <p class="panel font-primary">
          It’s really easy. Simply log in to the account that you’ve created when you place a subscription order with us. You can register your account on our homepage or click here. Once you’ve logged into your account, click “Manage Subscriptions” on the left of the account portal which will allow you to do a number of things: You can swap flavours or products, pause or change the frequency of your orders, you can also skip an order if you happen to be travelling or trigger an easy cancellation if it’s just too much for you. Your subscription details will be saved so if you want to re-activate your subscription at any time it only takes one click! Make changes to your billing or shipping information in the account portal too. If you have any other questions, email us on info@bootstrapbeverages.com and we will get back to you shortly!
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>WHEN WILL I BE BILLED FOR MY SUBSCRIPTION?</p>
        </div>
        <p class="panel font-primary">
          After your first shipment, billing takes place on a Sunday afternoon preceding the week that your cold brews will be delivered. For example, if you are to receive your cold brews on a Tuesday, your order will be processed and a charge initiated to your card automatically on Sunday afternoon.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>WHY IS MY BILLING DATE DIFFERENT FROM MY DELIVERY DATE?</p>
        </div>
        <p class="panel font-primary">
          The Billing Date refers to the date where your order will be processed and charged to your card. This typically takes place on the Sunday afternoon preceding the week that your cold brews will be delivered. If you need to change your delivery date and time or update your delivery preferences, please reach out to us on our live chat and we will be happy to assist you.
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>WHAT ARE THE SHIPPING RATE FOR SUBSCRIPTION ORDERS?</p>
        </div>
        <p class="panel font-primary">
          We offer free shipping islandwide within Singapore for subscribers, always!
        </p>
      </div>
      <div class="accordion">
        <div class="accordion__icon">
          <img src="{% static 'images/boot/icons/circle-down.svg' %}" alt="circle-down"/>
          <p>CAN I CANCEL MY SUBSCRIPTION?</p>
        </div>
          <div class="panel font-primary">
            <p>Yes, most certainly! You can request for a change in the delivery day and time slot by sending an email to our Customer Support Team at info@bootstrapbeverages.com or by reaching out to us on our live chat at the bottom right corner of the page. We're also working on a feature which will allow you to select the delivery date on your own, which will be launched in a few months!
            </p>
            <p>
            Do note that for all standard subscriptions, cancellation is only possible after your second shipment. Any request to cancel your subscription after the 1st shipment will be regarded as a one-off purchase and will incur an early termination fee that amounts to the difference between the subscription price and the one-off price. If you are joining us on a subscription with a promotion applied, do note that there may be longer minimum commitment periods. Kindly look at the T&Cs under each promotion for clarification.
            </p>
            <p>
            For semi-annual and annual subscriptions, please kindly note that there will be an early cancellation fee amounting to 13 shipments that is chargeable.
            </p>
          </div>
      </div>
    </div>
  </div>
</div>