{% extends "oscar/layout.html" %}

{% load currency_filters %}
{% load product_tags %}
{% load urlparams %}
{% load i18n %}

{% block title %}
    "{{ query }}" | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block column_left %}
    {% if has_facets %}
        <h4>{% trans "Refine your search" %}</h4>
        <dl>
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'oscar/search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </dl>
    {% endif %}
{% endblock %}

{% block headertext %}
    <!--{% blocktrans with q=query %}
        Products matching "{{ q }}"
    {% endblocktrans %}-->
{% endblock %}

{% block content %}
{% with q=request.GET.q sort_by=request.GET.sort_by %}
    <form action="" method="">
      <div class="wrapper flex-grow-1">
        <div class="container-fluid p-0 maxWidth">
          <div class="row no-gutters">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="search-box border-bottom">
                <input value="{% if search_form.q.value %}{{ search_form.q.value }}{% endif %}"
                       name="q" type="search" maxlength="20"
                       placeholder="type & enter to search again"/></div>
            </div>
          </div>
        </div>

        <div class="container mb-3">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
              <h5 class="text-uppercase text-theme fw-800 mt-4">Search result</h5>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
              <div class="text-right mb-4">
                <div class="dropdown" style="width: 50vh; float: right;">
                  {% include "alowalo/partials/form_field_no_title.html" with field=search_form.sort_by %}
                </div>
              </div>
            </div>

            {% if products %}
              {% for product in products %}
                <div class="col-6 col-md-6 col-lg-3 mb-2">
                  {% render_product product %}
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="row">
            {% if is_paginated %}
            <br>
            <br>
            <nav aria-label="Page navigation example" class="main-pagination" style="margin: auto;">
              <ul class="pagination justify-content-left">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="{% urlparams page=page_obj.previous_page_number sort_by=sort_by q=q %}"
                    >&laquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                {% endif %}

                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                  {% else %}
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="{% urlparams page=i q=q sort_by=sort_by %}"
                      >
                        {{ i }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="{% urlparams page=page_obj.next_page_number sort_by=sort_by %}"
                    >
                      &raquo;
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                {% endif %}
              </ul>
            </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
{% endwith %}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
