{% load currency_filters %}
{% load purchase_info_tags %}
{% load i18n %}

<div class="col-6 col-md-6 col-lg-3 mb-2">
  <div class="product_summary h-100">
    <div>
      <!--div class="heart-contain-sm d-sm-block d-md-none d-lg-none"><i class="fas fa-heart heart"></i></div-->
      <a href="{{ product.get_absolute_url }}">
        <img src="{{ product.primary_image.original.url }}"
             class="lazy img-fluid d-sm-block d-md-none d-lg-none"/> <!-- img small screen-->
        <img src="{{ product.primary_image.original.url }}"
             class="lazy img-fluid d-none d-md-block d-lg-block"/> <!-- img larger screen -->
      </a>
      <!--div class="summary-action d-none d-md-block d-lg-block">
        <div class="d-flex justify-content-center">
          <div class="p-1"><a href="javascript:;" data-toggle="modal" data-target="#modalQuick"
                              class="btn-quick-add"><i class="fas fa-plus"></i> QUICK ADD</a></div>
          <div class="p-1">
            <div class="heart-contain"><i class="fas fa-heart heart"></i></div>
          </div>
        </div>
      </div-->
    </div>
    <div class="m-3">
      <a href="{{ product.get_absolute_url }}">
        <h6 class="text-theme m-0 f-14 fw-700">{{ product.title }}</h6>
        <div
          class="f-12 d-sm-block d-md-none d-lg-none"><?=mb_strimwidth('Plaids Printed Long Sleeve Shirts', 0, 25, '...');?></div>
        <div class="f-12 img-fluid d-none d-md-block d-lg-block">
          {{ product.categories.all.0.name }}
        </div>
        <h6 class="f-14 mt-2 text-danger fw-900">
          {% purchase_info_for_product request product as session %}
          {% if session.price.excl_tax == 0 %}
              {% trans "Free" %}
          {% elif session.price.is_tax_known %}
              {{ session.price.incl_tax|currency:session.price.currency }}
          {% else %}
              {{ session.price.excl_tax|currency:session.price.currency }}
          {% endif %}
        </h6>
        <!--h6 class="f-12 fw-900">
          <del class="text-gray">Rp. 130.000</del>
          <strong class="ml-1">3% OFF</strong></h6-->
      </a>
      <!--div class="f-12 d-none d-md-block d-lg-block pick-color">
        Colors :
        <ul class="list-inline mt-2">
          <li class="list-inline-item">
            <div class="radio" style="background-color: #f5365c !important;"></div>
          </li>
          <li class="list-inline-item">
            <div class="radio" style="background-color: #fadd1d !important;"></div>
          </li>
        </ul>
      </div-->
    </div>
  </div>
</div>
