{% extends "base.html" %}
{% load static %}

{% block title %}Bad Request{% endblock %}

{% block content %}

<section class="error__container m-boot-mobile-6 m-boot-desktop-6">
	<img src="{% static 'images/boot/error-400.png' %}" alt="400-image" class="mb-5 mx-auto"/>

	<div class="error__content">
		<h1>400</h1>
		<h2 class="mb-4">Bad Request</h2>
		<p class="mb-4">Oh no... seems like your browser sent an invalid request. We suggest you to go back to home.
		</p>
		<a href="/" class="button button--primary button--dynamic">GO TO HOME</a>
	</div>
</section>

{% endblock content %}
