{% extends "base.html" %}
{% load static %}

{% block title %}Forbidden (403){% endblock %}

{% block content %}

<section class="error__container m-boot-mobile-6 m-boot-desktop-6">
	<img src="{% static 'images/boot/error-403.png' %}" alt="403-image" class="mb-5 mx-auto"/>

	<div class="error__content">
		<h1>403</h1>
		<h2 class="mb-4">We are sorry...</h2>
		<p class="mb-4">You are not permitted to see this page. If you feel this is a mistake, feel free to contact us via
			<a href="mailto:info@bootstrapbeverages.com" class="text-underline-gold font-gold">email</a>.
		</p>
		<a href="/" class="button button--primary button--dynamic">GO TO HOME</a>
	</div>
</section>

{% endblock content %}
