{% extends "base.html" %}
{% load static %}

{% block title %}Page not found{% endblock %}

{% block content %}

<section class="error__container m-boot-mobile-6 m-boot-desktop-6">
	<img src="{% static 'images/boot/error-404-500.png' %}" alt="404-image" class="mb-5 mx-auto"/>

	<div class="error__content">
		<h1>404</h1>
		<h2 class="mb-4">What a mess...</h2>
		<p class="mb-4">It seems like some page is missing or there is an error in here. While we fix everything for you, we suggest you to go back to home.
		</p>
		<a href="/" class="button button--primary button--dynamic">GO TO HOME</a>
	</div>
</section>

{% endblock content %}
