{% extends "base.html" %}
{% load static %}

{% block title %}Server Error{% endblock %}

{% block content %}

<section class="error__container m-boot-mobile-6 m-boot-desktop-6">
	<img src="{% static 'images/boot/error-404-500.png' %}" alt="500-image" class="mb-5 mx-auto"/>

	<div class="error__content">
		<h1>500</h1>
		<h2 class="mb-4">Sorry it's not you, it's us.</h2>
		<p class="mb-4">Something went error. We apologize and try to fixing this error. Please try again later.</p>
		<a href="/" class="button button--primary button--dynamic">GO TO HOME</a>
	</div>
</section>

{% endblock content %}
