{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {% block title %}
      Bootstrap Beverages - Cold Brew Coffee Delivery
    {% endblock title %}
    {% if request.path != "" %}– Bootstrap Beverages{% endif %}
  </title>
  <meta name="description"
        content="{% block description %}The Best Cold Brew Coffee in Singapore.
        A specialty coffee company brewing fresh daily. Free shipping straight to your door.
        Coffee subscriptions available.
        {% endblock description %}">
  <meta property="og:site_name" content="Bootstrap Beverages">
  <meta property="og:url" content="https://bootstrapbeverages.com/">
  <meta property="og:title" content="Cold Brew Coffee Delivery: Coffee Subscription – Brewed Fresh Daily">
  <meta property="og:description" content="The Best Cold Brew Coffee in Singapore.
        A specialty coffee company brewing fresh daily. Free shipping straight to your door.
        Coffee subscriptions available.">
  <meta property="og:type" content="website">
  <meta property="og:image"
        content="{% static 'images/preview_image.png' %}">
  <meta property="og:image:secure_url"
        content="{% static 'images/preview_image.png' %}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta name="twitter:title" content="Cold Brew Coffee Delivery: Coffee Subscription – Brewed Fresh Daily">
  <meta name="twitter:description"
        content="The Best Cold Brew in Singapore. Specialty cold brew coffee producer brewing fresh daily with a coffee subscription. Bootstrap delivers straight to your door, with free and fast shipping.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="William Tekimam">
  {% if "staging" in request.get_host %}
    <meta name="robots" content="noindex">
  {% else %}
    {% include 'components/gtm-head.html' %}
    {% include 'components/hotjar.html' %}
  {% endif %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
  <link rel="icon" href="{% static 'images/favicon/boot-favicon.jpg' %}"
        type="image/x-icon">
  <link href="images/touch/icon.png" rel="icon" sizes="32x32">
  {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="{% static 'css/main.css' %}">
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}"/>
    <script src="https://js.stripe.com/v3/" defer></script>
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          integrity="sha512-cOGz9gyEibwgs1MVDCcfmQv6mPyUkfvrV9TsRbTuOA12SQnLzBROihf6/jK57u0YxzlxosBFunSt4V75K6azMw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {% block extra_css %}
    {% endblock extra_css %}
    {% compress css %}
      <!-- This file stores project-specific CSS -->
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    {% endcompress %}
  {% endblock %}
  <meta name="google-site-verification" content="j6uGRtx46DyIXMOZEvjos2BgL6tXeTHIBkkIJL12lsc" />
</head>

<body>
{% if "staging" not in request.get_host %}
  {% include "components/gtm-body.html" %}
{% endif %}

<div class="body__wrapper">
  {% if not "accounts" in request.path and not "checkout" in request.path and not "coffee-concentrate" in request.path %}
    <p class="announcement"><span class="text-bold">Enjoy Free Islandwide Shipping</span> <a
      href="/discount/CHEERUP/?redirect=/collections/fuel-up" class="text-decoration-underline cursor-pointer">FOR A
      LIMITED TIME ONLY</a></p>
  {% endif %}

  {% include "components/navbar.html" %}

  {% if messages %}
    {% for message in messages %}
      {% if "safe noicon" not in message.tags %}
        <div
          class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
          role="alert">{{ message|safe }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% block content %}
    <p>Use this document as a way to quick start any new project.</p>

  {% endblock content %}

  {% include 'pages/modal/cart.html' %}

  {% if not "concentrate" in request.path %}
    {% include "components/footer.html" %}
  {% endif %}

</div> <!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <script>
    const chevronLeft = "{% static 'images/boot/icons/chevron-left-gold.png' %}"
    const chevronRight = "{% static 'images/boot/icons/chevron-right-gold.png' %}"
  </script>
  <script>
    let buttonRemoveProduct = "{% static 'images/boot/icons/close-subs.png' %}"
  </script>
  <!-- Bootstrap JS and its dependencies-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  {#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
  {#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
  {#        crossorigin="anonymous"></script>#}
  <script rel="preload" type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
          integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
          integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
    integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->


  <!-- place project specific Javascript in this file -->
  {% compress js %}
  {% endcompress %}

  {% if not "accounts" in request.path %}
    <!--Gorgias Chat Widget Start-->
    <script id="gorgias-chat-widget-install-v2"
            src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=1328">
    </script>
    <!--Gorgias Chat Widget End-->
  {% endif %}
  <script rel="preload" src="{% static "oscar/js/oscar/ui.js" %}"></script>
  <script src="{% static 'js/extra-script.js' %}"></script>
  <script>
    $("a.product-card").hover(
      function () {
        $(this).find('p').addClass("fancy-link");
      }, function () {
        $(this).find('p').removeClass("fancy-link");
      }
    );
    $("#proceedCart").click(function () {
      let selectDeliveryTime = $("#selectDeliveryTime").val();
      let deliveryDate = $(".date-delivery").val();

      if (selectDeliveryTime === undefined || selectDeliveryTime === '') {
        alert("Please select delivery time first");
      } else if (deliveryDate === undefined || deliveryDate === "") {
        alert("Please select delivery date first");
      } else {
        location.href = "{% url 'checkout:index' %}";

      }

    })
  </script>
{% endblock javascript %}
<!-- Le EXTRA javascript -->
{% block extra_js %}
{% endblock extra_js %}

{# Additional JS scripts #}
{% block extrascripts %}
  {{ block.super }}
{% endblock %}

{# Block for body onload functions #}
<script>
  $(function () {
    {% block onbodyload %}{% endblock %}
  });
</script>


{% block nono %}
{% endblock %}
</body>
</html>
