{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<section class="checkout__container">
    <div class="checkout__wrapper">
        <div class="desktop-only">
            <div class="checkout-steps__header d-grid">
                <div class="order-summary__header d-flex">
                    <p class="order-summary__steps text-center">1</p>
                    <p class="ml-3"> PERSONAL INFO </p>
                </div>
                <div class="order-summary__header d-flex">
                    <p class="order-summary__steps text-center">2</p>
                    <p class="ml-3"> SHIPPING INFO </p>
                </div>
                <div class="order-summary__header d-flex">
                    <p class="order-summary__steps text-center">3</p>
                    <p class="ml-3"> PAYMENT SELECTION </p>
                </div>
            </div>
        </div>
        <div class="checkout-content__wrapper">
            <!-- Step 1: Personal Info. If not logged in, use this code-->
            <div class="mobile-only none">
                <div class="order-summary__header d-flex">
                    <p class="order-summary__steps text-center">1</p>
                    <h4 style="margin-left: 1rem;"> PERSONAL INFO </h4>
                </div>
            </div>
            <div class="checkout__title personal-info mb-5 none">
                <p class="body-semibold">CONTACT INFORMATION</p>
                <p class="text-end desktop-only">
                    Already have an account?
                    <a href="#" class="font-gold text-bold">
                        Sign In
                    </a>
                </p>
            </div>

            <form class="mb-6 none">
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Email Address</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input email address"
                    >
                </div>
                <div class="d-grid name__wrapper mb-5">
                    <div>
                        <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">First Name</label>
                        </div>
                    <input
                        type="text"
                        placeholder="Input first name"
                    >
                    </div>
                    <div>
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">Last Name</label>
                        </div>
                        <input
                            type="text"
                            placeholder="Input last name"
                        >
                    </div>
                </div>
                <p class="text-center mobile-only">
                    Already have an account?
                    <a href="#" class="font-gold text-bold">
                        Sign In
                    </a>
                </p>
            </form>
            <div class="checkout-button__wrapper none">
                <div class="button button--secondary">
                    <div class="text-besides-icon">
                        <div class="icon">
                            <img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
                        </div>
                        <p> Back to Cart
                        </p>
                    </div>
                </div>
                <div class="button button--primary mb-5">
                    <div class="icon-besides-text">
                        <p> Continue to Shipping Info</p>
                        <div class="icon">
                            <img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/>
                        </div>
                    </div>
                </div>
            </div>-->

            <!-- Step 2: Shipping Info-->
            <div class="mobile-only">
                <div class="order-summary__header d-flex">
                    <p class="order-summary__steps text-center">2</p>
                    <h4 style="margin-left: 1rem;"> SHIPPING INFO </h4>
                </div>
            </div>

            {% if user.is_authenticated %}
                {% if addresses %}
                    <div class="checkout__title">
                        <p class="body-semibold">ADDRESS INFORMATION</p>
                    </div>

                    <!-- If not logged in, don't use checkout-address__container and lines-besides-title-->
                    <div class="checkout-address__container mb-5">
                        {% for address in addresses %}
                        <div class="address__wrapper">
                            <p class="text-semibold">{{ address.first_name }} {{ address.last_name }}</p>
                            <p>{{ address.phone_number }}</p>
                            <p>{{ address.line1 }}, {{ address.country }}</p>
                            <br/>
                            <div class="button button--primary m-bottom-1" onclick="useThisAddress('{{ address.id }}')"> Use This Address</div>
                        </div>
                        <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="ship_to" />
                            <input type="hidden" name="address_id" value="{{ address.id }}" />
                        </form>
                        {% endfor %}
                    </div>
                    <div class="lines-besides-title font-primary text-center">
                        <div class="lines"></div>
                        <p>Or</p>
                        <div class="lines"></div>
                    </div>
                {% endif %}

            {% endif %}

            <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" autocomplete="new-password" style="margin-bottom: 3rem;">
            {% csrf_token %}
                <div class="d-grid name__wrapper">
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">Recipient Name</label>
                        </div>
                        <input type="text" placeholder="Input recipient name" id="fullName" name="fullName">
                    </div>
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">Phone Number</label>
                        </div>
                        <input type="text" placeholder="Input phone number" id="phone_number" name="phone_number">
                    </div>
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Address</label>
                    </div>
                    <input type="text" placeholder="Input address" id="line1" name="line1">
                </div>
                <div class="d-grid name__wrapper">
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">City</label>
                        </div>
                    <input type="text" placeholder="Input city" id="line4" name="line4">
                    </div>
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">State</label>
                        </div>
                        <input type="text" placeholder="Input state" id="state" name="state">
                    </div>
                </div>
                <div class="d-grid name__wrapper">
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Zip Code</label>
                        </div>
                    <input type="text" placeholder="Input zip code" id="postcode" name="postcode">
                    </div>
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">Country</label>
                        </div>
                        <input type="text" placeholder="Input country" id="country">
                    </div>
                </div>
                <div class="input__layout">
                    <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Additional Info</label>
                    </div>
                    <input
                        type="text"
                        placeholder="Input additional info"
                    >
                </div>
            </form>
            <div class="checkout-button__wrapper mb-5">
                <div class="button button--secondary">
                    <div class="text-besides-icon">
                        <div class="icon">
                            <img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
                        </div>
                        <p> Back to Personal Info
                        </p>
                    </div>
                </div>
                 <div class="button button--primary mb-5">
                    <div class="icon-besides-text">
                        <p> Continue to Payment Selection</p>
                        <div class="icon">
                            <img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/>
                        </div>
                    </div>
                </div>
            </div>

             <!--Step 3: Payment Selection-->
             <div class="mobile-only">
                <div class="order-summary__header d-flex">
                    <p class="order-summary__steps text-center">3</p>
                    <h4 style="margin-left: 1rem;"> PAYMENT INFO </h4>
                </div>
            </div>

            <form class="mb-5" id="cardForm">
                <div class="d-grid credit-card">
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">Card number</label>
                        </div>
                        <input
                            type="text"
                            placeholder="Input card number"
                        >
                    </div>
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">Name on Card</label>
                        </div>
                        <input
                            type="text"
                            placeholder="Input name on card"
                        >
                    </div>
                </div>
                <div class="d-grid half-name__wrapper">
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                        <label class="input-field__left font-primary">Month</label>
                        </div>
                    <input
                        type="text"
                        placeholder="Input month"
                    >
                    </div>
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">Year</label>
                        </div>
                        <input
                            type="text"
                            placeholder="Input year"
                        >
                    </div>
                </div>
                <div class="d-grid half-name__wrapper">
                    <div class="input__layout">
                        <div class="input-field input-field__top">
                            <label class="input-field__left font-primary">CVV</label>
                        </div>
                        <input
                            type="text"
                            placeholder="Input CVV"
                        >
                    </div>
                </div>
            </form>
            <div class="checkout-button__wrapper mb-5 none">
                <div class="button button--secondary">
                    <div class="text-besides-icon">
                    <div class="icon">
                        <img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
                    </div>
                    <p> Back to Shipping Info
                    </p>
                </div>
                </div>
                <div class="button button--primary mb-5">Confirm & Pay</div>
            </div>
        </div>
    </div>
    <div class="order-summary__container">
        <div class="order-summary__wrapper">
            <div class="desktop-only">
                <div class="order-summary__header d-flex justify-content-between">
                    <p> ORDER SUMMARY </p>
                    <p class="order-summary__steps text-center">4</p>
                </div>
            </div>
            <div class="mobile-only">
                <p class="text-center text-bold"> ORDER SUMMARY </p>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="product-summary__wrapper">
                <div class="product-summary__image">
                    <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" alt="strong-cold-brew-1"/>
                </div>
                <div class="product-summary__description">
                        <p class="label-default">
                            Black Cold Brew Coffee <br/><span>(6 pack)</span>
                        </p>
                    <div class="product-summary__qty-and-price">
                        <p class="label-default">Qty: 2</p>
                        <p class="label-default text-end">$172.00</p>
                    </div>
                </div>
            </div>
            <div class="product-summary__wrapper">
                <div class="product-summary__image">
                    <img src="{% static 'images/boot/strong/strong-cold-brew-1.png' %}" alt="strong-cold-brew-1"/>
                </div>
                <div class="product-summary__description">
                    <p class="label-default">
                        Black Cold Brew Coffee <br/><span>(6 pack)</span>
                    </p>
                    <div class="product-summary__qty-and-price">
                        <p class="label-default">Qty: 2</p>
                        <p class="label-default text-end">$172.00</p>
                    </div>
                </div>
            </div>
            <hr class="border-bottom-1 border-white">
            <div class="mb-3">
                <p class="label-bold mb-3">Have a Promo Voucher?</p>
                <div class="d-flex">
                    <input type="text" placeholder="enter promo">
                    </input>
                    <button class="button button--primary">
                        APPLY
                    </button>
                </div>
            </div>
            <hr class="border-bottom-1 border-white">
            <div class="summary__subtotal">
                <div class="d-flex justify-content-between">
                    <p>Sub-total</p>
                    <p class="body-semibold text-end">$150.00</p>
                </div>
                <div class="border-bottom-1 border-white d-flex justify-content-between pb-2">
                    <p>Shipping Charges</p>
                    <p class="body-semibold text-end">Free</p>
                </div>
            </div>
            <hr/>
            <div class="d-flex justify-content-between pb-2 mb-5">
                <p>Total</p>
                <p class="body-semibold text-end">$150.00</p>
            </div>
            <div class="summary__trust d-grid justify-content-between">
                <div class="d-flex flex-column text-center">
                    <div><img src="{% static 'images/boot/icons/fast-delivery.svg' %}" alt="fast-delivery" class="img-height-70"/></div>
                    <p class="label-semibold">Fast Delivery</p>
                </div>
                <div class="d-flex flex-column text-center">
                    <div><img src="{% static 'images/boot/icons/secure-payment.svg' %}" alt="secure-payment" class="img-height-70"/></div>
                    <p class="label-semibold">Secure Payment</p>
                </div>
                <div class="d-flex flex-column text-center">
                    <div><img src="{% static 'images/boot/icons/support.svg' %}" alt="support-icon" class="img-height-70"/></div>
                    <p class="label-semibold">24 x 7 Support</p>
                </div>
            </div>
        </div>
        <div class="mobile-only mt-5 w-90 mx-auto">
            <div class="button button--primary mb-5">
                <div class="icon-besides-text">
                    <p> Continue to Shipping Info</p>
                    <div class="icon">
                        <img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/>
                    </div>
                </div>
            </div>
            <div class="button button--secondary">
                <div class="text-besides-icon">
                    <div class="icon">
                        <img src="{% static 'images/boot/icons/left.svg' %}" alt="left-icon"/>
                    </div>
                    <p> Back to Cart
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal__container pick-up none">
    <div class="modal__content modal__content-50 modal__content-w100 modal__content-w70-desktop">
        <div class="text-end mb-4">
            <img src="{% static 'images/boot/icons/close.svg' %}" alt="button-close" onclick="showPickUp('close')"/>
        </div>
        <h4 class="text-center">Pick-UP</h4>
        <p class="text-center mb-4">Choose one of the following lorem ipsum dolor set amet</p>

        <div class="pick-up__container mb-5">
            <div class="stockists-search__wrapper m-boot-mobile-3">
                <input type="text" placeholder="Enter your address, zip code or city" class="input-black">
                </input>
                <button class="button button--primary">
                    SEARCH STOCKISTS
                </button>
            </div>
        </div>
        <div class="modal-stockists__wrapper">
            <div class="stockists-card">
                <div class="d-flex justify-content-between font-primary">
                    <div> BAKE N' BREW </div>
                    <div> 0.25km </div>
                </div>
                <br/>
                <div class="text-besides-icon">
                    <div class="icon">
                        <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="13" height="18" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                    </p>
                </div>
                <br/>
                <div class="text-besides-icon">
                    <div class="icon">
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p class="label-default">Tue-Sun: 9am - 8pm
                    </p>
                </div>
            </div>
            <div class="stockists-card">
                <div class="d-flex justify-content-between font-primary">
                    <div> BAKE N' BREW </div>
                    <div> 0.25km </div>
                </div>
                <br/>
                <div class="text-besides-icon">
                    <div class="icon">
                        <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="13" height="18" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                    </p>
                </div>
                <br/>
                <div class="text-besides-icon">
                    <div class="icon">
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p class="label-default">Tue-Sun: 9am - 8pm
                    </p>
                </div>
            </div>
            <div class="stockists-card">
                <div class="d-flex justify-content-between font-primary">
                    <div> BAKE N' BREW </div>
                    <div> 0.25km </div>
                </div>
                <br/>
                <div class="text-besides-icon">
                    <div class="icon">
                        <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M6.69292 17.1168C7.58204 16.5294 8.38098 15.8175 9.07705 15.0236C10.589 13.3024 11.6091 11.1989 12.0178 9.1349C12.4236 7.0973 12.2319 5.10072 11.3344 3.5597C11.0793 3.11732 10.7595 2.71302 10.379 2.34974C9.28841 1.31703 8.03998 0.824841 6.7831 0.811657C5.46281 0.801403 4.1242 1.31703 2.94059 2.29701C2.43615 2.71595 2.02047 3.19789 1.6978 3.72963C0.866452 5.089 0.61423 6.7765 0.888997 8.54164C1.16658 10.3331 1.98525 12.2067 3.29004 13.9044C4.19747 15.088 5.33881 16.1867 6.69715 17.1139L6.69292 17.1168ZM6.50129 3.09974C7.49468 3.09974 8.39648 3.51869 9.04605 4.19691C9.69845 4.87513 10.1014 5.80824 10.1014 6.84242C10.1014 7.87513 9.69845 8.81263 9.04605 9.48793C8.39366 10.1661 7.49609 10.5851 6.50129 10.5851C5.5079 10.5851 4.6061 10.1661 3.95652 9.48793C3.30413 8.8097 2.90114 7.8766 2.90114 6.84242C2.90114 5.8097 3.30413 4.8722 3.95652 4.19691C4.60892 3.51869 5.50649 3.09974 6.50129 3.09974ZM8.52752 4.73597C8.01039 4.19838 7.29036 3.86146 6.50129 3.86146C5.70799 3.86146 4.99218 4.19398 4.47506 4.73597C3.95793 5.27357 3.63385 6.02211 3.63385 6.84242C3.63385 7.66713 3.95371 8.41127 4.47506 8.94886C4.99218 9.48646 5.71221 9.82338 6.50129 9.82338C7.29459 9.82338 8.01039 9.49086 8.52752 8.94886C9.04464 8.41127 9.36873 7.66273 9.36873 6.84242C9.36732 6.01771 9.04887 5.27357 8.52752 4.73597ZM9.65618 15.567C8.8671 16.4635 7.95262 17.2677 6.91978 17.9196C6.79578 18.0162 6.61965 18.0294 6.47874 17.9357C4.95696 16.9293 3.68176 15.7194 2.67569 14.4069C1.29058 12.6007 0.415552 10.5968 0.11824 8.66615C-0.184708 6.70912 0.0985133 4.82826 1.03554 3.2931C1.40612 2.68812 1.87675 2.13734 2.45446 1.66127C3.77475 0.568493 5.28668 -0.0101199 6.78874 0.000133962C8.23725 0.0133176 9.66604 0.571423 10.906 1.74769C11.3414 2.15931 11.705 2.62513 12.0023 3.13636C13.0097 4.86049 13.2267 7.06361 12.7857 9.29017C12.3475 11.4933 11.2639 13.733 9.6604 15.5597L9.65618 15.567Z" fill="#F9F9F9"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="13" height="18" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p class="label-default">218 Pasir Panjang Road, #01-08 Icon @ Pasir Panjang Singapore 118579
                    </p>
                </div>
                <br/>
                <div class="text-besides-icon">
                    <div class="icon">
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M6.5 0.5C8.29507 0.5 9.91993 1.22733 11.096 2.40397C12.2721 3.58007 13 5.20548 13 7C13 8.79452 12.2727 10.4199 11.096 11.596C9.91993 12.7721 8.29452 13.5 6.5 13.5C4.70493 13.5 3.08007 12.7727 1.90397 11.596C0.72733 10.4199 0 8.79452 0 7C0 5.20548 0.72733 3.58007 1.90397 2.40397C3.08007 1.22733 4.70493 0.5 6.5 0.5ZM5.96859 3.7946C5.96859 3.59813 6.12785 3.43887 6.32432 3.43887C6.5208 3.43887 6.68005 3.59813 6.68005 3.7946V7.07826L9.15046 8.54277C9.31902 8.64238 9.37539 8.86019 9.27579 9.0293C9.17618 9.19786 8.95837 9.25423 8.78926 9.15463L6.16288 7.59763C6.0474 7.53852 5.96859 7.41867 5.96859 7.28075V3.7946V3.7946ZM10.5931 2.90692C9.54559 1.85943 8.09859 1.21146 6.5 1.21146C4.90141 1.21146 3.45441 1.85943 2.40692 2.90692C1.35943 3.95441 0.711459 5.40141 0.711459 7C0.711459 8.59859 1.35943 10.0456 2.40692 11.0931C3.45441 12.1406 4.90141 12.7885 6.5 12.7885C8.09859 12.7885 9.54559 12.1406 10.5931 11.0931C11.6406 10.0456 12.2885 8.59859 12.2885 7C12.2885 5.40141 11.6406 3.95441 10.5931 2.90692Z" fill="#F9F9F9"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p class="label-default">Tue-Sun: 9am - 8pm
                    </p>
                </div>
            </div>
        </div>
        <div class="button button--primary button--primary__styled mx-auto"> Continue to Checkout</div>
    </div>
  </div>
{% endblock content %}
