{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block title %}Checkout{% endblock %}

{% block extra_css %}
  <style>
    .error, .error-block {
      color: #ff0000;
      /* line-height: 1 !important; */
    }
  </style>
{% endblock extra_css %}
{% block content %}
  <section class="checkout__container">
    <div class="checkout__wrapper">
      <div class="desktop-only">
        <div class="checkout-steps__header d-grid">
          <div class="steps-current">
            <div class="order-summary__header d-flex">
              <p class="order-summary__steps text-center">1</p>
              <p class="ml-3"> PERSONAL INFO </p>
            </div>
          </div>
          <div class="order-summary__header d-flex">
            <p class="order-summary__steps steps-ghost text-center">2</p>
            <p class="ml-3"> SHIPPING INFO </p>
          </div>
          <div class="order-summary__header d-flex">
            <p class="order-summary__steps steps-ghost text-center">3</p>
            <p class="ml-3"> PAYMENT SELECTION </p>
          </div>
        </div>
      </div>

      <div class="checkout-content__wrapper">
        <div class="mobile-only">
          <div class="checkout-steps__header">
            <div class="order-summary__header-mobile">
              <p class="order-summary__steps-mobile text-center">1</p>
              <p class="text-center"> PERSONAL INFO </p>
            </div>
            <hr>
            <div class="order-summary__header-mobile">
              <p class="order-summary__steps-mobile steps-ghost text-center">2</p>
              <p class="text-center"> SHIPPING INFO </p>
            </div>
            <hr>
            <div class="order-summary__header-mobile">
              <p class="order-summary__steps-mobile steps-ghost text-center">3</p>
              <p class="text-center"> PAYMENT SELECTION </p>
            </div>
          </div>
        </div>
        <div class="checkout__title personal-info">
          <p class="body-semibold">CUSTOMER INFORMATION</p>
        </div>
        {% if is_has_subscription %}
          <form method="post" class="mb-6" autocomplete="off" id="personalInfoForm">
            {% csrf_token %}
            <div class="input__login">
              <div class="toggle">
                <input type="radio" name="options" value="new" id="new-customer" checked="checked"
                       onclick="changeClick('new')"/>
                <label for="new-customer">New Customer</label>
                <input type="radio" name="options" value="existing" id="returning-customer"
                />
                <label for="returning-customer" id="returning-customer-label">Returning Customer</label>
              </div>
            </div>
            <div class="input__layout">
              <div class="input-field input-field__top">
                <label for="id_username" class="input-field__left font-primary">Enter Your Email Address</label>
              </div>
              <div class=""></div>
              <input type="email" name="username" maxlength="150" class="" required=""
                     id="id_username">
            </div>
            <div class="input__layout none" id="password_fields">
              <div class="input-field input-field__top">
                <label for="id_password" class="text-white">Enter Password</label>
                {% if form.errors %}<p class="text-white password-error">Wrong email/password.
                  Please try again or click forgot password to reset your password</p>{% endif %}
                <div>
                  <a href="{% url 'account_reset_password' %}">
                    <div class="input-field__right input-title text-white">Forgot Password?</div>
                  </a>
                </div>
              </div>
              <input type="password" name="password" autocomplete="current-password" class="" required=""
                     id="id_password">
            </div>
            <div class="form-group mt-5">
              <div class="button button--primary mb-5 icon-besides-text button--dynamic"
                   onclick="$('#personalInfoForm').submit();">
                <p id="button-next"> Sign Up</p>
                <div class="icon">
                  <img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/>
                </div>
              </div>
            </div>
          </form>
        {% else %}
          <form method="post" class="mb-6" autocomplete="off" id="personalInfoForm">
            {% csrf_token %}
            <div class="input__login">
              <div class="toggle">
                <input type="radio" name="options" value="anonymous" id="guest-business" checked="checked"/>
                <label for="guest-business">Checkout As Guest</label>
                <input type="radio" name="options" value="existing" id="home-business"/>
                <label for="home-business" id="returning-customer-label">Returning Customer</label>
              </div>
            </div>
            <div class="input__layout">
              <div class="input-field input-field__top">
                <label for="id_username" class="input-field__left font-primary" id="username_label">Email for order
                  confirmation</label>
              </div>
              <div class=""></div>
              <input type="email" name="username" maxlength="150" class="" required=""
                     id="id_username">
            </div>
            <div class="input__layout none" id="business-options">
              <div class="input-field input-field__top">
                <label for="id_password" class="text-white">Enter Password</label>
                <div>
                  <a href="{% url 'account_reset_password' %}">
                    <div class="input-field__right input-title text-white">Forgot Password?</div>
                  </a>
                </div>
              </div>
              <input type="password" name="password" autocomplete="current-password" class="" required=""
                     id="id_password">
              {% if form.errors %}<p class="text-white password-error">Wrong email/password.
                Please try again or click forgot password to reset your password</p>{% endif %}
            </div>
            <div class="form-group mt-5">
              <div class="button button--primary mb-5 icon-besides-text button--dynamic"
                   onclick="$('#personalInfoForm').submit();">
                <p> Continue to Shipping Info</p>
                <div class="icon">
                  <img src="{% static 'images/boot/icons/right.svg' %}" alt="right-icon"/>
                </div>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
    <div class="order-summary__container">
      {% include 'pages/blocks/_order_summary.html' with bakset=basket %}
    </div>
  </section>
{% endblock %}

{% block extra_js %}

  <script type="text/javascript">
    $('input[name=options]').change(function () {
      let value = $('input[name=options]:checked').val();

      if (value === "anonymous") {
        $("#business-options").addClass("none");
        $("#username_label").text("Email for order confirmation");
      } else {
        $("#business-options").removeClass("none");
        $("#username_label").text("Enter Your Email Address");
      }
    });

    $("#new-customer").click(function () {
      $("#password_fields").addClass("none");
      $("#button-next").text("Sign Up");
    });
    $("#returning-customer").click(function () {
      $("#password_fields").removeClass("none");
      $("#button-next").text("Continue to Shipping Info");
    });

    if ($(".password-error")[0]) {
      $("#returning-customer-label").click();
    }
  </script>
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  oscar.checkout.gateway.init();
{% endblock %}
